<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../addons/{php echo $this->module['name']}/template/mobile/default/css/index.css"/>
    <script src="../addons/{php echo $this->module['name']}/template/mobile/default/js/rem.js"></script>
</head>
<body style="font-size: 0.28rem;font-family: '黑体';">
<div class="img_top">
    
    <div>
        <img src="../addons/{$path}" alt=""/>
    </div>

</div>
<div class="img_botn">
    <p>长按图片保存，分享朋友圈， <br/>
        邀请好友一起猜灯谜吧 <br/>
        （玩PK模式，可能得大红包哦）</p>
</div>
</body>
</html>