{template 'header'}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<label>点评列表</label>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-1">#</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-2">名称</div>
						<div class="col-sm-4">属性</div>
						<div class="col-sm-3">描述</div>
					</div>
				</li>
				{loop $list $key $item}
				<li class="list-group-item" id="item_{$item['id']}">
					<div class="row">
						<div class="col-sm-1">{php echo $key +1+($page-1)*$pagesize}</div>
						<div class="col-sm-1">
							<img style="width:48px;height:48px;" src="{php echo $item['uinfo']['headimgurl']}"></div>
						<div class="col-sm-2">{$item['uinfo']['nickname']}</div>
						<div class="col-sm-4">{$item['content']}</div>
						<div class="col-sm-3">
						{$item['add_time']}
						<button class="btn btn-s btn-danger" onclick="doDelete('{$item['id']}')">删除</button>
						</div>
					</div>
				</li>
				{/loop}
			</ul>
			{php echo pagination($count,$page,$pagesize)}
		</div>
	</div>
</div>
<script type="text/javascript">
	function doDelete(cid) {
		if(!confirm('确认删除该条留言？')) {
			return ;
		}
		$.ajax({
				type:'post',
				url:"{php echo $this->createWebUrl('commentdelete')}",
				data:{comment_id:cid},
				success:function(d) {
					if(d.res == '100') {
						alert("删除成功");
						window.location.href='';
					}else{
						alert(d.msg);
					}
				}
			})
	}
</script>
{template 'footer'}