{template 'header'}
	<div class="container-fluid">
		<h4><span class='glyphicon glyphicon-circle-arrow-right'></span>&nbsp;&nbsp;总消息模板开关</h4>
		<div class="row">
			<div class="col-md-6">
				<label>开关</label>
				{if $this->settings['notice_key'] == 'open'}
				<button class="form-control btn btn-sm btn-success" onclick="doSave('notice_key','close')">已开启模板消息</button>
				{else}
				<button class="form-control btn btn-sm btn-danger" onclick="doSave('notice_key','open')">已关闭模板消息</button>
				{/if}
				<p class="help-block">控制是否开启模板消息,开启后请务必配置好下面设置项</p>
			</div>
		</div>
		<br>
		<h4><span class='glyphicon glyphicon-circle-arrow-right'></span>&nbsp;&nbsp;聊天提醒触发间隔</h4>
		<div class="row">
			<div class="col-md-6">
				<label>时间（单位：秒）</label>
				<input type="text" class="form-control" value="{php echo $this->settings['notice_time']}" id='notice_time' placeholder='例如：30'>
				<p class="help-block">用于控制对于用户无动作后间隔多聚可以接收消息模板推送！默认30秒，只填写数字即可。</p>
				<button class="btn btn-sm btn-info" onclick="doSave('notice_time')">保存</button>
				<br>
			</div>
		</div>
		<br>
		<h4><span class='glyphicon glyphicon-circle-arrow-right'></span>&nbsp;&nbsp;聊天消息模板配置</h4>
		<p class="help-block">用于聊天的未读消息提醒</p>
		<div class="row">
			<div class="col-md-6">
				<label>模板ID</label>
				<input type="text" class="form-control" value="{php echo $this->settings['notice_approve_tpl_id']}" id='notice_approve_tpl_id' placeholder=''>
				<p class="help-block">用于对用户接收到的打招呼以及消息聊天的提醒</p>
				<p class="help-block">请在“微信公众平台”选择行业为：“IT科技 - 互联网|电子商务”，添加标题为：”收到回复通知“，编号为：“OPENTM203574543”的模板。</p>
				<button class="btn btn-sm btn-info" onclick="doSave('notice_id')">保存</button>
				<br>
				<br>
				<label>模板参数配置</label>
				<div class="input-group">
				  <span class="input-group-addon" >{{first.DATA}}</span>
				  <input type="text" class="form-control" id="notice_first" value="{php echo $this->settings['notice_first']}" placeholder="你有新的消息..">
				</div>
				<br>
				<div class="input-group">
				  <span class="input-group-addon" >{{keyword1.DATA}}</span>
				  <input type="text" class="form-control" id="tpl_keyword1" disabled="" value="回复者">
				</div>
				<br>
				<div class="input-group">
				  <span class="input-group-addon" >{{keyword2.DATA}}</span>
				  <input type="text" class="form-control" id="tpl_keyword2" disabled="" value="回复时间">
				</div>
				<br>
				<div class="input-group">
				  <span class="input-group-addon" >{{keyword3.DATA}}</span>
				  <input type="text" class="form-control" id="tpl_keyword3" disabled="" value="回复内容">
				</div>
				<br>
				<div class="input-group">
				  <span class="input-group-addon" >{{remark.DATA}}</span>
				  <input type="text" class="form-control" id="notice_remark" value="{php echo $this->settings['notice_remark']}" placeholder="其他备注~~点击查看留言内容">
				</div>
				<p class="help-block">该消息在用户无动作X分钟(时间请进行配置，默认30s)后才会生效,并且无动作后最多接受5条提示。避免用户在使用中也会受到推送！</p>
				<br>
				<button class="btn btn-sm btn-info" onclick="doSave('notice_tpl')">保存</button>
			</div>
		</div>
		<br>
		<!-- 审核模板消息配置 -->
		<h4><span class='glyphicon glyphicon-circle-arrow-right'></span>&nbsp;&nbsp;审核消息模板配置</h4>
		<p class="help-block">用于各种审核操作的消息提醒</p>
		<div class="row">
			<div class="col-md-6">
				<label>模板ID</label>
				<input type="text" class="form-control" value="{php echo $this->settings['approve_tpl_id']}" id='approve_tpl_id' placeholder=''>
				<p class="help-block">请在“微信公众平台”选择行业为：“IT科技 - 互联网|电子商务”，添加标题为：”审核状态通知“，编号为：“OPENTM207508435”的模板。</p>
				<p class="help-block">该模板不需要自定义，内容由程序决定</p>
				<button class="btn btn-sm btn-info" onclick="doSave('approve_id')">保存</button>
				<br>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<h4><span class='glyphicon glyphicon-circle-arrow-right'></span>&nbsp;&nbsp;超级群发地址设置</h4>
				<label></label>
				<input type="text" class="form-control" value="{php echo $this->settings['multi_send_url']}" id='multi_send_url' placeholder='http://...'>
				<p class="help-block">群发地址设定！默认使用模块首页地址！必须以http://开头，否则将导致群发失效</p>
				<button class="btn btn-sm btn-info" onclick="doSave('multi_send_url')">保存</button>
				<br>
			</div>
		</div>
		<!-- 提现通知 -->
		<h4><span class='glyphicon glyphicon-circle-arrow-right'></span>&nbsp;&nbsp;提现消息模板设置</h4>
		<p class="help-block">用于发起提现申请提醒通知</p>
		<div class="row">
			<div class="col-md-6">
				<label>模板ID</label>
				<input type="text" class="form-control" value="{php echo $this->settings['draw_wait_tpl_id']}" id='draw_wait_tpl_id' placeholder=''>
				<p class="help-block">请在“微信公众平台”选择行业为：“IT科技 - 互联网|电子商务”，添加标题为：”提现通知“，编号为：“OPENTM207422808”的模板。</p>
				<p class="help-block">该模板不需要自定义，内容由程序决定</p>
				<button class="btn btn-sm btn-info" onclick="doSave('draw_wait_tpl_id')">保存</button>
				<br>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function doSave(type,val) {

		if(!type) {
			return false;
		}

		// 客服信息
		if(type == 'notice_id') {
			var notice_approve_tpl_id = $("#notice_approve_tpl_id").val();
		}

		if(type == 'notice_tpl') {
			var notice_first = $("#notice_first").val();
			var notice_remark = $("#notice_remark").val();
		}

		if(type == 'notice_key') {

		}
		// 审核模板的ID
		if(type == 'approve_id') {
			var approve_tpl_id = $("#approve_tpl_id").val();
		}

		// 提醒时间间隔
		if(type == 'notice_time') {
			var notice_time = $("#notice_time").val();
		}

		// 超级群发地址设置
		if(type == 'multi_send_url') {
			var multi_send_url = $("#multi_send_url").val();
			if(multi_send_url.indexOf('http://') == -1) {
				alert("必须以http://开头，否则将导致群发失效");
				return;
			}
		}
		// 提现申请的消息模板
		if(type =='draw_wait_tpl_id') {
			var draw_wait_tpl_id = $("#draw_wait_tpl_id").val();
		}
		
		$.ajax({
			type:'post',
			data:{
				dataType:type, // 数据类型区分
				notice_approve_tpl_id:notice_approve_tpl_id,
				notice_first:notice_first,
				notice_remark:notice_remark,
				approve_tpl_id:approve_tpl_id,
				notice_time:notice_time,
				multi_send_url:multi_send_url,
				draw_wait_tpl_id:draw_wait_tpl_id,
				setval:val
			},

			url:"{php echo $this->createWebUrl('settingform')}",
			success:function(d) {
				if(d.res == '100') {
					alert('保存成功');
					window.location.href='';
				}else {
					alert(d.msg);
				}
			}
		})

	}
	</script>
{template 'footer'}