/*slider*/
#slider{width:908px;border:1px solid #fff;background:url(../images/bg.png);padding-top:8px; margin:0 auto;}
.slider_box{width:892px; margin:0 auto;height: 531px;overflow: hidden;position: relative;}
.silder_tip{width: 92px;height: 92px;overflow: hidden;position: absolute;top: 0;right: 0;z-index:1; text-indent:-999px;background:url(../images/tip-tt.gif) no-repeat;}
#movie_tip{background-position: -93px 0;}
.silder_con{height:470px;overflow: hidden;position: absolute;}
.silder_panel{width:892px;height:470px;overflow: hidden;float: left;position: relative;}
.silder_panel img{width: 500px;height: 470px;display: block;overflow: hidden;}
.silder_intro{width: 330px;height: 470px;overflow: hidden;padding: 0 40px 0 0;font-size: 24px;line-height:30px;}
.silder_intro h3{padding:10px 0;height:50px;line-height: 30px;overflow: hidden;padding-left:120px;}
.silder_intro h3 strong{font-size: 30px;height:30px;overflow: hidden;font-weight: normal;display: block;}
.silder_intro h3 strong a{font-weight:bold;}
.silder_intro ul{height: 60px;overflow: hidden;}	
.silder_intro li{height: 20px;overflow: hidden;}
.silder_intro li a{ margin:0 6px;}
.silder_intro span{ margin: 0 10px 0 0;}
.silder_intro p{ margin-top:10px;}
.silder_play{display: block;width:136px;height:30px;overflow: hidden;text-indent: -999px;position: absolute;bottom: 13px;right: 45px;background: url(../images/silder-play.png) 0 -30px no-repeat;}	
.silder_play:hover{ background-position: 0 0;}
.silder_rank{display: block;width:136px;height:30px;overflow: hidden;text-indent: -999px;position: absolute;bottom: 13px;right: 45px;background: url(../images/silder-rank.png) 0 -30px no-repeat;}	
.silder_rank:hover{ background-position: 0 0;}
.silder_nav{width:900px;margin: 0 auto;bottom: 0;position: absolute;overflow: hidden;}
.silder_nav li{float: left;padding:0px;border:1px solid #fff; margin-right:4px;}
.silder_nav li.current{border:1px solid #FFF;}
.silder_nav li,.silder_nav img{display: block;width:50px;height: 47px;overflow: hidden;}
.slider_box a.prev,.slider_box a.next{display: block;width:45px;height:100px;overflow:hidden;text-indent: -999px;position: absolute;cursor: pointer;margin: 185px 0 0 0;background: url(../images/silder_btn.gif) no-repeat;}	
.slider_box a.prev{left:0;background-position: left 0;}
.slider_box a.next{right:0;background-position: right 0;}
.silderBox{height:8px; line-height:8px;}