@charset "utf-8";
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0
}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6 {
	-webkit-text-size-adjust:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
	clear:both
}
body {
	font-family:'Microsoft YaHei',arial,helvetica,sans-serif;
	-webkit-text-size-adjust:none;
	color:#111;
	background:#ebebeb;
	-webkit-text-size-adjust:none;
	min-width:320px;
	font-size:17px
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal
}
form {
	display:inline
}
textarea {
	resize:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
ul,ol {
	list-style:none
}
input,select,button {
	font-family:'Microsoft YaHei',arial,helvetica,sans-serif;
	font-size:100%;
	vertical-align:middle;
	outline:0
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;
	-moz-appearance:button
}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder,textarea:focus:-moz-placeholder,textarea:focus::-webkit-input-placeholder {
	color:transparent
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
a {
	text-decoration:none;
	color:#111
}
a:hover {
	color:#111;
	text-decoration:none
}
img {
	vertical-align:middle;
	font-size:0;
	border:0;
	-ms-interpolation-mode:bicubic
}
.fl {
	float:left
}
.fr {
	float:right
}
.hide {
	display:none!important
}
.show {
	display:block!important
}
.ellipsis {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.break {
	word-break:break-all;
	word-wrap:break-word
}
.clearfix:after {
	content:'\0020';
	display:block;
	height:0;
	clear:both
}
.clearfix {
	*zoom:1
}
a,input,textarea {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	tap-highlight-color:rgba(0,0,0,0);
	outline:0
}
header {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:50px;
	background:#fdfdfd;
	z-index:500;
	border-bottom:1px solid #dadada
}
header h1 {
	text-align:center;
	font-size:17px;
	height:50px;
	line-height:50px;
	font-weight:600;
	color:#626262
}
a.area {
	position:absolute;
	left:0;
	top:0;
	display:block;
	height:50px;
	line-height:50px;
	padding-left:15px;
	font-size:15px;
	color:#626262
}
a.area i {
	display:inline-block;
	margin-left:5px;
	vertical-align:1px;
	width:10px;
	height:10px;
	border:2px solid #626262;
	border-top:0;
	border-right:0;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg)
}
a.area i.unfold {
	transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	-moz-transform:rotate(135deg)
}
a.tel {
	position:absolute;
	right:0;
	top:0;
	display:block;
	width:50px;
	height:50px;
	background:url(../images/all_612.png) no-repeat;
	background-size:100px auto;
	background-position:15px 16px
}
body {
	background:#eee
}
section {
	margin:50px 0 61px;
	background:#eee
}
.cardWrap {
	margin:0 15px 61px
}
.cancel {
	padding:15px 20px 0
}
.swipe {
	overflow:hidden;
	position:relative
}
.swipe-wrap {
	overflow:hidden;
	position:relative;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden
}
.swipe-wrap>div {
	float:left;
	width:100%;
	position:relative
}
.swipe_pic {
	position:relative;
	width:100%;
	height:160px
}
.swipe_pic img {
	width:100%;
	min-height:160px
}
.swipe_pic a {
	display:block
}
.swipe_num {
	position:absolute;
	right:15px;
	bottom:22px;
	height:8px;
	width:100%;
	text-align:right
}
.swipe_num li {
	display:inline-block;
	width:8px;
	height:8px;
	margin-left:12px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	background:rgba(0,0,0,.3)
}
.swipe_num .active {
	background:#fff
}
@media only screen and (min-width:321px) and (orientation:landscape) {
	.swipe_pic img {
	margin-top:-40px;
	min-height:200px
}
}.tuwen {
	clear:both;
	height:141px;
	background:#fff;
	overflow:hidden
}
.tuwen_l,.tuwen_r {
	float:left;
	width:50%
}
.tuwen_r {
	position:relative
}
.tuwen_r::before {
	content:"";
	width:1px;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:#dbdbdb
}
.tuwen_l {
	text-align:center
}
.tuwen_l h3 {
	font-size:15px;
	color:#fc702e;
	margin-top:12px;
	height:18px;
	line-height:18px;
	font-weight:600
}
.tuwen_l h3 span {
	display:inline-block;
	height:12px;
	line-height:12px;
	margin-left:4px;
	padding:0 3px;
	border:1px solid #fc702e;
	-webkit-border-radius:7px;
	border-radius:7px;
	-moz-border-radius:7px
}
.tuwen_l p {
	color:#999;
	font-size:11px;
	line-height:14px
}
.tuwen_l img {
	width:100%;
	height:auto;
	margin-top:10px
}
.tuwen_r dl {
	height:70px;
	padding:0 15px;
	overflow:hidden
}
.tuwen_r a:first-child dl {
	border-bottom:1px solid #dbdbdb
}
.tuwen_r dt {
	float:right
}
.tuwen_r dt img {
	width:45px;
	height:45px;
	margin-top:12px
}
.tuwen_r dd {
	margin-right:50px
}
.tuwen_r dd h3 {
	font-size:15px;
	margin-top:12px;
	height:18px;
	line-height:18px;
	color:#e83d4c;
	font-weight:600;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.tuwen_r dd p {
	color:#999;
	line-height:14px;
	font-size:11px;
	margin-top:5px
}
.sh {
	width:100%;
	height:94px;
	line-height:60px;
	background:url(../images/sh_520.png) center center no-repeat;
	background-size:100% auto;
	text-align:center;
	font-weight:600;
	color:#fff
}
.sh span:first-of-type {
	opacity:0;
	margin-right:4px;
	display:inline-block;
	text-align:center;
	width:42px;
	height:42px;
	line-height:42px;
	background:#ff5d6b;
	-webkit-border-radius:21px;
	border-radius:21px;
	-moz-border-radius:21px;
	font-style:italic;
	font-size:16px
}
.sh i:nth-of-type(1),.sh i:nth-of-type(4) {
	display:inline-block;
	font-size:17px;
	font-style:italic
}
.sh i:nth-of-type(2),.sh i:nth-of-type(3) {
	color:#333;
	font-style:normal;
	font-size:20px;
	margin:0 4px;
	display:inline-block;
	width:23px;
	height:25px;
	line-height:25px;
	text-align:center;
	background:url(../images/num_520.png) no-repeat;
	background-size:23px auto
}
.items {
	padding:10px;
	background:#eee
}
.animated {
	-webkit-animation-duration:.4s!important
}
.itemlist {
	-webkit-animation-delay:.3s!important
}
.loaded {
	-webkit-animation-delay:0!important
}
a.pkginfo {
	display:block
}
.item {
	margin-bottom:12px;
	background:#fff;
	border:1px solid #dadada;
	-webkit-border-radius:4px;
	overflow:hidden;
	position:relative
}
.item_t {
	position:relative;
	min-height:139px
}
.item_t img {
	width:100%;
	min-height:139px
}
.item_t span {
	display:block;
	text-align:center;
	width:65px;
	position:absolute;
	left:15px
}
.face .item_t span {
	background:rgba(174,165,240,.8)
}
.bojin .item_t span {
	background:rgba(255,197,74,.8)
}
.body .item_t span {
	background:rgba(253,157,165,.8)
}
.combine .item_t span {
	background:rgba(139,218,254,.8)
}
.item_t span:first-of-type {
	top:0;
	height:32px;
	line-height:32px;
	font-size:14px;
	color:#fff
}
.item_t span:last-of-type {
	top:33px;
	height:28px;
	line-height:28px;
	font-size:12px;
	color:#fff;
	-webkit-border-radius:0 0 5px 5px
}
.item_t span:only-of-type {
	top:0;
	height:32px;
	line-height:32px;
	font-size:14px;
	color:#fff;
	-webkit-border-radius:0 0 5px 5px
}
.item_b {
	height:45px;
	padding:7px 20px 8px;
	position:relative
}
.itemlist .item_b {
	padding:7px 10px 8px
}
.item_b span {
	display:block
}
.item_b span:first-child {
	font-size:14px;
	color:#4b4b4b;
	font-weight:600;
	height:25px;
	line-height:25px
}
.item_b span:first-child b {
	font-size:12px;
	color:#f4cb71;
	margin-left:3px;
	font-weight:normal
}
.item_b span:nth-child(2) {
	font-size:12px;
	color:#999;
	height:20px;
	line-height:20px
}
.item_b span:nth-child(2) i {
	display:inline-block;
	width:20px;
	height:20px;
	vertical-align:middle;
	background:url(../images/all_612.png) no-repeat;
	background-size:100px auto;
	background-position:3px -64px
}
.item_b span:nth-child(3) {
	color:#fe6771;
	height:25px;
	line-height:25px;
	font-size:20px;
	font-weight:600;
	position:absolute;
	right:24px;
	top:10px
}
.item_b span:nth-child(4) {
	color:#999;
	font-size:12px;
	height:20px;
	line-height:20px;
	position:absolute;
	right:24px;
	bottom:5px
}
.item_b span:nth-child(4) i {
	font-style:normal;
	text-decoration:line-through
}
.item_b b {
	color:#fe6771;
	font-weight:normal;
	padding:0 2px;
	font-size:14px
}
.item_b sup {
	color:#fe6771;
	font-size:10px
}
footer {
	width:100%;
	height:50px;
	border-top:1px solid #dbdbdb;
	background:#fdfdfd;
	position:fixed;
	left:0;
	bottom:0;
	z-index:500
}
footer a {
	display:block;
	width:33.3333%;
	float:left;
	position:relative
}
footer a.remind::after {
	content:"";
	width:10px;
	height:10px;
	-webkit-border-radius:5px;
	background:#fe6672;
	position:absolute;
	left:50%;
	margin-left:11px;
	top:6px
}
footer a i {
	display:block;
	width:20px;
	height:25px;
	margin:0 auto;
	background:url(../images/all_612.png) no-repeat;
	background-size:100px auto
}
footer a span {
	display:block;
	height:25px;
	line-height:25px;
	font-size:10px;
	color:#7d7d7d;
	text-align:center
}
footer a:first-child i {
	background-position:-38px -90px
}
footer a:nth-child(2) i {
	background-position:-38px -130px
}
footer a:last-child i {
	background-position:-38px -168px
}
footer a:first-child.cur i {
	background-position:2px -90px
}
footer a:nth-child(2).cur i {
	background-position:2px -130px
}
footer a:last-child.cur i {
	background-position:2px -168px
}
footer a.cur span {
	color:#fe6672
}
#areaLayer {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:300px;
	background:#fff;
	z-index:1000;
	-webkit-transition:-webkit-transform .3s ease-in-out;
	-webkit-transform:translate3d(0,-1000px,0)
}
#areaLayer h2 {
	text-align:center;
	font-size:17px;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #dbdbdb;
	font-weight:600;
	color:#626262;
	position:relative;
	background:#fdfdfd
}
#j_close {
	font-weight:normal;
	position:absolute;
	left:0;
	top:0;
	display:block;
	height:50px;
	line-height:50px;
	width:50px;
	font-size:28px;
	color:#626262
}
.areas {
	padding:0 15px;
	background:#fff
}
.area_item {
	height:48px;
	padding-top:20px;
	position:relative;
	border-bottom:1px solid #dbdbdb
}
.selected::after {
	content:"";
	width:13px;
	height:23px;
	background:url(../images/all_612.png) no-repeat;
	background-size:100px auto;
	background-position:0 -34px;
	position:absolute;
	right:30px;
	top:24px
}
.area_item h3 {
	font-size:15px;
	color:#333;
	height:20px;
	line-height:30px;
	font-weight:600
}
.area_item p {
	font-size:11px;
	color:#666;
	height:20px;
	line-height:30px
}
.selected h3 {
	color:#fe6672
}
.selected p {
	color:#ff939c
}
.prev {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:50px;
	height:50px;
	background:url(../images/all_book.png) no-repeat;
	background-size:40px auto;
	background-position:15px -22px
}
.loading {
	height:30px;
	line-height:30px;
	padding-bottom:15px;
	text-align:center;
	font-size:14px;
	color:#b1b1b1
}
.loading i {
	display:inline-block;
	width:20px;
	height:20px;
	background:url(http://img.365vmei.cn/wap/home/public/images/logo.png) no-repeat;
	background-size:20px auto;
	vertical-align:middle;
	margin-right:5px
}
#remind {
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,.8);
	width:100%;
	height:100%;
	z-index:1000
}
#remind::after {
	position:absolute;
	left:10px;
	top:8px;
	content:"";
	width:220px;
	height:152px;
	background:url(../imaages/remind.png) no-repeat;
	background-size:220px auto
}
.exChange {
	padding:15px 0;
	height:32px;
	padding-right:52px;
	position:relative
}
.cardCode {
	border-style:none;
	padding:0 0 0 8px;
	display:block;
	width:95%;
	height:32px;
	line-height:32px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	font-size:15px;
	color:#9b9b9b
}
.cardSmt {
	position:absolute;
	right:0;
	top:15px;
	border-style:none;
	display:inline-block;
	padding:0 8px;
	text-align:center;
	height:33px;
	line-height:33px;
	background:#fe6771;
	font-size:15px;
	color:#fdfdfd;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px
}
.noCard {
	display:block;
	background:#dadada;
	width:100%;
	height:34px;
	line-height:34px;
	text-align:center;
	font-size:12px;
	color:#fff;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	margin:15px 0
}
.carditem {
	border:1px solid #dbdbdb;
	background:#fff;
	overflow:hidden;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	overflow:hidden;
	margin-bottom:15px;
	position:relative
}
.carditem::before {
	content:"";
	position:absolute;
	right:0;
	top:0;
	width:0;
	height:0;
	border-top:17px solid #85d0ff;
	border-right:28px solid #85d0ff;
	border-left:28px solid transparent;
	border-bottom:17px solid transparent
}
.carditem::after {
	content:"通用";
	position:absolute;
	right:0;
	top:0;
	font-size:11px;
	color:#fff;
	width:36px;
	height:22px;
	line-height:22px;
	text-align:right
}
.beijing::after {
	content:"北京"
}
.shanghai::after {
	content:"上海"
}
.chengdu::after {
	content:"成都"
}
.shenzhen::after {
	content:"深圳"
}
.guangzhou::after {
	content:"广州"
}
.tianjin::after {
	content:"天津"
}
.hangzhou::after {
	content:"杭州"
}
.wuhan::after {
	content:"武汉"
}
.shenyang::after {
	content:"沈阳"
}
.chongqing::after {
	content:"重庆"
}
.suzhou::after {
	content:"苏州"
}
.dalian::after {
	content:"大连"
}
.changchun::after {
	content:"长春"
}
.qingdao::after {
	content:"青岛"
}
.nanjing::after {
	content:"南京"
}
.xiamen::after {
	content:"厦门"
}
.fuzhou::after {
	content:"福州"
}
.ningbo::after {
	content:"宁波"
}
.wenzhou::after {
	content:"温州"
}
.changsha::after {
	content:"长沙"
}
.nanchang::after {
	content:"南昌"
}
.zhengzhou::after {
	content:"郑州"
}
.xian::after {
	content:"西安"
}
.harbin::after {
	content:"哈尔滨"
}
.jinan::after {
	content:"济南"
}
.taiyuan::after {
	content:"太原"
}
.nanning::after {
	content:"南宁"
}
.zhuhai::after {
	content:"珠海"
}
.haikou::after {
	content:"海口"
}
.sanya::after {
	content:"三亚"
}
.kunming::after {
	content:"昆明"
}
.hefei::after {
	content:"合肥"
}
.lanzhou::after {
	content:"兰州"
}
.shijiazhuang::after {
	content:"石家庄"
}
.carditem dt {
	float:left;
	width:80px;
	height:75px;
	background:#85d0ff;
	position:relative;
	text-align:center;
	color:#fff
}
.carditem dt::after {
	content:"";
	position:absolute;
	right:0;
	top:0;
	width:2px;
	height:100%;
	background:url(../images/jc.png) repeat-y;
	background-size:2px auto
}
.carditem dt span:first-child {
	margin-top:15px;
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	font-size:24px;
	font-weight:600
}
.carditem dt span:last-child {
	display:block;
	width:100%;
	height:18px;
	line-height:18px;
	font-size:12px
}
.carditem dd:first-of-type {
	margin-left:96px;
	padding-right:30px;
	position:relative;
	height:75px
}
.carditem dd:first-of-type h4 {
	padding-top:12px;
	height:20px;
	line-height:20px;
	color:#85d0ff;
	font-size:12px;
	font-weight:normal;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.carditem dd:first-of-type p {
	font-size:10px;
	color:#9b9b9b;
	line-height:15px;
	height:28px;
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	text-overflow:ellipsis
}
a.j_cardDetail {
	display:block;
	position:absolute;
	right:14px;
	top:44px;
	width:18px;
	height:18px;
	border:1px solid #999;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-transform:rotate(45deg)
}
a.j_cardDetail i {
	display:inline-block;
	position:absolute;
	left:3px;
	top:3px;
	width:8px;
	height:8px;
	border:1px solid #999;
	border-left:none;
	border-top:0
}
a.j_cardDetail.unfold {
	-webkit-transform:rotate(-135deg)
}
.carditem dd:last-of-type {
	display:none;
	padding:10px 12px;
	line-height:15px;
	font-size:10px;
	color:#9b9b9b;
	border-top:1px solid #eee;
	-webkit-transition:'all' .2s ease-in-out
}
.inuse::before {
	border-right-color:#fe8089;
	border-top-color:#fe8089
}
.inuse dt {
	background:#fe8089
}
.inuse dd:first-of-type h4 {
	color:#fe8089
}
.out::before {
	border-right-color:#dadada;
	border-top-color:#dadada
}
.out dt {
	background:#dadada
}
.out dd:first-of-type h4 {
	color:#dadada
}
.out dd:first-of-type p {
	color:#dadada
}
.out dd:last-of-type {
	color:#dadada
}
#mb {
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	background:rgba(0,0,0,.8);
	z-index:500
}
.newCard {
	margin:0 9px;
	position:relative
}
.newCard .carditem {
	position:absolute;
	left:50%;
	-webkit-transform:translate3d(-50%,0,0);
	top:6px
}
.frame {
	border:2px dashed #fff;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-border-radius:10px;
	height:85px
}
.con {
	width:180px;
	height:60px;
	background:url(../images/quan_mb.png) no-repeat;
	background-size:320px auto;
	background-position:-73px -95px;
	margin:8px auto 0
}
.index {
	position:absolute;
	left:16.6666%;
	margin-left:-55px;
	bottom:0;
	width:170px;
	height:113px;
	background:url(../images/quan_mb.png) no-repeat;
	background-size:320px auto;
	background-position:0 -356px
}
.enter {
	position:absolute;
	right:26px;
	bottom:60px;
	width:86px;
	height:47px;
	background:url(../images/quan_mb.png) no-repeat;
	background-size:320px auto;
	background-position:-209px -363px
}
.pkgWrapper {
	margin:64px 10px;
	position:relative;
	overflow:visible
}
.pkgWrapper.mb::after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	z-index:500;
	-webkit-border-radius:3px
}
.pkg1 {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-160px;
	width:320px;
	height:63px;
	background:url(../images/pkg_remind.png) no-repeat;
	background-size:320px auto;
	background-position:0 0
}
.itemWrapper {
	margin:0 4px;
	padding:4px;
	border:2px dashed #fff;
	-webkit-border-radius:4px
}
.pkg2 {
	z-index:600;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-160px;
	width:320px;
	height:65px;
	background:url(../images/pkg_remind.png) no-repeat;
	background-size:320px auto;
	background-position:0 -88px
}
.pkgOuter {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	min-height:200px;
	z-index:600
}
.item_title {
	background:#fff;
	overflow:hidden;
	height:45px
}
.fixed {
	position:fixed;
	left:0;
	top:50px;
	width:100%;
	border-top:1px solid #dfdfdf;
	z-index:500
}
.item_title ul {
	width:100%;
	height:45px;
	overflow:hidden
}
.item_title li {
	float:left;
	position:relative;
	width:20%;
	text-align:center;
	height:45px;
	line-height:50px;
	font-size:14px;
	color:#4b4b4b
}
.item_title .cur {
	color:#fe6771
}
.item_title .cur::after {
	content:"";
	height:2px;
	width:70%;
	background:#fe6771;
	position:absolute;
	left:15%;
	bottom:0
}
.mark {
	width:64px;
	height:64px;
	-webkit-border-radius:32px;
	text-align:center;
	position:absolute;
	right:70px;
	bottom:38px;
	-webkit-transform:rotate(-30deg)
}
.tobe {
	background:rgba(182,182,182,.8)
}
.new {
	background:rgba(255,87,102,.8)
}
.mark span {
	display:inline-block;
	color:#fff;
	font-size:12px;
	width:64px
}
.mark span:first-child {
	height:28px;
	line-height:36px;
	border-bottom:1px solid #fff;
	width:40px;
	font-size:14px
}
.mark span:last-child {
	height:30px;
	line-height:30px
}
.new span:last-child {
	font-size:18px
}
.pkgWrap {
	margin:64px 10px
}
.pkgitem {
	border:1px solid #dfdfdf;
	-webkit-border-radius:4px;
	overflow:hidden;
	background:#fff;
	margin-bottom:14px;
	position:relative
}
.topay::before {
	content:"";
	width:0;
	height:0;
	position:absolute;
	right:0;
	top:0;
	border-top:21px solid #f4cb71;
	border-right:34px solid #f4cb71;
	border-left:34px solid transparent;
	border-bottom:21px solid transparent;
	z-index:100
}
.topay::after {
	content:"未支付";
	z-index:200;
	font-size:12px;
	color:#fff;
	width:36px;
	height:24px;
	line-height:28px;
	position:absolute;
	right:0;
	top:0
}
.price {
	position:absolute;
	left:15px;
	top:100px;
	width:64px;
	height:64px;
	-webkit-border-radius:32px;
	background:rgba(255,87,102,.8);
	color:#fff;
	text-align:center
}
.usedup .price {
	background:rgba(153,153,153,.8)
}
.price span {
	display:inline-block;
	height:32px
}
.price span:first-child {
	border-bottom:1px solid #fff;
	width:50px;
	font-size:12px;
	line-height:40px
}
.price span:last-child {
	font-size:15px;
	font-weight:600;
	line-height:26px
}
.item_b a.j_cardDetail {
	right:12px;
	top:26px;
	width:16px;
	height:16px;
	-webkit-border-radius:9px
}
.item_b a.j_cardDetail i {
	width:8px;
	height:8px;
	top:2px;
	left:2px
}
.usedup .item_t::before {
	content:"";
	width:100%;
	height:100%;
	background:rgba(135,135,135,.39);
	position:absolute
}
.usedup .item_t::after {
	content:"";
	width:70px;
	height:70px;
	position:absolute;
	right:30px;
	bottom:-22px;
	background:url(../images/usedup.png) no-repeat;
	background-size:70px auto
}
.item_d {
	padding:0 12px;
	display:none;
	background:#fff
}
.item_d ul {
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf
}
.item_d li {
	font-size:12px;
	color:#999;
	padding-top:10px
}
.item_d li p {
	display:inline-block;
	line-height:30px;
	height:30px
}
.item_d li p:first-child {
	width:60%
}
.item_d li p:first-child a {
	color:#999
}
.item_d li p:first-child i {
	font-style:normal;
	font-size:13px;
	margin-right:4px;
	display:inline-block;
	vertical-align:middle;
	border:1px solid #999;
	width:14px;
	height:14px;
	line-height:14px;
	text-align:center;
	-webkit-border-radius:8px
}
.item_d li p:nth-child(2) {
	width:12%
}
.item_d li p:last-child {
	width:28%
}
.item_d li p:last-child a {
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	line-height:30px;
	text-align:center;
	background:#fe6771;
	-webkit-border-radius:3px
}
.item_d li p:last-child a.over {
	background:#dfdfdf
}
.item_d li:last-child {
	padding-bottom:10px
}
.item_d span {
	display:block;
	font-size:10px;
	color:#999;
	line-height:20px;
	padding:6px 0
}
a.book {
	z-index:500;
	position:fixed;
	left:0;
	bottom:0;
	background:#fe8089;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:18px;
	color:#fff
}
.pkg_title {
	border-top:1px solid #dfdfdf;
	margin-bottom:15px
}
.imgArea {
	position:relative
}
.imgArea img {
	width:100%
}
.imgArea span {
	display:block;
	position:absolute;
	bottom:24px;
	-webkit-border-radius:10px;
	width:60px;
	text-align:center;
	height:20px;
	line-height:20px;
	font-size:10px;
	color:#fff;
	background:rgba(148,148,148,.8)
}
.imgArea span:first-of-type {
	left:20px
}
.imgArea span:nth-of-type(2) {
	left:90px
}
.imgArea span:last-of-type {
	left:160px
}
.pkg_title .item_b {
	background:#fff
}
.detail {
	background:#fff;
	padding:0 20px;
	margin-bottom:15px
}
.detail h3 {
	font-weight:600;
	font-size:15px;
	height:37px;
	line-height:37px;
	color:#666;
	border-bottom:1px solid #ececec
}
.detail h3 span {
	float:right;
	font-size:12px;
	color:#999;
	font-weight:normal
}
.detail h3 span b {
	color:#fe6771
}
.detail p,.detail ul {
	font-size:12px;
	line-height:20px;
	color:#999;
	padding:8px 0 12px
}
.detail li {
	padding-left:20px;
	position:relative;
	line-height:20px
}
.detail li i {
	font-style:normal;
	border:1px solid #999;
	height:14px;
	line-height:14px;
	width:14px;
	text-align:center;
	-webkit-border-radius:8px;
	position:absolute;
	left:0;
	top:2px
}
.none {
	display:block;
	font-size:16px;
	color:#999;
	text-align:center;
	height:30px;
	line-height:30px;
	padding-top:50px
}
.details {
	padding-bottom:26px
}
.item_detail {
	padding:10px 0;
	height:35px;
	position:relative
}
.item_detail::after {
	content:"";
	width:1px;
	height:55px;
	background:#f4d086;
	position:absolute;
	left:10px;
	top:0;
	z-index:10
}
.item_detail:last-child {
	border-bottom:1px solid #ececec
}
.item_detail:first-child::after {
	height:27px;
	top:28px
}
.item_detail:last-child::after {
	height:27px;
	bottom:28px
}
.item_detail:only-child::after {
	display:none
}
.item_detail .dl {
	float:left;
	position:relative;
	height:35px
}
.item_detail .dl:first-child {
	width:6%;
	z-index:100
}
.item_detail .dl:nth-child(2) {
	width:22%;
	text-align:center
}
.item_detail .dl:nth-child(3) {
	width:56%
}
.item_detail .dl:nth-child(4) {
	width:8%
}
.item_detail .dl:nth-child(5) {
	width:8%
}
.item_detail code {
	width:16px;
	height:16px;
	background:#f4d086;
	-webkit-border-radius:8px;
	text-align:center;
	line-height:16px;
	font-size:12px;
	color:#fff;
	position:absolute;
	left:3px;
	top:50%;
	margin-top:-8px
}
.item_detail img {
	width:52px;
	height:35px;
	-webkit-border-radius:4px
}
.item_detail .dl span:first-child {
	display:block;
	height:17px;
	line-height:17px;
	font-size:13px;
	color:#666;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.item_detail .dl span:last-child {
	display:block;
	height:17px;
	line-height:17px;
	font-size:10px;
	color:#999
}
.item_detail .dl span:last-child i {
	display:inline-block;
	width:20px;
	height:20px;
	vertical-align:middle;
	background:url(../images/all_612.png) no-repeat;
	background-size:100px auto;
	background-position:3px -64px
}
.item_detail .dl:nth-child(4) {
	font-size:12px;
	text-align:right;
	color:#666;
	line-height:35px
}
.item_detail .dl:nth-child(5) i {
	display:block;
	position:absolute;
	right:0;
	top:12px;
	width:10px;
	height:10px;
	border:1px solid #dfdfdf;
	border-left:none;
	border-bottom:0;
	-webkit-transform:rotate(45deg)
}
#loading {
	z-index:500;
	font-size:13px;
	color:#fff;
	line-height:24px;
	padding-top:90px;
	padding-bottom:5px;
	text-align:center;
	width:150px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-75px;
	margin-top:-55px;
	background:rgba(0,0,0,.8);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-animation-duration:.4s
}
#loading.long {
	-webkit-animation-duration:1s
}
#loading span {
	display:block;
	width:37px;
	height:37px;
	position:absolute;
	left:57px;
	top:38px;
	background:url(../images/all_quan.png) no-repeat;
	background-size:320px auto;
	background-position:-11px -17px
}
#loading .fail {
	background-position:-130px -16px
}
#loading .succ {
	background-position:-69px -16px
}
nav {
	position:fixed;
	left:0;
	top:50px;
	border-top:1px solid #dadada;
	width:100%;
	height:40px;
	background:#fff;
	z-index:500
}
nav ul {
	height:40px
}
nav li {
	float:left;
	width:33.333333%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#626262;
	position:relative
}
nav li.cur {
	color:#fe6672
}
nav li.cur::before {
	content:"";
	width:42px;
	height:2px;
	background:#fe6672;
	position:absolute;
	bottom:0
}
nav li.cur::after {
	display:block
}
nav li.remind::after {
	content:"";
	width:8px;
	height:8px;
	-webkit-border-radius:4px;
	background:#fe6672;
	position:absolute;
	top:16px;
	left:50%;
	margin-left:25px
}
.orderWrap {
	margin:101px 0 68px
}
.orderlist {
	-webkit-animation-duration:.4s!important
}
.orderitem {
	padding:0 20px;
	background:#fff;
	margin-bottom:10px;
	-webkit-animation-duration:1s!important;
	-webkit-animation-fill-mode:'ease-in'
}
.order_t {
	height:32px;
	line-height:32px;
	border-bottom:1px solid #ececec;
	font-size:12px;
	color:#acacac
}
.order_t span {
	float:right
}
.order_t .focus {
	color:#ffbb28
}
.order_t .failure {
	color:#fe6672
}
.orderitem dl {
	border-bottom:1px solid #ececec;
	padding:10px 0 12px;
	position:relative;
	min-height:76px
}
.orderitem dt {
	float:left;
	margin-top:3px;
	width:70px;
	height:70px;
	border:2px solid #eee;
	-webkit-border-radius:37px;
	overflow:hidden
}
.orderitem dt img {
	width:70px;
	height:70px
}
.orderitem dd {
	margin-left:86px
}
.orderitem dd h4 {
	color:#4b4b4b;
	font-size:14px;
	height:22px;
	line-height:22px;
	font-weight:normal
}
.orderitem dd p {
	font-size:13px;
	color:#acacac;
	line-height:18px
}
.order_b {
	height:46px;
	line-height:42px;
	font-size:17px;
	color:#626262;
	font-weight:600;
	position:relative
}
.order_b a {
	display:block;
	position:absolute;
	right:0;
	bottom:8px;
	font-size:14px;
	font-weight:normal;
	color:#fff;
	width:70px;
	height:30px;
	line-height:30px;
	text-align:center;
	-webkit-border-radius:5px;
	background:#fe6672
}
.ball {
	display:block;
	width:8px;
	height:8px;
	-webkit-border-radius:4px;
	background:#fe6672;
	position:fixed;
	left:50%;
	margin-left:-4px;
	z-index:1000;
	-webkit-transition:-webkit-transform .5s linear
}
.noorder {
	padding-top:50px;
	text-align:center
}
.noorder img {
	width:67px;
	height:auto
}
.noorder span {
	display:block;
	height:30px;
	line-height:30px;
	font-size:15px;
	color:#999
}
.noorder a.goto {
	display:block;
	height:36px;
	line-height:36px;
	font-size:15px;
	width:148px;
	border:1px solid #999;
	color:#999;
	margin:0 auto
}
.orderinfo {
	background:#fff;
	padding:0 20px;
	margin-bottom:10px
}
.order_tit {
	height:39px;
	line-height:39px;
	font-size:13px;
	color:#626262;
	border-bottom:1px solid #ececec;
	position:relative
}
.order_tit a {
	display:block;
	width:66px;
	height:25px;
	line-height:25px;
	text-align:right;
	position:absolute;
	right:0;
	top:7px;
	color:#acacac
}
.order_tit a.add {
	text-align:center;
	color:#fff;
	background:#fe6672;
	-webkit-border-radius:4px
}
.order_p {
	padding:8px 0;
	font-size:12px;
	color:#acacac;
	line-height:18px
}
.order_p.bookinfo {
	padding:12px 0
}
.order_p span {
	color:#626262;
	margin-left:9px
}
.iteminfo span:not(:last-of-type):not(:first-of-type) {
	padding-left:50px
}
.order_p .odd {
	color:#ffbb28
}
.order_p+p {
	font-size:12px;
	color:#acacac;
	line-height:15px;
	padding-bottom:10px;
	border-bottom:1px solid #ececec
}
.order_line {
	padding:18px 0 14px;
	height:48px
}
.order_line li {
	float:left;
	width:20%;
	padding-top:20px;
	height:28px;
	position:relative;
	text-align:center
}
.order_line li::after {
	content:"";
	width:100%;
	height:2px;
	background:#dadada;
	position:absolute;
	left:0;
	top:8px;
	z-index:10
}
.order_line li i {
	display:block;
	width:12px;
	height:12px;
	background:#dadada;
	border:2px solid #fff;
	-webkit-border-radius:8px;
	z-index:100;
	position:absolute;
	left:50%;
	margin-left:-8px;
	top:1px
}
.order_line li i::before {
	content:"";
	width:8px;
	height:8px;
	-webkit-border-radius:4px;
	background:#fff;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-4px;
	margin-top:-4px
}
.order_line li:last-child i::before {
	display:none
}
.order_line li i::after {
	content:"";
	width:4px;
	height:4px;
	-webkit-border-radius:2px;
	background:#dadada;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-2px;
	margin-top:-2px
}
.order_line li span {
	display:block;
	font-size:12px;
	color:#dadada;
	line-height:14px
}
.order_line li.active::after,.order_line li.active i,.order_line li.active i::after {
	background:#fe6671
}
.order_line li.active span {
	color:#fe6671
}
.orderinfo dl {
	padding:11px 0;
	min-height:64px
}
.orderinfo dt {
	float:left;
	width:60px;
	height:60px;
	border:2px solid #eee;
	-webkit-border-radius:32px;
	overflow:hidden
}
.orderinfo dt img {
	width:60px;
	height:60px
}
.orderinfo dd {
	margin-left:72px
}
.orderinfo dd h4 {
	font-size:12px;
	color:#626262;
	font-weight:normal;
	height:24px;
	line-height:24px
}
.orderinfo dd .order_p {
	padding:0
}
.cmnt {
	min-height:23px;
	padding:10px 0;
	line-height:23px;
	font-size:12px;
	color:#999
}
.cmnt span {
	font-size:14px;
	color:#626262
}
#payBtn,#cancelBtn {
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:18px;
	color:#fff;
	background:#fe6671
}
#payBtn.inprogress {
	background:#dadada
}
.bonus {
	position:fixed;
	right:24px;
	bottom:135px;
	width:53px;
	height:56px;
	background:url(../images/bonus.png) no-repeat;
	background-size:53px auto;
	-webkit-animation-duration:1.2s!important
}
.star1 {
	position:relative;
	display:inline-block;
	color:#ffbb28;
	width:0;
	height:0;
	border-right:12px solid transparent;
	border-bottom:8px solid #ffbb28;
	border-left:12px solid transparent;
	-webkit-transform:rotate(35deg)
}
.star1:before {
	border-bottom:10px solid #ffbb28;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	position:absolute;
	height:0;
	width:0;
	top:-6px;
	left:-7px;
	display:block;
	content:"";
	-webkit-transform:rotate(-35deg)
}
.star1:after {
	position:absolute;
	display:block;
	color:#ffbb28;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-right:12px solid transparent;
	border-bottom:8px solid #ffbb28;
	border-left:12px solid transparent;
	-webkit-transform:rotate(-70deg);
	content:""
}
.star2 {
	position:relative;
	display:inline-block;
	color:#dadada;
	width:0;
	height:0;
	border-right:12px solid transparent;
	border-bottom:8px solid #dadada;
	border-left:12px solid transparent;
	-webkit-transform:rotate(35deg)
}
.star2:before {
	border-bottom:11px solid #dadada;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	position:absolute;
	height:0;
	width:0;
	top:-6px;
	left:-7px;
	display:block;
	content:"";
	-webkit-transform:rotate(-35deg)
}
.star2:after {
	position:absolute;
	display:block;
	color:#dadada;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-right:12px solid transparent;
	border-bottom:8px solid #dadada;
	border-left:12px solid transparent;
	-webkit-transform:rotate(-70deg);
	content:""
}
.cmnt i {
	margin-left:3px;
	vertical-align:1px
}
.cmnt p {
	font-size:10px;
	color:#999;
	line-height:14px;
	padding:10px 0 5px
}
.cancel_tit {
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#999
}
#types li {
	padding-left:16px;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#626262;
	background:#fff;
	-webkit-border-radius:4px;
	margin-bottom:10px
}
#types li.cur {
	background:#ffdfa0
}
.cancel p {
	padding:6px 16px;
	background:#fff;
	-webkit-border-radius:4px
}
.cancel textarea {
	padding:0;
	border-style:none;
	color:#626262;
	line-height:18px;
	font-size:12px;
	height:54px;
	width:100%
}
.cancel textarea::-webkit-input-placeholder {
	color:#acacac
}
.personal {
	background:#eee url(../images/personal_bg.jpg) no-repeat;
	background-position:center top;
	background-size:100% auto
}
.personal header {
	position:relative;
	background:0;
	border-bottom:0;
	height:45px;
	line-height:45px
}
.personal header h1 {
	color:#fff
}
.personal header .prev {
	height:45px;
	background:url(../images/personal.png) no-repeat;
	background-size:50px auto;
	background-position:15px 16px
}
.personal header a.tel {
	height:45px;
	background:url(../images/personal.png) no-repeat;
	background-size:50px auto;
	background-position:15px -17px
}
.personal section {
	background:0;
	margin-top:0
}
.userinfo {
	padding:25px 20px 24px;
	height:124px
}
.userinfo dt {
	float:left;
	width:64px;
	height:64px
}
.userinfo dt img {
	width:64px;
	height:64px;
	-webkit-border-radius:32px
}
.userinfo dd {
	margin-left:78px
}
.userinfo dd h4 {
	height:25px;
	line-height:25px;
	font-size:15px;
	color:#fff;
	font-weight:normal;
	margin-top:10px
}
.userinfo dd p {
	font-size:12px;
	color:#fff;
	line-height:20px;
	height:20px
}
.personal section ul {
	background:#fff;
	padding-left:20px;
	clear:both;
	overflow:hidden;
	margin-bottom:10px
}
.usernum {
	padding-right:20px
}
.usernum li {
	float:left;
	width:50%;
	height:70px;
	text-align:center;
	font-size:12px;
	color:#acacac;
	position:relative
}
.usernum li a {
	display:block;
	width:100%;
	height:100%
}
.usernum li:first-child::after {
	content:"";
	width:1px;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	background:#ececec
}
.usernum li span {
	display:block;
	height:35px
}
.usernum li span:first-child {
	font-size:11px;
	line-height:50px
}
.usernum li span:first-child i {
	font-size:24px;
	font-style:normal;
	font-weight:600;
	display:inline-block;
	vertical-align:0
}
.usernum li span:last-child {
	line-height:28px
}
.usernum li:first-child span:first-child {
	color:#fe6771
}
.usernum li:last-child span:first-child {
	color:#ffae00
}
.userlink li {
	margin-left:32px;
	height:44px;
	line-height:44px;
	position:relative;
	border-bottom:1px solid #ececec;
	overflow:visible
}
.userlink li::after {
	content:"";
	position:absolute;
	right:22px;
	top:16px;
	width:10px;
	height:10px;
	border:1px solid #cacaca;
	border-bottom:0;
	border-left:none;
	-webkit-transform:rotate(45deg)
}
.userlink li a {
	display:block;
	height:44px;
	line-height:44px;
	color:#4b4b4b;
	font-size:15px
}
.userlink li i {
	display:inline-block;
	width:20px;
	height:20px;
	-webkit-border-radius:10px;
	line-height:20px;
	text-align:center;
	position:absolute;
	right:50px;
	top:12px;
	font-style:normal;
	font-size:12px;
	color:#fff;
	background:#fe6771
}
.userlink li:last-child {
	border-bottom:0
}
.userlink li::before {
	content:"";
	position:absolute;
	top:13px;
	left:-32px;
	width:16px;
	height:18px;
	background:url(../images/personal_all.png) no-repeat;
	background-size:100px auto
}
.userlink .order::before {
	background-position:0 -72px
}
.userlink .address::before {
	background-position:0 -118px
}
.userlink .mrs::before {
	background-position:0 -162px
}
.userlink .invite::before {
	background-position:0 -216px
}
.userlink .advice::before {
	background-position:0 -260px
}
.userlink .agreement::before {
	background-position:0 -308px
}
a.logout {
	display:block;
	width:100%;
	height:50px;
	line-height:50px;
	font-size:15px;
	color:#fe6771;
	text-align:center;
	background:#fff
}