@charset "utf-8";
	body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer,dl,dt,dd {
	margin:0;
	padding:0
}
body {
	font-size:14px;
	font-family:"sans-serif";
	color:#221815;
	background:#f0eff5;
	min-width:320px;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%
}
form {
	display:inline
}
ul,ol {
	list-style:none
}
a {
	text-decoration:none;
	color:#444;
	cursor:pointer
}
a:active {
	color:#aaa
}
img {
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic
}
button,input,select,textarea {
	font-size:100%;
	vertical-align:middle;
	outline:0;
	font-family:"sans-serif"
}
input.password_field {
	-webkit-text-security:disc
}
textarea {
	resize:none
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;
	-moz-appearance:button
}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {
	color:transparent
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
ul,dl {
	cursor:pointer
}
.fl {
	float:left
}
.fr {
	float:right
}
.hide {
	display:none
}
.show {
	display:block
}
.ellipsis {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.break {
	word-break:break-all;
	word-wrap:break-word
}
header,footer,article,section,nav,menu,hgroup {
	display:block;
	clear:all
}
.clearfix:after {
	content:'\0020';
	display:block;
	height:0;
	clear:both
}
.clearfix {
	*zoom:1
}
.hide {
	display:none!important
}
body {
	background:#eee
}
section {
	padding:50px 0 72px
}
section.wenxiu {
	padding-top:106px
}
#bookPage,#adrPage {
	-webkit-animation-duration:.2s;
	min-height:100%
}
#storePage section,#adrPage section {
	padding-bottom:0
}
nav {
	height:50px;
	background:#fdfdfd;
	border-bottom:1px solid #ececec;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:500
}
.prev {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:50px;
	height:50px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:15px -22px
}
.tel {
	position:absolute;
	right:0;
	top:0;
	display:block;
	width:50px;
	height:50px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:15px 15px
}
nav h2 {
	text-align:center;
	font-size:17px;
	color:#666;
	height:50px;
	line-height:50px
}
.title {
	margin-top:15px;
	padding:12px 100px 12px 15px;
	background:#fdfdfd;
	position:relative
}
.title h3 {
	font-size:15px;
	color:#fe6771;
	height:26px;
	line-height:25px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.title p {
	font-size:12px;
	color:#333;
	line-height:22px;
	height:22px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.title a {
	display:block;
	width:70px;
	height:70px;
	-webkit-border-radius:5px;
	overflow:hidden;
	position:absolute;
	right:16px;
	top:12px
}
.title a img {
	width:70px;
	height:70px
}
a.book,a#enterPkg {
	position:fixed;
	left:0;
	bottom:0;
	z-index:400;
	display:block;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:15px;
	font-weight:600;
	background:#fe6771
}
a#enterPkg {
	z-index:500
}
.result {
	text-align:center
}
.card {
	position:relative;
	margin:0 auto;
	width:189px;
	height:85px;
	color:#ceab6d;
	background:url(../images/all_book6.png) no-repeat;
	background-position:0 -277px;
	background-size:340px auto
}
.card i {
	font-style:normal;
	display:inline-block;
	width:14px;
	line-height:15px;
	font-size:14px;
	position:absolute;
	left:14px;
	top:12px
}
.card span {
	display:inline-block;
	width:135px;
	height:65px;
	line-height:65px;
	position:absolute;
	left:44px;
	top:8px;
	text-align:center;
	font-size:14px
}
.card code {
	font-size:32px;
	font-weight:600;
	display:inline-block;
	vertical-align:-2px
}
.result p {
	font-size:13px;
	height:25px;
	line-height:25px;
	text-align:center;
	color:#666;
	margin-bottom:15px
}
.result p span {
	color:#ceab6d
}
a.smt {
	display:block;
	margin:0 auto 25px;
	width:240px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:15px;
	color:#fff;
	background:#e65a6c;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px
}
.citySwitch {
	background:#fff;
	padding:0 20px;
	margin-top:10px
}
.citySwitch h3 {
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#acacac;
	font-weight:normal;
	position:relative
}
.citySwitch h3 span {
	font-weight:600;
	color:#fe6771;
	padding:0 5px
}
.citySwitch h3 p {
	position:relative;
	text-align:center;
	display:inline-block;
	width:36px;
	height:20px;
	line-height:20px;
	padding:0 12px 0 5px;
	border:1px solid #dfdfdf;
	-webkit-border-radius:3px;
	vertical-align:middle
}
.citySwitch h3 p::after {
	content:"▼";
	color:#dfdfdf;
	font-size:12px;
	position:absolute;
	right:4px;
	top:0
}
.citySwitch h3 p i {
	font-style:normal;
	z-index:1
}
.citySwitch h3 p select {
	opacity:0;
	position:absolute;
	left:0;
	top:0;
	width:55px;
	height:22px;
	z-index:100
}
.tabs {
	margin:15px 20px;
	height:38px
}
.tabs a {
	display:block;
	width:48%;
	height:36px;
	line-height:36px;
	border:1px solid #dfdfdf;
	background:#f8f8f8;
	text-align:center;
	-webkit-border-radius:5px;
	font-size:15px;
	color:#333
}
.tabs a:first-child {
	float:left
}
.tabs a:last-child {
	float:right
}
.tabs a.cur {
	background:#fe6771;
	border-color:#fe6771;
	color:#fff
}
.cnts {
	margin-top:15px
}
.search {
	position:relative;
	margin:0 20px 15px;
	border:1px solid #dfdfdf;
	-webkit-border-radius:6px;
	height:37px;
	font-size:14px;
	padding-left:10px;
	background:#fff;
	overflow:hidden
}
.cnt {
	-webkit-animation-duration:.2s
}
.cnt input {
	display:block;
	width:90%;
	height:15px;
	line-height:15px;
	padding:11px 0;
	border-style:none
}
.cnt input::-webkit-input-placeholder {
	color:#acacac
}
a.del {
	display:block;
	width:36px;
	height:36px;
	position:absolute;
	right:0;
	top:0;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:8px -340px
}
.cnt h3 {
	height:24px;
	line-height:24px;
	font-size:11px;
	font-weight:normal;
	color:#acacac;
	padding-left:20px;
	background:#f8f8f8;
	border-bottom:1px solid #dfdfdf
}
.cnt h3 i {
	display:inline-block;
	vertical-align:-2px;
	width:12px;
	height:14px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -81px
}
.cnt ul {
	background:#fff;
	padding:0 20px
}
.cnt li {
	position:relative;
	overflow:visible;
	border-top:1px solid #ececec;
	height:39px;
	line-height:39px;
	font-size:15px;
	font-weight:600;
	color:#333
}
.cnt li:first-child {
	border-top:0
}
.cnt li.noresult {
	font-weight:normal;
	color:#acacac;
	font-size:12px
}
.nearby li {
	padding:12px 0
}
.nearby li p {
	font-size:15px;
	font-weight:600;
	color:#333;
	line-height:22px;
	height:22px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.nearby li span {
	font-weight:normal;
	display:block;
	height:15px;
	line-height:15px;
	font-size:10px;
	color:#acacac;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.nearby li b {
	font-weight:normal;
	position:absolute;
	right:0;
	top:20px;
	font-size:10px;
	font-weight:normal;
	color:#333;
	display:block;
	width:80px;
	height:20px;
	line-height:20px;
	text-align:right;
	font-style:normal
}
.mrs-cnts {
	margin-top:20px
}
.cnts .cnt li.cur {
	background:#eee;
	border-top:0
}
.cnts .cnt li.cur+li {
	border-top:0
}
.cnts .cnt li.cur,.cnts .cnt li.cur p,.cnts .cnt li.cur b,.cnts .cnt li.cur span {
	color:#fe6771
}
.cnts .cnt li.cur::before {
	content:"";
	width:15px;
	height:100%;
	background:#eee;
	position:absolute;
	left:-15px;
	top:0
}
.cnts .cnt li.cur::after {
	content:"";
	width:15px;
	height:100%;
	background:#eee;
	position:absolute;
	right:-15px;
	top:0
}
#loading {
	z-index:500;
	font-size:13px;
	color:#fff;
	line-height:24px;
	padding-top:90px;
	padding-bottom:5px;
	text-align:center;
	width:150px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-75px;
	margin-top:-75px;
	background:rgba(0,0,0,.8);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-animation-duration:1s!important
}
#loading span {
	display:block;
	width:37px;
	height:37px;
	position:absolute;
	left:57px;
	top:38px;
	background:url(../images/all_quan.png) no-repeat;
	background-size:320px auto;
	background-position:-11px -17px
}
#loading .fail {
	background-position:-130px -16px
}
#loading .succ {
	background-position:-69px -16px
}
#timeMb {
	position:fixed;
	left:0;
	top:0;
	z-index:500;
	width:100%;
	height:100%;
	background:rgba(51,51,51,.75)
}
#selectTime {
	position:fixed;
	bottom:-190px;
	left:0;
	height:190px;
	width:100%;
	z-index:500;
	background:#fff;
	font-size:16px;
	color:#999;
	-webkit-transition:-webkit-transform .3s ease-in-out
}
#selectTime.hide {
	display:block!important;
	visibility:hidden!important
}
#selectTime h3 {
	height:40px;
	line-height:40px;
	text-align:center;
	padding:0 10px
}
#selectTime h3 a {
	font-weight:normal;
	margin-top:6px;
	display:block;
	font-size:13px;
	text-align:center;
	width:40px;
	height:28px;
	line-height:28px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-border-radius:3px
}
#selectTime h3 .fl {
	float:left;
	color:#1a1a1a;
	background:#ececec
}
#selectTime h3 .fr {
	float:right;
	color:#fff;
	background:#fe6771
}
#selectTime h3 .not {
	color:#a1a1a1;
	background:#ececec
}
.timeFloat {
	overflow:hidden;
	height:150px;
	width:100%;
	position:relative
}
.timeFloat::before {
	content:"";
	position:absolute;
	left:0;
	top:58px;
	width:100%;
	height:30px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf
}
.timeFloat::after {
	content:"";
	position:absolute;
	left:50%;
	top:0;
	height:100%;
	width:1px;
	background-image:-ms-linear-gradient(top,rgba(255,255,255,0),rgba(254,103,113,1),rgba(255,255,255,0));
	background-image:-moz-linear-gradient(top,rgba(255,255,255,0),rgba(254,103,113,1),rgba(255,255,255,0));
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,0),rgba(254,103,113,1),rgba(255,255,255,0));
	background-image:-o-linear-gradient(top,rgba(255,255,255,0),rgba(254,103,113,1),rgba(255,255,255,0));
	background-image:linear-gradient(top,rgba(255,255,255,0),rgba(254,103,113,1),rgba(255,255,255,0))
}
.timeFloat>div {
	float:left;
	width:50%;
	height:100%;
	position:relative
}
.timeFloat>div ul {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	padding:60px 0
}
.timeFloat>div li {
	position:relative;
	height:30px;
	line-height:30px;
	text-align:center;
	font-weight:normal;
	color:transparent;
	text-shadow:0 0 1px #b1b1b1
}
.timeFloat>div li.active {
	color:#fe6771;
	font-weight:600;
	text-shadow:none
}
.timeFloat>div li.booked,.timeFloat>div li.timeout {
	color:#b1b1b1;
	margin:0;
	background:0
}
.timeFloat>div li.booked::after,.timeFloat>div li.timeout::after {
	content:"(已约满)";
	position:absolute;
	right:12px;
	top:0;
	font-size:12px;
	height:30px;
	line-height:30px
}
#blank {
	height:300px
}
.chosen,.mix,.package,.booked,.pay {
	margin-top:10px;
	background:#fff
}
.userinfo {
	background:#a8b1c1;
	color:#fff
}
.userinfo a {
	display:block
}
.item_tit,.book_tit {
	height:27px;
	line-height:27px;
	padding:0 20px;
	font-size:12px;
	color:#666;
	background:#f8f8f8
}
.item_tit.wenxiu {
	color:#ffb762
}
.item_tit span,.item_tit i {
	font-size:12px;
	color:#fe6771;
	float:right
}
.item_tit i {
	float:none;
	font-style:normal;
	margin-left:3px
}
.item_tit .grey {
	color:#acacac
}
.noitem {
	font-size:14px;
	color:#4b4b4b;
	padding:30px 0;
	height:25px;
	line-height:25px;
	text-align:center
}
.book_tit {
	height:28px;
	line-height:28px
}
.item {
	background:#fff;
	padding:16px 0;
	margin:0 20px;
	position:relative;
	border-top:1px solid #ececec;
	overflow:hidden
}
.nouse::before {
	content:"";
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	position:absolute;
	left:0;
	top:0;
	z-index:200
}
.nouse::after {
	content:"抱歉，服务地址所在城市无此项目";
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:12px;
	color:#ececec;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-15px;
	z-index:300
}
.sale::after {
	position:absolute;
	right:10px;
	bottom:20px;
	content:"特惠";
	font-size:9px;
	color:#ff8d28;
	text-align:center;
	width:30px;
	-webkit-border-radius:3px;
	border:1px solid #ff8d28;
	height:13px;
	line-height:13px;
	padding:0 3px
}
.item:first-of-type {
	border-top:0
}
.item dt {
	float:left;
	width:87px;
	height:58px;
	-webkit-border-radius:4px;
	overflow:hidden;
	position:relative
}
.item dt img {
	width:87px;
	height:58px
}
.item dd:first-of-type {
	margin-left:96px
}
.item dd:first-of-type h3 {
	font-size:13px;
	color:#4b4b4b;
	/*line-height:14px;*/
	font-weight:normal
}
.item dd:first-of-type p:first-of-type {
	font-size:11px;
	padding-top:5px;
	min-height:16px;
	line-height:21px;
	color:#999
}
.item dd:first-of-type p:first-of-type span {
	color:#fe6771
}
.item dd:first-of-type p:first-of-type i:first-of-type {
	display:inline-block;
	margin-right:3px;
	vertical-align:-1px;
	width:11px;
	height:11px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -289px
}
.item dd:first-of-type p:first-of-type i:nth-of-type(2) {
	display:inline-block;
	font-style:normal;
	font-weight:normal;
	color:#ff8d28;
	margin-left:5px;
	vertical-align:1px;
	border:1px solid #ff8d28;
	padding:0 3px;
	font-size:9px;
	height:13px;
	line-height:13px;
	-webkit-border-radius:3px
}
.item dd:first-of-type p:last-of-type {
	height:22px;
	line-height:22px;
	font-size:18px;
	color:#fe6771;
	font-weight:600
}
.item dd:first-of-type p:last-of-type i {
	display:inline-block;
	font-style:normal;
	font-weight:normal;
	color:#ff8d28;
	margin-left:5px;
	vertical-align:1px;
	border:1px solid #ff8d28;
	padding:0 3px;
	font-size:9px;
	height:13px;
	line-height:13px;
	-webkit-border-radius:3px
}
.item dd:first-of-type p:last-of-type span {
	font-size:11px;
	font-weight:normal;
	color:#999;
	/*text-decoration:line-through;*/
	margin-left:5px
}
.item dd:first-of-type p:last-of-type code {
	font-size:13px
}
.item dd:last-of-type {
	position:absolute;
	right:0;
	bottom:13px;
	height:24px;
	-webkit-border-radius:4px;
	overflow:hidden
}
.item dd:last-of-type.fold {
	width:24px
}
.item dd:last-of-type a.minus {
	float:right;
	display:block;
	position:relative;
	border:1px solid #dfdfdf;
	-webkit-border-radius:4px 0 0 4px;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:24px;
	color:#999
}
.item dd:last-of-type a.minus::after {
	content:"";
	width:12px;
	height:1px;
	background:#999;
	position:absolute;
	left:5px;
	top:11px
}
.item dd:last-of-type span {
	float:right;
	display:block;
	padding:0 10px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #d2d2d2;
	height:22px;
	line-height:22px;
	font-size:18px;
	color:#999
}
.item dd:last-of-type a.add {
	float:right;
	display:block;
	border:1px solid #fe6771;
	background:#fe6771;
	-webkit-border-radius:0 4px 4px 0;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:24px;
	color:#fff
}
.item dd:last-of-type a.add.odd,.item dd:last-of-type a.add.limit {
	background:#a1a1a1;
	border-color:#a1a1a1
}
a.more {
	display:block;
	width:100%;
	margin-top:-1px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:12px;
	color:#666;
	background:#f8f8f8
}
a.more i {
	display:inline-block;
	margin-left:5px;
	width:8px;
	height:8px;
	vertical-align:2px;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	-webkit-transform:rotate(45deg)
}
.discount {
	display:block;
	font-size:10px;
	color:#fff;
	height:14px;
	line-height:14px;
	background:#fe6771;
	width:54px;
	-webkit-transform:rotate(-45deg);
	z-index:100;
	position:absolute;
	left:-13px;
	top:7px;
	text-align:center
}
.bookArea {
	position:fixed;
	left:0;
	bottom:0;
	z-index:500;
	width:100%;
	height:60px;
	overflow:visible
}
.order {
	height:60px;
	text-align:center
}
.order li {
	float:left;
	width:33.3333333333%;
	display:block;
	height:60px;
	background:#333;
	color:#fff;
	position:relative
}
.order li:first-child i {
	position:absolute;
	top:20px;
	left:15px;
	display:inline-block;
	width:16px;
	height:16px;
	text-align:center;
	-webkit-border-radius:9px;
	border:1px solid #fff
}
.order li:first-child b {
	display:inline-block;
	width:8px;
	height:8px;
	vertical-align:-1px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	-webkit-transform:rotate(-135deg)
}
.order li:first-child.unfold b {
	-webkit-transform:rotate(45deg);
	vertical-align:2px
}
.order li:first-child span {
	display:inline-block;
	line-height:14px;
	font-size:12px;
	color:#fff;
	text-align:left;
	margin-left:10px;
	margin-top:15px
}
.order li:nth-child(even) {
	font-size:12px;
	line-height:20px;
	padding:10px 0
}
.order li:nth-child(even) span {
	color:#fe6771;
	font-weight:600
}
.order li:last-child {
	background:#fe6771
}
.order li:last-child a {
	display:block;
	width:100%;
	height:60px;
	font-size:18px;
	line-height:60px;
	color:#fff
}
.items {
	position:absolute;
	bottom:60px;
	left:0;
	width:100%;
	background:#f5f5f5;
	border-top:1px solid #dfdfdf;
	-webkit-animation-duration:.3s!important
}
.items li {
	margin:15px 10px;
	min-height:24px;
	position:relative
}
.items li p {
	float:left;
	min-height:24px;
	text-align:center
}
.items li p:first-child {
	width:35%;
	font-size:11px;
	color:#4b4b4b;
	text-align:left
}
.items li p:nth-child(2) {
	width:22%;
	font-size:11px;
	color:#999
}
.items li p:nth-child(2) i {
	vertical-align:-1px;
	display:inline-block;
	margin-right:3px;
	width:11px;
	height:11px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -289px
}
.items li p:nth-child(3) {
	width:13%;
	font-size:12px;
	color:#fe6771
}
.items li p:last-child {
	width:30%
}
.items.wenxiu li p:first-child {
	width:26%
}
.items.wenxiu li p:nth-child(3) {
	width:22%;
	font-size:9px;
	text-align:left
}
.items.wenxiu li p:nth-child(3) span {
	color:#626262;
	display:block;
	height:12px;
	line-height:12px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.items.wenxiu li p:nth-child(3) span i {
	font-style:normal;
	color:#fe6771;
	font-style:normal
}
.edit {
	display:block;
	position:absolute;
	right:0;
	top:-4px;
	height:24px;
	-webkit-border-radius:4px;
	overflow:hidden
}
.edit.fold {
	width:24px
}
.edit a.minus {
	float:right;
	display:block;
	border:1px solid #dfdfdf;
	-webkit-border-radius:4px 0 0 4px;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:24px;
	color:#999
}
.edit a.minus::after {
	content:"";
	width:12px;
	height:1px;
	background:#999;
	position:absolute;
	left:5px;
	top:11px
}
.edit span {
	float:right;
	display:block;
	padding:0 10px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #d2d2d2;
	height:22px;
	line-height:22px;
	font-size:18px;
	color:#999
}
.edit a.add {
	float:right;
	display:block;
	border:1px solid #fe6771;
	background:#fe6771;
	-webkit-border-radius:0 4px 4px 0;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:24px;
	color:#fff
}
.edit a.odd,.edit a.limit {
	background:#a1a1a1;
	border-color:#a1a1a1
}
.ball {
	z-index:500;
	background:#fe6771;
	display:inline-block;
	width:20px;
	height:20px;
	-webkit-border-radius:10px;
	position:fixed;
	-webkit-transition:-webkit-transform .5s linear
}
.editAdr {
	position:relative
}
/*.editAdr::after {
	content:"";
	width:10px;
	height:10px;
	border:1px solid #fff;
	border-left:none;
	border-bottom:0;
	position:absolute;
	right:20px;
	top:50%;
	margin-top:-6px;
	-webkit-transform:rotate(45deg)
}*/
a.fault {
	display:block;
	width:100%;
	height:100%;
	line-height:82px;
	color:#ececec;
	font-size:12px;
	text-align:center;
	background:rgba(0,0,0,.5);
	position:absolute;
	left:0;
	top:0;
	z-index:200
}
.pkg_adr {
	margin-top:10px
}
.reminder {
	font-size:12px;
	color:#acacac;
	line-height:18px;
	padding:5px 20px
}
.reminder span {
	color:#fe6771
}
.userinfo p {
	padding:0 40px 0 20px;
	font-size:12px;
	color:#fff;
	line-height:1.5
}
.userinfo p:first-of-type {
	font-size:13px;
	padding-top:12px;
	font-weight:600
}
.userinfo p:last-of-type {
	padding-bottom:15px
}
.booked ul {
	margin:0 20px;
	position:relative
}
.booked .nopkg::before {
	content:"";
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	position:absolute;
	left:0;
	top:0;
	z-index:200
}
.booked .nopkg::after {
	content:"抱歉，服务地址所在城市无此套餐";
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:12px;
	color:#ececec;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-15px;
	z-index:300
}
.booked li {
	height:55px;
	font-size:12px;
	color:#666;
	border-bottom:1px solid #ececec;
	clear:both
}
.booked li:last-child {
	border-bottom:0;
	height:45px
}
.booked li p {
	float:left;
	height:100%;
	line-height:1;
	text-align:center
}
.booked li p:first-child {
	width:48%;
	padding:5px 0 6px;
	height:44px;
	line-height:44px;
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.booked li p:first-child span {
	display:block;
	width:100%;
	height:22px;
	line-height:22px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.booked li p:first-child span:last-child {
	color:#acacac
}
.booked li p i {
	vertical-align:-1px;
	display:inline-block;
	margin-right:3px;
	width:11px;
	height:11px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -289px
}
.booked li p:not(:first-child) {
	line-height:55px
}
.booked li p:nth-child(2) {
	width:25%
}
.booked li p:nth-child(3) {
	width:12%
}
.booked li p:nth-child(2) span,.booked li p:nth-child(3) span {
	color:#fe6771
}
.booked li p:last-child {
	width:15%;
	color:#fe6771;
	text-align:right
}
.booked li:last-child p:first-child {
	padding:0;
	height:40px;
	line-height:40px
}
.booked li:last-child p:not(:first-child) {
	line-height:45px
}
.pay ul {
	margin:0 20px
}
.pay li {
	position:relative;
	border-bottom:1px solid #ececec;
	padding:13px 0 13px 30px;
	height:23px;
	line-height:23px;
	font-size:12px;
	color:#666;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto
}
.pay li.wx {
	background-position:0 -139px
}
.pay li.zfb {
	background-position:0 -183px
}
.pay li.bd {
	background-position:0 -228px
}
.pay li.yqb {
	background-position:0 -492px
}
.pay li.shit::after {
	content:"常年立返现金1%起，最高免单";
	font-size:10px;
	height:11px;
	line-height:11px;
	color:#fe6771;
	position:absolute;
	left:30px;
	top:35px
}
.pay li:last-child {
	border-bottom:0
}
.pay li i {
	display:block;
	width:20px;
	height:20px;
	-webkit-border-radius:10px;
	background:#e8e8e8;
	float:right
}
.pay .active i {
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:-20px -280px
}
.coupon {
	background:#fff url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:12px -98px;
	padding:12px 10px 12px 50px;
	margin-top:10px;
	height:22px;
	line-height:22px;
	font-size:12px;
	color:#626262;
	position:relative
}
.coupon::after {
	content:"";
	position:absolute;
	right:12px;
	top:18px;
	width:10px;
	height:10px;
	border-top:1px solid #acacac;
	border-right:1px solid #acacac;
	-webkit-transform:rotate(45deg)
}
.item_tit code,.booked code {
	font-size:11px
}
a.addAdr {
	display:block;
	width:200px;
	height:38px;
	line-height:38px;
	text-align:center;
	background:#fe6771;
	-webkit-border-radius:5px;
	font-size:16px;
	color:#fff;
	margin:13px auto
}
a.addAdr span {
	font-size:20px;
	margin-right:3px
}
.timeinfo {
	background:#fff;
	padding:0 20px
}
.iteminfo .item {
	margin:0 20px
}
.timeinfo p {
	height:48px;
	line-height:48px;
	font-size:15px;
	color:#4b4b4b;
	border-bottom:1px solid #ececec;
	position:relative
}
.timeinfo p:last-of-type {
	border-bottom:0
}
/*.timeinfo p::after {
	content:"";
	width:10px;
	height:10px;
	border:1px solid #acacac;
	border-left:none;
	border-bottom:0;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-6px;
	-webkit-transform:rotate(45deg)
}*/
.timeinfo p a {
	float:right;
	font-size:12px;
	color:#acacac;
	margin-right:30px
}
.timeinfo .booked {
	color:#acacac
}
.timeinfo .booked::after {
	display:none
}
.iteminfo {
	margin-top:10px;
	background:#fff
}
.nameinfo {
	background:#fff;
	padding:0 20px;
	margin-top:10px
}
.nameinfo p {
	height:48px;
	line-height:48px;
	font-size:15px;
	color:#4b4b4b;
	border-bottom:1px solid #ececec;
	position:relative
}
.nameinfo p:last-of-type {
	border-bottom:0
}
.nameinfo p span {
	display:block;
	height:48px;
	line-height:48px;
	position:absolute;
	left:0;
	top:0
}
.nameinfo p input {
	border-style:none;
	display:inline-block;
	height:18px;
	line-height:18px;
	margin:8px 0 14px 68px
}
.nameinfo p input::-webkit-input-placeholder {
	color:#acacac
}
.otherinfo {
	background:#fff;
	padding:10px 20px
}
.otherinfo p {
	height:45px;
	line-height:45px;
	border-top:1px solid #ececec;
	position:relative;
	font-size:15px;
	color:#4b4b4b
}
.otherinfo p.cp::after {
	content:"";
	width:10px;
	height:10px;
	border:1px solid #cacaca;
	border-left:none;
	border-bottom:0;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-6px;
	-webkit-transform:rotate(45deg)
}
.otherinfo p.cp i {
	color:#4b4b4b;
	font-size:13px
}
.otherinfo p i {
	font-style:normal;
	font-size:15px;
	color:#fe6771;
	position:absolute;
	left:84px;
	top:0
}
.otherinfo p code {
	font-size:11px
}
.otherinfo p.usepkg i {
	color:#ff8d28
}
.otherinfo p b {
	vertical-align:-1px;
	display:inline-block;
	margin-right:3px;
	width:11px;
	height:11px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -289px
}
.otherinfo p span {
	float:right;
	font-size:13px;
	color:#4b4b4b
}
.otherinfo p span.cash {
	color:#fe6771
}
.otherinfo p input {
	border-style:none;
	color:#4b4b4b;
	font-size:12px;
	width:100%
}
.otherinfo p input::-webkit-input-placeholder {
	color:#acacac
}
.otherinfo p a {
	display:block
}
.otherinfo p.pkg::after {
	content:"";
	width:10px;
	height:10px;
	border:1px solid #cacaca;
	border-left:none;
	border-bottom:0;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-6px;
	-webkit-transform:rotate(45deg)
}
.otherinfo p.pkg.unfold {
	border-bottom:0
}
.otherinfo p.pkg.unfold::after {
	-webkit-transform:rotate(-45deg);
	margin-top:-3px
}
.otherinfo p.pkg i {
	color:#ff8d28
}
.otherinfo p.pkg span {
	display:inline-block;
	font-size:15px;
	float:none;
	margin:0 3px;
	-webkit-border-radius:4px;
	width:20px;
	height:20px;
	line-height:20px;
	color:#fff;
	text-align:center;
	vertical-align:-1px;
	background:#ff8d28
}
.remind {
	padding:10px 20px;
	font-size:12px;
	color:#acacac;
	line-height:18px
}
.agreement {
	padding:14px 20px 0;
	font-size:12px;
	color:#626262
}
.pkgs {
	background:#f8f8f8;
	position:relative;
	overflow:visible
}
.pkgs+p {
	border-top:0
}
.pkgs::before,.pkgs::after {
	content:"";
	width:20px;
	height:100%;
	background:#f8f8f8;
	position:absolute;
	top:0
}
.pkgs::before {
	left:-20px
}
.pkgs::after {
	right:-20px
}
.pkgs li {
	border-bottom:1px solid #ececec;
	padding:12px 0 10px;
	position:relative
}
.pkgs li:last-child {
	border-bottom:0
}
.pkgs li p {
	height:20px;
	line-height:20px;
	border:0
}
.pkgs li p:first-child {
	font-size:13px;
	color:#4b4b4b
}
.pkgs li p:nth-child(2) {
	font-size:12px;
	color:#acacac
}
.pkgs li p:nth-child(2)::after {
	display:none
}
.pkgs li p:nth-child(3) {
	font-size:11px;
	color:#7b7b7b
}
.pkgs li p:nth-child(3) span {
	color:#fe6771;
	float:none;
	margin:0 3px
}
.pkgs li i {
	display:block;
	background:#fff;
	width:16px;
	height:16px;
	border:1px solid #ececec;
	-webkit-border-radius:3px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-9px
}
.pkgs li i.selected {
	border-color:#ff8d28;
	background:#ff8d28
}
.pkgs li i.selected::after {
	content:"";
	width:12px;
	height:5px;
	border:1px solid #fff;
	border-top:0;
	border-right:0;
	-webkit-transform:rotate(-45deg);
	position:absolute;
	right:2px;
	top:4px
}
.loading,._loading {
	height:24px;
	line-height:26px;
	padding:10px 0;
	text-align:center;
	font-size:14px;
	color:#b1b1b1
}
.loading i,._loading i {
	display:inline-block;
	width:15px;
	height:15px;
	background:url(../images/loading.gif) no-repeat;
	background-size:15px auto;
	vertical-align:middle;
	margin-right:5px
}
.adrList {
	background:#fff;
	margin-top:10px
}
.adrwrap {
	padding:0 20px
}
.adritem {
	position:relative;
	padding:10px 30px 10px 0;
	border-bottom:1px solid #ececec
}
.adrwrap:last-child .adritem {
	border-bottom:0
}
.adrwrap.cur {
	background:#eee
}
.adrwrap.cur .adritem {
	border-bottom:0
}
.adrdetail {
	display:block
}
.adrdetail p:first-child {
	font-size:15px;
	color:#4b4b4b;
	height:22px;
	line-height:22px
}
.adrdetail p:first-child i {
	font-style:normal
}
.adrdetail p:first-child span {
	float:right
}
.adrdetail p:last-child {
	font-size:11px;
	color:#acacac;
	line-height:14px
}
.adrdetail p:last-child i {
	color:#ff8d28;
	font-style:normal
}
a.editAdrBtn {
	display:block;
	width:23px;
	height:23px;
	position:absolute;
	right:-3px;
	top:50%;
	margin-top:-12px;
	font-size:0;
	text-indent:-99em;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:3px -313px
}
.info {
	margin-top:10px;
	background:#fff;
	font-size:15px;
	color:#999
}
.info dl {
	min-height:45px;
	line-height:45px;
	border-bottom:1px solid #ececec;
	padding-right:20px;
	position:relative
}
.info dt {
	float:left;
	width:70px;
	line-height:45px;
	position:relative;
	padding-left:20px
}
.info dl:last-of-type dt {
	width:95px
}
.info dd {
	margin-left:90px;
	padding:11px 0 13px;
	line-height:21px;
	min-height:21px;
	position:relative;
	color:#4b4b4b
}
.info dd input,.info dd a {
	color:#4b4b4b
}
.info dl:last-of-type dd {
	margin-left:115px
}
.info input {
	border-style:none;
	width:100%
}
a.set {
	color:#4b4b4b;
	display:block;
	line-height:21px;
	min-height:21px;
	padding-right:10px;
	position:relative
}
a.set::after {
	content:"";
	width:10px;
	height:10px;
	border:1px solid #acacac;
	border-left:none;
	border-bottom:0;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-6px;
	-webkit-transform:rotate(45deg)
}
a.setDefault {
	display:block;
	position:absolute;
	right:0;
	top:8px;
	width:45px;
	height:30px;
	background:#fe6771;
	-webkit-border-radius:15px;
	-webkit-transition:all .2s ease-in-out
}
a.setDefault.locked {
	background:#999
}
a.setDefault i {
	display:block;
	width:24px;
	height:24px;
	-webkit-border-radius:12px;
	background:#fff;
	position:absolute;
	right:3px;
	top:3px;
	-webkit-transition:all .2s ease-in-out
}
a.setDefault.locked i {
	-webkit-transform:translate3d(-15px,0,0)
}
a.delAdr {
	display:block;
	margin-top:10px;
	background:#fff;
	height:45px;
	line-height:45px;
	padding:0 20px;
	font-size:15px;
	color:#fe6771;
	text-align: center;
}
#mrsPage section,#couponPage section {
	padding-bottom:20px;
	background:#fff
}
#couponPage section {
	background:#eee
}
.mrsList {
	background:#fff
}
.mrsList a {
	display:block
}
.mrsList dl {
	padding:16px 20px;
	min-height:72px;
	border-bottom:1px solid #ececec
}
.mrsList .cur dl {
	background:#f4f4f4
}
.mrsList a:last-of-type dl {
	border-bottom:0
}
.mrsList dt {
	float:left;
	width:68px;
	height:68px;
	border:1px solid #ececec;
	-webkit-border-radius:35px;
	overflow:hidden
}
.mrsList dt img {
	width:68px;
	height:68px;
	-webkit-border-radius:39px
}
.mrsList dd {
	margin-left:82px
}
.mrsList dd h3 {
	font-size:15px;
	color:#4b4b4b;
	font-weight:600;
	height:18px;
	line-height:18px;
	position:relative
}
.mrsList dd h3 code {
	display:inline-block;
	width:10px;
	height:12px;
	vertical-align:0;
	margin-left:3px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:-30px -443px
}
.mrsList dd h3 code.male {
	background-position:-30px -414px
}
.mrsList dd h3.served::before {
	content:"服务过";
	font-weight:normal;
	display:inline-block;
	width:35px;
	height:14px;
	line-height:14px;
	font-size:9px;
	color:#fff;
	position:absolute;
	left:52px;
	top:1px;
	text-align:center;
	background:#fe6771;
	-webkit-border-radius:4px
}
.mrsList dd h3.served::after {
	content:"";
	width:0;
	height:0;
	border-bottom:2px solid #fe6771;
	border-right:2px solid #fe6771;
	border-top:2px solid transparent;
	border-left:2px solid transparent;
	position:absolute;
	left:48px;
	top:6px
}
.mrsList .wenxiu dd h3.served::before {
	left:67px
}
.mrsList .wenxiu dd h3.served::after {
	left:63px
}
.mrsList dd h3 i {
	font-weight:normal;
	float:right;
	padding-left:14px;
	font-size:12px;
	color:#acacac;
	font-style:normal;
	display:inline-block;
	height:16px;
	line-height:16px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -81px
}
.mrsList dd p:nth-of-type(1) {
	line-height:16px;
	font-size:12px;
	color:#acacac;
	padding:3px 0;
	min-height:32px
}
.mrsList dd p:nth-of-type(2) {
	font-size:12px;
	color:#7d7d7d;
	height:16px;
	line-height:16px
}
.mrsList dd p:nth-of-type(2) i:nth-child(2) {
	display:inline-block;
	vertical-align:-3px;
	width:16px;
	height:16px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -386px
}
.mrsList dd p:nth-of-type(2) i:nth-child(1) {
	display:inline-block;
	vertical-align:-3px;
	width:16px;
	height:16px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:-29px -386px
}
.exChange {
	padding:5px 0 10px;
	height:32px;
	padding-right:52px;
	position:relative
}
.cardCode {
	border-style:none;
	padding:0 0 0 8px;
	display:block;
	width:95%;
	height:32px;
	line-height:32px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	font-size:12px;
	color:#9b9b9b
}
.cardSmt,a.cardSmt {
	position:absolute;
	right:0;
	top:5px;
	border-style:none;
	display:inline-block;
	padding:0 8px;
	text-align:center;
	height:33px;
	line-height:33px;
	background:#fe6771;
	font-size:15px;
	color:#fdfdfd;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px
}
.noCard {
	display:block;
	background:#dadada;
	width:100%;
	height:34px;
	line-height:34px;
	text-align:center;
	font-size:12px;
	color:#fff;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	margin:15px 0
}
.carditem {
	background:#fff;
	overflow:hidden;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-border-radius:4px;
	overflow:hidden;
	margin-bottom:15px;
	position:relative
}
.carditem.about::before {
	content:"即将过期";
	height:16px;
	line-height:18px;
	text-align:center;
	font-size:9px;
	width:60px;
	-webkit-transform:rotate(-45deg);
	position:absolute;
	left:-15px;
	top:7px;
	background:#fe6671;
	color:#fff
}
.carditem.coming::before {
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:rgba(0,0,0,.7) url(../images/lock.png) 44% center no-repeat;
	background-size:14px auto;
	z-index:100
}
.carditem.coming::after {
	content:"即将开启";
	font-size:12px;
	color:#fff;
	height:20px;
	line-height:20px;
	width:50px;
	text-align:center;
	position:absolute;
	left:47%;
	top:28px;
	z-index:100
}
.carditem code {
	font-style:normal;
	font-weight:normal;
	position:absolute;
	right:16px;
	top:14px;
	width:25px;
	height:15px;
	line-height:15px;
	text-align:center;
	font-size:11px;
	color:#fff;
	-webkit-border-radius:3px;
	background:#fe6771
}
.carditem.store code {
	background:#fc6
}
.carditem dt {
	float:left;
	width:70px;
	padding-left:10px;
	height:75px;
	line-height:75px;
	text-align:center;
	position:relative;
	color:#fe6671;
	border-right:1px dashed #ccc
}
.carditem dt span:first-child {
	font-size:27px;
	font-weight:600
}
.carditem dt span:last-child {
	font-size:12px
}
.carditem dd:first-of-type {
	margin-left:96px;
	padding-right:32px;
	position:relative;
	height:75px
}
.carditem dd:first-of-type h4 {
	padding-top:12px;
	height:20px;
	line-height:20px;
	color:#fe6771;
	font-size:12px;
	font-weight:600;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.carditem dd:first-of-type p {
	font-size:11px;
	color:#999;
	line-height:16px;
	height:16px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.carditem dd:first-of-type p:last-of-type {
	font-size:9px
}
a.j_cardDetail {
	display:block;
	position:absolute;
	right:14px;
	top:44px;
	width:18px;
	height:18px;
	border:1px solid #999;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-transform:rotate(45deg)
}
a.j_cardDetail i {
	display:inline-block;
	position:absolute;
	left:3px;
	top:3px;
	width:8px;
	height:8px;
	border:1px solid #999;
	border-left:none;
	border-top:0
}
a.j_cardDetail.unfold {
	-webkit-transform:rotate(-135deg)
}
.carditem dd:last-of-type {
	display:none;
	padding:10px 12px;
	line-height:15px;
	font-size:10px;
	color:#9b9b9b;
	border-top:1px solid #eee;
	-webkit-transition:'all' .2s ease-in-out
}
.carditem.out dt,.carditem.used dt {
	color:#ccc
}
.carditem.out dd:first-of-type h4,.carditem.used dd:first-of-type h4 {
	color:#ccc
}
.carditem.out dd:first-of-type p,.carditem.used dd:first-of-type p {
	color:#ccc
}
.carditem.out code,.carditem.used code {
	background:#ccc!important
}
.carditem.out dd:last-of-type,.carditem.used dd:last-of-type {
	color:#ccc!important
}
.couponList {
	padding:15px 20px 20px
}
.itemlist {
	background:#fff;
	margin-top:15px
}
.itemlist .item {
	margin:0 20px
}
.itemlist .item dd:first-of-type p:last-of-type {
	font-size:11px;
	height:21px;
	line-height:21px;
	color:#999;
	font-weight:normal
}
.itemlist .item dd:first-of-type p:last-of-type span {
	color:#fe6771;
	margin:0;
	text-decoration:none;
	padding:0 2px
}
.pkgList {
	margin-top:15px;
	background:#f8f8f8
}
.pkgList h3 {
	font-weight:normal;
	font-size:12px;
	color:#acacac;
	height:28px;
	line-height:28px;
	padding:0 20px
}
.usepkgitem {
	background:#fff;
	padding:0 20px;
	margin-bottom:5px
}
.usepkgitem:last-child {
	margin-bottom:0
}
.usepkgitem h4 {
	font-weight:normal;
	font-size:14px;
	color:#4b4b4b;
	height:24px;
	line-height:24px;
	padding-top:16px
}
.usepkgitem h4 span {
	float:right
}
.pkgitem {
	position:relative;
	border-bottom:1px solid #ececec;
	padding:10px 0
}
.pkgitem:last-child {
	border:0
}
.pkgitem p:first-child {
	font-size:12px;
	color:#4b4b4b;
	height:20px;
	line-height:20px
}
.pkgitem p:nth-child(2) {
	font-size:11px;
	color:#acacac;
	height:18px;
	line-height:18px
}
.pkgitem p:nth-child(2) span {
	color:#fe6771;
	padding:0 2px
}
.pkgitem p:last-child {
	position:absolute;
	right:0;
	bottom:15px;
	height:24px;
	-webkit-border-radius:4px;
	overflow:hidden
}
.pkgitem p:last-child.fold {
	width:24px
}
.pkgitem p:last-child a.minus {
	float:right;
	display:block;
	border:1px solid #dfdfdf;
	-webkit-border-radius:4px 0 0 4px;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:24px;
	color:#999
}
.pkgitem p:last-child.fold a.minus {
	display:none
}
.pkgitem p:last-child a.minus::after {
	content:"";
	width:12px;
	height:1px;
	background:#999;
	position:absolute;
	left:5px;
	top:11px
}
.pkgitem p:last-child span {
	float:right;
	display:block;
	padding:0 10px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #d2d2d2;
	height:22px;
	line-height:22px;
	font-size:18px;
	color:#999
}
.pkgitem p:last-child a.add {
	float:right;
	display:block;
	border:1px solid #fe6771;
	background:#fe6771;
	-webkit-border-radius:0 4px 4px 0;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-size:24px;
	color:#fff
}
.pkgitem p:last-child a.odd {
	background:#a1a1a1;
	border-color:#a1a1a1
}
.geoinfo {
	background:#f8f8f8;
	height:40px;
	padding:0 20px;
	position:relative
}
.geoinfo::after {
	content:"";
	width:10px;
	height:10px;
	border:1px solid #dadada;
	border-left:none;
	border-bottom:0;
	-webkit-transform:rotate(45deg);
	position:absolute;
	right:20px;
	top:14px
}
.geoinfo a {
	display:block;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#fe6771;
	padding-left:16px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -68px
}
.noPos {
	font-size:12px;
	color:#acacac;
	line-height:22px;
	text-align:center;
	margin:50px auto
}
.noPos a {
	padding:0 5px;
	color:#fe6771;
	text-decoration:underline
}
.mrs-loading {
	margin:50px auto;
	width:54px;
	padding-top:35px;
	height:25px;
	line-height:25px;
	font-size:12px;
	color:#acacac;
	background:url(../images/loading_logo.gif) top center no-repeat;
	background-size:35px auto
}
.mrs-wrap {
	margin-top:10px
}
.store-wrap {
	margin-bottom:20px
}
.noStore {
	font-size:12px;
	color:#acacac;
	height:25px;
	line-height:25px;
	text-align:center;
	margin:50px auto
}
.storeinfo {
	margin-top:10px
}
.storeinfo .mrs-choose {
	display:block;
	position:relative
}
.storeinfo .mrs-choose::after {
	content:"";
	width:10px;
	height:10px;
	border:1px solid #acacac;
	border-left:none;
	border-top:0;
	-webkit-transform:rotate(-45deg);
	position:absolute;
	right:0;
	top:20px
}
.store-item {
	padding:20px 20px 0;
	background:#fff
}
.store-item dt {
	float:left;
	width:52px;
	height:52px;
	background:url(..images/store_bg.png) no-repeat;
	background-size:52px auto
}
.store-item dt img {
	width:52px;
	height:52px;
	-webkit-border-radius:4px
}
.store-item dd {
	margin-left:68px;
	min-height:52px
}
.store-item dd h4 {
	font-size:15px;
	color:#626262;
	font-weight:600;
	height:22px;
	line-height:22px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.store-item dd a.store {
	display:block;
	position:relative
}
.store-item dd a.store::after {
	content:"";
	width:10px;
	height:10px;
	border:1px solid #cacaca;
	border-left:none;
	border-bottom:0;
	-webkit-transform:rotate(45deg);
	position:absolute;
	right:2px;
	top:20px
}
.storeinfo .store-item dd h4 {
	color:#4b4b4b;
	height:20px;
	line-height:20px
}
.store-item dd p {
	margin-top:4px;
	height:26px;
	line-height:26px;
	font-size:11px;
	color:#626262
}
.storeinfo .store-item dd p {
	margin-top:0;
	height:16px;
	line-height:16px;
	color:#acacac;
	font-size:12px
}
.storeinfo .store-item dd p i {
	display:inline-block;
	width:10px;
	height:12px;
	vertical-align:-1px;
	margin-left:3px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:-30px -443px
}
.storeinfo .store-item dd p i.male {
	background-position:-30px -414px
}
.store-item dd p i {
	vertical-align:-2px;
	margin-right:5px;
	display:inline-block;
	width:15px;
	height:15px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -414px
}
.store-item dd:nth-of-type(even),.poswrap {
	margin:15px 0 0 0;
	padding:10px 0;
	min-height:25px;
	border-top:1px solid #ececec;
	padding-right:41px;
	position:relative
}
.store-item dd:nth-of-type(even) .pos,.poswrap .pos {
	display:block;
	line-height:25px;
	font-size:12px;
	color:#626262
}
.store-item dd:nth-of-type(even) .pos i,.poswrap .pos i {
	display:inline-block;
	vertical-align:middle;
	width:18px;
	height:25px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:0 -438px
}
.store-item dd:nth-of-type(even) .tel,.poswrap .tel {
	position:absolute;
	right:0;
	top:50%;
	margin-top:-12px;
	display:block;
	width:40px;
	height:25px;
	border-left:1px solid #ececec;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:12px -467px
}
.nomale {
	background:#f8f8f8;
	height:27px;
	line-height:27px;
	padding:0 20px;
	color:#ffb762;
	font-size:11px
}
.nomale i {
	display:inline-block;
	width:11px;
	height:13px;
	vertical-align:middle;
	margin-right:3px;
	background:url(../images/all_book6.png) no-repeat;
	background-size:40px auto;
	background-position:-29px -370px
}
.declare {
	background:#f8f8f8;
	height:30px;
	line-height:30px;
	padding:0 20px;
	font-size:11px;
	color:#ffb762;
	border-bottom:1px solid #ececec
}
.store-wrap .mrsList {
	position:relative
}
.mrs-unfold {
	cursor:pointer;
	position:absolute;
	right:20px;
	bottom:-13px;
	display:block;
	width:26px;
	height:26px;
	border:1px solid #c9c9c9;
	-webkit-border-radius:14px;
	background:#fff
}
.mrs-unfold::after {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-5px;
	margin-top:-7px;
	content:"";
	width:10px;
	height:10px;
	border:1px solid #c9c9c9;
	border-top:0;
	border-left:none;
	-webkit-transform:rotate(45deg);
	-webkit-transition:all .3s linear
}
.mrs-fold::after {
	-webkit-transform:rotate(-135deg);
	margin-left:-5px;
	margin-top:-4px
}
#mb {
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.8);
	z-index:100
}
.tab {
	width:100%;
	height:45px;
	background:#fff;
	position:absolute;
	left:0;
	top:51px
}
.tab li {
	float:left;
	width:50%;
	height:45px;
	line-height:45px;
	text-align:center;
	position:relative
}
.tab li:first-child::after {
	content:"";
	width:1px;
	height:45px;
	background:#ececec;
	position:absolute;
	right:0;
	top:0
}
.tab li.cur {
	background:#f8f8f8;
	color:#fe6771
}
.tab li.cur a {
	color:#fe6771
}
.tab li a {
	font-size:14px;
	color:#626262
}