
{template 'header'}
<div class="container" id="container">
<div class="weui_tab">
  <div class="weui_tab_bd">
    <div class="hd">
      <h1 class="page_title">排行榜</h1>
    </div>
    <div class="bd">
      <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd">前10名</div>
        <div class="weui_panel_bd" id="list">
          {loop $user $item}
          <a href="javascript:;" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
              <img class="weui_media_appmsg_thumb" style="border-bottom: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;" src="{$item['headimgurl']}">
            </div>
            <div class="weui_media_bd">
              <h4 class="weui_media_title">{$item['nickname']}</h4>
              <p class="weui_media_desc">发布了{php echo ($user_count[$item['uid']]['count']?:0)}张图片，收获了{$item['income']}元</p>
            </div>
          </a>
          {/loop}
        </div>
      </div>
    </div>
  </div>
</div>
{template 'footer'}
<!---bbs_heirui_cn-->