{template 'header'}
<body ontouchstart="" class="platform_mobile">
<div class="qsc-alert" style="display: none;">
<i class="info-base64"></i><span></span>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-white icon-loading-base64"><i class="icon-white icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-loading-base64"><i class="icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<header class="qsc-bar bar-fixed bar-tab bar-line-sm headroom headroom--pinned headroom--top" id="headroom">
<a href="{php echo $this->createMobileUrl('index')}" class="tab-item"><i class="icon icon-arrow-left"></i><span>轻松筹</span></a>
<a href="{php echo $this->createMobileUrl('report')}" class="tab-item"><i class="icon icon-message-sm"></i><span>举报</span></a>
<a href="{php echo $this->createMobileUrl('center')}" class="tab-item"><i class="icon icon-user-sm"></i><span>我的</span></a>
</header>
<div class="content-main mod-project-detail top bottom project-173b952e-9720-4258-a660-2713dec5ecf9" data-id="1109113" data-uuid="173b952e-9720-4258-a660-2713dec5ecf9">
<div class="mod-project-card funding">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/1926e4b1-ca4b-44fc-b19c-545ae0dec057">
<img class="lazy-load" src="http://wx.qlogo.cn/mmopen/TqF5M9icicMRq74QRUzItcic1TIOlfVamCTUjcCZmMPY61Lm0FaibFuyTLLK3X4TialfvHJLaqic204XOPoJXR1A43ibOhr1BCA9Vmh/96" data-original="http://wx.qlogo.cn/mmopen/TqF5M9icicMRq74QRUzItcic1TIOlfVamCTUjcCZmMPY61Lm0FaibFuyTLLK3X4TialfvHJLaqic204XOPoJXR1A43ibOhr1BCA9Vmh/96" width="40" height="40" alt="众筹   舌尖上的脐橙----正宗江西特产赣南脐橙——为家乡果园筹一场！" style="display: inline;">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/1926e4b1-ca4b-44fc-b19c-545ae0dec057">
<span>z先生</span>
<p class="mod-project-card_header__time">2天前</p>
</a>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>¥8000</strong></span>
<span>已筹<strong>¥3723</strong></span>
<span>支持<strong>56</strong>次</span>
</div>
</div>
<div class="mod-project-card_content">
<header class="mod-project-card_content__header">
<span class="ribbon labels">剩余 14天</span>
<h2>众筹 舌尖上的脐橙----正宗江西特产赣南脐橙——为家乡果园筹一场！</h2>
</header>
<div class="mod-project-card_content__detail view-body">
舌尖上的橙子--中国江西赣州脐橙之乡--为自家果园筹一场<br>
我的承诺：<br>
1、完全自然成熟，绝不打蜡催熟。(打蜡浸果是市场上的不良商贩，为了延长保质期和外观好看，人为处理的方法，尤其是浸果，对果子损伤很大，危害大家健康，各位亲要注意甄别）<br>
2、保证新鲜、带新鲜枝叶发货。新鲜度可直观验证。<br>
3、保证水份和甜度，这是橙子的根本。<br>
4、定制加厚纸箱包装，承担运输风险。<br>
5、物美价廉，冰糖橙均为自家果园采摘，省去收购商，经销商，批发商等诸多环节，用低价的成本做出高逼格的品质。<br>
6、橙子自然成熟后，我将优选果园第一批高逼格的赣南脐橙橙，当天采摘，当天发货，第一时间让您品尝到新鲜正宗的涌水冰糖橙。<br>
</div>
<div class="mod-project-card_content__img clearfix">
<a href="" class="fancybox" rel="fancybox-173b952e-9720-4258-a660-2713dec5ecf9">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/502/173b952e-9720-4258-a660-2713dec5ecf9/thumb_144508634648890188a7.jpg" src="http://images.qingsongchou.com/files/qschou.com/project/502/173b952e-9720-4258-a660-2713dec5ecf9/thumb_144508634648890188a7.jpg" width="31%" alt="众筹   舌尖上的脐橙----正宗江西特产赣南脐橙——为家乡果园筹一场！" style="display: inline;">
</a>

</div>
</div>
</div>
<div class="reward-lists">
<div class="title-line">
<h4>回报内容</h4>
</div>


<div class="reward-lists-item clearfix">
<div class="reward-lists-item-img">
<img src="http://static.qingsongchou.com/img/project/icon-reward-thumb_2x.png" width="60" height="60">
</div>
<div class="reward-lists-item-text">
<h6>支持 <strong>198元</strong><small>支持<strong>1</strong>份</small></h6>
<p>2015年新鲜下树赣南脐橙20斤装精品果2箱！</p>
</div>
</div>
</div>
		<div class="mod-project-support ajax-loading" data-number="10">
			
			<div class="mod-project-support_item item J_tpl clearfix"
				data-id="3244105">
				<div class="mod-project-support_item__user">
					<a href="/user/index/797baebd-6716-472b-9954-752778a2d4d3"> <img
						class="lazy-load"
						src="http://wx.qlogo.cn/mmopen/TqF5M9icicMRpe3gFjAJwsMpsNQbr1U3TVujCjGibPbkiaWrIau6KEhWeeibBs1kNMegiccZqwRlDe9W7gSVrYBGTkRg/96"
						data-original="http://wx.qlogo.cn/mmopen/TqF5M9icicMRpe3gFjAJwsMpsNQbr1U3TVujCjGibPbkiaWrIau6KEhWeeibBs1kNMegiccZqwRlDe9W7gSVrYBGTkRg/96"
						width="40" alt="Water" style="display: inline;">
					</a>
				</div>
				<div class="mod-project-support_item__detail">
					<i class="arrow-shadow"></i> <i class="arrow"></i>
					<h6>
						Water<small> 支持了 <strong>3元</strong></small>
					</h6>
					<p>支持</p>
					<div class="mod-project-support_item__detail__comment">
						<header>
							21分钟前 <span class="publish_comment"><i
								class="icon icon-comment"></i></span>
						</header>
						<article>
							<span class="publish_comment" data-name="Water"
								data-uuid="797baebd-6716-472b-9954-752778a2d4d3"
								data-id="2372964"><strong>Water: </strong>玩玩</span>
						</article>
					</div>
				</div>
			</div>
			
			<div class="loading" id="loading">
				<a
					href="http://m.qschou.com/ajax/support/173b952e-9720-4258-a660-2713dec5ecf9/6"
					data-remote="true" onclick="return false;"><i></i>加载更多</a>
			</div>
			<div class="qsc-logo-mark">
				<a href=""></a>
			</div>
		</div>
	</div>
<footer class="qsc-bar bar-fixed bar-tab bar-support bar-173b952e-9720-4258-a660-2713dec5ecf9">
<span class="tab-item" id="btn-follow" data-url="http://m.qschou.com/project/follow/173b952e-9720-4258-a660-2713dec5ecf9"><i class="icon icon-follow"></i>关注<small>27</small></span>
<a href="{php echo $this->createMobileUrl('attend')}" class="tab-item btn-support"><span>我要参与</span></a>
<span class="tab-item project-bar-share"><i class="icon icon-share-o"></i>分享<small>38</small></span>
</footer>

<div class="project-manage-modal"></div>
<script type="text/javascript" src="../addons/water_3jzc/template/js/project.min.js"></script>

</body></html>