<html class="hairlines"><head>
<meta charset="utf-8">
<title>{$title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="../addons/water_o2o/template/css/mobile.min.css">
<script type="text/javascript">
            var fileNumLimit = 9;
            var queryParam = '';
            var logged = '';
            var clientId = '';
            var projectUrl = '';
            var platform = 'mobile';
            var geo = '39.7781490000,116.5569460000';
</script>
<style type="text/css">.fancybox-margin{margin-right:0px;}</style></head>
