{template 'header'}
<body ontouchstart="" class="platform_mobile">
<div class="qsc-alert" style="display: none;">
<i class="info-base64"></i><span></span>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-white icon-loading-base64"><i class="icon-white icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-loading-base64"><i class="icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<header class="qsc-bar bar-fixed bar-tab bar-line line headroom headroom--top" id="headroom">
<a href="{php echo $this->createMobileUrl('index')}" class="tab-item"><span>推荐筹款</span></a>
<a href="{php echo $this->createMobileUrl('indexexample')}" class="tab-item active"><span>精选案例</span></a>
</header>
<div class="content-fixed top-inline">
<div class="lib-banner swiper-container">
<div class="swiper-wrapper" style="padding-left: 444.5px; padding-right: 444.5px; width: 1242px; height: 120px; transform: translate3d(-828px, 0px, 0px); transition-duration: 0.3s;"><div class="swiper-slide swiper-slide-visible">
<a href="http://event.qingsongchou.com/aircraft" title="0元众筹大疆飞行器"><img src="http://cdn.qingsongchou.com/event/dajiang/banner.jpg" alt="0元众筹大疆飞行器"></a>
</div>
<div class="swiper-slide swiper-slide-visible">
<a href="http://event.qingsongchou.com/aircraft" title="0元众筹大疆飞行器"><img src="http://cdn.qingsongchou.com/event/dajiang/banner.jpg" alt="0元众筹大疆飞行器"></a>
</div>
<div class="swiper-slide swiper-slide-visible swiper-slide-active">
<a href="http://event.qingsongchou.com/aircraft" title="0元众筹大疆飞行器"><img src="http://cdn.qingsongchou.com/event/dajiang/banner.jpg" alt="0元众筹大疆飞行器"></a>
</div></div>
<div class="banner-pagination"><span class="swiper-pagination-switch swiper-visible-switch swiper-visible-switch swiper-visible-switch swiper-active-switch"></span></div>
</div>
</div>
<div class="content-main bottom">
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/f920930d-bfe0-4d51-b968-9751be7cfb1f">
<img class="lazy-load" src="http://wx.qlogo.cn/mmopen/AkLbgrI0CCkXMwxLhtYiaa2QQxGZ5VK31vwNds7H2fgZbKbIo9HwKQ4T1LVEcVwLl7wAmvKkmYUSFicz73dCznoDFQuM6aT30c/96" data-original="http://wx.qlogo.cn/mmopen/AkLbgrI0CCkXMwxLhtYiaa2QQxGZ5VK31vwNds7H2fgZbKbIo9HwKQ4T1LVEcVwLl7wAmvKkmYUSFicz73dCznoDFQuM6aT30c/96" width="40" height="40" alt="小小7岁双胞胎，双双患白血病，渴望您的帮助，期盼上天的眷顾，还他们健康快乐的童年" style="display: inline;">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/f920930d-bfe0-4d51-b968-9751be7cfb1f">
<span>辉哥</span>
<p class="mod-project-card_header__time">1月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/a0e84ffb-8574-4b41-8ea1-3179bc632435">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>小小7岁双胞胎，双双患白血病，渴望您的帮助，期盼上天的眷顾，还他们健康快乐的童年</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/a0e84ffb-8574-4b41-8ea1-3179bc632435">
<p class="description">
何辉：360124198603190638联系电话：15083510998江西省南 </p>
</a><p><a href="/project/a0e84ffb-8574-4b41-8ea1-3179bc632435">
</a><a href="/project/a0e84ffb-8574-4b41-8ea1-3179bc632435">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/515/a0e84ffb-8574-4b41-8ea1-3179bc632435/thumb_14413627102228720f69.jpg" src="http://images.qingsongchou.com/files/qschou.com/project/515/a0e84ffb-8574-4b41-8ea1-3179bc632435/thumb_14413627102228720f69.jpg" width="23%" alt="小小7岁双胞胎，双双患白血病，渴望您的帮助，期盼上天的眷顾，还他们健康快乐的童年" style="display: inline;">
</a>
<a href="/project/a0e84ffb-8574-4b41-8ea1-3179bc632435">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/515/a0e84ffb-8574-4b41-8ea1-3179bc632435/thumb_14413670558915720f69.jpg" src="http://images.qingsongchou.com/files/qschou.com/project/515/a0e84ffb-8574-4b41-8ea1-3179bc632435/thumb_14413670558915720f69.jpg" width="23%" alt="小小7岁双胞胎，双双患白血病，渴望您的帮助，期盼上天的眷顾，还他们健康快乐的童年" style="display: inline;">
</a>
<a href="/project/a0e84ffb-8574-4b41-8ea1-3179bc632435">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/515/a0e84ffb-8574-4b41-8ea1-3179bc632435/thumb_14413671359006720f69.jpg" src="http://images.qingsongchou.com/files/qschou.com/project/515/a0e84ffb-8574-4b41-8ea1-3179bc632435/thumb_14413671359006720f69.jpg" width="23%" alt="小小7岁双胞胎，双双患白血病，渴望您的帮助，期盼上天的眷顾，还他们健康快乐的童年" style="display: inline;">
</a>
<a href="/project/a0e84ffb-8574-4b41-8ea1-3179bc632435">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/515/a0e84ffb-8574-4b41-8ea1-3179bc632435/thumb_14413671532082720f69.jpg" src="http://images.qingsongchou.com/files/qschou.com/project/515/a0e84ffb-8574-4b41-8ea1-3179bc632435/thumb_14413671532082720f69.jpg" width="23%" alt="小小7岁双胞胎，双双患白血病，渴望您的帮助，期盼上天的眷顾，还他们健康快乐的童年" style="display: inline;">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>1</strong>项</span>
<span>已达<strong>1</strong>项</span>
<span>支持<strong>6202</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/443e7866-4a5e-44d1-bf11-ea665cea312e">
<img class="lazy-load" src="http://images.qingsongchou.com/files/qingsongchou.com/avatar/40/443e7866-4a5e-44d1-bf11-ea665cea312e/thumb_14374786022820aeb1e.jpg" data-original="http://images.qingsongchou.com/files/qingsongchou.com/avatar/40/443e7866-4a5e-44d1-bf11-ea665cea312e/thumb_14374786022820aeb1e.jpg" width="40" height="40" alt="37.5元买全智能IE酒店，年年收益免费住！" style="display: inline;">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/443e7866-4a5e-44d1-bf11-ea665cea312e">
<span>把旅行照进现实</span>
<p class="mod-project-card_header__time">3月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/84600bf0-f795-47b1-8bbe-630e3ce2e481">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>37.5元买全智能IE酒店，年年收益免费住！</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/84600bf0-f795-47b1-8bbe-630e3ce2e481">
<p class="description">
37.5元买全智能IE酒店，年年收益免费住！众筹主体：中国首家全智能IE酒店37.5°MT </p>
</a><p><a href="/project/84600bf0-f795-47b1-8bbe-630e3ce2e481">
</a><a href="/project/84600bf0-f795-47b1-8bbe-630e3ce2e481">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/850/84600bf0-f795-47b1-8bbe-630e3ce2e481/thumb_14374469780938a7e76f.png" src="http://images.qingsongchou.com/files/qingsongchou.com/project/850/84600bf0-f795-47b1-8bbe-630e3ce2e481/thumb_14374469780938a7e76f.png" width="23%" alt="37.5元买全智能IE酒店，年年收益免费住！" style="display: inline;">
</a>
<a href="/project/84600bf0-f795-47b1-8bbe-630e3ce2e481">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/850/84600bf0-f795-47b1-8bbe-630e3ce2e481/thumb_1437446991262907ab71.png" src="http://images.qingsongchou.com/files/qingsongchou.com/project/850/84600bf0-f795-47b1-8bbe-630e3ce2e481/thumb_1437446991262907ab71.png" width="23%" alt="37.5元买全智能IE酒店，年年收益免费住！" style="display: inline;">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>¥1000000</strong></span>
<span>已筹<strong>¥2113837.5</strong></span>
<span>支持<strong>880</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card funding">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/5cb8c13b-ea08-45c3-b6fa-ab0e9c365e1b">
<img class="lazy-load" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEK8v0GmpO1v5v2gOw1NghCwowBuMfMkEo7XTJiazyLbVKJWSELC8wjbQ3oXXxqyMY7kp3FdKFxp2NQ/96" data-original="http://wx.qlogo.cn/mmopen/PiajxSqBRaEK8v0GmpO1v5v2gOw1NghCwowBuMfMkEo7XTJiazyLbVKJWSELC8wjbQ3oXXxqyMY7kp3FdKFxp2NQ/96" width="40" height="40" alt="吃海鲜！享两年分红！让2000元变成8440元！泰州天水雅居，等你来赚！" style="display: inline;">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/5cb8c13b-ea08-45c3-b6fa-ab0e9c365e1b">
<span>郑金伟泰州天水雅居</span>
<p class="mod-project-card_header__time">6天前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/8209a711-066b-4fe9-99d3-8a9a28cda105">
<header class="mod-project-card_content__header">
<span class="ribbon labels">剩余 23天</span>
<h2>吃海鲜！享两年分红！让2000元变成8440元！泰州天水雅居，等你来赚！</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/8209a711-066b-4fe9-99d3-8a9a28cda105">
<p class="description">
事先声明：本次众筹的店铺位于江苏省泰州市天水雅居（泰州万达），望大家购买时妥善考虑自己所在 </p>
</a><p><a href="/project/8209a711-066b-4fe9-99d3-8a9a28cda105">
</a><a href="/project/8209a711-066b-4fe9-99d3-8a9a28cda105">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/29/8209a711-066b-4fe9-99d3-8a9a28cda105/thumb_14450721526117d66a1c.jpg" src="http://images.qingsongchou.com/files/qschou.com/project/29/8209a711-066b-4fe9-99d3-8a9a28cda105/thumb_14450721526117d66a1c.jpg" width="23%" alt="吃海鲜！享两年分红！让2000元变成8440元！泰州天水雅居，等你来赚！" style="display: inline;">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>¥2000000</strong></span>
<span>已筹<strong>¥2000</strong></span>
<span>支持<strong>1</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/c781be25-363a-4695-8be2-a4998c5bde6a">
<img class="lazy-load" src="http://images.qingsongchou.com/files/qschou.com/avatar/607/c781be25-363a-4695-8be2-a4998c5bde6a/thumb_14401378295682f0a4f2.jpg" data-original="http://images.qingsongchou.com/files/qschou.com/avatar/607/c781be25-363a-4695-8be2-a4998c5bde6a/thumb_14401378295682f0a4f2.jpg" width="40" height="40" alt="你愿意让缺水地区的孩子听一听水的声音吗？" style="display: inline;">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/c781be25-363a-4695-8be2-a4998c5bde6a">
<span>第一财经“财商童星”训练营</span>
<p class="mod-project-card_header__time">2月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/95cfce08-faea-4a1f-9ae1-ea47c797d07e">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>你愿意让缺水地区的孩子听一听水的声音吗？</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/95cfce08-faea-4a1f-9ae1-ea47c797d07e">
<p class="description">
这个八月，第一财经《财商童星》训练营联合“父母堂”微信公众号，发起一场水环境公益保卫战。首 </p>
</a><p><a href="/project/95cfce08-faea-4a1f-9ae1-ea47c797d07e">
</a><a href="/project/95cfce08-faea-4a1f-9ae1-ea47c797d07e">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/238/95cfce08-faea-4a1f-9ae1-ea47c797d07e/thumb_144013666056894c197a.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="你愿意让缺水地区的孩子听一听水的声音吗？">
</a>
<a href="/project/95cfce08-faea-4a1f-9ae1-ea47c797d07e">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/238/95cfce08-faea-4a1f-9ae1-ea47c797d07e/thumb_14401366605772d69ae6.gif" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="你愿意让缺水地区的孩子听一听水的声音吗？">
</a>
<a href="/project/95cfce08-faea-4a1f-9ae1-ea47c797d07e">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/238/95cfce08-faea-4a1f-9ae1-ea47c797d07e/thumb_14401366660792d06c04.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="你愿意让缺水地区的孩子听一听水的声音吗？">
</a>
<a href="/project/95cfce08-faea-4a1f-9ae1-ea47c797d07e">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/238/95cfce08-faea-4a1f-9ae1-ea47c797d07e/thumb_1440136691817439c9ae.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="你愿意让缺水地区的孩子听一听水的声音吗？">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>4</strong>项</span>
<span>已达<strong>4</strong>项</span>
<span>支持<strong>1554</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/0e900d9f-9141-4bcc-8aa8-245374a59c9d">
<img class="lazy-load" src="../addons/water_o2o/template/img/grey.png" data-original="http://images.qingsongchou.com/files/qschou.com/avatar/228/0e900d9f-9141-4bcc-8aa8-245374a59c9d/thumb_14401223382268720f69.jpg" width="40" height="40" alt="纪念抗战胜利70周年-向温州抗战老兵致敬">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/0e900d9f-9141-4bcc-8aa8-245374a59c9d">
<span>CHE</span>
<p class="mod-project-card_header__time">2月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/324e4ce4-fd19-4ef7-8a9e-c14da35002f8">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>纪念抗战胜利70周年-向温州抗战老兵致敬</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/324e4ce4-fd19-4ef7-8a9e-c14da35002f8">
<p class="description">
抗战胜利70周年—暨向温州抗战老兵致敬典礼1937年7月 </p>
</a><p><a href="/project/324e4ce4-fd19-4ef7-8a9e-c14da35002f8">
</a><a href="/project/324e4ce4-fd19-4ef7-8a9e-c14da35002f8">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/152/324e4ce4-fd19-4ef7-8a9e-c14da35002f8/thumb_1440133291276720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="纪念抗战胜利70周年-向温州抗战老兵致敬">
</a>
<a href="/project/324e4ce4-fd19-4ef7-8a9e-c14da35002f8">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/152/324e4ce4-fd19-4ef7-8a9e-c14da35002f8/thumb_14401332910555720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="纪念抗战胜利70周年-向温州抗战老兵致敬">
</a>
<a href="/project/324e4ce4-fd19-4ef7-8a9e-c14da35002f8">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/152/324e4ce4-fd19-4ef7-8a9e-c14da35002f8/thumb_14401332914148720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="纪念抗战胜利70周年-向温州抗战老兵致敬">
</a>
<a href="/project/324e4ce4-fd19-4ef7-8a9e-c14da35002f8">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/152/324e4ce4-fd19-4ef7-8a9e-c14da35002f8/thumb_14401332923198720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="纪念抗战胜利70周年-向温州抗战老兵致敬">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>1</strong>项</span>
<span>已达<strong>1</strong>项</span>
<span>支持<strong>230</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/702afab7-c740-4184-8c17-e0481cf6bd1d">
<img class="lazy-load" src="../addons/water_o2o/template/img/grey.png" data-original="http://images.qingsongchou.com/files/qschou.com/avatar/696/702afab7-c740-4184-8c17-e0481cf6bd1d/thumb_14452331420439720f69.jpg" width="40" height="40" alt="100元众筹  和渝乡辣婆婆一起做美食帝国的创客">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/702afab7-c740-4184-8c17-e0481cf6bd1d">
<span>渝乡辣婆婆</span>
<p class="mod-project-card_header__time">2月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/331c3c35-a81b-464f-9867-9e05e02555a2">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>100元众筹 和渝乡辣婆婆一起做美食帝国的创客</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/331c3c35-a81b-464f-9867-9e05e02555a2">
<p class="description">
渝乡辣婆婆首届众筹获得巨大成功！不足十分钟集结完毕百位美食达人！第二波众筹来袭，你还在等吗 </p>
</a><p><a href="/project/331c3c35-a81b-464f-9867-9e05e02555a2">
</a><a href="/project/331c3c35-a81b-464f-9867-9e05e02555a2">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/979/331c3c35-a81b-464f-9867-9e05e02555a2/thumb_14398663149131720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="100元众筹  和渝乡辣婆婆一起做美食帝国的创客">
</a>
<a href="/project/331c3c35-a81b-464f-9867-9e05e02555a2">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/979/331c3c35-a81b-464f-9867-9e05e02555a2/thumb_14398663152343720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="100元众筹  和渝乡辣婆婆一起做美食帝国的创客">
</a>
<a href="/project/331c3c35-a81b-464f-9867-9e05e02555a2">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/979/331c3c35-a81b-464f-9867-9e05e02555a2/thumb_14398663150676720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="100元众筹  和渝乡辣婆婆一起做美食帝国的创客">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>¥50000</strong></span>
<span>已筹<strong>¥50000</strong></span>
<span>支持<strong>500</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/2170a28a-0413-45d1-b0d0-a91378a42214">
<img class="lazy-load" src="../addons/water_o2o/template/img/grey.png" data-original="http://images.qingsongchou.com/files/qingsongchou.com/avatar/125/2170a28a-0413-45d1-b0d0-a91378a42214/thumb_14394612103846f49779.png" width="40" height="40" alt="天津8.12爆炸事故紧急救援项目">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/2170a28a-0413-45d1-b0d0-a91378a42214">
<span>天使云</span>
<p class="mod-project-card_header__time">2月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>天津8.12爆炸事故紧急救援项目</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72">
<p class="description">
事件：8月12日天津滨海新区发生爆炸事故。截至13日中午12时，爆炸事故共造成44人死亡， </p>
</a><p><a href="/project/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72">
</a><a href="/project/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/599/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72/thumb_14395212338611cc396a.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="天津8.12爆炸事故紧急救援项目">
</a>
<a href="/project/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/599/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72/thumb_14395212504718e08de.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="天津8.12爆炸事故紧急救援项目">
</a>
<a href="/project/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/599/2e1a44a8-32a1-44c7-a705-b1c86c7e6b72/thumb_14395212540509e9d449.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="天津8.12爆炸事故紧急救援项目">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>1</strong>项</span>
<span>已达<strong>1</strong>项</span>
<span>支持<strong>1118</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/9f0c65ee-7845-41b6-a819-bc7a4b3a4464">
<img class="lazy-load" src="../addons/water_o2o/template/img/grey.png" data-original="http://wx.qlogo.cn/mmopen/Q3auHgzwzM7URJuN9NvlMJ4dGoZ3KfWQ6ibCxPF6s9sUibsPXU7k5vo7kcvPV6o9rEtKicn5usJc8hPaADib2RafkUXS6QPzjWuld3kOv1l4Gho/96" width="40" height="40" alt="把孙悟空和二郎神一起带回家——搜猎人众筹让艺术走进生活">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/9f0c65ee-7845-41b6-a819-bc7a4b3a4464">
<span>搜猎人</span>
<p class="mod-project-card_header__time">2月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/3dc41f9b-f4e0-47d8-995c-788d5436ee9a">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>把孙悟空和二郎神一起带回家——搜猎人众筹让艺术走进生活</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/3dc41f9b-f4e0-47d8-995c-788d5436ee9a">
<p class="description">
选择一幅颜色亮丽的版画挂在单调的白墙上，再无需任何装饰，就使家里明快了很多，让我们参与活动 </p>
</a><p><a href="/project/3dc41f9b-f4e0-47d8-995c-788d5436ee9a">
</a><a href="/project/3dc41f9b-f4e0-47d8-995c-788d5436ee9a">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/524/3dc41f9b-f4e0-47d8-995c-788d5436ee9a/thumb_14394582452858720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="把孙悟空和二郎神一起带回家——搜猎人众筹让艺术走进生活">
</a>
<a href="/project/3dc41f9b-f4e0-47d8-995c-788d5436ee9a">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/524/3dc41f9b-f4e0-47d8-995c-788d5436ee9a/thumb_1439458235754720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="把孙悟空和二郎神一起带回家——搜猎人众筹让艺术走进生活">
</a>
<a href="/project/3dc41f9b-f4e0-47d8-995c-788d5436ee9a">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/524/3dc41f9b-f4e0-47d8-995c-788d5436ee9a/thumb_14394646585093720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="把孙悟空和二郎神一起带回家——搜猎人众筹让艺术走进生活">
</a>
<a href="/project/3dc41f9b-f4e0-47d8-995c-788d5436ee9a">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/524/3dc41f9b-f4e0-47d8-995c-788d5436ee9a/thumb_14394646733245720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="把孙悟空和二郎神一起带回家——搜猎人众筹让艺术走进生活">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>¥10000</strong></span>
<span>已筹<strong>¥12192</strong></span>
<span>支持<strong>151</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/ea8f8f66-2550-456e-b08b-8a15ce75a9f9">
<img class="lazy-load" src="../addons/water_o2o/template/img/grey.png" data-original="http://wx.qlogo.cn/mmopen/hs1dXA7OicRUVJz95jn9beccdLt1xnpMBSb1MNqic98sAPBLfFCa3ce7sB45hJvOJxb7JIZV1zgldlp6ica31b9RdoYqSIGrt8Y/96" width="40" height="40" alt="感恩十三妹所有付出的伙伴们，欢迎打赏">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/ea8f8f66-2550-456e-b08b-8a15ce75a9f9">
<span>🌻🌻子尹🍀</span>
<p class="mod-project-card_header__time">2月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/e419b982-c233-494f-b53e-93b6f2b3b9cb">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>感恩十三妹所有付出的伙伴们，欢迎打赏</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/e419b982-c233-494f-b53e-93b6f2b3b9cb">
<p class="description">
大家好，感谢童鞋们对十三妹的信赖与支持！北京大课成绩斐然，从十三妹诞生至今，属纯公益组织， </p>
</a><p><a href="/project/e419b982-c233-494f-b53e-93b6f2b3b9cb">
</a><a href="/project/e419b982-c233-494f-b53e-93b6f2b3b9cb">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/699/e419b982-c233-494f-b53e-93b6f2b3b9cb/thumb_14383518076534720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="感恩十三妹所有付出的伙伴们，欢迎打赏">
</a>
<a href="/project/e419b982-c233-494f-b53e-93b6f2b3b9cb">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/699/e419b982-c233-494f-b53e-93b6f2b3b9cb/thumb_14384247229722720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="感恩十三妹所有付出的伙伴们，欢迎打赏">
</a>
<a href="/project/e419b982-c233-494f-b53e-93b6f2b3b9cb">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/699/e419b982-c233-494f-b53e-93b6f2b3b9cb/thumb_14384247230858720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="感恩十三妹所有付出的伙伴们，欢迎打赏">
</a>
<a href="/project/e419b982-c233-494f-b53e-93b6f2b3b9cb">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/699/e419b982-c233-494f-b53e-93b6f2b3b9cb/thumb_14384247231235720f69.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="感恩十三妹所有付出的伙伴们，欢迎打赏">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>¥16000</strong></span>
<span>已筹<strong>¥23177.43</strong></span>
<span>支持<strong>132</strong>次</span>
</div>

</div>
</div>
<div class="mod-project-card successful">
<div class="mod-project-card_header clearfix">
<div class="mod-project-card_header__avatar">
<a href="/user/index/1b6df143-4998-4e17-aff2-d2bbfbb1a951">
<img class="lazy-load" src="../addons/water_o2o/template/img/grey.png" data-original="http://wx.qlogo.cn/mmopen/Fv25N5suVrhJicSjMQrsLicsfyicuc2pehJTRScPBgfrRtICs93YXwwXe8JDFicqYzQVZG96icXicZVkHKM4nbXK2MD7YJ9OSHGzlo/96" width="40" height="40" alt="“血染麟甲，龙堕九天”，绝版神器，创造奇迹">
</a>
</div>
<div class="mod-project-card_header__user">
<a href="/user/index/1b6df143-4998-4e17-aff2-d2bbfbb1a951">
<span>9173奇游互动</span>
<p class="mod-project-card_header__time">3月前</p>
</a>
</div>
</div>
<div class="mod-project-card_content">
<a href="/project/718c2ff9-5ae5-45bc-aad1-af46b0866945">
<header class="mod-project-card_content__header">
<span class="ribbon labels">已成功</span>
<h2>“血染麟甲，龙堕九天”，绝版神器，创造奇迹</h2>
</header>
</a><div class="mod-project-card_content__detail"><a href="/project/718c2ff9-5ae5-45bc-aad1-af46b0866945">
<p class="description">
微三国1&amp;三国崛起的君主们，感谢大家对三国游戏团队一如既往的支持，现推出绝版神器（真·天命 </p>
</a><p><a href="/project/718c2ff9-5ae5-45bc-aad1-af46b0866945">
</a><a href="/project/718c2ff9-5ae5-45bc-aad1-af46b0866945">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/141/718c2ff9-5ae5-45bc-aad1-af46b0866945/thumb_1436962178033886c327.png" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="“血染麟甲，龙堕九天”，绝版神器，创造奇迹">
</a>
<a href="/project/718c2ff9-5ae5-45bc-aad1-af46b0866945">
<img class="lazy-load" data-original="http://images.qingsongchou.com/files/qingsongchou.com/project/141/718c2ff9-5ae5-45bc-aad1-af46b0866945/thumb_1437017583584126a826.jpg" src="../addons/water_o2o/template/img/grey.png" width="23%" alt="“血染麟甲，龙堕九天”，绝版神器，创造奇迹">
</a>
</p>
</div>
<div class="mod-project-card_content__status">
<span>目标<strong>¥100000</strong></span>
<span>已筹<strong>¥114000</strong></span>
<span>支持<strong>30</strong>次</span>
</div>

</div>
</div>
</div>
{template 'footer'}
<script type="text/javascript" src="../addons/water_o2o/template/js/index.min.js"></script>

</body></html>