{template 'header'}
<body ontouchstart="" class="platform_mobile">
<div class="qsc-alert" style="display: none;">
<i class="info-base64"></i><span></span>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-white icon-loading-base64"><i class="icon-white icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-loading-base64"><i class="icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
	<div class="top bottom">
		<div class="view-body view-padding">
			<h1>恭喜！注册信息已经提交</h1>
			<p>
				<img alt="Image title" class="fr-fin fr-dib"
					src="http://wysiwyg.qingsongchou.com/files/qingsongchou.com/editor/201510/19/1445225054261509d521.png"
					width="710">
			</p>
			<p>轻松筹作为基于社交圈的众筹平台，在这一年中不断成长。越来越多的小伙伴们看到项目之后，随手就用微信支付很方便的给予了朋友及时的支持。这也是我们最初的心愿，希望每一个小梦想，小希望都得以实现。</p>
			<p>然而随着我们的成长，项目数量不断增加，项目金额不断放大，总筹资额已经超过2个亿，这对于我们轻松筹平台真是一件喜忧参半的事情。喜的是，如此多的金钱与物资已经各尽其用，忧的是，微信支付的端口使用费率为2%。</p>
			<p>微信支付的端口使用费率为2%意味着什么呢？使用过轻松筹筹款的用户都知道，轻松筹提现收取的费用仅为1.5%。余下的这部分0.5%，一直以来都是轻松筹平台贴补资金在运作，而随着项目金额的不断增加，我们无法维持补贴，不得不做出一个艰难的决定：提升费率为2%。</p>
			<p>具体操作如下：</p>
			<p>1、凡在轻松筹平台申请提现的用户，在提现时收取提现金额的2%作为手续费，该费用由支付平台收取。</p>
			<p>2、2015年10月11日0时开始执行，在此之前发起的项目按照1.5%收取费用，在此之后发起的项目按照2%收取费用。</p>
			<p>3、用户余额在2015年11月10日24时之前提取现金，收取1.5%的费用，逾期按照2％收取费用。</p>
			<p>请大家仔细阅读以上通知，轻松筹平台将于2015年10月11日0时开始执行，望大家理解和支持。</p>
			<p>
				<br>
			</p>
		</div>
	</div>
	<style>body{background:#fff;}</style>
<script type="text/javascript" src="../addons/water_o2o/template/js/main.min.js"></script>

</body></html>