{template 'header'}
<body ontouchstart="" class="platform_mobile">
<div class="qsc-alert" style="display: none;">
<i class="info-base64"></i><span></span>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-white icon-loading-base64"><i class="icon-white icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-loading-base64"><i class="icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="content-max top bottom">
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="{php echo $this->createMobileUrl('messagexwinfo',array('id'=>1))}" title="温馨提示：轻松筹社交版提现手续费由1.5%提升至2%">
<header class="mod-project-card_content__header">
<h2>温馨提示：轻松筹社交版提现手续费由1.5%提升至2% <small>1天前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/balance-20151019.png" alt="" style="max-width: 100%;"></p>
<p class="description">
使用过轻松筹筹款的用户都知道，轻松筹提现收取的费用仅为1.5%。余下的这部分0.5%，一直以来都是轻松筹平台贴补资金在运作，而随着项目金额的不断增加，我们无法维持补贴，不得不做出一个艰难的决定：提升费率为2%。 </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/social-app-to-h5" title="轻松筹社交版APP停止更新，请前往轻松筹微信版和PC版">
<header class="mod-project-card_content__header">
<h2>轻松筹社交版APP停止更新，请前往轻松筹微信版和PC版 <small>1月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/social-app-to-h5.jpg" alt="" style="max-width: 100%;"></p>
<p class="description">
由于轻松筹社交版App更新迭代速度缓慢，账户余额等方面出现数据不同步，故烦请您移步轻松筹社交版网站 www.qschou.com或微信公众号“轻松筹” </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/qingsongchou-social-tool-update" title="轻松筹-社交众筹 做最好用的众筹工具，功能更新">
<header class="mod-project-card_content__header">
<h2>轻松筹-社交众筹 做最好用的众筹工具，功能更新 <small>1月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/qingsongchou-update1.jpg" alt="" style="max-width: 100%;"></p>
<p class="description">
功能更新：去掉社交众筹的好友和圈子、新增社交众筹项目举报投诉 </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/qingsongchou-0903-holiday" title="轻松筹抗日战争胜利70周年节假日安排">
<header class="mod-project-card_content__header">
<h2>轻松筹抗日战争胜利70周年节假日安排 <small>1月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://amseye.com/uploads/201508/31/14409895673005.jpg" alt="" style="max-width: 100%;"></p>
<p class="description">
根据国家的放假安排，公司放假时间为9月3日---5日，9月6日正常上班。 </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/iphone6-start" title="只需筹够2888，肾6包邮送到家">
<header class="mod-project-card_content__header">
<h2>只需筹够2888，肾6包邮送到家 <small>11月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/2888_start_header.png" alt="" style="max-width: 100%;"></p>
<p class="description">
只要筹够2888元，肾6包邮送回家喔！ 不多说了，海报看得懂吧！ </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/zhaotuhao" title="找土豪互调侃，趣味轻松筹">
<header class="mod-project-card_content__header">
<h2>找土豪互调侃，趣味轻松筹 <small>1年前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/FindTuhao_1__header.png" alt="" style="max-width: 100%;"></p>
<p class="description">
下面奉上《找土豪攻略》和《支持者调侃攻略》供大家参考。 </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/rotten-draw" title="写烂诗画烂画，这是将会是一件“集体艺术”品！！！">
<header class="mod-project-card_content__header">
<h2>写烂诗画烂画，这是将会是一件“集体艺术”品！！！ <small>10月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/Bullshit_1_header.png" alt="" style="max-width: 100%;"></p>
<p class="description">
剩下最后一天，给大家看看数据，并简单分析，展现一下土豆小姐当年学霸的风采！ </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/thanks-help-luo" title="感恩!请继续帮助罗彩霞同学">
<header class="mod-project-card_content__header">
<h2>感恩!请继续帮助罗彩霞同学 <small>10月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/Save_1_header.png" alt="" style="max-width: 100%;"></p>
<p class="description">
各位朋友，截至17日，经过各方努力及支持，我们已为罗彩霞同学筹齐将于12月初进行的骨髓移植手术押金费用，在此再次代彩霞同学感谢每一位善心人。 </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/youjiyouli-chestnuts" title="这么冷的天你还要出门买糖炒栗子么？！">
<header class="mod-project-card_content__header">
<h2>这么冷的天你还要出门买糖炒栗子么？！ <small>10月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/Chestnuts_header.png" alt="" style="max-width: 100%;"></p>
<p class="description">
【肾给栗】 千人众筹，500年古树板栗，屌丝们的福利！买肾6就靠它给力了！ 产地河北燕山海拔1260米深处，古法手工炒制，精品20袋装礼盒！ 栗为肾之果，素有“千果之王”的美 </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/diaper" title="众筹1000包尿不湿 为残障儿童送温暖">
<header class="mod-project-card_content__header">
<h2>众筹1000包尿不湿 为残障儿童送温暖 <small>10月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/diaper_header.png" alt="" style="max-width: 100%;"></p>
<p class="description">
在深圳市华阳特殊儿童康复中心的孩子们，因为出生就带有某种生理缺陷，被父母遗弃，过着与普通孩子不同的生活，也需要社会上更多的爱与关心。为了让这群孩子的冬天更加温暖，智慧之光IN8团队发起了“给特殊儿童送 </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
<div class="mod-project-card mod-event-card funding">
<div class="mod-project-card_content">
<a href="/news/detail/event-iphon6-end" title="2888元筹iPhone6活动已结束，感谢大家的热心支持！">
<header class="mod-project-card_content__header">
<h2>2888元筹iPhone6活动已结束，感谢大家的热心支持！ <small>11月前</small>
</h2>
</header>
<div class="mod-project-card_content__detail">
<p><img src="http://cdn.qingsongchou.com/news/2888_ip6_header.png" alt="" style="max-width: 100%;"></p>
<p class="description">
50台iPhone6在24小时不到的时间里已经全部被领取，感谢大家的热心支持！ </p>
</div>
<div class="mod-project-card_content__status">
查看详情
<span><i class="icon icon-arrow-right"></i></span>
</div>
</a>
</div>
</div>
</div> 
{template 'footer'}
<script type="text/javascript" src="../addons/water_o2o/template/js/project.min.js"></script>

</body></html>