{template 'header'}
<body ontouchstart="" class="platform_mobile">
<div class="qsc-alert" style="display: none;">
<i class="info-base64"></i><span></span>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-white icon-loading-base64"><i class="icon-white icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-loading-base64"><i class="icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="content-main top bottom">
<div class="mod-message-comment">
<div class="message-comment-item">
<header class="clearfix">
<a href="/message/comment/2372964">
<img src="http://wx.qlogo.cn/mmopen/TqF5M9icicMRpe3gFjAJwsMpsNQbr1U3TVujCjGibPbkiaWrIau6KEhWeeibBs1kNMegiccZqwRlDe9W7gSVrYBGTkRg/96" width="40" height="40" alt="">
<div class="message-comment-item_user">
<h6> Water</h6>
<p>4分钟前</p>
</div>
</a>
</header>
<section>
<a href="/message/comment/2372964">
<div class="message-comment-item_content">
玩玩 </div>
<div class="message-comment-reply_content">
<h6>Water<small> 支持了 </small><strong>3元</strong></h6>
<p>支持</p>
</div>
<div class="project-thumb">
<img class="project-thumb-img lazy-load" data-original="http://images.qingsongchou.com/files/qschou.com/project/502/173b952e-9720-4258-a660-2713dec5ecf9/thumb_144508634648890188a7.jpg" src="http://images.qingsongchou.com/files/qschou.com/project/502/173b952e-9720-4258-a660-2713dec5ecf9/thumb_144508634648890188a7.jpg" width="48" height="48" alt="" style="display: table-cell;">
<div class="project-thumb-title">
<span>众筹 舌尖上的脐橙----正宗江西特产赣南脐橙——为家乡果园筹一场！</span>
</div>
</div>
</a>
</section>
</div>
</div>
</div>
{template 'footer'}
<script type="text/javascript" src="../addons/water_o2o/template/js/project.min.js"></script>

</body></html>