{template 'header'}
<body ontouchstart="" class="platform_mobile">
<div class="qsc-alert" style="display: none;">
<i class="info-base64"></i><span></span>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-white icon-loading-base64"><i class="icon-white icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-loading-base64"><i class="icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="content top bottom">
<div class="qsc-list-group">
<a class="list-item" href="tel:010-84083981">
<span>举报电话:&nbsp;&nbsp; 010-84083981</span>
</a>
</div>
<form action="" method="post">
<div class="btn-group btn-block lib-radio" data-toggle="buttons">
<label for="bank-ecitic" class="btn btn-block">
<input type="radio" id="bank-ecitic" name="payType" value="">
<span>色情</span>
</label>
<label for="bank-cmbc" class="btn btn-block">
<input type="radio" id="bank-cmbc" name="payType" value="">
<span>欺诈骗钱</span>
</label>
<label for="bank-cebbank" class="btn btn-block">
<input type="radio" id="bank-cebbank" name="payType" value="">
<span>侮辱诋毁</span>
</label>
<label for="bank-ccb" class="btn btn-block">
<input type="radio" id="bank-ccb" name="payType" value="">
<span>广告骚扰</span>
</label>
<label for="bank-bankcomm" class="btn btn-block">
<input type="radio" id="bank-bankcomm" name="payType" value="">
<span>政治</span>
</label>
</div>
<div class="footer-btn">
<input class="btn btn-success btn-block btn-lg" value="确认举报" type="submit">
</div>
</form>
</div>
{template 'footer'}
<script type="text/javascript" src="../addons/water_o2o/template/js/main.min.js"></script>

</body></html>