{template 'header'}
<body ontouchstart="" class="platform_mobile">
<div class="qsc-alert" style="display: none;">
<i class="info-base64"></i><span></span>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-white icon-loading-base64"><i class="icon-white icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading-new">
<div class="modal-dialog middle">
<div class="modal-content">
<i class="icon-loading-base64"><i class="icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
</div>
</div>
</div>
<header class="qsc-tab bar-fixed wallet-tab">
<ul class="tab-item nav-tabs-green" role="tablist">
<li role="presentation" {if $type=="all"}class="active"{/if}>
<a href="{php echo $this->createMobileUrl('shopmembers',array('type'=>'all'))}">全部</a>
</li>
<li role="presentation" {if $type=="first"}class="active"{/if}>
<a href="{php echo $this->createMobileUrl('shopmembers',array('type'=>'first'))}">一级</a>
</li>
</ul>
</header>
<div class="content bottom mod-user-wallet tab-content">
<div role="tabpanel" class="tab-pane fade in active">
<div class="mod-user-wallet_list">


</div>
<div class="mod-user-wallet_list">
                {loop $list $item}
				<a href="">
					<div class="mod-user-wallet_list__item clearfix">
						<header>
							<i class="icon"><img
								src="{$item['headimg']}"
								data-original="" width="36" height="36" class="lazy-load"
								style="display: inline;"></i>
							<h6>{$item['nickname']}【{$item['fname']}】</h6>
							<small>{$item['balance']}￥</small>
						</header>
						<footer>
							{$item['mobile']} <span>账户余额</span>
						</footer>
					</div>
				</a>
				{/loop}
</div>
</div>
</div>
{template 'shopfooter'}
<script type="text/javascript" src="../addons/water_o2o/template/js/user.min.js"></script>

</body></html>