{template 'header'}
<body ontouchstart="" class="platform_mobile">
	<div class="qsc-alert" style="display: none;">
		<i class="info-base64"></i><span></span>
	</div>
	<div class="modal qsc-modal qsc-modal-loading" id="qsc-modal-loading"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog middle">
			<div class="modal-content">
				<i class="icon-white icon-loading-base64"><i
					class="icon-white icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
			</div>
		</div>
	</div>
	<div class="modal qsc-modal qsc-modal-loading"
		id="qsc-modal-loading-new">
		<div class="modal-dialog middle">
			<div class="modal-content">
				<i class="icon-loading-base64"><i
					class="icon-loading-box-base64 icon-spin"></i></i><span>加载中</span>
			</div>
		</div>
	</div>
	<div class="content top bottom">
		<form class="qsc-form" method="post" action="{php echo $this->createMobileUrl('doworkerinfo')}" name="itemForm" id="itemForm">
			<div class="input-row first">
				<label for="wname" class="control-label">员工姓名</label> <input
					type="text" id="wname" name="wname" class="control-input"
					placeholder="输入员工名称" value="{$worker['wname']}">
			</div>
			<div class="input-row">
				<label for="mobile" class="control-label">员工电话</label> <input
					type="tel" id="mobile" name="mobile" class="control-input"
					placeholder="输入员工电话" readonly="readonly" value="{$worker['mobile']}">
			</div>
			<div class="input-row">
				<label for="wage" class="control-label">员工年龄</label> <input
					type="number" id="wage" name="wage" class="control-input"
					placeholder="输入员工年龄" value="{$worker['wage']}">
			</div>
			<div class="input-row">
				<label for="wyears" class="control-label">员工工龄</label> <input
					type="number" id="wyears" name="wyears" class="control-input"
					placeholder="输入员工工龄" value="{$worker['wyears']}">
			</div>
			<div class="input-row">
				<label for="wcity" class="control-label">所在省市</label> <input
					type="text" id="wcity" name="wcity" class="control-input"
					placeholder="输入员工所在省市" value="{$worker['wcity']}">
			</div>										
			<div class="input-row">
				<label for="wdesc" class="control-label">员工简介</label>
				<textarea rows="3" id="wdesc" name="wdesc" class="control-input"
					placeholder="输入员工描述">{$worker['wdesc']}</textarea>
			</div>
			{if $worker['sid'] == "0"}		
			<div class="input-row">
				<label for="wyears" class="control-label">休息区间</label> <input
					type="number" id="wxxrange" name="wxxrange" class="control-input"
					placeholder="{$system['wkxxrangemin']}~{$system['wkxxrangemax']}范围内数字，单位:分钟" value="{if empty($worker['wxxrange'])}{$system['wkxxrangemin']}{else}{$worker['wxxrange']}{/if}">
			</div>															
			{/if}
<!-- 			<div class="input-row lib-options">
				<input type="hidden" name="defaultstate" value="0"> 
				<input type="checkbox" name="defaultstate" id="defaultstate" value="1"> 
				<label for="defaultstate" class="radius pull-right"></label>
				<p class="form-control-static">服务上架</p>
			</div> -->
			<input type="hidden" name="workerid" value="{$worker['id']}">
			<div class="content-main footer-btn">
				<input type="submit" name="save-action"
					class="btn btn-success btn-lg btn-block" value="保存">
			</div>
		</form>
	</div>
	<script type="text/javascript"
		src="../addons/water_o2o/template/js/user.min.js"></script>

</body>
</html>