<footer class="qsc-bar bar-fixed bar-tab global-bar">
<!-- <a href="{php echo $this->createMobileUrl('index')}" class="tab-item {if $active == 1}active{/if}"><i class="icon-tabbar bar-home"></i>首页</a> -->
<a href="{php echo $this->createMobileUrl('workorder')}" class="tab-item badgePublish {if $active == 2}active{/if}"><i class="icon-tabbar bar-message"><span class="badge badge-danger"></span></i>订单</a>
<a href="{php echo $this->createMobileUrl('workerentry')}" class="tab-item  {if $active == 3}active{/if}"><i class="icon icon-tabbar bar-user"></i>工作</a>
</footer>
