<div style="height:35px;line-hegith:35px;color:#ff0000;">注：未认证的订阅号是无法进行摇奖的！</div>
<div class="clearfix">
	<div class="panel panel-info">
		<div class="panel-heading">回复内容配置</div>
		<div class="panel-body">
			
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:15%;">回复内容</label>
					<div class="col-sm-8 col-xs-12">
							<textarea class="form-control" style="width:70%;height:60px;" name="param[reply]" id="" type="text">{$replys['reply']}</textarea>(粉丝回复此关键词系统回复该内容作为参与回复)
					</div>
				</div>


		</div>
	</div>
</div>