<div class="panel panel-default">
<div class="panel-heading">
<div class="panel-title">
<h3>临时工</h3>
</div>
</div>
<div class="panel-body table-responsive">
<table class="table">
<thead>
<tr>
<th>信息编号</th>
<th>姓名</th>
<th>特长</th>

<th>电话</th>
<th>有效期</th>
<th>发布时间</th>
<th>操作</th>
</tr>
</thead>
<tbody>
{loop $linshi $key $linshi}
<tr>
<td>
<a href="{php echo $this->createMobileUrl('job',array('vid'=>$linshi['id']));}" target="_blank">{$linshi['id']}</a> | {if $linshi['pid'] == 1}未审核
{elseif $linshi['pid'] == 2}真实
{elseif $linshi['pid'] == 3}假
{else}未审核
{/if}
</td>
<td>{$linshi['linshiname']}</td>
<td>{$linshi['linshispecial']}</td>
<td>{$linshi['tel']}</td>
<td>{php echo date("Y-m-d H:i:s",strtotime($linshi['validity']));}</td>
<td>{php echo date('Y-m-d H:i:s',$linshi['time'])}</td>
<td><a href="{php echo $this->createWebUrl('infoedit',array('vid'=>$linshi['id'],'pid'=>'2'));}">真</a> | <a href="{php echo $this->createWebUrl('infoedit',array('vid'=>$linshi['id'],'pid'=>'3'));}">假</a> | <a href="{php echo $this->createWebUrl('infoedit',array('vid'=>$linshi['id'],'pid'=>'4'));}">删除</a> | 编辑</td>
</tr>
{/loop}
</tbody>
</table>
</div>
</div>

