body {TEXT-ALIGN: center;}

#tiger_poster2 {
	width: 320px;
	height: 504px;
	border: 1px solid #ccc;
	position: relative;
	MARGIN-RIGHT: auto; MARGIN-LEFT: auto;
	z-index:999;
	display:none;

}

#tiger_poster2 .newimg {
	position: relative;
	width: 100%;
	z-index: 0;
	MARGIN-RIGHT: auto; MARGIN-LEFT: auto;

}

#tiger_poster {
	width: 320px;
	height: 504px;
	border: 1px solid #ccc;
	position: relative;
	MARGIN-RIGHT: auto; MARGIN-LEFT: auto;

}


#tiger_poster .drag {
	position: absolute;
	width: 80px;
	height: 80px;
	border: 0px solid #000;

}

#tiger_poster .bg {
	position: relative;
	width: 100%;
	z-index: 0;
	MARGIN-RIGHT: auto; MARGIN-LEFT: auto;

}

#tiger_poster .drag[type=name] {
	width: 80px;
	height: 40px;
	font-size: 16px;
	font-family: 黑体;
}

#tiger_poster .drag[type=dec] {
	width: 80px;
	height: 40px;
	font-size: 16px;
	font-family: 黑体;
	float:left;
	TEXT-ALIGN: left;
}

#tiger_poster .drag img {
	position: relative;
	z-index: 0;
	width: 100%;
	height:auto;
	MARGIN-RIGHT: auto; MARGIN-LEFT: auto;
}
