{template 'common/header'}
	<ul class="nav nav-tabs">
        <li class="active" ><a href="{php echo $this->createWebUrl('manage',array('op' => 'display'))}">活动管理</a></li>
		<!-- <li><a href="./index.php?c=platform&a=reply&do=post&m={php echo $this->modulename}">添加活动</a></li> -->
	</ul>
    <style>
    th{
        text-align: center !important;
    }
    td{
        text-align: center !important;
        white-space: normal !important;
        word-break: break-all !important;
    }
    </style>
{if $op == 'display'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">
            活动列表
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead class="navbar-inner">
                     <tr>
                        <th style="width: 5%;">编号</th>
                        <th style="width: 35%;">活动名称</th>
                        <th style="width: 15%;">关键词</th>
                        <th style="width: 20%;">操作</th>
                     </tr>
                </thead>
                <tbody>
                    {loop $list $l}
                        <tr>            
                            <td class="row-first">{$l['id']}</td>
                            <td>{$l['title']} </td>
                            <td>{$l['content']} </td>
                            <td align="center">
                                <a href="{php echo $this->createWebUrl("manage",array("op"=>"player","rid"=>$l["rid"]))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="SN"><i class="fa fa-bar-chart-o"></i> 参与用户</a>
                                <a class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" href="{php echo url('platform/reply/post',array('m'=>'aj_webjump','rid'=>$l['rid']));}" title="编辑"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" href="{php echo url('platform/reply/delete', array('m'=>'aj_webjump','rid'=>$l['rid']));}" onclick="return confirm('此操作将同时删除活动的数据,确定要删除吗?')" title="删除"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {/loop}
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{elseif $op == 'player'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">
            活动概览
        </div>
        <div class="panel-body">
            <div class="alert" style="margin-bottom:0;">
                <span  class="btn btn-warning btn-sm">参与人数：{$total} </span>
                <a href="{php echo $this->createWebUrl('export',array('rid'=>$rid))}" class="btn btn-primary btn-sm">导出用户数据</a>
            </div>
        </div>
    </div>
    <div style="padding:15px;background: white;">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th>微信头像</th>
                    <th>姓名</th>
                    <th>活动码</th>
                    <th>手机号码</th>
                    <th>获取时间</th>
                    <th>最后更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $l}
                <tr>
                    <td><img src="{$l['avatar']}" style="width: 50px;height: 50px;"><br>{$l['nickname']}</td>
                    <td>{$l['realname']}</td>
                    <td>{$l['openid']}</td>
                    <td>{$l['mobile']}</td>
                    <td>{$l['usertime']}</td>
                    <td>{$l['lasttime']}</td>                                   
                    <td>
                    <a onclick="return confirm('删除后数据将不可恢复，确定删除吗？')" href='{php echo $this->createWebUrl("manage",array("op"=>"delete","id"=>$l["id"]))}' class="btn btn-danger btn-sm">删除</a>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
{/if}
{template 'common/footer'}