@charset "utf-8";
/****************
 * @description : 美道家H5专题页
 * @author   : 轩昂  <408717649@qq.com>
 * @date     : 2015-04-20
 ****************/

/*css reset*/
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer,dl,dt,dd{margin:0;padding:0}
body{font-size:14px;font-family: "sans-serif";color:#221815;background:#f0eff5;min-width:320px;-webkit-touch-callout:none;-webkit-text-size-adjust: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-user-select: none;}
h1,h2,h3,h4,h5,h6{font-size:100%}
form{display:inline}
ul,ol{list-style:none}
a{text-decoration:none;color:#444;cursor:pointer;}
a:active{color:#aaa;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{font-size:100%; vertical-align:middle;outline:none;font-family: "sans-serif";}
input.password_field {-webkit-text-security: disc;} 
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0}
table { border-collapse:collapse; border-spacing:0}
ul,dl{cursor: pointer;}
.fl{float:left;}.fr{float:right;}.hide{display:none;}.show{display: block;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.break { word-break:break-all; word-wrap:break-word}
header, footer, article, section, nav, menu, hgroup {display: block;clear:all;}
.clearfix:after{content:'\0020';display:block;height:0;clear:both}.clearfix{*zoom:1}
.hide{ display: none !important;}

/*顶部*/
header{ position: fixed; left: 0; top: 0; width: 100%; height: 50px; background: #fdfdfd; z-index: 500; border-bottom: 1px solid #dadada;}
header h1{ text-align: center; font-size: 17px; height: 50px; line-height: 50px; font-weight: 600; color: #626262;}
a.tel{ position: absolute; right: 0; top: 0; display: block; width: 50px; height: 50px; background: url(http://static.emeidaojia.com/static/all_612.png) no-repeat; background-size: 100px auto; background-position: 15px 16px;}
.prev{ position: absolute; left: 0; top: 0; display: block; width: 50px; height: 50px; background: url(http://static.emeidaojia.com/static/all_book.png) no-repeat; background-size: 40px auto; background-position: 15px -22px;}

body{ background: #eee;}
section{ margin: 66px 0 61px;}

.bind{ padding: 0 20px; background: #fff;}
.bindInput, .verify{ padding-right: 74px; height: 24px; padding: 13px 0 12px; position: relative; border-bottom: 1px solid #ececec;}
.bindInput input::-webkit-input-placeholder, .verify input::-webkit-input-placeholder{ color: #626262; font-size: 15px;}
.bindInput input, .verify input{ border-style: none; display: block; width: 100%; height: 24px; line-height: 24px; font-size: 15px; color: #626262;}
.bindInput a.post{ position: absolute; right: 0; top: 11px; -webkit-border-radius: 3px; text-align: center; width: 74px; height: 28px; line-height: 28px; background: #fe6771; color: #fff; font-size: 12px;}
.bindInput a.post.time{ background: #dadada;}
.verify{ border-bottom: none;}
a.rePost{ display: inline-block; height: 24px; line-height: 24px; padding: 0 12px; -webkit-border-radius: 12px; font-size: 12px; color: #acacac; background: #eee; position: absolute; right: 0; top: 13px;}
a#bind{ display: block; margin: 15px 30px; height: 45px; line-height: 45px; color: #fff; font-size: 15px; text-align: center; background: #fe6771; -webkit-border-radius: 4px;}
.foot{ text-align: center; font-size: 10px; color: #8f8e94;}
.agreement{ padding: 0 30px; font-size: 12px; color: #626262;}

#loading{ z-index: 500; font-size: 13px; color: #fff; line-height: 24px; padding-top: 90px; padding-bottom: 5px; text-align: center; width: 150px; position: fixed; left: 50%; top: 30%; margin-left: -75px; margin-top: -55px; background: rgba(0,0,0,.8);  -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-animation-duration: 0.4s;}
#loading span{ display: block; width: 37px; height: 37px; position: absolute; left: 57px; top: 38px; background: url(http://static.emeidaojia.com/static/all_quan.png) no-repeat; background-size: 320px auto; background-position: -11px -17px;}
#loading .fail{ background-position: -130px -16px;}
#loading .succ{ background-position: -69px -16px;}