{template 'header'}
<div class="container" style="">
	<div class="row" style="margin-bottom:5px;margin-top:5px;">
		<div class="row" style="margin-bottom:10px;">
				<div class="col-xs-3" style="display:{if !empty($lists)}block{else}none{/if};">
					<a href="{php echo $this->createmobileurl('index')}">
						<img style="height:60px;width:60px;border-radius:5px;" src="{MODULE_URL}js/index.jpg" alt="" /> 
						<div class="text-center">全部</div>
					</a>
				</div>

			{loop $lists $category}
				<div class="col-xs-3">
					<a href="{php echo $this->createmobileurl('index',array('cateid'=>$category['displayorder']))}">
						<img style="height:60px;width:60px;border-radius:5px;" src="{php echo tomedia($category['thumb']);}" alt="{$category['title']}" />
						<div class="text-center">{$category['title']}</div>
					</a>
				</div>
			{/loop}
		</div>
	</div>
</div>
<!-- 商家列表开始 -->
<div class="containar">
	{if !empty($shops)}
		<div class = "col-xs-12" style="background:;padding:5px;" >	
			{loop $shops $key $item}
				
				<div class="card" style="height:100px;background:#00cc66;margin:0px 0px 10px 0px;border-radius:5px;padding:5px;">
					<a id="shopindex{$key}" href="{php echo $_W['siteroot'].$this->createmobileurl('shop',array('userid'=>$item['id']))}" >
					 <div class="col-xs-3" style="height:90px;padding-left:0px;" > 
						
							<img class="img-circle"  src="{php echo tomedia($item['logo'])}"></img>
						
					 </div> 
					<div class="col-xs-5" style="height:100%;margin:0 auto;padding:0px;background:;">
						<div style="height:33%;overflow:hidden;">
							<p class="title" style="text-align:center;white-space:nowrap;"><span id="name{$key}" style="margin-left:auto;margin-right:auto;" >{$item['shopname']}</span></p>
							
						</div>
						<div style="height:33%">
							<p style="text-align:center;color: #fff;">查看商家卡券</p>
						</div>
						<div style="height:33%;overflow:hidden;">
							<p style="color:#000;text-align:center;"><span style="margin-left:auto;margin-right:auto;" >{php echo cutstr($item['add'],9,true)}</span></p>
						</div>
					</div>
					</a>
					<div class="col-xs-4" style="height:100px;padding-right:0px;">
						<div style="height:55%">
							<p class= "distance" id="distance{$key}" style="color:#fff;text-align:center;height: 40%;">定位中..</p>
						</div>
						<div style="height:33%">
							<p style="width:99%;margin-left:auto;margin-right:auto;text-align:center;"><button class="btn btn-default look" id="{$key}"  onclick="javascript:bd(110,39,111,38);"bd>去看看</button></p>
						</div>
					</div>
					<span id="lat{$key}" type="hidden" class="lat" style="display: none;">{$item['lat']}</span>
					<span id="lng{$key}" type="hidden" class="lng"  style="display: none;">{$item['lng']}</span>
					
				</div>
				
			{/loop}
		</div>
		{else}
		<div class="row" align="center">
			<p style="text-align: ceter">抱歉!没有找到您搜索的商家</p>
		</div>
		{/if}
		
</div>
<!-- 商家列表结束 -->
<div class="hw-overlay" id="hw-layer-info" style="margin-top:50px;height:90%;">
	<div class="hw-layer-wrap">
		<a class="close hwLayer-close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
		<div class="row" id="hw-layer-info" style="height:80%;margin-bottom:10px;">
			{php echo htmlspecialchars_decode($this->module['config']['content']);}	
									
		</div>
	</div>
</div>	
</div>
</body>
<script type="text/javascript">
$(function(){

	$('#info-btn').hwLayer({
		tapLayer: true
	});
});	

$(function() {  
    $(".hwslider").hwSlider({
    	autoPlay:true,
    	height:320,
    	start:2
    });  
});

$(".search").click(function(){
	
	var key = $('#keyword').val();
	if (key!='') {
		location.href='{php echo $this->createmobileurl("shopsearch")}&key='+key; 
	}else{
		swal("请先输入关键词");
	};
	 

});

function bd(lat1,lng1,lat2,lng2){

	// 百度地图API功能
	var map = new BMap.Map();
	var pointA = new BMap.Point(lng1,lat1);  // 创建点坐标A
	var pointB = new BMap.Point(lng2,lat2);  // 创建点坐标B
	return (map.getDistance(pointA,pointB)/1000).toFixed(2);  //获取两点距离,保留小数点后两位
	

}

$("#search").click(function(){
	
	var key = $('#keyword').val();
	if (key!='') {
		location.href='{php echo $this->createmobileurl("shopsearch")}&key='+key; 
	}else{
		swal("请先输入关键词");
	};
});

 wx.ready(function(){

 	wx.getLocation({
	    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
	    success: function (res) {
	        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
	        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
	        var speed = res.speed; // 速度，以米/每秒计
	        var accuracy = res.accuracy; // 位置精度
	         //swal(latitude+"-"+longitude);
	        // var url = "http://api.map.baidu.com/geoconv/v1/?coords="+latitude+","+longitude+"&from=1&to=5&ak=SAWFFdzmw4fHr32dA7a1dL48";
	        for (var i = 0; i < $(".distance").length; i++) {
	        	var lat2 = $("#lat"+i).html();
	        	var lng2 = $("#lng"+i).html();
	        	var jl = bd(latitude,longitude,lat2,lng2);
	        	//alert(jl);
	        	var t ="距离:\n";
	        	$("#distance"+i).text(jl+"KM");
	        };
	        $.post("{php echo $this->createmobileurl('index',array('op'=>'location'))}",{lat:latitude,lng:longitude},function(data){
	        	$("#addr").text(data.addr);
	        },"json");
	    },
	    cancel: function(res){
	    	$("#addr").text("您取消了定位");
	    	$(".distance").text("定位失败");
	    }
	});

 	$(".look").on("click",function(){
 		var id = $(this).attr("id");
 		//swal($("#shopindex"+id).attr("href"));
 		
 		wx.openLocation({
		    latitude: $("#lat"+id).html(), // 纬度，浮点数，范围为90 ~ -90
		    longitude: $("#lng"+id).html(), // 经度，浮点数，范围为180 ~ -180。
		    name: $("#name"+id).html(), // 位置名
		    address: $("#add"+id).html(), // 地址详情说明
		    scale: 28, // 地图缩放级别,整形值,范围从1~28。默认为最大
		    infoUrl: $("#shopindex"+id).attr("href") // 在查看位置界面底部显示的超链接,可点击跳转
		});
 	});

	sharedata = {
		title: '{$title}',
		desc: '{$desc}',
		link: '',
		imgUrl: '{$img}',
		success: function(){
			swal({
			title:'分享成功了！谢谢支持',
			text:'大家一起领券赚奖励',
			//imageUrl:'{$img}',
			html:false
			
			}, function(){
				location.href = "{$settings['href']}";

			});
		},
		cancel: function(){ 
			swal({
			title:"分享了可以得到奖励哦，真的要取消吗？",
			showCancelButton:true
			});
		}
	};
	wx.onMenuShareAppMessage(sharedata);
	wx.onMenuShareTimeline(sharedata);
	wx.onMenuShareQZone(sharedata);
	wx.onMenuShareQQ(sharedata);
	
});


</script>		

{template "common/footer"}