body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,a,blockquote,th,i,u {
	margin:0;
	padding:0;
	border:0
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%
}
ol,ul {
	list-style:none
}
u,i {
	font-size:12px;
	font-weight:normal;
	font-style:normal
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img {
	border:0
}
html {
	width:100%;
	height:100%
}
body {
	width:100%;
	height:100%;
	color:#000;
	background:#fff;
	font:12px Arial,'黑体'
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	zoom:1
}
.fl {
	float:left;
	display:inline-block;
	*display:inline
}
.fr {
	float:right;
	display:inline-block;
	*display:inline
}
.loading-bg {
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	background-color:rgba(0,0,0,0.8)
}
.loading {
	display:none;
	width:44px;
	height:44px;
	line-height:44px;
	background-color:#434343;
	border-radius:5px;
	font-size:13px;
	color:#fff;
	position:fixed;
	z-index:999;
	top:50%;
	left:50%;
	margin-left:-22px;
	margin-top:-22px
}
.loading span {
	display:block;
	width:24px;
	height:24px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-12px 0 0 -12px;
	-webkit-animation:loading 2s infinite linear;
	background:url(../../images/table/loading.gif) 0 0 no-repeat;
	background-size:24px 24px
}
@-webkit-keyframes loading {
	from {
	-webkit-transform:rotate(0) translateZ(0)
}
to {
	-webkit-transform:rotate(360deg) translateZ(0)
}
}.showTips {
	display:none;
	padding:12px;
	background-color:#434343;
	border-radius:5px;
	font-size:13px;
	color:#fff;
	position:fixed;
	z-index:9999;
	top:50%;
	left:50%;
	margin-left:-38px;
	margin-top:-22px
}
.add-title {
	font-size:16px;
	font-weight:bold;
	text-align:center;
	height:60px;
	line-height:60px
}
.add-con {
	padding:10px 0
}
.add-con-c {
	padding:0 10px
}
.add-con-c p {
	font-size:14px;
	color:#aaa;
	padding:5px
}
.add-con-c p input {
	width:100%;
	height:40px;
	line-height:40px;
	padding:0 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:1px solid #ccc;
	border-radius:5px
}
.select-theme ul {
	width:100%
}
.select-theme ul li {
	float:left;
	width:29%;
	margin-right:3%;
	margin-bottom:10px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	font-size:14px;
	color:#666
}
.select-theme ul li.cur {
	background-color:#ef4d38;
	border:1px solid #ef4d38;
	color:#fff
}
.add-but {
	padding:10px 5px
}
.add-but a {
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#fa0;
	font-size:18px;
	color:#fff;
	text-decoration:none;
	border-radius:5px
}
.add-eventList {
	width:100%;
	display:none
}
.event-list {
	width:100%
}
.event-list li {
	padding:10px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-top:10px;
	background-color:#fff
}
.event-list li a {
	text-decoration:none
}
.event-list li h2 {
	font-size:16px;
	height:36px;
	line-height:36px;
	color:#000
}
.event-list li p {
	font-size:12px;
	height:24px;
	line-height:24px;
	color:#999
}
.Add-success {
	display:none;
	width:80%;
	height:124px;
	padding:10px 0;
	position:fixed;
	z-index:19;
	left:10%;
	top:50%;
	margin-top:-62px;
	background:url(../../images/table/bg.gif) no-repeat;
	border-radius:5px;
	box-shadow:0 2px 5px #000
}
.Add-success p {
	text-align:center;
	height:60px;
	line-height:60px;
	color:#f5e0ca;
	font-size:18px
}
.Add-success-but {
	text-align:center
}
.Add-success-but a {
	display:inline-block;
	width:200px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#f90;
	border-radius:5px;
	border:2px solid #fff;
	color:#fff;
	font-size:18px;
	color:#fff;
	text-decoration:none
}
.warp-top {
	width:100%;
	height:30px;
	background-color:rgba(0,0,0,.25);
	overflow:hidden
}
.warp-top ul li {
	width:100%;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:14px;
	text-align:center
}
.warp-top ul li span {
	color:#fa0;
}
.warp-title {
	height:36px;
	line-height:36px;
	padding:0 10px;
	font-size:14px;
	color:#fff;
	position:relative
}
.warp-title span {
	color:rgba(255,255,255,.5);
}
.warp-title a {
	display:block;
	height:28px;
	line-height:28px;
	color:#fff;
	position:absolute;
	top:4px;
	right:10px;
	padding:0 8px;
	text-decoration:none;
	background:#fa0;
	border-radius:3px;
}
.warp-con {
	overflow:hidden;
	visibility:hidden;
	position:relative
}
.warp-con ul {
	overflow:hidden;
	position:relative
}
.warp-list {
	float:left;
	width:100%;
	/*height:100%;*/
	position:relative
}
.warp-list-t {
	padding-left:10px
}
.warp-list-t span {
	display:inline-block;
	height:30px;
	line-height:30px;
	padding:0 10px;
	color:#fff;
	background-color:#fa0;
	border-radius:5px
}
.warp-list-c {
	width:290px;
	height:290px;
	position:relative;
	margin:-20px auto 0 auto
}
.warp-list-c-bg {
	width:260px;
	height:260px;
	position:absolute;
	top:15px;
	left:15px;
	border-radius:100%;
	overflow:hidden;
	z-index:0
}
.warp-list-c-bg img {
	display:block;
	width:260px;
	height:260px;
	border-radius:100%
}
.warp-list-c-con {
	width:290px;
	height:290px;
	position:absolute;
	top:0;
	left:0;
	z-index:9
}
.warp-list-c-con span {
	display:block;
	width:40px;
	height:40px;
	border:2px solid #fff;
	border-radius:100%;
	position:absolute
}
.warp-list-c-con span img {
	display:block;
	width:40px;
	height:40px;
	border-radius:100%
}
.warp-list-c-con.list10 span:nth-child(1) {
	top:0;
	left:83px
}
.warp-list-c-con.list10 span:nth-child(2) {
	top:0;
	left:156px
}
.warp-list-c-con.list10 span:nth-child(3) {
	top:44px;
	left:216px
}
.warp-list-c-con.list10 span:nth-child(4) {
	top:116px;
	left:245px
}
.warp-list-c-con.list10 span:nth-child(5) {
	top:185px;
	left:216px
}
.warp-list-c-con.list10 span:nth-child(6) {
	top:229px;
	left:156px
}
.warp-list-c-con.list10 span:nth-child(7) {
	top:229px;
	left:83px
}
.warp-list-c-con.list10 span:nth-child(8) {
	top:185px;
	left:23px
}
.warp-list-c-con.list10 span:nth-child(9) {
	top:116px;
	left:0
}
.warp-list-c-con.list10 span:nth-child(10) {
	top:44px;
	left:23px
}
.warp-list-c-con.list2 span:nth-child(1) {
	top:0;
	left:123px
}
.warp-list-c-con.list2 span:nth-child(2) {
	top:245px;
	left:123px
}
.warp-list-c-con.list3 span:nth-child(1) {
	top:0;
	left:123px
}
.warp-list-c-con.list3 span:nth-child(2) {
	top:190px;
	left:230px
}
.warp-list-c-con.list3 span:nth-child(3) {
	top:190px;
	left:10px
}
.warp-list-c-con.list4 span:nth-child(1) {
	top:40px;
	left:215px
}
.warp-list-c-con.list4 span:nth-child(2) {
	top:205px;
	left:215px
}
.warp-list-c-con.list4 span:nth-child(3) {
	top:205px;
	left:35px
}
.warp-list-c-con.list4 span:nth-child(4) {
	top:40px;
	left:35px
}
.warp-list-c-con.list5 span:nth-child(1) {
	top:0;
	left:123px
}
.warp-list-c-con.list5 span:nth-child(2) {
	top:75px;
	left:235px
}
.warp-list-c-con.list5 span:nth-child(3) {
	top:210px;
	left:205px
}
.warp-list-c-con.list5 span:nth-child(4) {
	top:210px;
	left:40px
}
.warp-list-c-con.list5 span:nth-child(5) {
	top:75px;
	left:10px
}
.warp-list-c-con.list6 span:nth-child(1) {
	top:0;
	left:123px
}
.warp-list-c-con.list6 span:nth-child(2) {
	top:70px;
	left:230px
}
.warp-list-c-con.list6 span:nth-child(3) {
	top:190px;
	left:230px
}
.warp-list-c-con.list6 span:nth-child(4) {
	top:245px;
	left:123px
}
.warp-list-c-con.list6 span:nth-child(5) {
	top:190px;
	left:10px
}
.warp-list-c-con.list6 span:nth-child(6) {
	top:70px;
	left:10px
}
.warp-list-c-con.list7 span:nth-child(1) {
	top:0;
	left:123px
}
.warp-list-c-con.list7 span:nth-child(2) {
	top:55px;
	left:225px
}
.warp-list-c-con.list7 span:nth-child(3) {
	top:150px;
	left:235px
}
.warp-list-c-con.list7 span:nth-child(4) {
	top:230px;
	left:180px
}
.warp-list-c-con.list7 span:nth-child(5) {
	top:230px;
	left:70px
}
.warp-list-c-con.list7 span:nth-child(6) {
	top:155px;
	left:10px
}
.warp-list-c-con.list7 span:nth-child(7) {
	top:50px;
	left:25px
}
.warp-list-c-con.list8 span:nth-child(1) {
	top:0;
	left:83px
}
.warp-list-c-con.list8 span:nth-child(2) {
	top:0;
	left:176px
}
.warp-list-c-con.list8 span:nth-child(3) {
	top:88px;
	left:230px
}
.warp-list-c-con.list8 span:nth-child(4) {
	top:190px;
	left:225px
}
.warp-list-c-con.list8 span:nth-child(5) {
	top:235px;
	left:152px
}
.warp-list-c-con.list8 span:nth-child(6) {
	top:230px;
	left:65px
}
.warp-list-c-con.list8 span:nth-child(7) {
	top:165px;
	left:5px
}
.warp-list-c-con.list8 span:nth-child(8) {
	top:65px;
	left:5px
}
.warp-list-c-con.list9 span:nth-child(1) {
	top:0;
	left:123px
}
.warp-list-c-con.list9 span:nth-child(2) {
	top:30px;
	left:200px
}
.warp-list-c-con.list9 span:nth-child(3) {
	top:100px;
	left:245px
}
.warp-list-c-con.list9 span:nth-child(4) {
	top:175px;
	left:235px
}
.warp-list-c-con.list9 span:nth-child(5) {
	top:233px;
	left:170px
}
.warp-list-c-con.list9 span:nth-child(6) {
	top:233px;
	left:75px
}
.warp-list-c-con.list9 span:nth-child(7) {
	top:185px;
	left:7px
}
.warp-list-c-con.list9 span:nth-child(8) {
	top:105px;
	left:1px
}
.warp-list-c-con.list9 span:nth-child(9) {
	top:36px;
	left:40px
}
.warp-list-zhuti {
	width:190px;
	height:190px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-95px 0 0 -95px
}
.warp-list-zhuti img {
	width:190px;
	height:190px;
	border-radius:100%
}
.warp-list-u {
	width:90%;
	margin:10px auto;
	background:rgba(0,0,0,.25);
	padding:5px 10px;
	border-radius:3px;
}
.warp-list-u p {
	color:#fff;
	font-size:14px;
	line-height:24px;
	margin-bottom:5px;
}
.warp-list-u p:first-child {
	font-size:16px;
	padding-bottom:5px;
	border-bottom:1px dotted rgba(255,255,255,.5);
}
.warp-list-u em {
    border-radius: 5px;
    background: rgba(136, 136, 136, 0.45);
    padding: 5px;
    font-size: 12px;
	    white-space: nowrap;
}
.slider-but {
	width:100%;
	position:fixed;
	left:0;
	bottom:50px;
	text-align:center;
	display:none;
}
.slider-but span {
	display:inline-block;
	width:8px;
	height:8px;
	border-radius:100%;
	background-color:#fff;
	opacity:.6
}
.slider-but span.cur {
	background-color:#ff0;
	opacity:1
}
.warp-but {
	width:100%;
	height:40px;
	padding:0 15px;
	position:fixed;
	left:0;
	bottom:5px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box
}
.warp-but a {
	display:inline-block;
	width:45%;
	height:40px;
	line-height:40px;
	border-radius:5px;
	text-align:center;
	font-size:18px;
	text-decoration:none
}
.warp-but a:first-child {
	float:left;
	background-color:#fa0;
	color:#fff
}
.warp-but a:nth-child(2) {
	float:right;
	background-color:#fff;
	color:#666
}
.ShowBox-bg {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9;
	background-color:rgba(0,0,0,0.8)
}
.ShowBox {
	width:240px;
	padding:10px;
	z-index:2;
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-200px;
	margin-left:-130px;
	background:#fff;
	border-radius:5px;
	box-shadow:0 2px 5px #000
}
.userJoin {
	-webkit-transform-origin:center center;
	-webkit-animation:bouncein .6s ease both;
	-moz-animation:bouncein .6s ease both;
	animation:bouncein .6s ease both
}
.userJoin-t-l {
	width:60px;
	height:60px;
	border-radius:100%;
	border:2px solid #fff
}
.userJoin-t-l img {
	display:block;
	width:60px;
	height:60px;
	border-radius:100%
}
.userJoin-t-r {
	width:166px;
	padding-left:10px
}
.userJoin-t-r h2 {
	display:block;
	height:29px;
	line-height:29px;
	color:#f5e0ca;
	font-size:18px
}
.userJoin-t-r-info {
	height:35px;
	line-height:35px;
	background-color:#f5e0ca;
	border-radius:5px;
	padding-left:10px;
	color:#c91010;
	font-size:18px;
	position:relative
}
/* .userJoin-t-r-info span {
	display:block;
	width:6px;
	height:8px;
	position:absolute;
	left:-6px;
	top:13px;
	background:url(../../images/table/sanjiao.png) no-repeat;
	background-size:6px 8px
} */
.userJoin-i {
	padding:25px 0
}
.userJoin-i p {
	text-align:center;
	font-size:16px;
	color:#fff
}
.userJoin-i p img {
	width:118px;
	border-radius:100%;
	height:118px
}
.userJoin-msg {
	background-color:#fff;
	margin-bottom:15px;
	width:100%;
	padding:0 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:1px solid #ccc;
	border-radius:5px
}
.userJoin-msg textarea {
	background:0;
	border:0;
padding: 10px 5px;
    width: 100%;
}
.userJoin-b {
	text-align:center
}
.userJoin-b a {
	display:inline-block;
	width:98%;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#f90;
	border-radius:5px;
	border:2px solid #fff;
	color:#fff;
	font-size:18px;
	color:#fff;
	text-decoration:none
}
.eventInfo {
	-webkit-transform-origin:center center;
	-webkit-animation:bouncein .6s ease both;
	-moz-animation:bouncein .6s ease both;
	animation:bouncein .6s ease both
}
.eventInfo-t {
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fa0;
	font-size:18px;
	position:relative
}
.eventInfo-t span {
	width:30%;
	height:1px;
	background-color:#fa0;
	position:absolute;
	top:19px
}
.eventInfo-t span:first-child {
	left:0
}
.eventInfo-t span:nth-child(2) {
	right:0
}
.eventInfo-t a {
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:#d13232;
	border-radius:100%;
	border:2px solid #fff;
	position:absolute;
	right:-25px;
	top:-25px;
	text-decoration:none;
}
.eventInfo-t a i {
	color:#fff;
	font-size:20px;
}
.eventInfo-c {
	width:100%;
	height:285px;
	overflow:auto;
	color:#666;
	line-height:22px;
	word-wrap:break-word;
	font-family:"黑体";
}
.eventInfo-c p {
	color:#666;
	font-size:14px;
}
.rankList {
	-webkit-transform-origin:center center;
	-webkit-animation:bouncein .6s ease both;
	-moz-animation:bouncein .6s ease both;
	animation:bouncein .6s ease both
}
.rankList-t {
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	color:#fa0;
	border-bottom:1px solid #ddd;
	position:relative
}
.rankList-t a {
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:#d13232;
	border-radius:100%;
	border:2px solid #fff;
	position:absolute;
	right:-25px;
	top:-25px;
	text-decoration:none;
}
.rankList-t a i {
	color:#fff;
	font-size:20px;
}
.rankList-c {
	width:100%;
	height:290px;
	position:absolute;
	top:41px;
	left:0;
	overflow-y:auto
}
.rankitem span {
	display:block;
	float:left;
	height:24px;
	line-height:24px;
	color:#666;
	font-size:12px
}
.rankitem span:nth-child(1) {
	width:20%;
	text-align:center
}
.rankitem span:nth-child(2) {
	width:30%
}
.rankitem span:nth-child(3) {
	width:20%
}
.rankitem span:nth-child(4) {
	width:30%
}
.share-tipsBox {
	-webkit-transform-origin:center center;
	-webkit-animation:bouncein .6s ease both;
	-moz-animation:bouncein .6s ease both;
	animation:bouncein .6s ease both;
	width:256px;
	height:60px;
	position:fixed;
	z-index:19;
	left:50%;
	top:50%;
	margin-top:-30px;
	margin-left:-128px;
	background:url(../../images/table/bg.gif) no-repeat;
	border-radius:5px;
	box-shadow:0 2px 5px #000
}
.share-tipsBox p {
	padding:10px;
	text-align:center;
	height:40px;
	line-height:40px;
	color:#900;
	font-size:16px
}
.bouncein {
	-webkit-animation:bouncein .6s ease both;
	-moz-animation:bouncein .6s ease both;
	animation:bouncein .6s ease both
}
@-webkit-keyframes bouncein {
	0 {
	opacity:0;
	-webkit-transform:scale(0.3)
}
50% {
	opacity:1;
	-webkit-transform:scale(1.05)
}
70% {
	-webkit-transform:scale(0.9)
}
100% {
	-webkit-transform:scale(1)
}
}@-moz-keyframes bouncein {
	0 {
	opacity:0;
	-moz-transform:scale(0.3)
}
50% {
	opacity:1;
	-moz-transform:scale(1.05)
}
70% {
	-moz-transform:scale(0.9)
}
100% {
	-moz-transform:scale(1)
}
}@-ms-keyframes bouncein {
	0 {
	opacity:0;
	-ms-transform:scale(0.3)
}
50% {
	opacity:1;
	-ms-transform:scale(1.05)
}
70% {
	-ms-transform:scale(0.9)
}
100% {
	-ms-transform:scale(1)
}
}@keyframes bouncein {
	0 {
	opacity:0;
	transform:scale(0.3)
}
50% {
	opacity:1;
	transform:scale(1.05)
}
70% {
	transform:scale(0.9)
}
100% {
	transform:scale(1)
}
}.join_icon {
	width:120px;
	height:120px;
	border:2px solid #fff;
	border-radius:100%;
	position:fixed;
	top:40%;
	left:30%;
	z-index:99999;
	-webkit-animation:joinanim .4s ease both;
	-moz-animation:joinanim .4s ease both;
	animation:joinanim .4s ease both
}
.join_icon img {
	width:100%;
	height:100%;
	border-radius:100%
}
.joinanim {
	-webkit-animation:joinanim .4s ease both;
	-moz-animation:joinanim .4s ease both;
	animation:joinanim .4s ease both
}
@-webkit-keyframes joinanim {
	0 {
	-webkit-transform:scale(1)
}
50% {
	-webkit-transform:scale(1.2)
}
100% {
	-webkit-transform:scale(1)
}
}





.ad{
	width:100%;max-height:100px;overflow:hidden;
}
.ad img{
	display:block;
	width:100%;
}

.clear{clear:both;}
.space_10{padding-top:10px;}
.tr{text-align:right;}

.giftlist{
	width:90%;
	margin:0 auto;padding:5px 10px;
	background:rgba(0,0,0,.25);color:#fff;
	border-radius:3px;
}
.giftlist dt{
	font:16px/24px "黑体";
	margin-bottom:15px;
	padding-bottom:5px;
	border-bottom:1px dotted rgba(255,255,255,.5);
}
.giftlist dd{
	float:left;
	width:33.333%;
	text-align:center;
	margin-bottom:15px;
}
.giftlist dd img{
	width:90%;
	display:block;
	margin:5px auto;
}
.giftlist dd em{
	font-style:normal;
}

.rules{
	width:90%;
	margin:10px auto;padding:5px 10px;
	background:rgba(0,0,0,.25);color:#fff;
	border-radius:3px;
}
.rules h3{
	font:16px/24px "黑体";
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px dotted rgba(255,255,255,.5);
}

.rules div{
	font:12px/22px "黑体";
	color:rgba(255,255,255,.9);
	word-wrap:break-word;
	padding-bottom:5px;
}


.share{
	position:fixed;top:0;left:0;z-index:1000;
	width:100%;height:100%;color:#fff;
	font:14px/26px "黑体";
	background:rgba(0,0,0,.5);
}
.share img{
	float:right;
	width:49px;
	margin:10px;
}
.share p{
	color:#fff;
	padding:0 10px;
}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clear:after,.tab-title:after{content:"";display:block;clear:both;height:0;line-height:0;overflow:hidden;font-size:0;}
.clear.tab-title{zoom:1;}
.fixbottom,.fixtop{position:fixed;left:0;bottom:0;width:100%;height:82px;background:rgba(0,0,0,.6);z-index:2}
.fixbottom .containWrap,.fixtop .containWrap{position:absolute;left:0;top:0;width:100%;height:100%;bottom:0;}
.fixtop{top:0;bottom:auto;}
.m15{margin-top:15px;}
.m25{margin-top:25px;}
.space_5{padding:5px 0 0 0;}
.space_10{padding:10px 0 0 0;}
.space_15{padding:15px 0 0 0;}
.space_20{padding:20px 0 0 0;}
.space_30{padding:30px 0 0 0;}
.tc{text-align:center;}
.tr{text-align:right;}


.prompt .cont{
	position:fixed;top:50%;left:0;z-index:15;
	width:90%;min-height:180px;color:#666;
	margin:-90px 5% 0;
	border-radius:3px;
	font:16px/28px "黑体";text-align:center;
	background:#fff;
}
.prompt h3{
	color:#ffaa00;
	margin:0;
}
.prompt p{
	font-size:14px;
	margin:0;
}
.prompt input[type="text"]{
	display:block;width:80%;
	margin:0 auto;padding:4px;
	border:1px solid #ccc;border-radius:3px;
	font:14px/18px "黑体";
}
.prompt .bg{
	position:fixed;left:0;top:0;z-index:14;
	width:100%;height:100%;
	background:rgba(0,0,0,.5);
}
.prompt .btn{
	display:block;
	width:90px;height:30px;color:#fff;
	margin:0 auto;
	border-radius:3px;
	font:14px/30px "黑体";
	background:#ffaa00;
}
.prompt .btns{
	display:block;
	text-align:center;
}
.prompt .btns a{
	display:inline-block;
	width:70px;height:30px;color:#fff;
	margin:0 5px;
	border-radius:3px;
	font:14px/30px "黑体";
	background:#bbb;
}
.prompt .btns .done_btn{
	background:#ffaa00;
}

.tishi{font-size:1.5em;text-align:center; padding:5px;}
.close{       position: absolute;
    right: -10px;
    top: -10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fd7b5b;
    color: #FFF;
    text-align: center;
    line-height: 35px;
	
    font-size: 11px;}
	.followguide{width:100%; padding:10px 0; font-size:14px;line-height:20px;}
	.followqr{text-align:center}
.followqr img{width:80%;}

.redpackbox {
	width:240px;
	padding:10px;
	z-index:2;
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-200px;
	margin-left:-130px;
	background:#bd2c2f;
	border-radius:5px;
	box-shadow:0 2px 5px #000;
	background-image: url(../img/redpackbg.png);
	background-size:100% 100%;
}
.redtishi{padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #FFF908;}
.redtirp{ padding: 20px;
    line-height: 20px;
    color: #fff;}
.redpackimg{padding: 25px 0;text-align: center;}
.redpackimg img{    width: 118px;
    height: 118px;}