<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的主页</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="http://cdn.bootcss.com/zepto/1.1.6/zepto.min.js"></script>
<link rel="stylesheet" href="{TEMPLATE_PATH}/wtCommon.css?v={php echo time();}">
<link rel="stylesheet" href="{TEMPLATE_PATH}/live.css?v={php echo time();}">
<script type="text/javascript">
$(function(){
	 $(".tab_myLiveRoomTab").click(function(){
		 $(this).addClass('on');
		 $(".myLiveRoomList ").addClass('on');
		 $(".tab_attendLiveRoom").removeClass('on');
		 $(".attendLiveRoomList").removeClass('on');
	 });
	 $(".tab_attendLiveRoom").click(function(){
		 $(this).addClass('on');
		 $(".attendLiveRoomList ").addClass('on');
		 $(".tab_myLiveRoomTab").removeClass('on');
		 $(".myLiveRoomList").removeClass('on');
	 });
});

</script>
</head>

<body class="bind">
<div class="main_box_5">
	<div class="mine_header">
		<span class="mine_headerimg"><img src="{$head_imgurl}"></span>
		<span class="mine_headername">{$nickname}</span>
	</div>
	
	<dl class="mine_list nav_list" style="display:none">
		<dd class="mine_mya"><a href="{$my_url}" class="list_btn_1">我的回答</a></dd>
		<dd class="mine_myq"><a href="{$myquestion_url}" class="list_btn_1">我的提问</a></dd>
		<dd class="mine_askearnings"><a href="{$myamount_url}" class="list_btn_1">我的分答收益</a></dd>
	</dl>
	<dl  class="mine_list nav_list list_1">
		<dd class="mine_earnings"><a href="{$mycash_url}" class="list_btn_1">个人打赏收益</a></dd>
		<dd style="display:none;" class="mine_focus"><a href="{$mysubscribe_url}" class="list_btn_1">我关注的直播间</a></dd>
		<dd class="mine_lastwatch"><a href="{$lastbrowse_url}" class="list_btn_1">近期看过的直播</a></dd>
	</dl>
</div>
<div class="menu_wkBox back_box">
    <a href="{$cchat_url}" class="menu_boxFl menu_home">首页</a>
     {if $is_manager}
	   <a href="{$room_url}"  class="menu_boxFl menu_live">直播间</a>
	 {/if}
	<a href="javascript:;" class="menu_boxFl menu_mine on">我的</a>
</div>
<div class="loadingBox"><span></span></div>
</body></html>