{template 'header'}
<script type="text/javascript">
var pagename="orderlist";
</script>
</head>
<body>
<div id="page0" class="ub ub-ver bga">
    <ul class="ub-f1 uinn8 c-wh connn">
    	{if $list[0]['id'] == ''}
        	<div>
                <ul style="padding:60px 30px 50px 30px">
                    <li style="text-align:center">
                        <div class="wks ub-img1"></div>
                    </li>
                    <li class="t-gra" style="text-align:center; margin-top:30px">暂无评论</li>
                </ul>
            </div>
        {else}
            {loop $list $val}
            <div class="uba b-bla01 uc-a15 ub ub-ac umar-b" style="padding:0.2rem 0">
                <div class="uinn ub ub-ver ub-ac ub-pc tx-c ddan1">
                    <div class="uc-a100 c-blu uinn ub ub-ac ub-pc tx-c" style="height:2.5rem; width:2.5rem;" >    
                    {if $this->getMemberAva($val['openid']) == ''}                    
                    <img src="{MODULE_URL}/template/mobile/images/icon-can.png" style="width:1.5rem"> 
                    {else}
                    <img src="{php echo $this->getMemberAva($val['openid'])}" style="width:1.5rem"> 
                    {/if}
                    </div>
                    <div class="ulev-2 t-gre1 umar-t">评论人：<br/>{php echo $this->getNickName($val['openid'])} </div>
                </div>
                <div class="ub-f1 ub ub-ver ubl ubr b-bla01" style=" padding:0.3rem 0.5rem">
                    
                    <div class="ub ub-ac">
                        <div class="ulev-4 t-sbla">服务项目:{php echo $this->getServeName($val[order_id])}</div>
                        <div class="ub-f1 tx-r ulev-1 t-gre1"> </div>
                        <div class="t-gre1"><span class=" ulev1">{$val[xing]}星</span></div>
                    </div>
                    
                    <div class="ubt ubb b-bla01" style="margin:0.3rem 0; padding:0.3rem 0">
                    	<div class="ulev-4 t-sbla">员工姓名：{php echo $this->getStaffInfo($val[staff_id],'staff_name')}</div>
                    </div>
                    
                    <div class="ubt ubb b-bla01" style="margin:0.3rem 0; padding:0.3rem 0">
                        {if $val[comment] == ''}
                        	<div class="ulev-4 t-sbla">我的评论：什么都没写</div>
                        {else}
                        	<div class="ulev-4 t-sbla">我的评论：{$val[comment]}</div>
                        {/if}
                    </div>
                    
                    <div class="ulev-4 t-gra">
                        <div>评论时间：{$val[addtime]}</div>
                    </div>
                </div>
            </div>
            {/loop}
        {/if}
    </ul>
    <div class="" style="height:3.125rem"></div>
    
    <div id="footer" class="fix0 c-foot" style="width:100%; bottom:0; z-index:999">
        <div class="ub">
            <a href ="{php echo $this->createMobileUrl('Validate', array())}" class="ub ub-pc block t-gre1" style="width:33.33%">
                <div class="ub ub-ver ub-ac ub-pc">
                    <i class="iconfont icon-shouye ulev1 t-gre1"></i> 
                    <span class="block ulev-1 t-gre1" style="">首页</span>
                </div>
            </a>
            <a href ="{php echo $this->createMobileUrl('Stafforder', array())}" class="ub ub-pc block" style="width:33.33%">
                <div class="ub ub-ver ub-ac ub-pc">
                    <i class="iconfont icon-dingdan ulev1"></i> 
                    <span class="block ulev-1" style="">订单</span>
                </div>
            </a>
            <a href ="{php echo $this->createMobileUrl('Staffmoney', array())}" class="ub ub-pc block" style="width:33.33%">
                <div class="ub ub-ver ub-ac ub-pc">
                    <i class="iconfont icon-licaishouyi ulev1"></i> 
                    <span class="block ulev-1" style="">财务</span>
                </div>
            </a>
        </div>
    </div>
    
</div>

<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/main.js"></script>


</body>
</html>
