
<div id="bottom_one">
<a href="{php echo $this->createMobileUrl('fengmian');}"><div class="bottom_one_a"><div class="bottom_one_a_img"><img src="{MODULE_URL}template/mobile/images/b1.png"></div>首页</div></a>

<a href="{php echo $this->createMobileUrl('all');}"><div class="bottom_one_a"><div class="bottom_one_a_img"><img src="{MODULE_URL}template/mobile/images/b2.png"></div>所有</div></a>

<a href="{php echo $this->createMobileUrl('add');}"><div class="bottom_one_a"><div class="bottom_one_a_img"><img src="{MODULE_URL}template/mobile/images/b3.png"></div>发布</div></a>

<a href="{php echo $this->createMobileUrl('my');}"><div class="bottom_one_a"><div class="bottom_one_a_img"><img src="{MODULE_URL}template/mobile/images/b4.png"></div>我</div></a>
</div>

<!--
<div class="weui_tab">
    <div class="weui_tab_bd">

    </div>
    <div class="weui_tabbar">
        <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="path/to/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui_tabbar_label">微信</p>
        </a>
        <a href="javascript:;" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="path/to/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui_tabbar_label">通讯录</p>
        </a>
        <a href="javascript:;" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="path/to/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui_tabbar_label">发现</p>
        </a>
        <a href="javascript:;" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="path/to/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui_tabbar_label">我</p>
        </a>
    </div>
</div>
  -->
 </body>
</html>
