<tbody id='level-list'> <tr> <td><input type="checkbox" name="check[]" value=1001></td> <td>会计刺客</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-21
15:45:45</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1390></td> <td>他们叫我吉克</td><td >

动作片</td><td>
意大利地区</td><td >
2016-11-19
15:05:06</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=109></td> <td>谍影重重5</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-18
13:53:12</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1374></td> <td>丧尸围城3：终极游戏</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-16
14:06:09</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=636></td> <td>自杀小队</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-16
14:02:52</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1115></td> <td>请叫我英雄</td><td >

动作片</td><td>
日本地区</td><td >
2016-11-15
15:04:35</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1290></td> <td>顽石之拳</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-15
14:54:29</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=618></td> <td>爵迹</td><td >

动作片</td><td>
大陆地区</td><td >
2016-11-14
14:52:56</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=592></td> <td>机械师2：复活</td><td >

动作片</td><td>
美国地区</td><td >
2016-11-14
14:52:07</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1314></td> <td>西部世界电影版</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-11
22:34:52</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1311></td> <td>黑客帝国</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-11
11:21:33</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1312></td> <td>黑客帝国2：重装上阵</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-11
11:21:33</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1313></td> <td>黑客帝国3：矩阵革命</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-11
11:21:33</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1323></td> <td>十二罗汉</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-11
11:21:33</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1329></td> <td>扫毒</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-11
11:21:33</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1300></td> <td>十三罗汉</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-11
11:21:27</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1137></td> <td>十一罗汉</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-11
11:21:27</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=379></td> <td>我的特工爷爷</td><td >

动作片</td><td>
大陆地区</td><td >
2016-11-11
11:20:46</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1172></td> <td>假冒警官</td><td >

动作片</td><td>
其它地区</td><td >
2016-11-11
11:20:36</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1170></td> <td>摩亨佐-达罗</td><td >

动作片</td><td>
其它地区</td><td >
2016-11-11
11:20:36</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1272></td> <td>狗咬狗</td><td >

动作片</td><td>
香港地区</td><td >
2016-11-10
20:22:47</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=628></td> <td>王牌逗王牌</td><td >

动作片</td><td>
大陆地区</td><td >
2016-11-10
20:22:47</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=740></td> <td>侠探杰克：永不回头</td><td >

动作片</td><td>
美国地区</td><td >
2016-11-09
14:56:56</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1225></td> <td>007之雷霆杀机</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-08
15:09:22</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1221></td> <td>007之俄罗斯之恋</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-08
15:09:22</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=646></td> <td>湄公河行动</td><td >

动作片</td><td>
大陆地区</td><td >
2016-11-08
15:09:19</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1228></td> <td>007：幽灵党</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-08
15:09:19</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1227></td> <td>007：大战皇家赌场</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-08
15:09:19</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1224></td> <td>007外传之巡弋飞弹</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-08
15:09:19</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1222></td> <td>007之黄金眼</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-08
15:09:19</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1223></td> <td>007之最高机密</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-08
15:09:19</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1226></td> <td>007之黎明生机</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-08
15:09:19</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1233></td> <td>霍比特人1：意外之旅</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-07
06:26:12</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=585></td> <td>绝对控制</td><td >

动作片</td><td>
美国地区</td><td >
2016-11-04
11:09:56</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1150></td> <td>虎胆龙威3</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-04
11:08:58</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1152></td> <td>纳尼亚传奇2：凯斯宾王子</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-04
11:08:58</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1153></td> <td>高跟鞋</td><td >

动作片</td><td>
韩国地区</td><td >
2016-11-04
11:08:58</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1142></td> <td>巴黎危机</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-03
03:51:42</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1123></td> <td>猩球崛起2：黎明之战</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-03
03:18:51</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1136></td> <td>麦田</td><td >

动作片</td><td>
大陆地区</td><td >
2016-11-03
03:18:51</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1120></td> <td>敢死队3</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-03
03:18:45</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1119></td> <td>画皮2</td><td >

动作片</td><td>
大陆地区</td><td >
2016-11-03
03:18:45</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1121></td> <td>复仇者联盟</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-03
03:18:45</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1092></td> <td>在边境</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-02
22:13:42</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=202></td> <td>火海凌云</td><td >

动作片</td><td>
俄罗斯地区</td><td >
2016-11-02
05:11:07</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1080></td> <td>钢铁骑士</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-02
05:11:06</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1075></td> <td>玩命快递2</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-02
05:11:03</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1074></td> <td>玩命快递</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-02
05:11:03</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1069></td> <td>生化危机4：战神再生</td><td >

动作片</td><td>
欧美地区</td><td >
2016-11-02
05:11:03</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1073></td> <td>八卦拳之武林争霸</td><td >

动作片</td><td>
大陆地区</td><td >
2016-11-02
05:11:03</td> </tr>  </tbody></table><div style='float:right'><div><ul class="pagination pagination-centered"><li class="active"><a href="javascript:;">1</a></li><li><a href="?c=site&a=entry&op=display&do=caiji&m=iweite_vods&page=2">2</a></li><li><a href="?c=site&a=entry&op=display&do=caiji&m=iweite_vods&page=3">3</a></li><li><a href="?c=site&a=entry&op=display&do=caiji&m=iweite_vods&page=4">4</a></li><li><a href="/web/index.php?c=site&a=entry&op=display&do=caiji&m=iweite_vods&page=2" class="pager-nav">下一页&raquo;</a></li><li><a href="/web/index.php?c=site&a=entry&op=display&do=caiji&m=iweite_vods&page=4" class="pager-nav">尾页</a></li></ul></div></div><input name='ids' id=ids type='hidden' value='1001$1390$109$1374$636$1115$1290$618$592$1314$1311$1312$1313$1323$1329$1300$1137$379$1172$1170$1272$628$740$1225$1221$646$1228$1227$1224$1222$1223$1226$1233$585$1150$1152$1153$1142$1123$1136$1120$1119$1121$1092$202$1080$1075$1074$1069$1073$' />