<tbody id='level-list'> <tr> <td><input type="checkbox" name="check[]" value=1464></td> <td>狼兵吼</td><td >

战争片</td><td>
大陆地区</td><td >
2016-11-20
23:25:14</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1512></td> <td>印第安纳波利斯号：勇者无惧</td><td >

战争片</td><td>
欧美地区</td><td >
2016-11-20
00:39:06</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1834></td> <td>与魔鬼共骑</td><td >

战争片</td><td>
欧美地区</td><td >
2016-11-16
10:37:28</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1847></td> <td>铁翼重生之血肉跑道</td><td >

战争片</td><td>
大陆地区</td><td >
2016-11-16
01:28:11</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1848></td> <td>铁翼重生之万能之王</td><td >

战争片</td><td>
大陆地区</td><td >
2016-11-16
01:28:02</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1846></td> <td>铁翼重生之枪林弹雨</td><td >

战争片</td><td>
大陆地区</td><td >
2016-11-16
01:27:53</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1866></td> <td>小戏骨：洪湖赤卫队</td><td >

战争片</td><td>
大陆地区</td><td >
2016-11-16
00:38:27</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1675></td> <td>想念哥哥</td><td >

战争片</td><td>
韩国地区</td><td >
2016-11-15
15:02:37</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1732></td> <td>第九突击队</td><td >

战争片</td><td>
欧美地区</td><td >
2016-10-31
13:19:46</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1407></td> <td>我们曾经是战士</td><td >

战争片</td><td>
欧美地区</td><td >
2016-10-20
19:14:53</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=674></td> <td>我的战争</td><td >

战争片</td><td>
大陆地区</td><td >
2016-10-20
14:16:54</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=1189></td> <td>圣战士3</td><td >

战争片</td><td>
欧美地区</td><td >
2016-10-13
14:16:12</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=953></td> <td>狂怒</td><td >

战争片</td><td>
欧美地区</td><td >
2016-10-04
10:48:29</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=919></td> <td>我不是王毛</td><td >

战争片</td><td>
大陆地区</td><td >
2016-10-02
15:33:34</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=754></td> <td>金陵十三钗</td><td >

战争片</td><td>
大陆地区</td><td >
2016-09-25
15:27:52</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=724></td> <td>偷书贼</td><td >

战争片</td><td>
欧美地区</td><td >
2016-09-24
17:57:20</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=720></td> <td>鸣梁海战</td><td >

战争片</td><td>
韩国地区</td><td >
2016-09-24
16:25:24</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=632></td> <td>狙击手：特别行动</td><td >

战争片</td><td>
欧美地区</td><td >
2016-09-21
11:15:09</td> </tr> <tr> <td><input type="checkbox" name="check[]" value=390></td> <td>仁川登陆作战</td><td >

战争片</td><td>
韩国地区</td><td >
2016-09-14
10:08:37</td> </tr>  </tbody></table><div style='float:right'></div><input name='ids' id=ids type='hidden' value='1464$1512$1834$1847$1848$1846$1866$1675$1732$1407$674$1189$953$919$754$724$720$632$390$' />