.flexbox{display:-webkit-box!important;
	display:-webkit-flex!important;
	display:-ms-flexbox!important;
	display:flex!important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.clearfix-b{overflow:hidden}
html,body{
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none}
#wrapper{height:100%}
.page-index .layout{position:relative;overflow:auto;height:100%;background-size:cover}
.mask{position:absolute;top:1.6rem;bottom:0;left:0;right:0;height:20rem;width:11.9rem;margin-left:auto;margin-right:auto;margin-bottom:.24rem;border-radius:3%;background:rgba(43,43,43,.52)}
.mask:before{content:'';position:absolute;top:.64rem;left:1.2rem;display:block;height:4.8rem;width:2.66rem;border-top:1px solid #fff;border-left:1px solid #fff}
.mask:after{content:'';position:absolute;top:6.64rem;right:1.2rem;display:block;height:4.8rem;width:2.66rem;border-bottom:1px solid #fff;border-right:1px solid #fff}
.book-1{position:relative;display:block;height:9.8rem;width:7.68rem;margin-top:1.16rem;margin-left:auto;margin-right:auto}
.text-head{margin-top:.36rem;font-size:.84rem;font-weight:500;line-height:1.5;color:#e3af71;text-align:center}
.text-content{margin-top:.64rem;font-size:.42rem;line-height:1.5;color:#e3e3e3;text-align:center}
.submit-btn{margin-top:.64rem;margin-left:auto;margin-right:auto;height:1.8rem;width:6.4rem;font-size:.68rem;font-weight:500;line-height:1.8rem;text-align:center;background:#e3af71;border-radius:9999px;box-shadow:0 1px 2px rgba(0,0,0,.5)}
.share-friends{position:absolute;left:0;right:0;display:none;width:100%;height:21.84rem;min-height:100%}
.share-friends .share-arror{position:fixed;top:2.4rem;right:.64rem;width:1.28rem;z-index:4}
.share-text{position:fixed;top:3.6rem;left:0;right:0;margin:auto;font-size:.8rem;text-align:center;color:#fff;z-index:4}
.share-text p{font-size:.56rem;color:#ffd21e;line-height:1.5;margin-top:.8rem}
.blur{filter:url("blur.svg#blur");-webkit-filter:blur(6px);-moz-filter:blur(6px);-ms-filter:blur(6px);filter:blur(6px)}
.gd-mask{position:absolute;height:100%;width:100%;background:rgba(0,0,0,.64);z-index:3}
.success-share{position:absolute;left:0;right:0;width:100%;min-height:100%;text-align:center;line-height:1.5}
.success-share img,
.success-share p{position:relative;z-index:5}
.success-share .large{margin-top:2.8rem;font-size:.76rem}
.success-share .s-large{font-size:.72rem}
.success-share .grey{color:#e1e1e1}
.success-share .margin{margin-bottom:1.4rem}
.success-share .qrcode{display:block;height:7rem;width:7rem;margin:.6rem auto}
.success-share p{font-size:.52rem;color:#fff}
.success-share .yellow{color:#ffd21e}
.down-arror{position:absolute;bottom:0;left:0;right:0;text-align:center}
.down-arror img{height:.92rem}
.page-view .layout{position:absolute;overflow:auto;width:100%;min-height:100%;background-size:cover}
.page-view .grey{margin-top:3.2rem;font-size:.52rem;line-height:1.3;color:#ACACAC;text-align:center}
.maskbox{width:11.66rem;height:6.76rem;margin-top:5.8rem;margin-left:auto;margin-right:auto;padding:1.6rem 0 1.16rem;text-align:center;background:rgba(255,255,255,.43);border-radius:2%}
.maskbox .white{font-size:.64rem;color:#fff}
.maskbox .yellow,.maskbox .bigyellow{color:#ffd21e}
.maskbox .yellow{font-size:.88rem;padding:.64rem 0 .36rem}
.maskbox .bigyellow{font-size:2.16rem}
.logo{display:block;width:3.8rem;margin-left:auto;margin-right:auto;margin-top:.56rem;margin-bottom:.44rem;text-align:center}
.logo img{display:inline-block;width:100%}