<!doctype html>
<html>
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate"> 
<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="expires" CONTENT="0">
{template 'header'}

</head>
<body>
<div id="page0" class="ub ub-ver bga">
    <div class="ub-f1 ub ub-ac ub-pc ub-ver tx-c">
    	<div><i class="iconfont icon-iconfont44 t-gre1" style="font-size:5rem"></i> </div>
        <div class="umar-t1">付款提交成功</div>
        <div class="uinn8">去给服务人员评个分吧</div>
        <div class="uinn8 ub">
            <!--
            <a href="{$url_order}" class="uba b-gre1 ub ub-pc uc-a1 ub-f1 btnn" style="margin-bottom:0.5em; padding:0.75rem 3rem"><span class="ulev0 t-gre1">现在就去</span></a>
            <a href="{$url_index}" class="uba b-gre1 ub ub-pc uc-a1 ub-f1 btnn" style=" margin-left:0.5em; margin-bottom:0.5em; padding:0.75rem 3rem"><span class="ulev0 t-gre1">回到主页</span></a>
            -->
            
            <a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&id={$order_id}&c=entry&do=Orderinfo&m=xm_gohome" class="uba b-gre1 ub ub-pc uc-a1 ub-f1 btnn" style="margin-bottom:0.5em; padding:0.75rem 3rem"><span class="ulev0 t-gre1">现在就去</span></a>
            <a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=Index&m=xm_gohome" class="uba b-gre1 ub ub-pc uc-a1 ub-f1 btnn" style=" margin-left:0.5em; margin-bottom:0.5em; padding:0.75rem 3rem"><span class="ulev0 t-gre1">回到主页</span></a>
            
        </div>
    </div>
    <div class="" style="height:3.125rem"></div>
    
    <input type="hidden" id="order_id" value="{$order_id}" >
    <input type="hidden" id="staff_id" value="{$staff_id}" >
    
</div>

<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/main.js"></script>

<script type="text/javascript">
window.history.forward(1);

$(document).ready(function(){  
	var order_id = document.getElementById('order_id').value;
	var staff_id = document.getElementById('staff_id').value;
	$.ajax({
		url: "{php echo $this->createMobileUrl('getPrintInfo', array());}",
		type:"POST",
		data:{"order_id":order_id,"staff_id":staff_id},
		dataType:"json",
		success: function(json){
			if(json != 0){
				$.ajax({
					url: json.posturl,
					type:"POST",
					data:{"app":json.app,"print_sn":json.printer_sn,"key":json.key_info,"pages":json.pages,"printbody":json.xiaopiao},
					dataType:"json",
					//jsonp:"jsoncallback",
					success: function(res){
						alert(res);
					}
				});
			}
		}
	});
}); 
</script>

</body>
</html>
