
{template 'header'}

<link rel="stylesheet" href="{MODULE_URL}/template/mobile/css/iconfont/iconfont.css">
<script type="text/javascript">
var pagename="orderlist";
</script>
</head>
<body>
<div id="page0" class="ub ub-ver bga">
    <div class="ubb ubb-blaimg ub ub tx-c top-tab">
    	<a href="{php echo $this->createMobileUrl('order',array())}" class="ubr b-bla01 ub-f1 uinn5 t-gra block">预约单</a>
        <a href="{php echo $this->createMobileUrl('order2',array())}" class=" ub-f1 uinn5 t-gra block active">完工单</a>
    </div>
    <ul class="ub-f1 uinn8 c-wh connn">
    	{if $list[0]['id'] == ''}
        	<div>
                <ul style="padding:60px 30px 50px 30px">
                    <li style="text-align:center">
                        <div class="wks ub-img1"></div>
                    </li>
                    <li class="t-gra" style="text-align:center; margin-top:30px">没有已完成的订单</li>
                </ul>
                <!--<div class="tx-c">                	
                    <a href="#" class="fq-btn2" style="margin-top:8px;"><i class="linecons-doc"></i> 现在申请</a>
                </div>-->
            </div>
        {else}
            {loop $list $vo}
            <div class="uba b-bla01 uc-a15 ub ub-ac umar-b" style="padding:0.2rem 0">
                <div class="uinn ub ub-ver ub-ac ub-pc tx-c ddan1">
                    <div class="uc-a100 c-blu uinn ub ub-ac ub-pc tx-c" style="height:2.5rem; width:2.5rem;" >
                    {if $this->getTypeIcon($vo['serve_type']) == ''}
                        <img src="{MODULE_URL}/template/mobile/images/icon-can.png" style="width:1.5rem"> 
                    {else}
                        <img src="{$_W['attachurl']}{php echo $this->getTypeIcon($vo['serve_type']);}" style="width:1.5rem"> 
                    {/if}    
                    </div>
                    <div class="ulev-2 t-gre1 umar-t">{php echo $this->getServeType($vo['serve_type']);}</div>
                </div>
                <div class="ub-f1 ub ub-ver ubl ubr b-bla01" style=" padding:0.3rem 0.5rem">
                    <div class="ub ub-ac">
                        <div class="ulev-4 t-sbla">结算费用</div>
                        <div class="ub-f1 tx-r ulev-1 t-gre1">￥</div>
                        <div class="t-gre1"><span class=" ulev1">{php echo $this->getPayMoney($vo['id'])}</span></div>
                    </div>
                    <div class="ubt ubb b-bla01" style="margin:0.3rem 0; padding:0.3rem 0">
                        <div class="ulev-4 t-sbla">{php echo $this->getOrderInfo($vo['table_name'],$vo['other_id'],'ftime')}</div>
                    </div>
                    
                    <div class="ulev-4 t-gra">
                        <div>{php echo $this->getOrderInfo($vo['table_name'],$vo['other_id'],'fadr')}</div>
                    </div>
                    
                </div>
                
                {if $vo['state'] == 0}
                <a href="{php echo $this->createMobileUrl('confirmOk',array('id'=>$vo['id'],'order_id'=>$vo['other_id']));}" class="ub ub-ver ub-ac ub-pc uinn8 ddan1">
                    <i class="iconfont icon-ayiluru ulev2 t-gre1"></i>
                    <div class="ulev-4 t-gre1 umar-t">选人</div>
                </a>
                {else}
                <a href="{php echo $this->createMobileUrl('orderInfo',array('id'=>$vo['id'],'order_id'=>$vo['other_id']));}" class="ub ub-ver ub-ac ub-pc uinn8 ddan1">
                    <i class="iconfont icon-sousuo15 ulev2 t-gre1"></i>
                    <div class="ulev-4 t-gre1 umar-t">查看</div>
                </a>    
                {/if}
                <div class="absolute uinn3 ulev-2 c-org t-wh uc-b15 uc-bl1 uc-br1" style="right:0.4rem; top:0;">{php echo $this->getOrderState($vo['state']);}</div>
            </div>
            {/loop}
        {/if}
    </ul>
    <div class="" style="height:3.125rem"></div>
    
    {template 'footer'}
    
</div>

<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/main.js"></script>
<script type="text/javascript">

</script>

</body>
</html>
