{template 'header'}
<style type="text/css">
	input {
		color:black;
	}
</style>
<div class="ui-container">
	<ul class="ui-list  ui-border-tb">
    <li class="ui-border-t">
        <div class="ui-list-img">
            <span style="background-image:url({$info['room_logo']})"></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">{$info['room_name']}</h4>
            <p class="ui-nowrap">{$info['room_desc']}</p>
        </div>
    </li>
	</ul>
	<div class="ui-tips ui-tips-warn">
	    <i></i><span>该房间已进行加密，请输入口令验证</span>
	</div>
	<form action="{php echo $this->createMobileUrl('chatroom')}" method="post" id="chatroom_form">
		<div class="ui-form ui-border-t">
			<div class="ui-form-item ui-form-item-l ui-border-b">
	            <label class="ui-border-r">
	                口令
	            </label>
	            <input type="text" placeholder="请输入房间口令" name="chatroom_secret">
	            <input type="hidden" name="token" value="{$_W['token']}" />
	            <input type="hidden" name="room_id" value="{$info['id']}" />
	            <input type="hidden" name="submit" value="submit" />
	        </div>
		</div>
	</form>
	<br>
	<br>
	<br>
	<div class="ui-btn-wrap">
		<button class="ui-btn-lg ui-btn-primary" onclick="doConfirm()">校验口令</button>
	</div>
	
</div>
<script type="text/javascript">
	function doConfirm() {
		var str = $("#chatroom_form").serialize();
		$.ajax({
			type:'post',
			data:str,
			url:"{php echo $this->createMobileUrl('chatroom')}",
			success:function(d,s) {
				if(d.res == '100') {
					window.location.href='';
				}else {
					alert(d.msg);
				}

			}
		});
	}
</script>
	
{template 'footer'}