<!--<script src="http://qzonestyle.gtimg.cn/open/qcloud/video/live/h5/live_connect.js"
charset="utf-8" ></script>-->
<div style="position:fixed;top:0px;z-index:1;width:100%" id="player_box">
	 <div id="player_container" style="width:100%;height:200px;">
	</div>
	<script type="text/javascript" charset="utf-8" src="http://yuntv.letv.com/player/live/blive.js"></script>
    <script>
        var player = new CloudLivePlayer();
        player.init({
        	activityId:"{$info['lvb_channel_id']}",
        	definition:1
        },'player_container');
    </script>
	<div style="height:45px;background-color:white;line-height:45px;" class="ui-border-tb" id="player_menu">
		<button style="height:30px;padding:0px 10px;border-radius:5px;margin-left:5px;background-color:#3cc51f;color:white">
		{$lvb_status}
		</button>
		<button style="height:30px;padding:0px 10px;border-radius:5px;margin-left:5px;background-color:orange;color:white" id="chatroom_online_num">当前{$online_num}人在线</button>
		<!-- <button style="height:30px;padding:0px 10px;border-radius:5px;border:1px solid orange;margin-left:5px;background-color:orange;color:white;" onclick="RedPack.showlayer('{php echo $info['creator']}','主播')">赏红包</button>
		<button style="height:30px;padding:0px 10px;border-radius:5px;border:1px solid orange;margin-left:5px;background-color:orange;color:white;" onclick="window.location.href='{php echo $this->createMobileUrl('chat',array('chat_openid'=>$info['creator']))}'">私聊</button>
		<button style="height:30px;padding:0px 10px;border-radius:5px;border:1px solid orange;margin-left:5px;background-color:orange;color:white;" id="chat_gift_btn" onclick="$('#chat_gift_layer').toggle()">送礼物</button> -->
		<button style="height:30px;padding:0px 10px;border-radius:5px;border:1px solid grey;margin-left:5px;" onclick="lvb_hd(this)">隐藏</button>
	</div>
</div>
<script>

var lvb_hd = function(obj) {
	var self = $(obj);
	var menu = $("#player_menu");
	var container = $("#player_container");

	
	if(container.css('display') != 'none') {
		//menu.css({'position':'fixed','top':'0px'});
		container.hide();
		self.html('显示');
	}else {
		//menu.css({'position':'relative'});
		container.show();
		self.html('隐藏');
	}
}
</script>
