{template 'header'}
	<!-- container -->
	<div class="ui-container">
		<!-- list -->
		<ul class="ui-list  ui-list-cover ui-list-active ui-border-tb" id="list_container" style="font-size:11px;">
		</ul>
		<div id='bottom_sign'></div>
		<!-- bottom -->
		<div class="ui-loading-wrap" style="display:none;background-color:white;" id="listload_more">
			<p>上拉加载更多</p>
		</div>
		<!-- loading -->
		<div class="ui-loading-wrap" id="loading_more_layer" style="background-color:white;font-size:12px;">
		    <p>加载中...</p>
		    <i class="ui-loading"></i>
		</div>
		<div class="ui-loading-wrap" id="loading_over" style="background-color:white;font-size:12px;display:none;">
		    <p>已全部加载完毕</p>
		</div>
		{template 'menu'}
	</div>
	<!-- 删选按钮 -->
<!-- 	<div id="select_point" style="background-color:rgba(150,150,150,1);position:fixed;top:100px;right:20px;padding:5px;border-radius:5px;z-index:1000;" onclick="SelectPoint.show_layer()">
		<div style="opacity:1;border-radius:50%;width:30px;height:30px;background-color:rgba(255,255,255,0.5);margin:0px auto;text-align:center;line-height:30px;">
		筛
		</div>
	</div> -->
	<script type="text/javascript">
	(function() {
		var select_point = document.getElementById('select_point');
		select_point.addEventListener('touchstart',function() {
			e.preventDefault();
			e.stopPropagation();
			return;
		});
	})
	</script>

	<!-- hide -->
	<script type="text/javascript">
	$(function() {
		listload();
	})
	// init page
	var page = 1;
	var load_key = true;

	window.onscroll = function() {
		var div_top = $("#bottom_sign").offset().top;
		var scroll_top = $("body").scrollTop();
		var window_height = $(window).height();

		if(div_top - scroll_top <= window_height && load_key)
		{
			listload();
		}
	}

	function listload() {
		load_key = false;
		var _self = $('#listload_more');
		
		_self.hide();
		$("#loading_more_layer").show();

		$.ajax({
			type:'post',
			data:{'page':page,'keyword':$("#search_box").val()},
			url : "{php echo $this->createMobileUrl('listload');}",
			success :function(d) {
				if(d.res == '100') {
					var html = '';
					for (var i in d.list) {
						var info = d.list[i];
						html += '<li class="ui-row-flex ui-whitespace ui-border-t';
						if(info.sex == '1') {
							html += ' ui-border-boy ';
						}else {
							html += ' ui-border-girl ';
						}
						html += '" onclick="Surrounds.openNew(\'{php echo $this->createMobileUrl('detail')}&distance='+info.distance+'&unit='+info.unit+'&detail_openid='+info.openid+'\','+info.id+')" style="line-height:20px;">';
						html += '<div class="ui-col ui-col ui-flex ui-flex-ver ui-flex-pack-start ui-flex-align-center">';
						html += '<div class="ui-avatar">';
						if(info.headimgurl) {
							html += '<span style="border-radius:3px;background-image:url('+info.headimgurl+')"></span>';

						}else {
							html += '<span style="border-radius:3px;background-image:url(http://placeholder.qiniudn.com/100x100)"></span>';
						}
						
						html += '</div>';
						html += '</div>';
						html += '<div class="ui-col ui-col-4 ui-flex ui-flex-ver ui-flex-pack-center ui-flex-align-start">';
						html += '<div style="width:100%"><span style="font-weight:bold;">'+info.nickname+"</span>";
						html += '<span style="float:right">'+info.last_time+'前|'+info.distance+info.unit+'</span>';
						html += "</div>";
						html += '<div style="color:#00E3E3">'+info.sign+'</div>';

						html += '<div class="ui-label-list">';
						if (info.vip_level != 0) {
							html += '<label class="ui-label-me ui-label-s-vip">VIP</label>';
						}
						
						if(info.sex == '1') {
							html += '<label class="ui-label-me ui-label-s-3"><span class="fa fa-mars"></span>';
						}else {
							html += '<label class="ui-label-me ui-label-s-1"><span class="fa fa-venus"></span>';
						}
						var age = info.age?info.age:'';
						html += age +'</label>';
						if(info.province || info.city) {
							info.city = info.province == info.city ? '':info.city;
							html += '<label class="ui-label-me ui-label-s-2">'+info.province+info.city+'</label>';	
						}
						
						html += '</div></div>';
						html += '</li>';
					}
					$("#list_container").append(html);
					page ++;
					load_key = true;
					// loading 
					$("#loading_more_layer").hide();
					_self.show();
				}else if(d.res=='102') {
					$("#loading_more_layer").hide();
					$("#loading_over").show();
				}
			}
		})
	}
	</script>
{template 'footer'}