<div class="ui-footer ui-footer-stable ui-btn-group" style="background-color:black;color:#a6a6a6;opacity:0.9">
	<ul class="ui-tiled">
		<li id="bottom_menu_li">
			<div class="fa fa-align-justify" style="display:block"></div>
		</li>
		<li {if $this->menu == 'hall'}class="current"{/if} onclick="window.location.href='{php echo $this->createMobileUrl('hall')}'">
			<div class="fa fa-mixcloud" style="display:block"></div>
			<i>
		    大厅
		    </i>
		</li>
		<li {if $this->menu == 'list'}class="current"{/if} onclick="window.location.href='{php echo $this->createMobileUrl('list')}'">
			<div class="fa fa-map-marker" style="display:block"></div>
			<i>
			附近
		    </i>
		</li>
		<li {if $this->menu == 'chatroom'}class="current"{/if} onclick="window.location.href='{php echo $this->createMobileUrl('chatroomlist')}'">
			<div class="fa fa-group" style="display:block"></div>
			<i>
		    聊天室
		    </i>
		</li>
		<li {if $this->menu == 'moments'}class="current"{/if}  onclick="window.location.href='{php echo $this->createMobileUrl('moments')}'">
			<div class="fa fa-camera" style="display:block"></div>
			<i class="ui-badge-wrap">
			动态
		    </i>
		</li>
	</ul>
</div>
{template 'pop_menu'}