{template 'header'}
	<div class="ui-container">
		<div class="weui_panel weui_panel_access">	
			<div class="weui_panel_bd" id="list_container">
				<div href="javascript:void(0)" class="weui_media_box weui_media_appmsg" style="-webkit-align-items:flex-start" id="moments_{$info['id']}" onclick="">
					<div class="weui_media_hd">
						<img class="weui_media_appmsg_thumb" src="{$uinfo['headimgurl']}">
					</div>
					<!-- <div class="weui_media_hd" style="width:60px;height:60px;line-height:20px;">
						<h1 style="font-weight:bold">{$info['add_time']['year']}</h1>
						<h1 style="font-weight:bold">{$info['add_time']['month']}</h1>
					</div>  -->
					<div class="weui_media_bd" >
						<div  style="margin-bottom:5px;padding-bottom:5px;color:grey;">
						{$uinfo['nickname']}
						<span style="float:right;">{$info['add_time']}</span>
						</div>
						<p style="margin-bottom:5px;">{$info['remark']}</p>
						<ul class="weui_uploader_files" style="overflow:hidden;">
							{loop $info['albums'] $p}
							{if count($info['albums']) == 1}
							<li class="weui_uploader_file_1" onclick="watchPic('{$p['img_url']}')">
							{elseif count($info['albums']) >=2 && count($info['albums']) <=4}
							<li class="weui_uploader_file_2" onclick="watchPic('{$p['img_url']}')">
							{else}
							<li class="weui_uploader_file" onclick="watchPic('{$p['img_url']}')">
							{/if}
								<a href="javascript:void(0)">
									<img src="{$p['img_url']}">
								</a>
							</li>
							{/loop}
						</ul>
						<div style="color:grey;">
							{if $page_type == 'self'}
							<div onclick="doDelete('{$info['id']}')" style="display:inline-block;">删除</div>
							{/if}
							<div style="display:inline-block;float:right">回复&nbsp;{$info['comment_count']}</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
				var albumslist = [
				 <?php 
				 // -- php
				 $picurls = array();

			 	foreach($info['albums'] as $p) 
			 	{
			 			$picurls[] = "'".$p['img_url']."'";
			 	}
				 echo join(',',$picurls);
				 ?>
				 ];
				 </script>
			</div>
		</div>
		<ul class="ui-list ui-list-active ui-list-cover">
			{loop $commentlist $item}
			<li class="ui-border-t">
				<div class="ui-list-thumb" onclick="window.location.href='{php echo $this->createMobileUrl('detail',array('detail_openid'=>$item['user_openid']))}'">
					{if $item['usericon']}
					<span style="background-image:url({$item['usericon']})"></span>
					{else}
					<span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
					{/if}
				</div>
				<div class="ui-list-info" onclick="doReadyReply('{$item['user_openid']}','{$item['username']}')">
					<p>{$item['username']}<span style="float:right">{$item['add_time']}</span></p>
					<p style="color:black;">
					{if $item['reply_openid']}
					回复<a href='#'>{$item['reply_user']['username']}</a>:
					{/if}
					{$item['content']}
					</p>
				</div>
			</li>
			{/loop}
		</ul>
		<!-- comment input -->
		<div class="ui-input-wrap ui-border-t" style="position:fixed;bottom:0px;width:100%">
			<div class="ui-input ui-border-radius">
				<input type="text" id="comment_content" data='' placeholder='评价'>
			</div>
			<button class="ui-btn ui-btn-chat" id="comment_btn" onclick="doComment()">发送</button>
		</div>
	</div>
	<script type="text/javascript">
		var self_openid = "{php echo self::$openid}";
		function doComment() {

			var content = $("#comment_content").val();
			if(!content) {
				alert("^^请输入留言内容");
				return;
			}
			// 判断是否是回复
			var reply_openid = $("#comment_content").data('reply_openid') || '';

			$.ajax({
				type:'post',
				url:"{php echo $this->createMobileUrl('doComment')}",
				data:{comment_content:content,comment_openid:"{$uinfo['openid']}",reply_openid:reply_openid,mid:'{php echo $mid}'},
				success:function(d) {
					// 重置
					$('#comment_content').data('reply_openid','');
					$('#comment_content').prop('placeholder','评价');
					if(d.res == '100') {
						window.location.href='';
					}else if(d.res == '101') {
						alert("请先登陆");
					}else if(d.res == '102') {
						alert("留言失败");
					}else{
						alert(d.msg);
					}
					return ;
				}
			})
		}

		function doReadyReply(openid,username) {

			$("#comment_content").val('');
			$('#comment_content').trigger('focus');
			if(self_openid == openid)
			{
				return false;	
			}
			$('#comment_content').prop('placeholder','回复：'+username);
			// 设置被回复的openid
			$('#comment_content').data('reply_openid',openid);
		}

		// 如果脱离焦点，那么自动删除reply_openid
		$('#comment_content').blur(function() {

			if(!$("#comment_content").val()) {

				$('#comment_content').data('reply_openid','');
				$('#comment_content').prop('placeholder','评价');
			}
			
		})

		// 这里也不知道为什么必须加上才能变色
		$(".ui-list-active li").on('touchstart',function() {
			// $(this).css('background-color','#7E7E88');
		})

		$(".ui-list-active li").on('touchend',function() {
			// $(this).css('background-color','white');
		})

		function watchPic(url) {
				wx.previewImage({
					current:url,
					 urls:albumslist
				})
			}
	</script>
{template 'footer'}
