{template 'header'}
<div class="msg">
<div class="weui_msg">
	{if $err}
    <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_warn"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">提现失败</h2>
        {loop $err $item}
        <p class="weui_msg_desc">{php echo $item}</p>
        {/loop}
    </div>
    {else}
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">提现申请成功</h2>
        <p class="weui_msg_desc">请等待管理员审核，审核通过后将通过现金红包方式提现</p>
    </div>
    {/if}
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="{php echo $this->createMobileUrl('usercenter')}" class="weui_btn weui_btn_primary">返回个人中心</a>
        </p>
    </div>
    <div class="weui_extra_area">
        <a href="">{php echo date('Y-m-d H:i:s')}</a>
    </div>
</div>
</div>
<script type="text/javascript">
</script>
{template 'footer'}