<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1, user-scalable=0, user-scalable=no">
<title>{$title}</title>
	<script src="{CURR_UI_DIR}jq/jquery-2.2.3.js"></script>
    <script src="{CURR_UI_DIR}jq/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="{CURR_UI_DIR}weui/style/weui.css"/>
    <link rel="stylesheet" href="{CURR_UI_DIR}weui/example.css"/>      
    {php echo register_jssdk()}
</head>

<body ontouchstart>
<style type="text/css">
    body,html{height:100%;-webkit-tap-highlight-color:transparent}.page,body{background-color:#fbf9fe}.page{overflow-y:auto;-webkit-overflow-scrolling:touch}
</style>

{if $status == -2}
    <div class="msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_safe weui_icon_safe_warn"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">尚未申请</h2>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="javascript:;" id="bt_apply" class="weui_btn weui_btn_primary">申请开通通知服务</a>
                </p>
            </div>
            <div class="weui_extra_area">{$_W['page']['footer']}</div>
        </div>
    </div>  
<form action="" method="post" id="form_apply" name="form_apply">
    <input type="hidden" name="token" value="{$_W['token']}" />
    <input type="submit" name="submit" id="bt_submit" style="display:none" value="1">
</form>
<script>
$(function(){ 
	$("#bt_apply").click(function(){ 
		$('#bt_submit').click();
	});
});
</script>          
{else if $status == -1}
    <div class="msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_warn"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">审核失败</h2>
            </div>
            <div class="weui_extra_area">{$_W['page']['footer']}</div>
        </div>
    </div>
{else if $status == 0}
    <div class="msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_waiting"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">审核中</h2>
            </div>
            <div class="weui_extra_area">{$_W['page']['footer']}</div>
        </div>
    </div>       
{else if $status == 1}
    <div class="hd" style="padding:0">
        <h1 class="page_title">通知列表</h1>
    </div>
    
    <div class="weui_panel">
    	<div class="weui_panel_bd">
            {loop $notify_arr $data}
                <div class="weui_media_box weui_media_text">
                    <h4 class="weui_media_title">{$data['type_name']}</h4>
                    <p class="weui_media_desc" style="display:block">
                        {if $data['type']=='T'}
                            名称：{$data['content_arr']['tpl_name']}<br>
                            内容：{$data['content_arr']['tpl_content']}<br>
                            备注：{$data['content_arr']['tpl_remark']}<br>
                        {else}
                            {php echo str_replace(chr(13).chr(10), '<br>', $data['content_arr']['content']);}
                        {/if}                    
                    </p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta">{$data['create_at']}</li>
                    </ul>
                </div>            
            {/loop}
            {if empty($notify_arr)}
                <div class="weui_media_box weui_media_text">
                    <h4 class="weui_media_title">暂无通知</h4>
                </div>       
            {/if}        
            
            
        </div>
     </div>   
{/if}

<script src="{CURR_UI_DIR}weui/weui.js"></script> 
     
</body>
</html>
