{template 'common/header'}
<link rel="stylesheet" type="text/css" href="../addons/qwx_shangmen/template/resource/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="../addons/qwx_shangmen/template/resource/css/style.css">
<link rel="stylesheet" type="text/css" href="../addons/qwx_shangmen/template/resource/css/myaddress_post.css">
<style>
input[type=url], input[type=week], select, textarea {
     height: 23px; 
}
.info dd {
    padding: 11px 0 0px;
}
</style>
<body>
    <!-- 头部导航栏 -->
    {template 'header'}
    <section>
            <div class="info">
                <form id="theForm" method="POST" action="">
                    <dl>
                        <dt>上线</dt>
                        <dd>
                            <a id="setDefaultBtn" href="javascript:void(0);" class="setDefault {if !$item['online']}locked{/if} "><i></i></a>
                            <input type="hidden" id="setDefault" name="jform[online]" value="{$item[online]}" />
                        </dd>
                    </dl>
                    <dl>
                        <dt style="margin-top:10px;">联系人</dt>
                        <dd>
                            <input type="text" id="staff_name" name="jform[staff_name]" value="{$item[staff_name]}" placeholder="请输入联系人的姓名" />
                        </dd>
                    </dl>
                    <dl>
                        <dt style="margin-top:10px;">联系电话</dt>
                        <dd>
                            <input type="tel" id="staff_phone" name="jform[staff_phone]" value="{$item[staff_phone]}" placeholder="请输入联系人的手机号码" />
                        </dd>
                    </dl>
                    <dl>
                        <dt style="width:100px;">照片<!--todo--></dt>
                        <dd id="select_area" style="margin-left:100px;">
                            {php echo tpl_form_field_image('jform[staff_photo]',$item['staff_photo']);}
                        </dd>

                    </dl>
<dl>
	<script src="{CURR_UI_DIR}jq/jquery-2.2.3.js"></script>
    <script src="{CURR_UI_DIR}jq/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="{CURR_UI_DIR}weui/style/weui.css"/>
    <link rel="stylesheet" href="{CURR_UI_DIR}weui/example.css"/> 
<div class="container">
    <div class="weui_cells_title">上传</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <div class="weui_uploader">
                <div class="weui_uploader_hd weui_cell">
                  <div class="weui_cell_bd weui_cell_primary">图片上传</div>
                  <div class="weui_cell_ft js_counter">0/6</div>
                </div>
                <div class="weui_uploader_bd">
                  <ul class="weui_uploader_files"><!-- 预览图插入到这 --> </ul>
                  <div class="weui_uploader_input_wrp"><input class="weui_uploader_input js_file" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""></div>
                </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>


<script>
$.weui = {};
$.weui.alert = function(options){
		options = $.extend({title: '警告', text: '警告内容'}, options);
		var $alert = $('.weui_dialog_alert');
		$alert.find('.weui_dialog_title').text(options.title);
		$alert.find('.weui_dialog_bd').text(options.text);
		$alert.on('touchend click', '.weui_btn_dialog', function(){
		$alert.hide();
	});
	$alert.show();
};

$(function () {  
    // 允许上传的图片类型  
    var allowTypes = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'];  
    // 1024KB，也就是 1MB  
    var maxSize = 1024 * 1024;  
    // 图片最大宽度  
    var maxWidth = 300;  
    // 最大上传图片数量  
    var maxCount = 1;  
    $('.js_file').on('change', function (event) {  
      	var files = event.target.files;  
      
        // 如果没有选中文件，直接返回  
        if (files.length === 0) {  
          	return;  
        }  
        
        for (var i = 0, len = files.length; i < len; i++) {  
            var file = files[i];  
            var reader = new FileReader();  
          
            // 如果类型不在允许的类型范围内  
            if (allowTypes.indexOf(file.type) === -1) {  
                $.weui.alert({text: '该类型不允许上传'});  
                continue;  
            }  
            
            if (file.size > maxSize) {  
                $.weui.alert({text: '图片太大，不允许上传'});  
                continue;  
            }  
            
            if ($('.weui_uploader_file').length >= maxCount) {  
                $.weui.alert({text: '最多只能上传' + maxCount + '张图片'});  
                return;  
            }  
            
            reader.onload = function (e) {  
                $.post("server.php", { img: e.target.result},function(ret){  
                    if(ret.img!=''){  /*
                        alert('upload success');  
                        $('#showimg').html('<img src="' + ret.img + '">');  */
                    }else{  
                        alert('upload fail');  
                        return;
                    }  
                },'json');  
            
                var img = new Image();  
                img.onload = function () {  
                    // 不要超出最大宽度  
                    var w = Math.min(maxWidth, img.width);  
                    // 高度按比例计算  
                    var h = img.height * (w / img.width);  
                    var canvas = document.createElement('canvas');  
                    var ctx = canvas.getContext('2d');  
                    // 设置 canvas 的宽度和高度  
                    canvas.width = w;  
                    canvas.height = h;  
                    ctx.drawImage(img, 0, 0, w, h);  
                    var base64 = canvas.toDataURL('image/png');  
                    
                    // 插入到预览区  
                    var $preview = $('<li class="weui_uploader_file weui_uploader_status" style="background-image:url(' + base64 + ')"><div class="weui_uploader_status_content">0%</div></li>');  
                    $('.weui_uploader_files').append($preview);  
                    var num = $('.weui_uploader_file').length;  
                    $('.js_counter').text(num + '/' + maxCount);  
                    
                    // 然后假装在上传，可以post base64格式，也可以构造blob对象上传，也可以用微信JSSDK上传  
                    
                    var progress = 0;  
                    function uploading() {  
                        $preview.find('.weui_uploader_status_content').text(++progress + '%');  
                        if (progress < 100) {  
                            setTimeout(uploading, 30);  
                        } else {  
                            // 如果是失败，塞一个失败图标  
                            //$preview.find('.weui_uploader_status_content').html('<i class="weui_icon_warn"></i>');  
                            $preview.removeClass('weui_uploader_status').find('.weui_uploader_status_content').remove();  
                        }  
                    }  
                    setTimeout(uploading, 30);  
                };  
                      
                img.src = e.target.result;  
            };  
            reader.readAsDataURL(file);  
         }  
    });  
});  
//# sourceURL=pen.js  
</script>
</dl>              
                </form>
            </div>


    </section>

    <aside>
        <a class="book" id="save_button" href="javascript:void(0);">
        保存 </a> 
    </aside>

    <script>
        $('#save_button').click(function(){
            //检查表单是否完整：
            $('#theForm').submit();
        });

    </script>

    <script src="../addons/qwx_shangmen/template/resource/js/zepto.min.js"></script>
    <script src="../addons/qwx_shangmen/template/resource/js/address.min16.js"></script>
</body>
</html>{template 'common/footer'}