* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body{
    font-size: 62.5%;
    background-color: #f5f5f5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
}
:after, :before {
    box-sizing: border-box;
}

div, a, button, textarea, input{
    outline: 0;
}

img {
    vertical-align: middle;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

dl {
    margin-top: 0;
}

dt {
    font-weight: 700;
}

dd, dt {
    line-height: 1.42857143;
}

dd {
    margin-left: 0;
}

[v-cloak] {
    display: none;
}

.fade-transition {
    transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
    opacity: 0;
}

.hide {
    display: none!important;
}

.text-center{
    text-align: center;
}

#app{
    overflow: hidden;
}

.clearfix:after {
    content:"\200B";
    display:block;
    height:0;
    clear:both;
}
.clearfix {*zoom:1;}

#live{
    width: 98%;
    margin: 0 auto;
}

#live .live_item{
    width: 100%;
    height: 16rem;
    position: relative;
    margin: 1rem 0;
    overflow: hidden;
}

#live .live_item .title{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1.5rem;
    z-index: 3;
}


#live .live_item .title .txt{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden;
    font-size: 2rem;
    text-align: center;
    color: #555;
    background-color: rgba(255,255,255,0.8);
}


#live .live_item .thumb{
    position: absolute;
    width: 100%;
    height: 16rem;
    top:0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

#live .live_item .thumb img{
    width: 100%;
    height: 16rem;
}

#live .live_item .thumb .mask{
    width: 100%;
    height: 16rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.2);
}

#message_cover{
    height: 18rem;
    position: relative;
    overflow: hidden;
}

#message_cover .message_cover_bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;

    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#message_cover .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.2);
}

#message_cover .title{
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem;
    color: #333;
    position: absolute;
    text-align: center;
    z-index: 3;
    bottom: 1.5rem;
    background-color: rgba(255,255,255,0.8);
}

#message_cover .fixed{
    top:0;
    left: 0;
    bottom: 0;
    position: fixed!important;
}

#message_live_video{
    text-align: center;
}

#message_live_video .letv_iframe{
    width: 100%;
    height: 18rem;
    overflow: hidden;
}

#message_live_video .h5video{
    width: 100%;
    height: 18rem;
}

#message_item{
    width: 100%;
    margin: 1rem auto 7rem;
}

#message_item .item{
    width: 94%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #c9c9c9;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
    background-color: #ffffff;
}

#message_item .item .user .avatar{
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 4rem;
    float: left;
    margin: 0.5rem 1.5rem 0 0;
}

#message_item .item .user .avatar img{
    width: 4rem;
}

#message_item .item .user .p_name{
    width: 11rem;
    font-size: 1.4rem;
    height: 5rem;
    line-height: 5rem;
    float: left;
    overflow: hidden;
    color: #333333;
    margin-top: 0.5rem;
}

#message_item .item .user .time{
    width: 5.4rem;
    height: 5rem;
    line-height: 4.4rem;
    border: 4px solid #eeeeee;
    float: right;
    text-align: center;
    font-size: 1.6rem;
    color: #8c8c8c;
}

#message_item .item .message{
    color: #555555;
    font-size: 1.6rem;
    margin-top: 1rem;
}

#message_item .item .message .content{
    margin-bottom: 1rem;
    line-height: 2.4rem;
}

#message_item .item .message .img{
    text-align: center;
    margin-bottom: 1rem;
}

#message_item .item .message .img img{
    width: 96%;
}

#message_item .item .message .video{
    text-align: center;
    margin-bottom: 1rem;
}

#message_item .item .message .video video{
    width: 96%;
}

#message_item .item .action{
    padding: 1rem;
}

#message_item .item .action .pl, #message_item .item .action .zan{
    min-width: 6.4rem;
    height: 3rem;
    float: right;
}

#message_item .item .action .pl .l, #message_item .item .action .zan .l{
    width: 3rem;
    height: 3rem;
    float: left;
}

#message_item .item .action .pl .l img, #message_item .item .action .zan .l img{
    width: 3rem;
    height: 3rem;
}

#message_item .item .action .pl .r, #message_item .item .action .zan .r{
    width: 3.3rem;
    float: left;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.6rem;
    color: #a9b7b7;
    text-align: center;
}

#message_item .item .comment{
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid #eeeeee;
}

#message_item .item .comment .msg_input{
    width: 80%;
    float: left;
}

#message_item .item .comment .msg_input input{
    width: 100%;
    height: 3.8rem;
    padding: 0.8rem;
    border: 1px solid #dddddd;
    font-size: 1.5rem;
    background-color: #F9F9F9;
}

#message_item .item .comment .reply{
    width: 19.9%;
    float: left;
}

#message_item .item .comment .reply button{
    border: none;
    background-color: #dddddd;
    padding: 0;
    width: 100%;
    height: 3.8rem;
    color: #8c8c8c;
    font-size: 1.5rem;
}

#message_item .item .comment .list dt{
    width: 15%;
    float: left;
}

#message_item .item .comment .list dd{
    width: 84%;
    float: left;
}

#message_item .item .comment .list dt .avatar{
    width: 3rem;
    height: 3rem;
    overflow:hidden;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    margin: 0 auto;
}

#message_item .item .comment .list dl{
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}

#message_item .item .comment .list dt img{
    width: 3rem;
    height: 3rem;
}

#message_item .item .comment .list dd .info .comm_name{
    color: #666;
    font-weight: bold;
    font-size: 1.2rem;
}

#message_item .item .comment .list dd .info .comm_date{
    color: #aaa;
    font-size: 1.2rem;
}

#message_item .item .comment .list dd .comm_con{
    color: #333333;
    font-size: 1.4rem;
}

#message_item .item .comment .list dd .comm_con .renickname{
    display: inline-block;
    padding: 2px 5px;
    background-color: #e0e0e0;
    border-radius: 2px;
}

#message_item .item .comment .list .more{
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

#message_item .item .comment .list .more img{
    width: 3rem;
}

#message_item .item .comment .list .more p{
    font-size: 1.6rem;
    color: #cccccc;
}

#comment_item{
    position: relative;
    margin: 0 0 10rem;
}

#comment_item .tab_title{
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 1px solid #E0E0E0;
    color: #8c8c8c;
}

#comment_item .tab_title .tit{
    width: 23.9%;
    margin-right: 1%;
    float: left;
}

#comment_item .tab_title .act{
    background-color: #e8e8e8;
}

#comment_item .tab_content .con{
    display: none;
}

#comment_item .tab_content .act{
    display: inherit !important;
}

#comment_item .comment_add{
    width: 100%;
    position:fixed;
    bottom: 4.8rem;
    z-index: 999;
}

#comment_item .comment_add .msg_input{
    width: 80%;
    float: left;
}

#comment_item .comment_add .msg_input input{
    width: 100%;
    height: 3.8rem;
    padding: 0.8rem;
    border: 1px solid #dddddd;
    border-left: none;
    font-size: 1.5rem;
    background-color: #F9F9F9;
}

#comment_item .comment_add .reply{
    width: 19.9%;
    float: left;
}

#comment_item .comment_add .reply button{
    border: none;
    background-color: #dddddd;
    padding: 0;
    width: 100%;
    height: 3.8rem;
    color: #8c8c8c;
    font-size: 1.5rem;
}

#comment_item .list{
    width: 100%;
    height: 27rem;
    padding-bottom: 11rem;
}

#comment_item .list dt{
    width: 15%;
    float: left;
}

#comment_item .list dd{
    width: 84%;
    float: left;
}

#comment_item .list dt .avatar{
    width: 3rem;
    height: 3rem;
    overflow:hidden;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    margin: 0 auto;
}

#comment_item .list dl{
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}

#comment_item .list dt img{
    width: 3rem;
    height: 3rem;
}

#comment_item .list dd .info .comm_name{
    color: #666;
    font-weight: bold;
    font-size: 1.2rem;
}

#comment_item .list dd .info .comm_date{
    color: #aaa;
    font-size: 1.2rem;
}

#comment_item .list dd .comm_con{
    color: #4d4d4d;
    font-size: 1.4rem;
    padding: 0 1%;
    line-height: 2rem;
}

#comment_item .list dd .comm_con .renickname{
    display: inline-block;
    padding: 2px 5px;
    background-color: #e0e0e0;
    border-radius: 2px;
}

#comment_iteminfo{
    background-color: #f0f0f0;
}

#comment_iteminfo .info{
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    color: #4d4d4d;
    text-align: center;
    font-size: 1.4rem;
    float: right;
}

#comment_iteminfo .zan{
    min-width: 6.4rem;
    height: 4rem;
    line-height: 4rem;
    float: right;
}

#comment_iteminfo .zan .l{
    width: 2.5rem;
    height: 4rem;
    float: left;
}

#comment_iteminfo .zan .l img{
    width: 2.5rem;
    height: 2.5rem;
}

#comment_iteminfo .zan .r{
    width: 3.3rem;
    float: left;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    color: #a9b7b7;
    text-align: center;
}

#tip{
    overflow: hidden;
}

.black_mask{
    width: 100%;
    height: 1000rem;
    position: absolute;
    overflow: hidden;
    top:0;
    z-index: 998;
    background-color: rgba(0,0,0,0.7);
}

#tip #tip_message{
    width: 90%;
    min-height: 5rem;
    position: absolute;
    z-index: 999;
    background-color: rgba(255,255,255,0.5);
    top: 12rem;
    left: 10%;
    padding: 1rem;
}

#tip #tip_message .tit{
    background-color: #f8f8f8;
    font-size: 1.8rem;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    color: #7b7b7b;
}

#tip #tip_message .con{
    width: 100%;
    min-height: 5rem;
    background-color: #f8f8f8;
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

#tip #tip_message .con p{
    line-height: 2rem;
}

#tip #tip_message .con button{
    border: none;
    background-color: #b8b8b8;
    padding: 0.8rem 3rem;
    color: #ffffff;
    margin: 1rem 0;
    -webkit-box-shadow: inset 0 -4px 0 #A6A6A6;
    box-shadow: inset 0 -4px 0 #A6A6A6;
    outline: 0;
}

#tip #tip_message .con button:active {
    background-color: #a4a4a4;
}

#message_add .content{
    width: 94%;
    margin: 1rem auto;
}

#message_add .content textarea{
    width: 100%;
    height: 10rem;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #E0E0E0;
}

.btn{
    width: 94%;
    margin: 1rem auto;
    height: 5rem;
    text-align: center;
    font-size: 1.8rem;
    color: #8d8d8d;
    border: 1px solid #c9c9c9;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
    background-color: #ffffff;
    display: block;
    border-radius: inherit;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
}

.btn:hover{
    color: #8d8d8d;
}

.btn:active{
    background-color: #e4e4e4;
}

#fileUpload .img_list{
    width: 94%;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 2px dashed #dbdbdb;
}

#fileUpload .img{
    width: 89%;
    float: left;
    overflow: hidden;
    text-align: left;
}

#fileUpload .img img{
    width: 5rem;
}

#fileUpload .rm{
    width: 10%;
    padding-top: 1.5rem;
    float: left;
    text-align: center;
}

#fileUpload .rm img{
    width: 80%;
}

#fileUpload .progress{
    width: 75%;
    float: left;
}

#fileUpload .progress_txt{
    width: 24%;
    float: left;
    text-align: right;
    color: #757575;
    font-size: 1.4rem;
}

progress::-moz-progress-bar { background: #CBCBCB; }
progress::-webkit-progress-bar { background: #ffffff; }
progress::-webkit-progress-value  { background: #CBCBCB; }

#fileUpload .fileUpload_btn{
    text-align: center;
}

#fileUpload .fileUpload_btn .btn{
    width: 43%;
    margin: 3%;
    display: inline-block;
}

#fileUpload .progress progress{
    width: 100%;
    height: 5px;
    background-color:#e6e6e6;
}

#bottom_tool{
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid #E0E0E0;
    z-index: 9999;
}

#bottom_tool.bottom_tool_expand-transition {
    transition: all .3s ease;
}

#bottom_tool.bottom_tool_expand-enter, #bottom_tool.bottom_tool_expand-leave {
    opacity: 0;
    bottom: -5rem !important;
}

/* .sub5 */
#bottom_tool .sub{
    width: 19.9%;
    float: left;
    height: 5.4rem;
    line-height: 5.4rem;
    text-align: center;
    margin: 0 auto;
}

.sub3 .sub{
    width: 33% !important;
}

.sub4 .sub{
    width: 24.9% !important;
}

.sub5 .sub{
    width: 19.9% !important;
}

#bottom_tool .sub img{
    width: 2.8rem;
}

#bottom_tool .info{
    width: 100%;
    min-height: 30rem;
    position: absolute;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    z-index: 100;
    bottom: 4.9rem;
}

#bottom_tool .info .list{
    padding: 1rem;
}

#bottom_tool .info .list .item{
    margin: 1rem 0 2rem;
}

#bottom_tool .info .list .item .l{
    width: 100%;
    float: left;
    font-size: 1.8rem;
    color: #7E7E7E;
    text-indent: 3rem;
    margin-bottom: 0.5rem;
}

#bottom_tool .info .list .item .r{
    width: 100%;
    font-size: 1.4rem;
    color: #a2a2a2;
    float: left;
    text-indent: 2em;
}

#bottom_tool .info .list .item .r .avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 1rem 1rem 0 0;
}

#bottom_tool .info .list .item .r .status{
    color: #DB0005;
}

#bottom_tool .info .list .item .time{
    background: url("../img/time.png") no-repeat 0 center;
    background-size: contain;
}

#bottom_tool .info .list .item .data{
    background: url("../img/data.png") no-repeat 0 center;
    background-size: contain;
}

#bottom_tool .info .list .item .title{
    background: url("../img/title.png") no-repeat 0 center;
    background-size: contain;
}

#bottom_tool .info .list .item .description{
    background: url("../img/description.png") no-repeat 0 center;
    background-size: contain;
}

#bottom_tool .info .list .item .presenter{
    background: url("../img/presenter.png") no-repeat 0 center;
    background-size: contain;
}

#bottom_tool .qr{
    width: 100%;
    min-height: 30rem;
    position: absolute;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    z-index: 100;
    bottom: 4.9rem;
}

#bottom_tool .qr .title{
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: #8c8c8c;
}

#bottom_tool .qr .content{
    padding: 5% 10% 10%;
    text-align: center;
}

#bottom_tool .qr .content img{
    width: 80%;
}

#bottom_tool .reward{
    width: 100%;
    min-height: 20rem;
    position: absolute;
    border-top: 1px solid #cccccc;
    background: #ffffff;
    z-index: 100;
    bottom: 4.9rem;
}

#bottom_tool .reward .title{
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: #8c8c8c;
}

#bottom_tool .reward .content{
    padding: 5% 10% 10%;
}

#bottom_tool .reward .content .item{
    width: 30%;
    height: 4.5rem;
    line-height: 3.8rem;
    font-size: 2.2rem;
    text-align: center;
    color: #8c8c8c;
    float: left;
    border: 5px solid #F0F0F0;
    margin: 1rem 1.5%;
    border-radius: 1px;
}

#bottom_tool .reward .content .item span{
    font-size: 1.4rem;
}

#bottom_tool .reward .content .qr_tip{
    text-align: center;
    font-size: 2rem;
    color: #8c8c8c;
    margin-top: 0;
}

#bottom_tool .expand-transition {
    transition: all .3s ease;
    overflow: hidden;
}

#bottom_tool .expand-enter, .expand-leave {
    opacity: 0;
    bottom: 3rem !important;
}

.empty_wrap{
    width: 90%;
    margin: 3rem auto;
    padding: 1.5rem;
    border: 1px solid #DBDBDB;
    background-color: #ffffff;
}

.empty_wrap .empty_main{
    border: 1px solid #DBDBDB;
    padding: 1.5rem;
    background-color: #ffffff;
}

.empty_wrap .empty_main .title{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    position: relative;
    padding-bottom: 2rem;
}

.empty_wrap .empty_main .title span{
    border-bottom: 1px solid #DBDBDB;
    width: 100%;
    z-index: 1;
    top: 2rem;
    position: absolute;
}

.empty_wrap .empty_main .title .txt{
    text-align: center;
    font-size: 1.6rem;
    color: #727272;
    background-color: #ffffff;
    width: 50%;
    height: 4rem;
    line-height: 4rem;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
}

.empty_wrap .empty_main .content{
    font-size: 1.4rem;
    color: #a2a2a2;
}


.sk-folding-cube {
    margin: 20px auto;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

.spinner {
    margin: 100px auto;
    width: 30px;
    height: 30px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #c1c1c1;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% {
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}


.marquee {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.6rem;
    color: #4d4d4d;
}

.marquee a{
    color: #4d4d4d;
    text-decoration: none;
}

.ad_img img{
    width: 100%;
}

#charge{
    width: 100%;
    margin: 0 auto;
}

#charge .txt{
    width: 80%;
}

#charge .content{
    height: 8rem;
    line-height: 8rem;
    text-align: center;
}

#charge .charge_qr{
    text-align: center;
}

#charge .charge_qr .tip{
    font-size: 1.4rem;
    height: 3rem;
    line-height: 3rem;
    color: #727272;
}