.header {
    background-repeat: repeat-x;
    -webkit-background-size: 375px auto;
    background-size: 375px auto;
    background-color: #100001;
    background-position: center bottom
}

@media screen and (min-width: 350px) and (max-width: 360px) {
    .header {
        -webkit-background-size: 360px auto;
        background-size: 360px auto
    }
}

@media screen and (max-width: 320px) {
    .header {
        -webkit-background-size: 320px auto;
        background-size: 320px auto
    }
}

.header .name, .header .info, .header .level, .header .ui-newstips {
    position: relative;
    z-index: 9991
}

.header>ul {
    bottom: 15px;
    z-index: 9991
}

.snow-canvas-wrap {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9990;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
    background-color: transparent
}

.snow-canvas-wrap.show {
    opacity: .8
}

.snow-canvas-wrap .snow {
    -webkit-transform-origin: 0 0
}

@media screen and (min-width: 375px) and (min-height: 560px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 320px) and (max-width: 320px) and (min-height: 481px) {
    .snow-canvas-wrap .snow {
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0.25, #000), to(transparent))
    }
}

@media screen and (min-width: 375px) and (min-height: 560px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 320px) and (max-width: 320px) and (min-height: 481px) {
    .tip-margin-wrapper .snow-canvas-wrap .snow {
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0.25, #000), to(transparent))
    }
}

#snowContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 12;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-delay: 0;
    -webkit-transition-timing-function: ease
}

@media screen and (min-width: 375px) and (min-height: 560px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 320px) and (max-width: 320px) and (min-height: 481px) {
    #snowContainer {
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0.25, #000), to(transparent))
    }
}

@media screen and (min-width: 375px) and (min-height: 560px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-width: 320px) and (max-width: 320px) and (min-height: 481px) {
    .tip-margin-wrapper #snowContainer {
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0.25, #000), to(transparent))
    }
}

#snowContainer>div {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    overflow: hidden;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in
}

#snowContainer>div>img {
    display: block;
    position: absolute;
    border-radius: 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin: 50% -100%
}

@-webkit-keyframes fade {
    0% {
        opacity: 1
    }
    30% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes drop {
    0% {
        -webkit-transform: translate(-10px, -100px) rotate(360deg)
    }
    80% {
        -webkit-transform: translate(30px, 280px) rotate(0)
    }
    100% {
        -webkit-transform: translate(30px, 280px)
    }
}

@-webkit-keyframes clockwiseSpin {
    0% {
        -webkit-transform: rotate(-50deg)
    }
    100% {
        -webkit-transform: rotate(50deg)
    }
}

@-webkit-keyframes counterclockwiseSpinAndFlip {
    0% {
        -webkit-transform: scale(-1, 1) rotate(50deg)
    }
    100% {
        -webkit-transform: scale(-1, 1) rotate(-50deg)
    }
}