<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no">
<title>幸运大转盘</title>
<link rel="stylesheet" type="text/css" href="{RES}css/reset.css">
<link rel="stylesheet" type="text/css" href="{RES}css/media50px.min.css">
<link rel="stylesheet" type="text/css" href="{RES}css/style.css">
<script type="text/javascript" src="{RES}js/jquery.js"></script>
<script type="text/javascript" src="{RES}js/awardRotate.js"></script>
<script type="text/javascript" src="{RES}js/layer.m.js"></script>
</head>

<body class="dzp">
<h4 class="txtid">会员ID：{$fansid}</h4>
<img src="{if $set['sys']['top_bg']}{php echo strpos($set['sys']['top_bg'],'http://')===FALSE?(tomedia($set['sys']['top_bg'])):$set['sys']['top_bg']}{else}{RES}images/pic_011.png{/if}" class="dzp-title" />
<div class="dzp-box">
	<div class="turnplate" style="background-image:url({if $set['sys']['bg']}{php echo strpos($set['sys']['bg'],'http://')===FALSE?(tomedia($set['sys']['bg'])):$set['sys']['bg']}{else}{RES}images/turnplate-bg.png{/if});background-size:100% 100%;">
		<canvas class="item" id="wheelcanvas" width="422px" height="422px"></canvas>
		<canvas class="pointer"></canvas>
	</div>
</div>
<div class="dzp-main">
		<a class="yzfbtn chensi" href="javascript:;">您有<span>{$mem_info['dzp_number']}</span>次转盘机会</a>
		<div class="hps_money_list"></div>
	<a class="yzfbtn" href="#rule">游戏规则</a>
	<div class="dzp-note">
		<h4 id="rule">活动规则</h4>
		{$dzpset['sys']['rule']}
	</div>
</div>
<br>
<br>
<br>

{template 'footer'}

<div class="gundong" style="text-align: center;" id="haha1">
	<ul>
		{loop $dgundongs $adv}
		<li><span>{$adv['gd_title']}</span></li>
		{/loop}
	</ul>
</div>

<script>
	function fmoney(s, n) {
		n = n > 0 && n <= 20 ? n : 2;
		s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
		var l = s.split(".")[0].split("").reverse(),
				r = s.split(".")[1];
		t = "";
		for (i = 0; i < l.length; i++) {
			t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
		}
		return t.split("").reverse().join("") + "." + r;
	}
</script>
<script type="text/javascript">
	var turnplate={
		restaraunts:[],				//大转盘奖品名称
		colors:[],					//大转盘奖品区块对应背景颜色
		outsideRadius:183,			//大转盘外圆的半径
		textRadius:135,				//大转盘奖品位置距离圆心的距离
		insideRadius:0,				//大转盘内圆的半径
		startAngle:0,				//开始角度
		bRotate:false				//false:停止;ture:旋转
	};

	$(document).ready(function(){
		//动态添加大转盘的奖品与奖品区域背景颜色

		turnplate.restaraunts = ['{$dsetdata[money_m_1]} 元','{$dsetdata[money_m_2]} 元','{$dsetdata[money_m_3]} 元','{$dsetdata[money_m_4]} 元','{$dsetdata[money_m_5]} 元','{$dsetdata[money_m_6]} 元','{$dsetdata[money_m_7]} 元','{$dsetdata[money_m_8]} 元'];
		turnplate.colors = ["#f52c54", "#fff7d7","#f52c54", "#fff7d7","#f52c54", "#fff7d7","#f52c54", "#fff7d7"];

		var rotateTimeOut = function (){
			$('#wheelcanvas').rotate({
				angle:0,
				animateTo:2160,
				duration:8000,
				callback:function (){
					layer.open({
						content:'网络超时，请检查您的网络设置！',
						style: 'text-align:center;',
						time: 2,
					});
				}
			});
		};

		//旋转转盘 item:奖品位置; txt：提示语;
		var rotateFn = function (item, txt){
			var angles = item * (360 / turnplate.restaraunts.length) - (360 / (turnplate.restaraunts.length*2));
			if(angles<270){
				angles = 270 - angles;
			}else{
				angles = 360 - angles + 270;
			}
			$('#wheelcanvas').stopRotate();
			$('#wheelcanvas').rotate({
				angle:0,
				animateTo:angles+1800,
				duration:2000,
					callback:function(){
						layer.open({
							type: 1,
							content: '<div class="jiang-page"><a class="closebtn" onclick="layer.closeAll();" href="javascript:;">X</a><div class="jiang-box"><div class="jiang"><span>'+ txt +'</span>现金红包</div></div><p>已放入您的口袋，<br/>可以在“零钱记录”中查看！</p><a href="{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('gotopay',array('gid'=>$dsetdata['id'],'mid'=>pencode($fansid))), 2)}" onclick="layer.closeAll();" class="jxbtn"><img src="{RES}images/pic_016.png" /></a></div>',
							style: 'background:none; box-shadow:none;',
					});
					turnplate.bRotate = !turnplate.bRotate;
				}
			});
		};
		var goStatus = 0;
		$('.pointer').click(function (){
			if(turnplate.bRotate)return;
			turnplate.bRotate = !turnplate.bRotate;
			var item = '{$item}'; //获取随机数(奖品个数范围内)

			var url ="{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('dzpchai',array('fansid'=>$fansid,'hid'=>$dsetdata['id'])), 2)}&awad="+item ;
			$.ajax({
				url: url,
				dataType: "json",
				data: {
					t: Math.random()
				},
				success: function (data) {
					console.log(data);
					if(data.code == 1 && data.hpsMoney >= 1){
						rotateFn(item, turnplate.restaraunts[item-1]);
						$('.chensi').attr("href","{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('gotopay',array('gid'=>$dsetdata['id'],'mid'=>pencode($fansid))), 2)}");
						$('.chensi').html("再转一次");
					}else{
						$(".weui_dialog_bd").html(data.msg);
						$(".weui_dialog_alert").show();
					}
				},
				error: function (res) {
					console.log(res);
				}
			});
		});
	});

	function rnd(n, m){
		var random = Math.floor(Math.random()*(m-n+1)+n);
		return random;
	}

	//页面所有元素加载完毕后执行drawRouletteWheel()方法对转盘进行渲染
	window.onload=function(){
		drawRouletteWheel();
	};

	function drawRouletteWheel() {
		var canvas = document.getElementById("wheelcanvas");
		if (canvas.getContext) {
			//根据奖品个数计算圆周角度
			var arc = Math.PI / (turnplate.restaraunts.length/2);
			var ctx = canvas.getContext("2d");
			//在给定矩形内清空一个矩形
			ctx.clearRect(0,0,422,422);
			//strokeStyle 属性设置或返回用于笔触的颜色、渐变或模式
			ctx.strokeStyle = "#FFBE04";
			//font 属性设置或返回画布上文本内容的当前字体属性
			ctx.font = 'bold 25px Microsoft YaHei';
			for(var i = 0; i < turnplate.restaraunts.length; i++) {
				var angle = turnplate.startAngle + i * arc;
				ctx.fillStyle = turnplate.colors[i];
				ctx.beginPath();
				//arc(x,y,r,起始角,结束角,绘制方向) 方法创建弧/曲线（用于创建圆或部分圆）
				ctx.arc(211, 211, turnplate.outsideRadius, angle, angle + arc, false);
				ctx.arc(211, 211, turnplate.insideRadius, angle + arc, angle, true);
				ctx.stroke();
				ctx.fill();
				//锁画布(为了保存之前的画布状态)
				ctx.save();

				//----绘制奖品开始----
				ctx.fillStyle = "#222222";
				var text = turnplate.restaraunts[i];
				var line_height = 29;
				//translate方法重新映射画布上的 (0,0) 位置
				ctx.translate(211 + Math.cos(angle + arc / 2) * turnplate.textRadius, 211 + Math.sin(angle + arc / 2) * turnplate.textRadius);

				//rotate方法旋转当前的绘图
				ctx.rotate(angle + arc / 2 + Math.PI / 2);

				/** 下面代码根据奖品类型、奖品名称长度渲染不同效果，如字体、颜色、图片效果。(具体根据实际情况改变) **/
				if(text.indexOf(" ")>0){//流量包
					var texts = text.split(" ");
					for(var j = 0; j<texts.length; j++){
						ctx.font = j == 0?'25px Microsoft YaHei':'25px Microsoft YaHei';
						if(j == 0){
							ctx.fillText(texts[j]+" ", -ctx.measureText(texts[j]+" ").width / 2, j * line_height);
						}else{
							ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
						}
					}
				}else if(text.indexOf(" ") == -1 && text.length>6){//奖品名称长度超过一定范围
					text = text.substring(0,6)+"||"+text.substring(6);
					var texts = text.split("||");
					for(var j = 0; j<texts.length; j++){
						ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
					}
				}else{
					//在画布上绘制填色的文本。文本的默认颜色是黑色 measureText()方法返回包含一个对象，该对象包含以像素计的指定字体宽度
					ctx.fillText(text, -ctx.measureText(text).width / 2, 0);
				}
				ctx.restore();
			}
		}
	}

</script>

<script>
function scrollNews(selector,Entry,time,StartIndex){
	var _self=this;
	this.selector=selector;
	this.Entry=Entry;
	this.time = time;
	this.i=StartIndex||0;
	this.Count=$(this.selector+" ul li").length;
	$(this.selector+" ul li").hide();//全部隐藏
	$(this.selector+" ul li").eq(this.i).show();//第i个显示
	$(this.selector).bind("mouseenter",function(){
	    	if(_self.sI){clearInterval(_self.sI);}
	}).bind("mouseleave",function(){
			_self.showIndex(_self.i++);
	})
	/*生成激活OL项目*/
	for(var j=0;j<this.Count;j++)
		$(this.selector+" .activeOL").append('<li><a onclick="'+this.Entry+'.showIndex('+j+');" href="#"><img src="images/crystal.gif"></a></li>');
	$(this.selector+" ol li a").eq(this.i).addClass("active");
	this.sI=setInterval(this.Entry+".showIndex(null)",this.time);
	
	this.Getselector=function(){return this.selector;}
	this.showIndex=function(index) {
		this.i++;//显示下一个
		if(this.sI){clearInterval(this.sI);}
		this.sI=setInterval(this.Entry+".showIndex()",this.time);
		if (index!=null)
		{
			this.i=index;
		}
		if(this.i==this.Count)
			this.i=0;
		$(this.selector+" ul li").hide();
		$(this.selector+" ul li").eq(this.i).slideDown();
		$(this.selector+" ol li a").removeClass("active");
		$(this.selector+" ol li a").eq(this.i).addClass("active");
	}
}
var s=new scrollNews("#haha1","s", 2000 , 1);
</script>

<link rel="stylesheet" href="{RES}css/weui.css"/>
<script src="{RES}js/jweixin-1.0.0.js" language="javascript" type="text/javascript"></script>
<!--showMsg -->
<div class="weui_dialog_alert" style="display:none;">
<div class="weui_mask"></div>
<div class="weui_dialog">
    <div class="weui_dialog_hd"><strong class="weui_dialog_title">提 示</strong></div>
    <div class="weui_dialog_bd"></div>
    <div class="weui_dialog_ft">
        <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
    </div>
</div>
</div>
<script language="javascript" type="text/javascript">
$(".weui_btn_dialog").click(function(){
    $(".weui_dialog_alert").hide();
	location.href = "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('gotopay',array('gid'=>$dsetdata['id'],'mid'=>pencode($fansid))), 2)}"
});
</script> 
<script>
//触屏--------------------------
var touchPageYStart = 0;
try{
    if($.isFunction(eval(etouch))){
        var touch = etouch;
    }
}catch(e){
    var touch = function (event){  
        var event = event || window.event;
        var eot = event.touches[0];
        switch(event.type){  
            case "touchstart":  
                touchPageYStart = eot.clientY;
                break;  
            case "touchend":
                break;  
            case "touchmove":  
                var stTmp = $("body").scrollTop();
                $("body").scrollTop(stTmp + (touchPageYStart - eot.clientY));
                touchPageYStart = eot.clientY;
                event.preventDefault();
                break;  
        } 
    }
}    
document.addEventListener('touchstart',touch, false);
document.addEventListener('touchend',touch, false);
document.addEventListener('touchmove',touch, false); 
function onBridgeReady(){
 WeixinJSBridge.call('hideOptionMenu');
}

if (typeof WeixinJSBridge == "undefined"){
    if( document.addEventListener ){
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
    }else if (document.attachEvent){
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
    }
}else{
    onBridgeReady();
}
</script>
<div style="display:none">
<script>
	{$set['sys']['cnzz']}
</script>
</div>

</body>
</html>
