@charset "utf-8";
/*--------------------------
 模块：vtab （选项卡）
---------------------------*/
.vtab{
	font-size:0;
}
.vtab-title > .item{
	display:inline-block;
	padding:4px 8px;
	border-bottom:1px solid #E5E5E5;
	color:#595959;
	cursor:pointer;
	background:#fff;
	font-size:14px;
}
.vtab-title > .cur{
	background:#eee;
	font-weight:bold;
}
.vtab-content > .item{
	display:none;
}
.vtab-content > .item.cur{
	display:block;
}