*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{color:#555;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,.2);font-size:12px}
body,html{background:#FFF;max-width:640px;height:100%;margin:0 auto}
body{width:100%;overflow-x:hidden;position:relative}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
body,button,input,select,textarea{font:14px/1.5 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif,\5b8b\4f53}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
.h2,h2{font-size:30px}
q:after,q:before{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a{color:#666;text-decoration:none}
a:visited{color:inherit}
a:active,a:hover,a:visited{text-decoration:none}
a,ins{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
.cl:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.cl{zoom:1}
.pr{position:relative}
@font-face{font-family:icomoon;src:url(fonts/icomoon.eot?fdr4vk);src:url(fonts/icomoon.eot?#iefixfdr4vk) format('embedded-opentype'),url(fonts/icomoon.woff?fdr4vk) format('woff'),url(fonts/icomoon.ttf?fdr4vk) format('truetype'),url(fonts/icomoon.svg?fdr4vk#icomoon) format('svg');font-weight:400;font-style:normal}
[class*=" icon-"],[class^=icon-]{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-arrow-left:before{content:"\e094"}
.icon-plus:before{content:"\e114"}
.icon-check:before{content:"\e116"}
.icon-cross:before{content:"\e117"}
.icon-credit-card:before{content:"\e607"}
.icon-verified-user:before{content:"\e600"}
.icon-visibility:before{content:"\e601"}
.icon-visibility-off:before{content:"\e602"}
.icon-wallet-giftcard:before{content:"\e603"}
.icon-audiotrack:before{content:"\e605"}
.icon-directions-bike:before{content:"\e610"}
.icon-directions-car:before{content:"\e617"}
.icon-directions-ferry:before{content:"\e618"}
.icon-directions-transit:before{content:"\e619"}
.icon-flight:before{content:"\e61a"}
.icon-hotel:before{content:"\e61b"}
.icon-local-atm:before{content:"\e61c"}
.icon-local-convenience-store:before{content:"\e61d"}
.icon-local-gas-station:before{content:"\e61e"}
.icon-local-grocery-store:before{content:"\e61f"}
.icon-local-library:before{content:"\e620"}
.icon-local-mall:before{content:"\e621"}
.icon-restaurant-menu:before{content:"\e606"}
.icon-cake:before{content:"\e622"}
.icon-school:before{content:"\e623"}
.icon-share:before{content:"\e624"}
.icon-location:before{content:"\e604"}
.icon-star2:before{content:"\e608"}
.icon-heart:before{content:"\e609"}
.icon-star:before{content:"\f005"}
.icon-film:before{content:"\f008"}
.icon-qrcode2:before{content:"\f029"}
.icon-tag:before{content:"\f02b"}
.icon-tags:before{content:"\f02c"}
.icon-image:before{content:"\f03e"}
.icon-photo:before{content:"\f03e"}
.icon-picture-o:before{content:"\f03e"}
.icon-gift2:before{content:"\f06b"}
.icon-phone-square:before{content:"\f098"}
.icon-truck2:before{content:"\f0d1"}
.icon-umbrella:before{content:"\f0e9"}
.icon-cutlery:before{content:"\f0f5"}
.icon-building-o:before{content:"\f0f7"}
.icon-hospital-o:before{content:"\f0f8"}
.icon-gamepad:before{content:"\f11b"}
.icon-weibo:before{content:"\f18a"}
.icon-renren:before{content:"\f18b"}
.icon-tencent-weibo:before{content:"\f1d5"}
.icon-qq:before{content:"\f1d6"}
.icon-wechat:before{content:"\f1d7"}
.icon-weixin:before{content:"\f1d7"}
.icon-share-alt-square:before{content:"\f1e1"}
.icon-paypal:before{content:"\f1ed"}
.icon-whatsapp:before{content:"\f232"}
.icon-film2:before{content:"\e625"}
.icon-microphone:before{content:"\e626"}
.icon-coffee2:before{content:"\e627"}
.icon-phone:before{content:"\e60a"}
.icon-cube:before{content:"\e628"}
.icon-barcode:before{content:"\e60b"}
.icon-ticket:before{content:"\e60c"}
.icon-ticket2:before{content:"\e60d"}
.icon-pin-alt:before{content:"\e630"}
.icon-aperture:before{content:"\e60f"}
.icon-phone2:before{content:"\e611"}
.icon-coffee:before{content:"\e612"}
.icon-pacman:before{content:"\e916"}
.icon-barcode2:before{content:"\e937"}
.icon-qrcode:before{content:"\e938"}
.icon-phone3:before{content:"\e942"}
.icon-phone-hang-up:before{content:"\e943"}
.icon-location3:before{content:"\e947"}
.icon-location2:before{content:"\e948"}
.icon-gift:before{content:"\e99f"}
.icon-glass:before{content:"\e9a0"}
.icon-mug:before{content:"\e9a2"}
.icon-spoon-knife:before{content:"\e9a3"}
.icon-fire2:before{content:"\e9a9"}
.icon-truck:before{content:"\e9b0"}
.icon-earth:before{content:"\e60e"}
.icon-gaspump:before{content:"\e629"}
.icon-chevron-thin-down:before{content:"\e62c"}
.icon-chevron-thin-up:before{content:"\e62d"}
.icon-chevron-with-circle-down:before{content:"\e62e"}
.icon-chevron-with-circle-up:before{content:"\e62f"}
.icon-phone4:before{content:"\e613"}
.icon-shop:before{content:"\e614"}
.icon-ticket3:before{content:"\e615"}
.icon-wallet:before{content:"\e62a"}
.icon-paypal2:before{content:"\e62b"}
.icon-picasa:before{content:"\e616"}
.icon-map-marker:before{content:"\e631"}
.noborder{border-bottom:0!important;border-top:0!important}
.pt-page-moveToLeft{-webkit-animation:moveToLeft .5s ease both;-moz-animation:moveToLeft .5s ease both;animation:moveToLeft .5s ease both}
.pt-page-moveFromLeft{-webkit-animation:moveFromLeft .5s ease both;-moz-animation:moveFromLeft .5s ease both;animation:moveFromLeft .5s ease both}
.pt-page-moveToRight{-webkit-animation:moveToRight .5s ease both;-moz-animation:moveToRight .5s ease both;animation:moveToRight .5s ease both}
.pt-page-moveFromRight{-webkit-animation:moveFromRight .5s ease both;-moz-animation:moveFromRight .5s ease both;animation:moveFromRight .5s ease both}
.pt-page-scaleUp{-webkit-animation:scaleUp .7s ease both;-moz-animation:scaleUp .7s ease both;animation:scaleUp .7s ease both}
@-webkit-keyframes moveToLeft{to{-webkit-transform:translateX(-100%)}
}
@-moz-keyframes moveToLeft{to{-moz-transform:translateX(-100%)}
}
@keyframes moveToLeft{to{transform:translateX(-100%)}
}
@-webkit-keyframes moveFromLeft{from{-webkit-transform:translateX(-100%)}
}
@-moz-keyframes moveFromLeft{from{-moz-transform:translateX(-100%)}
}
@keyframes moveFromLeft{from{transform:translateX(-100%)}
}
@-webkit-keyframes moveToRight{to{-webkit-transform:translateX(100%)}
}
@-moz-keyframes moveToRight{to{-moz-transform:translateX(100%)}
}
@keyframes moveToRight{to{transform:translateX(100%)}
}
@-webkit-keyframes moveFromRight{from{-webkit-transform:translateX(100%)}
}
@-moz-keyframes moveFromRight{from{-moz-transform:translateX(100%)}
}
@keyframes moveFromRight{from{transform:translateX(100%)}
}
@-webkit-keyframes scaleUp{from{opacity:0;-webkit-transform:scale(.8)}
}
@-moz-keyframes scaleUp{from{opacity:0;-moz-transform:scale(.8)}
}
@keyframes scaleUp{from{opacity:0;transform:scale(.8)}
}
.pt-page{width:100%;height:100%;position:absolute;top:0;left:0;visibility:hidden;background:#fff;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}
.no-js .pt-page,.pt-page-current{visibility:visible;z-index:1;height:auto;min-height:100%}
.no-js body{overflow:auto}
.pt-page-ontop{z-index:999}
.animated{-webkit-animation-duration:.8s;animation-duration:.8s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.animated-fast{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);-ms-transform:translate3d(0,-100%,0)}
  100%{opacity:1;-webkit-transform:none;transform:none;-ms-transform:none}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}
@-webkit-keyframes fadeInDown2{0%{opacity:1;-webkit-transform:none;transform:none}
  100%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
}
@keyframes fadeInDown2{0%{opacity:1;-webkit-transform:none;transform:none;-ms-transform:none}
  100%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0)}
}
.fadeInDown2{-webkit-animation-name:fadeInDown2;animation-name:fadeInDown2}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
@-webkit-keyframes rotation{from{-webkit-transform:rotate(0)}
  to{-webkit-transform:rotate(359deg)}
}
@keyframes rotation{from{-webkit-transform:rotate(0);transform:rotate(0)}
  to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
@-webkit-keyframes bounceIn{0%,100%,20%,40%,60%,80%{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
  0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
  20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
  40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
  60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
  80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
  100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@keyframes bounceIn{0%,100%,20%,40%,60%,80%{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
  0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
  20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
  40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
  60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
  80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
  100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn;-webkit-animation-duration:.75s;animation-duration:.75s}
@-webkit-keyframes zoomOut{0%{opacity:1}
  50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
  100%{opacity:0}
}
@keyframes zoomOut{0%{opacity:1}
  50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
  100%{opacity:0}
}
.zoomOut{-webkit-animation-name:zoomOut;animation-name:zoomOut}
.reversal{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.coolroll{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.swipe{overflow:hidden;visibility:hidden;position:relative;margin:10px 10px 0;height:0}
.swipe-wrap{overflow:hidden;position:relative}
.swipe-wrap>div{float:left;width:100%;position:relative}
.swipe-wrap img{display:block;width:100%}
.swipe-wrap .i{background-repeat:no-repeat;background-size:cover;background-position:center center;width:100%}
.bullets,.bullets1{position:absolute;right:10px;bottom:0;color:#fff;font-size:12px}
.position,.position1{text-align:center}
.position li,.position1 li{display:inline-block;width:6px;height:6px;border-radius:3px;background:rgba(255,255,255,.5);margin:0 1px}
.position li.current,.position1 li.current{background:#fff}
.nav-list .position1 li{background:#eee;float:none;display:inline-block;width:6px;height:6px}
.position1 li.current{background:#ccc}
.bullets1{width:100%;text-align:center}
.container{margin-right:auto;margin-left:auto;padding-left:10px;padding-right:10px}
.container_map,.pt-page{padding-top:40px;padding-bottom:45px}
.main-hot{background-color:#FF5950;color:#FFF;font-style:normal;font-size:11px;width:16px;height:16px;line-height:16px;display:inline-block;border-radius:50%;text-align:center}
.main-hot{position:absolute;top:2px}
.nav-list .main-hot,.nav-list-far .main-hot{top:0;right:-5px}
.nav-list-col .main-hot{margin-left:10px}
.company-title .main-hot{top:0;margin-left:5px;position:relative}
.company-list-head .main-hot{position:static;margin-left:5px}
.m-piclist-title{font-weight:400;font-size:12px;color:grey;line-height:25px}
.nav-list{padding:10px 0 15px;border-bottom:1px solid #FAFAFA;position:relative;height:180px}
.nav-list li{float:left;margin-top:10px;text-align:center;width:25%}
.nav-list a{display:block;position:relative}
.nav-list span{display:block;position:relative;width:42px;height:42px;border-radius:50%;margin:0 auto}
.nav-list span img{display:block;width:42px;height:42px}
.nav-list .chevron-wrap{margin:6px 0 -15px;position:relative}
.nav-list .chevron{margin:0 auto;width:24px;display:block;text-align:center}
.nav-list-far{background:url(./bg1.png) no-repeat right bottom;background-size:270px auto;border-bottom:1px solid #FAFAFA}
.nav-list-far li{float:left;margin-bottom:10px;text-align:center;width:20%}
.nav-list-far a{display:block;position:relative}
.nav-list-far span{display:block;position:relative;width:35px;height:35px;border-radius:50%;margin:0 auto}
.nav-list-far span img{display:block;width:35px;height:35px}
.nav-list-head{padding:10px 15px;font-size:12px;color:grey}
.nav-list-head i{font-size:14px!important;position:relative;top:1px}
.nav-list-col{border-bottom:1px solid #FAFAFA}
.nav-list-col li{border-right:1px solid #FAFAFA;border-top:1px solid #FAFAFA;float:left;width:50%;height:65px}
.nav-list-col li:nth-child(2n){border-right:0}
.nav-list-col li a{padding:15px 10px 15px 15px;display:block}
.nav-list-col .nav-icon{float:left;margin-right:10px}
.nav-list-col .main-title{line-height:20px;color:#323232;position:relative}
.nav-list-col .sub-title{line-height:15px;height:15px;overflow:hidden;color:grey;font-size:12px;display:-webkit-box;display:box;display:-moz-box}
.nav-list-col .sub-title span{display:block;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;box-flex:1}
.nav-list-col .nav-icon img{width:35px;height:35px;display:block}
.bar img{width:100%;display:block;padding:0 10px}
.topnav{background:rgba(49,63,70,.9);height:40px;font-size:15px;width:100%;position:fixed;top:0;left:0;z-index:999}
.home-return{position:absolute;top:0;left:0;display:block;height:40px;line-height:38px;text-align:center;padding:0 20px 0 30px}
.home-return:after{border:1px solid #FFF;border-left:transparent;border-bottom:transparent;content:"";height:13px;left:10px;position:absolute;top:13px;-webkit-transform:rotate(-135deg);width:13px}
.home-return,.home-return:visited{color:#FFF}
.topnav .hd{overflow:hidden;text-align:center;color:#F3F3F3;font-size:18px;line-height:38px;display:none}
.tophd{overflow:hidden;text-align:center;color:#FFF;font-size:18px;line-height:40px;position:absolute;left:0;top:0;width:100%;background:rgba(0,0,0,.3)}
footer{text-align:center;padding:20px 0 20px}
.masthead{padding:0 0 20px;color:#fff}
.masthead img{display:block}
.projects{padding-bottom:20px}
.projects h2{margin-bottom:20px}
.masthead-button-links{text-align:center}
.btn-outline.active{position:relative;top:1px;box-shadow:none!important}
.btn-outline:visited{color:#FFF}
.btn{box-shadow:inset 0 -2px rgba(255,255,255,.1),inset 0 -3px rgba(0,0,0,.1),0 1px rgba(0,0,0,.05);;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;display:inline-block;border-radius:2px;padding:10px 30px 13px;text-align:center}
.btn-outline{width:100%;background:#3EC234;text-shadow:0 1px rgba(0,0,0,.15);color:#fff}
.btn-offline{width:100%;background:#eaefef;text-shadow:0 1px rgba(255,255,255,.5);color:#505050}
input[type=search]{-webkit-appearance:none}
input::-webkit-search-cancel-button{display:none}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
.form{margin-top:15px}
.form *{-webkit-appearance:none}
label{display:inline-block;width:100%;margin-bottom:5px;margin-left:10px;font-weight:700}
.form-search{-webkit-appearance:none;;height:36px;border-radius:2px;border:1px solid #f5f5f5;box-shadow:none;padding:18px 5px;font-size:16px;line-height:18px;vertical-align:middle;margin:0;font-family:inherit;color:#99A6B4;width:100%;padding-left:20px;resize:none;outline:0;background-size:18px 18px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.form-clear{display:none;position:absolute;right:51px;top:1px;width:35px;height:35px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABMUlEQVRIS63WQQ6CMBAAQBpI9O7ZD+gv9APe9c6B+BtIeIDe9QH6GD37ABOgbokQKNt2l5aTAelkl91uRVmWmyiK9nVd37Ise8PvYFdRFOs4jg+w4EMAdJZSroQQX8AuoTCFJElybJpmCWt/xF89AbYIhWlIG4BQeQqJYYjKUguFwkyIWr+HfDEbMoHmYi4EhbgYBTFCVExHoGqvaZq+sEYcfSP9D7Zq5CDWiGzVqJ5Bx/e9Z4ukW8cakQlT97sGpyCkiDCsfRG2LCriDXH2Ru/UUTEnpFeeSldVVXJYDBSMVd7Db8LdiI0QFonejBwMhSgId9efQByEg1nHBKdPXGk0Dj4OQokMHeVzEBc2OZz4IDZsdNwKgRiwj8jzfAvnrx0gd9PQwgYZ5V53gISd5PkD2tTtJS95VDgAAAAASUVORK5CYII=) no-repeat center center;background-size:16px 16px}
.form114submit{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAARVBMVEUAAACorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrN7fvQJAAAAFnRSTlMA5zLGv4IcCe0rED/690uYktucm4d4lbUvlgAAANNJREFUKM99klmOxCAMBW3MFgiQ9PLuf9SJMg0tQpr6QLLKgLGhymI0rytrs9CVqNHQsVOuAH7LlsjmjYHiqBEEybTYvRMktEiwdxctO6TmFuyWOuyOx6cWpKHAJeG/KoGhAQM5k+DDKIOHOnM2umE7z9PIdzJDHyvD3kkLPtYVju7AOpXzY+cFzZ+iZk0gwWuUL0htvLo6VRtPBXwdGeP5HTarbh8DqvsmoUXvBIDbjN0T8CVb52wuHnhE3+xBFDQkEqnOkqqfWh1BsyPVavptdfgDoAEMIEt7GboAAAAASUVORK5CYII=) no-repeat center center;position:absolute;right:1px;top:1px;width:35px;height:35px;background-size:16px 16px}
.form-group{margin-bottom:15px;position:relative;overflow:hidden}
.form-group:last-child{margin-bottom:0}
.form-control{;display:block;width:100%;height:45px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#99a6b4;background-color:#fff;border-radius:2px;border:1px solid #FAFAFA;box-shadow:none;resize:none;outline:0}
textarea.form-control{height:90px;outline:0}
.form-control:focus{background-color:#E5F2FF;border-color:#66AFE9;outline:0}
.form-control-top{border-bottom-color:#fff;border-radius:2px 2px 0 0!important}
.form-control-bottom{border-radius:0 0 2px 2px}
.form-control-middle{border-radius:0;border-bottom-color:#fff}
#residecitybox{display:-webkit-box;display:box;display:-moz-box;border:1px solid #FAFAFA;height:45px;padding:6px;border-bottom-color:#fff;border-radius:2px 2px 0 0!important}
#residecitybox select{padding:3px;margin-right:5px;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;box-flex:1;box-sizing:border-box;display:block;border:0;background:#f3f3f3;border-radius:2px;color:#99a6b4;outline:0}
#residedist{margin-right:0!important}
#residecommunity{display:none!important;visibility:hidden}
.form-cheker{background:#8dc56a;display:inline-block;width:16px;height:16px;font-size:16px;text-align:center;color:#fff;position:relative;top:2px;border-radius:2px;-webkit-transition:all ease-in-out .35s;-o-transition:all ease-in-out .35s;transition:all ease-in-out .35s}
.form-cheker-disable{background:#dcdcde;color:#dcdcde}
.form-ul li{height:45px;line-height:45px;border-bottom:1px solid #FAFAFA;font-size:14px;padding-left:14px}
.form-ul li.focus{color:#66AFE9;padding-left:0}
.form-ul li.focus:before{position:relative;top:2px;content:"\e116";font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
#bottom-mask{display:none;position:fixed;bottom:0;left:0;background:#fff;width:100%;z-index:9999}
.agree{margin:20px 0 0 0}
.agree a{text-decoration:underline}
.agreement{max-width:640px;display:none;position:fixed;height:90%;width:90%;z-index:9999;background:#fff;margin:5% 0 0 5%;padding:10px;overflow-y:auto}
.agreement h3,.agreement h4{text-align:center;font-size:20px;margin:15px 0}
.agreement h4{font-size:15px;margin-bottom:10px}
.agreement p{text-indent:2em}
#agreement-close{margin-top:20px}
#agreement_mask{display:none;position:fixed;top:0;left:0;z-index:9998;bottom:0;right:0;background:rgba(0,0,0,.5)}
.photo-control{border:2px dashed #99A6B4;border-radius:5px;background:#FAFAFA;color:#99A6B4;font-size:22px;text-align:center;width:100px;height:75px;line-height:70px;float:left;margin:0 0 10px 10px;position:relative;overflow:hidden}
.photo-control input[type=file]{position:absolute;left:0;top:0;bottom:0;right:0;opacity:0;width:100%}
.photo-control i.icon-cross{position:absolute;top:0;right:0}
.photo-control-input i.icon-cross{top:10px;right:20px}
.photo-process{background:rgba(88,188,107,.6);width:0;height:100%;position:absolute;left:0;top:0;-webkit-transition:all ease-in-out .35s;-o-transition:all ease-in-out .35s;transition:all ease-in-out .35s}
.photo-full{display:inline-block;max-width:100%;max-height:100%;text-align:center}
.photo-demo{position:absolute;top:3px;right:2px;display:block;color:#db7093;text-align:right;font-size:12px;line-height:10px}
.olist{list-style-type:decimal;padding-left:22px;font-size:12px;margin-bottom:10px}
.banner{margin:10px;position:relative}
.banner img{width:100%;display:block}
.company-list-head{padding:10px 15px;font-size:12px;color:grey;position:relative}
.company-list-1{display:block;border-top:1px solid #FAFAFA;margin:0 15px 15px}
.company-list-1 li{position:relative;border-bottom:1px solid #FAFAFA;min-height:65px}
.company-list-1 li a{display:block;position:relative;padding:10px 0}
.company-list-1 img{display:block;width:40px;height:40px;border-radius:50%}
.company-list-1 .compnay-icon{float:left;margin-right:20px;width:40px;height:40px;border-radius:50%;position:relative}
.company-list-1 .compnay-icon-r{width:40px;height:40px;border-radius:50%;position:absolute;right:0;display:block;padding:0;top:10px}
.company-list-1 .company-title{line-height:25px;min-height:25px;color:#323232;font-size:14px;position:relative}
.company-list-1 .company-title-middle{line-height:40px!important;height:40px!important}
.company-list-1 .company-desc{line-height:22px;color:#c9c9c9;font-size:14px;margin:0 45px 0 60px}
.company-list-1 .company-link{position:absolute;width:60px;height:60px;right:0;top:0}
.company-list-1 .company-link-only:after,.company-list-1 .company-link:after,.more-info-link:after{border:1px solid #ddd;border-left:transparent;border-bottom:transparent;content:"";height:13px;right:10px;position:absolute;top:24px;-webkit-transform:rotate(45deg);width:13px}
.more-info-link:after{top:13px;right:18px}
.company-card{display:block;border-top:1px solid #FAFAFA;margin:15px}
.company-card li{border-bottom:1px solid #FAFAFA;overflow:hidden}
.company-card li a{display:block;position:relative;height:60px;overflow:hidden}
.company-card li a.phone{height:auto;min-height:60px}
.company-card .left{float:left;margin-right:20px}
.company-card .left img{width:60px;height:60px;display:block;vertical-align:middle;border-radius:2px}
.company-card .title,.company-card .upper{font-size:16px;color:#323232;line-height:60px;height:60px}
.company-card .upper{line-height:40px;height:30px}
.company-card .desc,.company-card .suber{font-size:14px;color:grey;line-height:20px;margin-top:0;overflow:hidden}
.company-card .suber{min-height:20px;margin-top:0}
.company-card .right-icon{width:40px;height:40px;position:absolute;right:0;top:10px}
.company-card .right-icon-thin{width:20px;height:20px;position:absolute;right:10px;top:10px}
.company-card .right-icon-thin .circle i{font-size:12px}
.company-card li a.more-info,.company-card li a.more-info-link{height:40px}
.company-card-inner .btn{width:280px;margin:0 auto;display:block}
.company-card-inner .subp{padding:15px 20px;text-align:left;line-height:20px;font-size:13px;color:#999}
.company-card-inner .p{font-size:15px;text-align:center;line-height:20px;color:#666;padding:15px 0;border-bottom:1px solid #ddd}
.company-card-inner{width:310px;position:fixed;min-height:300px;left:50%;top:50%;margin:-180px 0 0 -155px;border-radius:5px;background-color:#F5F5F5;padding-bottom:15px}
.company-card-pop{position:fixed;z-index:19999;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,.4);display:none}
.company-card-noqr a{display:block;width:60px;height:60px;background:url(./yes.png) no-repeat;background-size:60px 60px;margin:0 auto}
.company-card-noqr{overflow:hidden;text-align:center;margin-top:20px}
.company-card-noqr img{min-width:200px;height:170px;display:block;margin:0 auto;padding:0 15px}
.circle{display:table;border-radius:50%;width:100%;height:100%;text-align:center;background:#7BE14F;color:#FFF}
.circle img{width:100%}
.circle-red{background:#FF5950}
.circle-wegreen{background:#5AB723}
.circle-dred{background:#DD2330}
.circle-blue{background:#5BABEB}
.circle-white{background:#fff}
.circle i{display:table-cell;vertical-align:middle;font-size:24px}
.circle-dgreen{color:#5AB723;background:#f1f1f1}
.circle-dgreen i,.circle-largephone i{font-size:32px}
.share_wechat{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:999999;background:url(./guide_weixin.png) 100% 0/auto 155px no-repeat rgba(0,0,0,.5)}
.ajxloading,.ajxloading-large{-webkit-animation-duration:1s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:rotation;-webkit-animation-timing-function:linear;animation-duration:1s;animation-iteration-count:infinite;animation-name:rotation;animation-timing-function:linear;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAABGklEQVR42u2aPWoCURhFBUdBq0DchKVdAtaCaVLqKtyA2hsURd2AbdJbaCFkJynSxD/EwkbweduEuaaymDv3wFnAgZk3b773MsYYY4wxxpg7sKrmYB9u4B6OYV45eALDH3uqsTV4iQneKcYW4RcMaQluw0AcqcU+wiOJ/YYFteAuDMSG4mfoh8QuFd/dVxJ7gRXF4HcSvFCMzcIDCW4qBj+R2BMsKAa3SPBcdSs5I8Ed1eBPEvyiGcz3zmXNYL5CP6gGn0lw5GA/0l60Ev1Zqnvj4a1lMoOf0/bzEMGD5miHR3/cGgB4xCMyxFv/N8TzmDbhwSXdQTyP7sBAHPowzcelyY2exgS/qV95GMDtrysPxhhjjDHGmNRxBQwo382bLN+dAAAAAElFTkSuQmCC);background-size:30px 30px;display:block;height:30px;width:30px;margin:10px auto;vertical-align:middle}
.pt15{padding-bottom:15px}
.nomt{margin-top:0}
.nomb{margin-bottom:0}
.nom{margin:0}
.none{display:none}
.c3{color:#323232}
.cy{color:#FFD33A}
#allmap{width:100%;height:100%;overflow:hidden;margin:0}
#allmap-inner{position:absolute;top:50%;left:50%;margin:-15px 0 0 -15px}
.pa{position:absolute;z-index:9999}
.vip{position:absolute;width:13px;height:13px;display:block;background:url(vip.png) no-repeat;background-size:13px 13px;bottom:0;right:2px}
.topnav .vip{top:50%;right:0;margin-top:-7px}
.joinnow{position:absolute;top:0;right:0;display:block;height:40px;line-height:38px;text-align:center;padding:0 20px 0 30px;color:#fff!important}
.weui_tabbar{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:fixed;bottom:0;width:100%;background-color:rgba(247,247,248,.95);height:45px;overflow:hidden;z-index:888}
.weui_tabbar:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #979797;color:#979797;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.weui_tabbar_item{display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding:7px 0 0;}
.weui_tabbar_icon{margin:0 auto;width:22px;height:22px;color:#979797}
.weui_tabbar_item.weui_bar_item_on .weui_tabbar_icon,.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label{color:#5AB723}
.weui_tabbar_label{text-align:center;color:#979797;font-size:12px;line-height:12px;vertical-align:top}
.weui_tabbar_icon i{font-size:22px!important}
.comshares{position:absolute;right:8px;top:8px;background:rgba(0,0,0,.3);padding:3px 7px;color:#fff;border-radius:3px;text-align:center}
.comshares i{vertical-align:middle}
.comshares span{vertical-align:middle}
.comviews{position:absolute;left:8px;bottom:8px;background:rgba(0,0,0,.3);padding:2px 5px;color:#fff;font-size:12px;border-radius:3px;text-align:center}
.compage{position:absolute;right:8px!important;left:auto!important;bottom:8px;background:rgba(0,0,0,.3);padding:2px 5px;color:#fff;font-size:12px;border-radius:3px;text-align:center}
.imgnum{color:#F46751}
.rank{float:left;margin-right:20px;height:40px;line-height:40px;font-size:22px}
.rank1{color:#F46751}
.rank2{color:#FBA41F}
.rank3{color:#5BCAE1}
.rank4{color:#92B743}
.rank5{color:#6495ED}
.rankn{color:#ccc}
#wechat-mask{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index:99999;display:none}
#wechat-guider{background:url(guide_weixin.png) no-repeat right top;background-size:240px auto;width:100%;height:300px;position:absolute;right:10px;top:10px}
@-webkit-keyframes fadeOutUp{0%{opacity:1}
  100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
}
@keyframes fadeOutUp{0%{opacity:1}
  100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
}
.fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}
@keyframes fadeOut{0%{opacity:1}
  100%{opacity:0}
}
.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}

.buttons-tab{position:relative;background:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;background-color:rgba(247,247,248,.95);height:45px;overflow:hidden;margin-top:10px;line-height:45px}
.buttons-tab:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #979797;color:#979797;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.buttons-tab .button{position:relative;display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;}
.buttons-tab .button.active{color:#0894ec;border-color:#0894ec}
.buttons-tab .button.active:before{content:" ";position:absolute;left:0;bottom:0;width:100%;height:1px;border-top:1px solid #0894ec;color:#0894ec;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.posfixed{position: fixed;left:0;top:0;z-index:99;opacity:.9;background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,rgba(255,255,255,0.95)));margin-top:0!important;}
.swiper-container{margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;z-index:1}
.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0,0,0);-o-transition-timing-function:ease;-o-transform:translate(0,0);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0,0,0);transition-timing-function:ease;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.swiper-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}
.swiper-slide{float:left;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.swiper-wp8-horizontal{-ms-touch-action:pan-y}
.swiper-wp8-vertical{-ms-touch-action:pan-x}
