{if empty($_W['isajax'])}
{template 'common/header'}
{template 'setting_nav'}
{/if}
<div class="panel panel-default">
    <div class="panel-heading">
        基础设置
    </div>
    <div class="panel-body">
        <form action="" method="post"  class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">开启借用支付</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <label class="radio-inline">
                        <input type="radio" name="open_pay" value="1" {if $item['open_pay']==1}checked="checked"{/if}> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="open_pay" value="0" {if $item['open_pay']==0}checked="checked"{/if}> 关闭
                    </label>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">打赏提成</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="reward_money" placeholder="" value="{$item['reward_money']}" class="form-control"/>
                    <span class="help-block">如：0.8</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">提问提成</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="tutor_money" placeholder="" value="{$item['tutor_money']}" class="form-control"/>
                    <span class="help-block">如：0.8</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">应用标题</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="title" placeholder="" value="{$item['title']}" class="form-control"/>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">主题背景颜色</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_color('bg_color',$item['bg_color'])}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">主题颜色</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_color('color',$item['color'])}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">偷听价格</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="listen_price" placeholder="" value="{$item['listen_price']}" class="form-control"/>
                    <span class="help-block">单位为元</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">偷听提问分成</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="listen_get_price" placeholder="" value="{$item['listen_get_price']}" class="form-control"/>
                    <span class="help-block">除去偷听提问分成和平台分成剩余的是问题回答者的分成</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">偷听平台分成</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="listen_get_price2" placeholder="" value="{$item['listen_get_price2']}" class="form-control"/>
                    <span class="help-block">除去偷听提问分成和平台分成剩余的是问题回答者的分成</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">打赏</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">每</span>
                        <input type="text" class="form-control" name="shang" value="{php echo $item['shang']}">
                        <span class="input-group-addon">元，可邀请</span>
                        <input type="text" class="form-control" name="people" value="{php echo $item['shang']}">
                        <span class="input-group-addon">人免费收听</span>
                    </div>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">平台介绍</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_ueditor('content',$item['content'])}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-11">
                    <input name="submit" type="submit" value="提交" class="btn btn-primary span3" />
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
        </form>
    </div>
</div>
{if empty($_W['isajax'])}
{template 'common/footer'}
{/if}