<!DOCTYPE html><html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
    <title>weixin://private/setresult/SCENE_FETCHQUEUE&amp;eyJmdW5jIjoibG9nIiwicGFyYW1zIjp7Im1zZyI6Il9ydW5PbjNyZEFwaUxpc3QgOiBtZW51OnNoYXJlOnRpbWVsaW5lLG1lbnU6c2hhcmU6YXBwbWVzc2FnZSxvblZvaWNlUmVjb3JkRW5kLG9uVm9pY2VQbGF5QmVnaW4sb25Wb2ljZVBsYXlFbmQsb25Mb2NhbEltYWdlVXBsb2FkUHJvZ3Jlc3Msb25JbWFnZURvd25sb2FkUHJvZ3Jlc3Msb25Wb2ljZVVwbG9hZFByb2dyZXNzLG9uVm9pY2VEb3dubG9hZFByb2dyZXNzLG1lbnU6c2V0Zm9udCxtZW51OnNoYXJlOndlaWJvLG1lbnU6c2hhcmU6ZW1haWwsd3hkb3dubG9hZDpzdGF0ZV9jaGFuZ2UsaGRPbkRldmljZVN0YXRlQ2hhbmdlZCxhY3Rpdml0eTpzdGF0ZV9jaGFuZ2UifSwiX19tc2dfdHlwZSI6ImNhbGwiLCJfX2NhbGxiYWNrX2lkIjoiMTAwMCJ9</title>
    <link rel="stylesheet" href="http://res2.eqianxian.com/app_static/common/css/reset.css">
    <link rel="stylesheet" href="http://res2.eqianxian.com/app_static/common/css/flytip.css">
    <link rel="stylesheet" href="http://res2.eqianxian.com/app_static/common/css/vtab.css">
    <link rel="stylesheet" href="http://res2.eqianxian.com/app_static/app/bizCard/css/nameCard.css?v=201570315072">
</head>

<body class="namecard-style">

<!--#=start page-->
<div class="namecard-page">

    <!--#=start column-->
    <section class="style-column pb60" id="tempsList">
        <input type="hidden" value="" id="styleListId">

        <div class="vtab tempsbox">
            <ul class="vtab-title">
                <li data-id="5442134a0cf220efde2bd223" class="item cur"><span>时代</span></li>
                <li data-id="5442134e0cf220efde2bd224" class="item"><span>时尚</span></li>
                <li data-id="544f0b7f0cf2afa387acef68" class="item"><span>时光</span></li>
                <li data-id="544213510cf220efde2bd225" class="item"><span>简约</span></li>

            </ul>

            <div class="vtab-content" id="styleList">
                <div class="tips">①时尚版和简约版无需自定义栏目,选好即用。<br>②时代版和时光版可自定义栏目,功能更强大。</div>
                <ul class="style-inner clearfix item" data-id="5442134e0cf220efde2bd224" style="display: none;">
                    <li class="style-inner-item" data-id="544225890cf2233e24c51641" data-cate="时尚">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544225890cf2233e24c51641/ssf1.jpg?t=1414412141264" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544225890cf2233e24c51641/ssf1.jpg?t=1414412141264">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约时尚版1</span>
                    </li>
                    <li class="style-inner-item" data-id="544225d10cf2233e24c51642" data-cate="时尚">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544225d10cf2233e24c51642/s2.jpg?t=1414407623995" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544225d10cf2233e24c51642/s2.jpg?t=1414407623995">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约时尚版2</span>
                    </li>
                    <li class="style-inner-item" data-id="544226140cf2233e24c51647" data-cate="时尚">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544226140cf2233e24c51647/df3.jpg?t=1414411214816" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544226140cf2233e24c51647/df3.jpg?t=1414411214816">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约时尚版3</span>
                    </li>
                    <li class="style-inner-item" data-id="5442263a0cf2233e24c51648" data-cate="时尚">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/5442263a0cf2233e24c51648/ss4.jpg?t=1414413120184" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/5442263a0cf2233e24c51648/ss4.jpg?t=1414413120184">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约时尚版4</span>
                    </li>
                    <li class="style-inner-item" data-id="544226630cf2233e24c51649" data-cate="时尚">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544226630cf2233e24c51649/s23.jpg?t=1414413432713" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544226630cf2233e24c51649/s23.jpg?t=1414413432713">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约时尚版5</span>
                    </li>
                    <li class="style-inner-item" data-id="544226970cf2233e24c5164a" data-cate="时尚">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544226970cf2233e24c5164a/s56.jpg?t=1414413461123" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544226970cf2233e24c5164a/s56.jpg?t=1414413461123">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约时尚版6</span>
                    </li>
                </ul>
                <ul class="style-inner clearfix item" data-id="544213510cf220efde2bd225" style="display: none;">
                    <li class="style-inner-item" data-id="544213d70cf2a0f1bc8b8c62" data-cate="简约">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544213d70cf2a0f1bc8b8c62/s1.jpg?t=1414407436362" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544213d70cf2a0f1bc8b8c62/s1.jpg?t=1414407436362">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约版1</span>
                    </li>
                    <li class="style-inner-item" data-id="54422a5a0cf2233e24c51652" data-cate="简约">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/54422a5a0cf2233e24c51652/s45.jpg?t=1414413508338" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/54422a5a0cf2233e24c51652/s45.jpg?t=1414413508338">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约版3</span>
                    </li>
                    <li class="style-inner-item" data-id="54423b0c0cf2233e24c5169a" data-cate="简约">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/54423b0c0cf2233e24c5169a/s25.jpg?t=1414413483514" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/54423b0c0cf2233e24c5169a/s25.jpg?t=1414413483514">
                        <div class="choose-ok"></div>
                        <span class="style-versions">简约版2</span>
                    </li>
                </ul>
                <ul class="style-inner clearfix item" data-id="544f0b7f0cf2afa387acef68" style="display: none;">
                    <li class="style-inner-item" data-id="544f0b8c0cf2afa387acef6f" data-cate="时光">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544f0b8c0cf2afa387acef6f/07.jpg?t=1414466648193" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544f0b8c0cf2afa387acef6f/07.jpg?t=1414466648193">
                        <div class="choose-ok"></div>
                        <span class="style-versions">时光版</span>
                    </li>
                    <li class="style-inner-item" data-id="55234be20cf278ecd6b70b76" data-cate="时光">
                        <img data-src="http://res4.eqianxian.com/cardtemplate/55234be20cf278ecd6b70b76/201504/微站模板6-1.jpg?t=1428575518696" class="style-item-thumbnail" src="http://res4.eqianxian.com/cardtemplate/55234be20cf278ecd6b70b76/201504/微站模板6-1.jpg?t=1428575518696">
                        <div class="choose-ok"></div>
                        <span class="style-versions">时光版</span>
                    </li>
                    <li class="style-inner-item" data-id="544f55540cf2afa387ad1a4c" data-cate="时光">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544f55540cf2afa387ad1a4c/3.jpg?t=1414547070342" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544f55540cf2afa387ad1a4c/3.jpg?t=1414547070342">
                        <div class="choose-ok"></div>
                        <span class="style-versions">时光版</span>
                    </li>
                    <li class="style-inner-item" data-id="544f55e40cf2afa387ad1aa8" data-cate="时光">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544f55e40cf2afa387ad1aa8/1.jpg?t=1414486865850" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544f55e40cf2afa387ad1aa8/1.jpg?t=1414486865850">
                        <div class="choose-ok"></div>
                        <span class="style-versions">时光版</span>
                    </li>
                    <li class="style-inner-item" data-id="544f56350cf2afa387ad1ad3" data-cate="时光">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544f56350cf2afa387ad1ad3/4.jpg?t=1414486847938" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544f56350cf2afa387ad1ad3/4.jpg?t=1414486847938">
                        <div class="choose-ok"></div>
                        <span class="style-versions">时光版</span>
                    </li>
                    <li class="style-inner-item" data-id="544f567e0cf2afa387ad1afe" data-cate="时光">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544f567e0cf2afa387ad1afe/5.jpg?t=1414486816676" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544f567e0cf2afa387ad1afe/5.jpg?t=1414486816676">
                        <div class="choose-ok"></div>
                        <span class="style-versions">时光版</span>
                    </li>
                    <li class="style-inner-item" data-id="544f56bb0cf2afa387ad1b19" data-cate="时光">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544f56bb0cf2afa387ad1b19/2.jpg?t=1414486830773" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544f56bb0cf2afa387ad1b19/2.jpg?t=1414486830773">
                        <div class="choose-ok"></div>
                        <span class="style-versions">时光版</span>
                    </li>
                </ul>
                <ul class="style-inner clearfix item" data-id="5442134a0cf220efde2bd223" style="display: block;">
                    <li class="style-inner-item" data-id="5435e5030cf23483404ff7b3" data-cate="时代">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/5435e5030cf23483404ff7b3/s6.jpg?t=1414411185663" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/5435e5030cf23483404ff7b3/s6.jpg?t=1414411185663">
                        <div class="choose-ok"></div>
                        <span class="style-versions">模板1</span>
                    </li>
                    <li class="style-inner-item current" data-id="5442219f0cf2233e24c5163b" data-cate="时代">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/5442219f0cf2233e24c5163b/s01.jpg?t=1414461684137" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/5442219f0cf2233e24c5163b/s01.jpg?t=1414461684137">
                        <div class="choose-ok"></div>
                        <span class="style-versions">模板2</span>
                    </li>
                    <li class="style-inner-item" data-id="544222fb0cf2233e24c5163c" data-cate="时代">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544222fb0cf2233e24c5163c/sf.jpg?t=1414412086823" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544222fb0cf2233e24c5163c/sf.jpg?t=1414412086823">
                        <div class="choose-ok"></div>
                        <span class="style-versions">模板3</span>
                    </li>
                    <li class="style-inner-item" data-id="5442238a0cf2233e24c5163d" data-cate="时代">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/5442238a0cf2233e24c5163d/s3.jpg?t=1414412106614" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/5442238a0cf2233e24c5163d/s3.jpg?t=1414412106614">
                        <div class="choose-ok"></div>
                        <span class="style-versions">模板4</span>
                    </li>
                    <li class="style-inner-item" data-id="5442241f0cf2233e24c5163e" data-cate="时代">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/5442241f0cf2233e24c5163e/s4.jpg?t=1414412184376" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/5442241f0cf2233e24c5163e/s4.jpg?t=1414412184376">
                        <div class="choose-ok"></div>
                        <span class="style-versions">模板5</span>
                    </li>
                    <li class="style-inner-item" data-id="544224d20cf2233e24c5163f" data-cate="时代">
                        <img data-src="http://res2.eqianxian.com/cardtemplate/544224d20cf2233e24c5163f/s5.jpg?t=1414413088763" class="style-item-thumbnail" src="http://res2.eqianxian.com/cardtemplate/544224d20cf2233e24c5163f/s5.jpg?t=1414413088763">
                        <div class="choose-ok"></div>
                        <span class="style-versions">模板6</span>
                    </li>
                </ul>
            </div>

        </div>


    </section>
    <!--#=end column-->
    <div class="create-next create-position">
        <a class="create-next-btn" href="javascript:" onclick="selectTemplate()">完 成</a>
    </div>
</div>
<!--#=end page-->

<!--#start JS-->
<script src="http://res2.eqianxian.com/app_static/common/js/jquery.js"></script>
<script src="http://res2.eqianxian.com/app_static/common/js/flytip.js"></script>
<script src="http://res2.eqianxian.com/app_static/common/js/scrollLoad.js"></script>

<script>
    //是否企业名片？true ： 是
    var isCom = "";
    //选择模板
    function selectTemplate() {
        var curLi = $("#styleList").find(".current");
        if(curLi && curLi.length>0) {
            var templateId = curLi.data("id");
            //个人名片片
            if(isCom != "true"){
                document.location = "/app/bizcard/setTemplate.do?templateId="+templateId;
            }else{//是企业名片，选择后跳回企业名片
                document.location = "/app/comcard/setTemplate.do?templateId="+templateId;
            }

        } else {
            $.flytip("请选择名片模板！");
        }
    }

    $(document).ready(function(e) {
        var $tempsList = $("#tempsList");
        var $tempsUlItem = $tempsList.find(".style-inner");
        var $tempsListItem = $tempsList.find(".style-inner-item");
        var $tempsThumb =  $tempsList.find(".style-item-thumbnail");

        //vtab
        var $tempsbox = $(".tempsbox");
        var $tempsboxTitTtem = $tempsbox.find(".vtab-title .item");

        $tempsboxTitTtem.click(function(){
            var $this = $(this);
            var thisId = $this.data("id");

            $this.addClass("cur").siblings().removeClass("cur");

            $tempsUlItem.each(function(){
                var $item = $(this);
                var itemId = $item.data("id");
                if(itemId === thisId){
                    $item.show().siblings("ul").hide();
                }
            });
        });

        $tempsboxTitTtem.eq(0).click();


        //tempsList
        var styleIitem = $tempsList.find(".style-inner-item");

        //选中打钩
        styleIitem.on("click",function(){
            var $tihs = $(this);
            styleIitem.removeClass("current");
            $tihs.addClass("current");
        });


        $tempsThumb.each(function(){
            var $this = $(this);
            $this.attr("src",$this.data("src"));
        });


    });
</script>
<!--#end JS-->

</body><iframe id="__WeixinJSBridgeIframe_SetResult" style="display: none;"></iframe><iframe id="__WeixinJSBridgeIframe" style="display: none;"></iframe></html>