<!DOCTYPE html><html><head><script async="" src="//www.google-analytics.com//analytics.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="千线 微名片  二维码   w.mamani.cn的名片">
    <meta name="description" content="Ta关注:,Ta在找:移动互联网">
	<title>{$member['realname']}的名片</title>
	    <link rel="stylesheet" type="text/css" href="../addons/amouse_ecard/style/css/flytip.css">
    <link rel="stylesheet" type="text/css" href="../addons/amouse_ecard/style/css/common.css">
    <link rel="stylesheet" type="text/css" href="../addons/amouse_ecard/style/css/simple-3.css">
    <script src="//hm.baidu.com/hm.js?3363dc8e04aa36a7f96745f93058a892"></script><script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script><script src="http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=399313"></script><link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style0_24.css"></head>

<body class="card card-home" style="height: 668px;">
<div style="display:none;">

    Ta在找:移动互联网</div><!--#=start page-->
<div class="card-page toggle-transition-1s namecard-page-relative">
    <!--#=start column-->
    <section class="home-column pb45">
        <div class="home-inner">
            <div class="home-box-banner">
                <img class="home-pic vcardBg" src="../addons/amouse_ecard/style/css/bg16.jpg" data-bg="../addons/amouse_ecard/style/css/bg16.jpg">
                <div class="home-ewm"><i class="ico-ewm js-ewm"></i></div>
                <!--#=start stat-->
                <ul class="home-box-stat">
                    <li class="home-box-item">
                        <a href="/app/bizcard/listViews.do?com=">
                            <span class="item-round"><i class="ico-viewed"></i></span><span class="home-number">13</span>
                        </a>
                    </li>
                    <li class="home-box-item" id="jsClickLike">
                        <a href="/app/bizcard/listFavour.do?com=">
                            <span class="item-round"><i class="ico-hand"></i></span><span class="home-number info-number">1</span>
                        </a>
                    </li>
                </ul>
                <!--#=end stat-->
                <div class="home-inner-basic">
                    <a href="tel:{$member['mobile']}" id="showWxQrcode" class="content-item-anchor">
                        <div class="home-avatar">
                            <img src="../addons/amouse_ecard/style/images/tell.png" class="home-avatar-thumbnail avatarPic rolling">
                        </div>
                    </a>
                    <a class="text-call" href="tel:{$member['mobile']}"><i class="ico-call"></i>一键拨号</a>
                </div>
            </div>

        </div>
    </section>
    <!--#=end column-->
</div>
<!--#=end page-->

<div class="feature js-sharebox toggle-transition-1s">
    <div class="feature-favor js-cfriend feature-w66">
        <i class="ico-share"></i> <span class="vertical-m" id="collectBtnTx">分享求收藏</span>
    </div>
    <div class="feature-more js-featureMore feature-w33"><i class="ico-more"></i> <span class="vertical-m more-relative">更多<code class="dialog-num dialogNum"></code></span></div></div>

<div class="more-list-wrap js-moreList">
    <div class="more-list">
        <ul class="more-list-ul">
            <li class="more-list-item more-avatar">
                <a href="/app/comcard/turnmode.do?mode=USER" class="more-item-anchor vertical-m">
                    <div class="more-avatar-thumb">
                        <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIfiboqfzxvKvibtY9SvfRcG66ia9vicYAFbMUS4B9aPXwBeuagFm4TcpgOCtUFA0sa0ibiadhTdzN1pHLw/0" class="more-avatar-thumbnail">
                        <i class="icon-sok"></i></div>
                    <span class="vertical-m">w.mamani.cn<br>个人名片</span>
                </a>

                <span class="switch-icon"></span>

                <a href="/app/comcard/turnmode.do?mode=COM" class="more-item-anchor vertical-m">
                    <div class="more-avatar-thumb">
                        <img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEIfiboqfzxvKvibtY9SvfRcG66ia9vicYAFbMUS4B9aPXwBeuagFm4TcpgOCtUFA0sa0ibiadhTdzN1pHLw/0" class="more-avatar-thumbnail">
                    </div>
                    <span class="vertical-m">AA-Zombie(w.mamani.cn)<br>企业名片</span>
                </a>
            </li>

            <li class="more-list-item btop mb10"><a href="/app/chat/winlist.do" class="more-item-anchor"><span class="vertical-m">即时交流<code class="dialog-num dialogNum"></code></span><i class="icon-right"></i></a></li>

            <li class="more-list-item btop"><a href="/app/bizcard/setPesonInfo.do?selectTemp=false" class="more-item-anchor"><span class="vertical-m">个人信息</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop"><a href="/app/bizcard/privactSetting.do" class="more-item-anchor"><span class="vertical-m">隐私设置</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop mb10"><a href="/app/bizcard/shareContentPage.do" class="more-item-anchor"><span class="vertical-m">自定义分享</span><i class="icon-right"></i></a></li>

            <li class="more-list-item btop"><a href="/app/bizcard/collectList.do?star=true" class="more-item-anchor"><span class="vertical-m">我的人脉</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop mb10"><a href="/app/bizcard/listRecommendFan.do?type=top" class="more-item-anchor"><span class="vertical-m">推荐人脉</span><i class="icon-right"></i></a></li>

            <li class="more-list-item btop"><a href="/app/bizcard/selectTemplate.do" class="more-item-anchor"><span class="vertical-m">更换模板</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop"><a href="/app/bizcard/toChangeBizCardBg.do" class="more-item-anchor"><span class="vertical-m">更换背景</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop mb10"><a href="/app/bizcard/musiclist.do" class="more-item-anchor"><span class="vertical-m">背景音乐</span><i class="icon-right"></i></a></li>

            <li class="more-list-item btop"><a href="/app/bizcard/setPesonInfo.do?selectTemp=false#m1" class="more-item-anchor"><span class="vertical-m">我专注</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop mb10"><a href="/app/bizcard/setPesonInfo.do?selectTemp=false#m2" class="more-item-anchor"><span class="vertical-m">我在找</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop mb10"><a href="/app/nearby/list.do" class="more-item-anchor"><span class="vertical-m">千线宝管理</span><i class="icon-right"></i></a></li>

        </ul>
    </div>
    <div class="more-list-item item-back"><a href="javascript:;" class="more-item-anchor"><i class="ico-back"></i> <span class="vertical-m">返 回</span></a></div>
</div>

<div class="sharetip sharetip-collect js-sharetip-collect"></div>
<div class="sharetip sharetip-cfriend js-sharetip-cfriend">
    <div class="shareBox">
        <span class="shareBox-title">分享到：</span>
        <div class="bdsharebuttonbox clearfix bdshare-button-style0-24" data-tag="share_1" data-bd-bind="1437530847654">
            <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
            <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
            <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
            <a class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
            <a class="bds_copy" data-link="">复制链接</a>
            <a class="popup_more" data-cmd="more">更多</a>
        </div>
    </div>
</div>

<div class="ewmform js-ewmform">
    <div class="ewmform-box">
        <code class="ewmform-close js-ewmClose"></code>
        <div class="ewmform-title">扫码收藏我的微名片</div>
        <div class="ewmform-summary"><img class="ewm-thumbnail" id="ewmThumbnail" data-src="http://res4.eqianxian.com/qrcode/od8J4s8SuBGKtb8NwUTp06OoyDRo.jpg"></div>
        <div class="ewmform-des">长按二维码可保存到手机里<br>可印在纸质名片和宣传单上</div>
    </div>
</div>
<div class="wxewm js-wxewm">
    <div class="wxewm-box">
        <code class="wxewm-close js-wxewmClose"></code>
        <div class="wxewm-summary"><img class="wxewm-thumbnail" data-src="http://res4.eqianxian.com/bizcard/201504/1bBmwy41F7yH7TKYwEfCBr.jpg"></div>
        <div class="wxewm-tip">扫一扫或长按图片<br>识别二维码加我微信<br><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTAzNTc2Nw==&amp;mid=223130286&amp;idx=1&amp;sn=428126b679814174249256b0c49cde3f#rd" target="_blank">二维码不全怎么办  <i class="icon-question"></i></a></div>
    </div>
</div>
<div class="superMask" id="superMask"></div>
<div class="sideNav-tip" id="sideNavTip"></div>
<div class="wxQrcodeTip wxQrcodeTipMe" id="wxQrcodeTipMe"></div><input id="isFocus" type="hidden" value="true">
<input id="hasCollect" type="hidden" value="true">
<input id="personId" type="hidden" value="551e8c540cf278ecd6a97ea8">
<input id="openId" type="hidden" value="od8J4s8SuBGKtb8NwUTp06OoyDRo">
<input id="focusUrl" type="hidden" value="">
<input id="fromUrl" type="hidden" value="">
<input id="isFirst" type="hidden" value="">
<input id="showTip" type="hidden" value="">
<input id="notWeixin" type="hidden" value="">
<input id="fromScan" type="hidden" value="">
<input id="isCom" type="hidden" value="">
<input id="isSelf" type="hidden" value="true">
<input id="bizCardId" type="hidden" value="551e8c540cf278ecd6a97ea6">
<input id="shareTit" type="hidden" value="">
<input id="shareDescr" type="hidden" value="">

<script src="http://res2.eqianxian.com/app_static/common/js/jquery.js"></script>
<script src="http://res2.eqianxian.com/app_static/common/js/wx.js?v=201570315072"></script>
<script src="http://res2.eqianxian.com/app_static/common/js/flytip.js"></script>
<script src="http://res2.eqianxian.com/app_static/common/js/vpopup.js"></script>
<script src="http://res2.eqianxian.com/app_static/common/js/cookie.js"></script>

<script src="http://res2.eqianxian.com/app_static/app/bizCard/js/common.js?v=2015703150722l"></script>

<script>
    var shareDatas = {
        "pname": "w.mamani.cn",
        "pcomp": "无锡所以不知道科技有限公司",
        "pjob": "NO TItle",
        "pimgUrl": "http://wx.qlogo.cn/mmopen/PiajxSqBRaEIfiboqfzxvKvibtY9SvfRcG66ia9vicYAFbMUS4B9aPXwBeuagFm4TcpgOCtUFA0sa0ibiadhTdzN1pHLw/0",
        "pshareUrl": "http://app.eqianxian.com/h/od8J4s8SuBGKtb8NwUTp06OoyDRo/c540cf278ecd6a97ea6.action"

    };

    var vtype = "";
    if(vtype == "preview"){
        WXJSSDK.load({
            ready: function(){
                wx.hideOptionMenu();
            }
        });
    }else{
        var ptitle = shareDatas.pname+"的微名片";
        var pcontent = "公司:"+shareDatas.pcomp+"\n职位:"+shareDatas.pjob+"\n点击查看更多信息";
        var shareTit = $("#shareTit").val();
        var shareDes = $("#shareDescr").val();
        if(shareTit && shareTit != ""){
            ptitle = shareTit;
        }
        if(shareDes && shareDes != ""){
            pcontent = shareDes;
        }
        //微信旧版分享
        var wxShareDate = {
            "title": ptitle,
            "content": pcontent,
            "imgUrl": shareDatas.pimgUrl.replace("eqianxian","app.eqianxian"),
            "shareFriend": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxcaebd5318cdb7fa1&redirect_uri=http://app.eqianxian.com/oauth.do&response_type=code&scope=snsapi_base&state=/app/bizcard/showBizCard.do?mode=self@@openId=od8J4s8SuBGKtb8NwUTp06OoyDRo#wechat_redirect",
            "shareCircle": "http://app.eqianxian.com/p/od8J4s8SuBGKtb8NwUTp06OoyDRo/selfCard.action"
        };
        wxShareFunc(wxShareDate);

        //微信新版分享
        WXJSSDK.load({
            ready: function(){
                WXAPI.shares({
                    title: wxShareDate.title, // 分享标题
                    desc: wxShareDate.content, // 分享描述
                    link: shareDatas.pshareUrl, // 其他分享链接
                    shareFriend: wxShareDate.shareFriend,// 分享给朋友
                    shareCircle: wxShareDate.shareCircle,// 分享到朋友圈
                    imgUrl: wxShareDate.imgUrl // 分享图标
                })
            }
        });
    }
</script>

<input id="shareUrl" type="hidden" value="http://app.eqianxian.com/h/od8J4s8SuBGKtb8NwUTp06OoyDRo/c540cf278ecd6a97ea6.action">
<link rel="stylesheet" type="text/css" href="http://res2.eqianxian.com/app_static/app/bizCard/css/share.css?v=201570315072">
<script src="http://res2.eqianxian.com/app_static/app/bizCard/js/share.js?v=20157031507210"></script>
<link rel="stylesheet" type="text/css" href="http://res2.eqianxian.com/app_static/common/css/vpopup.css">
<!--#start JS-->

<script>
    $(document).ready(function() {
        var winH = $(window).height();
        $(".card").height(winH);
    });
</script>
<!--#end JS-->
<script>
    $("link").each(function(){
        var $this = $(this);
        var url = $this.attr("href");
        var ts = (new Date()).getTime();

        $this.on("error", function(){
            $this.attr("href",url+"?="+ts);
        });
    });
</script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?3363dc8e04aa36a7f96745f93058a892";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<div class="musicBox play" id="musicBox"></div>
<audio id="musicPlayer" loop="" src="http://res2.eqianxian.com/app_static/app/bizCard/music/music-18.mp3?v=1" autoplay="autoplay" style="display:none;position:absolute;z-index:-11"></audio>

<script src="http://hm.baidu.com//hm.js?3363dc8e04aa36a7f96745f93058a892"></script><script src="http://7xj2du.com1.z0.glb.clouddn.com/alliance.js?_y=1437531"></script></body></html>