<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
    <meta name="keywords" content="$_W['account']['name']微名片 二维码 {$member['realname']}的名片">
    <meta name="description" content="Ta关注:{$member['myattention']},Ta在找:{$member['myfource']}"/>
    <title>{$member['realname']}的名片</title>
    <link rel="stylesheet" type="text/css" href="../addons/amouse_ecard/style/css/flytip2.css">
    <link rel="stylesheet" type="text/css" href="../addons/amouse_ecard/style/css/common_time2.css?v=201570315072">
    <link rel="stylesheet" type="text/css" href="../addons/amouse_ecard/style/css/default_tim.css?v=201570315072">
</head>

<body class="icx-mobi-home">
<div style="display:none;">

    Ta关注:{$member['myattention']} {if $member['myfource']}Ta在找:{$member['myfource']}{/if}
</div>
<div class="icx-mobi-page toggle-transition-1s namecard-page-relative">
    <main class="container">
        <div class="topbar">{$member['company']}</div>

        <div class="infobar">
            <ul class="infobar-inner">
                <li class="content-item">
                    <a href="{php echo $this->createMobileUrl('renmai',array('id'=>$member['id'], 'op'=>'list','wid'=>$from_user),true)}" class="content-item-anchor">
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">人脉</h2>
                            <h3 class="content-item-summary">{$renmaicount}</h3>
                        </div>
                    </a>
                </li>
                <li class="content-item">
                    <a href="javascript:;"  class="content-item-anchor">
                        <div class="content-item-thumb">
                            {if $member['headimg']}
                            {if substr($member['headimg'],0,9) == 'http://wx'}
                            <img src="{$member['headimg']}" class="content-item-thumbnail avatarPic">
                            {else}
                            <img src="{$_W['attachurl']}{$member['headimg']}" class="content-item-thumbnail avatarPic rolling">
                            {/if}
                            {else}
                            <img src="../addons/amouse_ecard/style/images/header.png" class="content-item-thumbnail avatarPic rolling">
                            {/if}
                        </div>
                    </a>
                </li>
                <li class="content-item js-ewm">
                    <a href="javascript:;" class="content-item-anchor">
                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/card_index/icon-qrcode.png"  class="content-item-thumbnail">
                        </div>
                    </a>
                </li>
                <li class="content-item">
                    <a href="javascript:;" class="content-item-anchor">
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">{$member['realname']}</h2>
                            <h3 class="content-item-summary">{$member['job']}</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="like-item" id="jsClickLike">
            <a href="{php echo $this->createMobileUrl('likes',array('id'=>$member['id'],'cid'=>$card['id'],'wid'=>$from_user,'op'=>'list'),true)}">
                <span class="item-round"><i class="ico-hand"></i></span><span class="home-number info-number">{$card['zan']}</span>
            </a>
        </div>
        <section class="cateContent">
            <ul class="content-inner">

                <li class="content-item js-content-item " data-id="1413620506123">
                    {if (!empty($card['shopUrl']))}
                    <a href="{php echo $this->createMobileUrl('shop',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'),true)}" class="content-item-anchor">
                    {else}
                    <a href="{php echo $this->createMobileUrl('shop',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'edit'),true)}" class="content-item-anchor">
                    {/if}

                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/1.png?t=0"  class="content-item-thumbnail" data-width="" data-height="">
                        </div>
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">小店商城</h2>
                        </div>
                    </a>
                    <div class="content-item-bg"></div>
                </li>
                <li class="content-item js-content-item " data-id="1413620506124">
                    {if (!empty($ispresence))}
                    <a href="{php echo $this->createMobileUrl('presence',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'),true)}" class="content-item-anchor">
                    {else}
                    <a href="{php echo $this->createMobileUrl('presence',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'edit'),true)}" class="content-item-anchor">
                        {/if}
                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/card_index/2.png?t=" class="content-item-thumbnail" data-width="" data-height="">
                        </div>
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">个人风采</h2>
                        </div>
                    </a>
                    <div class="content-item-bg"></div>
                </li>

                <li class="content-item js-content-item " data-id="1413620506125">

                    {if (!empty($isPhoto))}
                    <a href="{php echo $this->createMobileUrl('Photo',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'),true)}" class="content-item-anchor">
                        {else}
                        <a href="{php echo $this->createMobileUrl('Photo',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'edit'),true)}" class="content-item-anchor">
                            {/if}

                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/card_index/3.png?t=2" class="content-item-thumbnail" data-width="" data-height="">
                        </div>
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">精彩相册</h2>
                        </div>
                    </a>
                    <div class="content-item-bg"></div>
                </li>
                <li class="content-item js-content-item " data-id="1413620506126">
                    {if (!empty($member['companyAddress']))}
                    <a href="{php echo $this->createMobileUrl('gps',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'),true)}" class="content-item-anchor">
                        {else}
                        <a href="{php echo $this->createMobileUrl('index',array('id'=>$member['id'],'wid'=>$from_user, 'op'=>'edit'),true)}"  class="content-item-anchor">
                            {/if}
                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/card_index/4.png?t=3" class="content-item-thumbnail" data-width="" data-height="">
                        </div>
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">公司地址</h2>
                        </div>
                    </a>
                    <div class="content-item-bg"></div>
                </li>
                <li class="content-item js-content-item " data-id="1413620506127">
                    <a href="{php echo $this->createMobileUrl('info',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'),true)}"
                       class="content-item-anchor">
                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/card_index/5.png?t=4" class="content-item-thumbnail" data-width="" data-height="">
                        </div>
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">个人信息</h2>
                        </div>
                    </a>
                    <div class="content-item-bg"></div>
                </li>
                <li class="content-item js-content-item " data-id="1413620506128">
                    {if (!empty($isCompany))}
                    <a href="{php echo $this->createMobileUrl('company',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'),true)}" class="content-item-anchor">
                        {else}
                        <a href="{php echo $this->createMobileUrl('company',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'edit'),true)}" class="content-item-anchor">
                            {/if}

                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/card_index/6.png?t=5" class="content-item-thumbnail" data-width="" data-height="">
                        </div>
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">公司简介</h2>
                        </div>
                    </a>
                    <div class="content-item-bg"></div>
                </li>

                <li class="content-item">
                    <a href="javascript:;" class="content-item-anchor">
                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/xbg.png" class="content-item-thumbnail"> </div>
                    </a>
                </li>

                <li class="content-item">
                    <a href="tel:{$member['mobile']}" class="content-item-anchor">
                        <div class="content-item-thumb">
                            <img src="../addons/amouse_ecard/style/images/tell.png" class="content-item-thumbnail">
                        </div>
                        <div class="content-item-hgroup">
                            <h2 class="content-item-title">一键拨号</h2>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <section class="carousel js-carousel">
            <ul class="carousel-inner">
                <li class="carousel-item">
                    {if $card['bgimg']}
                    <img src="{$_W['attachurl']}{$card['bgimg']}" class="carousel-item-pic vcardBg">
                    {else}
                    <img src="../addons/amouse_ecard/style/images/bg1.jpg" class="carousel-item-pic vcardBg">
                    {/if}
                </li>
            </ul>
        </section>
    </main>
</div>

<div class="feature js-sharebox toggle-transition-1s">
    <div class="feature-favor js-cfriend feature-w66">
        <i class="ico-share"></i> <span class="vertical-m" id="collectBtnTx">收藏名片</span>
    </div>
    <div class="feature-more js-featureMore feature-w33"><i class="ico-more"></i>
        <span class="vertical-m more-relative">更多<code class="dialog-num dialogNum"></code></span>
    </div>
</div>

<div class="more-list-wrap js-moreList">
    <div class="more-list">
        <ul class="more-list-ul">
            <li class="more-list-item more-avatar">
                <a href="{php echo $this->createMobileUrl('info',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'))}" class="more-item-anchor vertical-m">
                    <div class="more-avatar-thumb">
                        {if $member['headimg']}
                        {if substr($member['headimg'],0,9) == 'http://wx'}
                        <img src="{$member['headimg']}" class="more-avatar-thumbnail">
                        {else}
                        <img src="{$_W['attachurl']}{$member['headimg']}" class="more-avatar-thumbnail">
                        {/if}
                        {else}
                        <img src="../addons/amouse_ecard/style/images/header.png" class="more-avatar-thumbnail">{/if}

                        <i class="icon-sok"></i></div>
                    <span class="vertical-m">{$member['realname']}</span>
                </a>
            </li>


            <li class="more-list-item btop"><a href="{php echo $this->createMobileUrl('index',array('id'=>$member['id'],'wid'=>$from_user, 'op'=>'edit'),true)}" class="more-item-anchor"><span class="vertical-m">个人信息</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop">
                <a href="{php echo $this->createMobileUrl('privateSet',array('id'=>$member['id'],'wid'=>$from_user, 'op'=>'list'),true)}"
                   class="more-item-anchor">
                    <span class="vertical-m">隐私设置</span><i class="icon-right"></i>
                </a>
            </li>
            <!--<li class="more-list-item btop mb10"><a href="/app/bizcard/shareContentPage.do" class="more-item-anchor"><span class="vertical-m">自定义分享</span><i class="icon-right"></i></a></li>-->

            <li class="more-list-item btop">
                <a href="{php echo $this->createMobileUrl('Renmai',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'),true)}"
                   class="more-item-anchor">
                <span class="vertical-m">我的人脉</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop mb10">
                <a href="{php echo $this->createMobileUrl('recommed',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id'],'op'=>'list'),true)}"
                   class="more-item-anchor">
                    <span class="vertical-m">推荐人脉</span><i class="icon-right"></i>
                </a>
            </li>

            <li class="more-list-item btop">
                <a href="{php echo $this->createMobileUrl('indexEdit',array('id'=>$member['id'],'wid'=>$from_user, 'op'=>'list', 'cid'=>$card['id']),true)}"
                   class="more-item-anchor">
                    <span class="vertical-m">编辑名片</span><i class="icon-right"></i></a>
            </li>
            <li class="more-list-item btop">
                <a href="{php echo $this->createMobileUrl('selectTemplate',array('op'=>'list','wid'=>$from_user,'cid'=>$card['id'], 'id'=>$member['id']),true)}" class="more-item-anchor">
                <span class="vertical-m">更换模板</span>
                    <i class="icon-right"></i>
                </a>
            </li>
            <li class="more-list-item btop">
                <a href="{php echo $this->createMobileUrl('background',array('op'=>'list','wid'=>$from_user,'cid'=>$card['id'], 'id'=>$member['id']),true)}"
                   class="more-item-anchor">
                    <span class="vertical-m">更换背景</span><i class="icon-right"></i>
                </a>
            </li>

            <li class="more-list-item btop mb10">
                <a href="{php echo $this->createMobileUrl('music',array('id'=>$member['id'],'wid'=>$from_user,'cid'=>$card['id']),true)}" class="more-item-anchor">
                    <span class="vertical-m">背景音乐</span><i class="icon-right"></i>
                </a>
            </li>

            <!--<li class="more-list-item btop"><a href="/app/bizcard/setPesonInfo.do?selectTemp=false#m1" class="more-item-anchor"><span class="vertical-m">我专注</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop mb10"><a href="/app/bizcard/setPesonInfo.do?selectTemp=false#m2" class="more-item-anchor"><span class="vertical-m">我在找</span><i class="icon-right"></i></a></li>
            <li class="more-list-item btop mb10"><a href="/app/nearby/list.do" class="more-item-anchor"><span class="vertical-m">千线宝管理</span><i class="icon-right"></i></a></li>-->

        </ul>
    </div>
    <div class="more-list-item item-back"><a href="javascript:;" class="more-item-anchor"><i class="ico-back"></i> <span class="vertical-m">返 回</span></a></div>
</div>

<div class="sharetip sharetip-collect js-sharetip-collect"></div>
<div class="sharetip sharetip-cfriend js-sharetip-cfriend">
    <div class="shareBox">
        <span class="shareBox-title">分享到：</span>
        <div class="bdsharebuttonbox clearfix bdshare-button-style0-24" data-tag="share_1" data-bd-bind="1437530351138">
            <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
            <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
            <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
            <a class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
            <a class="bds_copy" data-link="">复制链接</a>
            <a class="popup_more" data-cmd="more">更多</a>
        </div>
    </div>
</div>

<div class="ewmform js-ewmform">
    <div class="ewmform-box">
        <code class="ewmform-close js-ewmClose"></code>
        <div class="ewmform-title">扫码收藏我的微名片</div>
        <div class="ewmform-summary"> 
            <img class="ewm-thumbnail" id="ewmThumbnail" data-src="../addons/amouse_ecard/data/{$member['id']}_zombieerweima{$_W['uniacid']}.png" src="../addons/amouse_ecard/data/{$member['id']}_zombieerweima{$_W['uniacid']}.png">
        </div>
        <div class="ewmform-des">长按二维码可保存到手机里</div>
    </div>
</div>
<!--<div class="wxewm js-wxewm">
    <div class="wxewm-box">
        <code class="wxewm-close js-wxewmClose"></code>
        <div class="wxewm-summary"><img class="wxewm-thumbnail" data-src="http://res4.eqianxian.com/bizcard/201504/1bBmwy41F7yH7TKYwEfCBr.jpg"></div>
        <div class="wxewm-tip">扫一扫或长按图片<br>识别二维码加我微信<br><a href="http://mp.weixin.qq.com/s?__biz=MzAxMTAzNTc2Nw==&amp;mid=223130286&amp;idx=1&amp;sn=428126b679814174249256b0c49cde3f#rd" target="_blank">二维码不全怎么办  <i class="icon-question"></i></a></div>
    </div>
</div>-->
<div class="superMask" id="superMask"></div>
<input id="hasCollect" type="hidden" value="true"/>
<input id="cardId" type="hidden" value="{$card[id]}"/>
<input id="personId" type="hidden" value="{$member[id]}"/>
<input id="openId" type="hidden" value="{$from_user}"/>
<input id="focusUrl" type="hidden" value="" />
<input id="fromUrl" type="hidden" value="" />
<input id="isFirst" type="hidden" value="" />
<input id="showTip" type="hidden" value="" />
<input id="notWeixin" type="hidden" value="" />
<input id="fromScan" type="hidden" value="" />
<input id="isCom" type="hidden" value="" />
<input id="isSelf" type="hidden" value="true" />
<script src="../addons/amouse_ecard/style/js/jquery.1.11.1.js"></script>
<script src="../addons/amouse_ecard/style/js/flytip.js"></script>
<script src="../addons/amouse_ecard/style/js/vpopup.js"></script>
<script src="../addons/amouse_ecard/style/js/cookie.js"></script>
<script src="../addons/amouse_ecard/style/js/common.js"></script>
<input id="shareUrl" type="hidden" value="{$linkUrl}"/>
<input id="shareCss" type="hidden" value="../addons/amouse_ecard/style/css/share.css?v=201504101043">
<input id="shareUrl" type="hidden" value="{$linkUrl}"/>

<script>
    var shareContent = {
        bdText: '{$member['realname']}的微名片',
        bdDesc: '公司:{$member['company']}\n　职位:{$member['job']}\n　详情请关注公众号“{$_W['account']['name']}”!',
        bdUrl: "{$linkUrl}",
        bdPic: "{$shareimg}",
        onBeforeClick: function (cmd, config) {
            if (cmd == 'sqq') {
                config.bdDesc = config.bdText + '\n' + config.bdDesc;
                config.bdDesc = null;
                return config;
            } else if (cmd == 'tsina') {
                config.bdText = config.bdText + '\n' + config.bdDesc;
                return config;
            }

        }
    };
    var PC = false;
</script>
<script src="../addons/amouse_ecard/style/js/share.js?v=201504101043"></script>
{php echo register_jssdk(false);}
<script type="text/javascript">
    initShare();
    function initShare(){
        wx.ready(function () {
            shareMeta = {
                title: "{$member['realname']}的微名片",
                desc: "公司:{$member['company']}\n职位:{$member['job']}\n点击查看更多信息",
                link: "{$linkUrl}",
                imgUrl: "{$shareimg}",
                success: function(){

                },
                cancel: function(){
                    // alert("分享失败，可能是网络问题，一会儿再试试？");
                }
            };
            wx.onMenuShareTimeline(shareMeta);
            wx.onMenuShareAppMessage(shareMeta);
            wx.onMenuShareWeibo(shareMeta);
            wx.onMenuShareQQ(shareMeta);
            wx.onMenuShareQZone(shareMeta);
        });
    }

</script>

<link rel="stylesheet" type="text/css" href="../addons/amouse_ecard/style/css/vpopup.css">
<script type="text/javascript">
    $(function () {
        var $contentItem = $(".cateContent .content-item");
        $contentItem.click(function () {
            var $this = $(this);
            $this.addClass("cur").siblings().removeClass("cur");
            setTimeout(function () {
                $this.removeClass("cur");
            }, 500);
        });
    });

    function noqq() {
        $.flytip("您还没有设置qq号");
    }
</script>
<script>
    $("link").each(function(){
        var $this = $(this);
        var url = $this.attr("href");
        var ts = (new Date()).getTime();

        $this.on("error", function(){
            $this.attr("href",url+"?="+ts);
        });
    });
</script>



{if (!empty($isbjyy))}
<div class="musicBox play" id="musicBox"></div>
<audio id="musicPlayer" loop src="{$musicUrl}" autoplay="autoplay" style="display:none;position:absolute;z-index:-11"></audio>
{/if}
</body></html>