{template 'common/header'}
<link rel="stylesheet" href="{MODULE_URL}public/css/meask.css"/>
<link rel="stylesheet" href="{MODULE_URL}public/css/question.css"/>
<div id="QuestionList">
    {if !empty($list['list'])}
    <ul class="questions">
        {loop $list['list'] $li}
        {php $to_member = M('member')->getInfo($li['to_openid'])}
        <li class="a-question">
            <a class="AQ" href="{php echo $this->createMobileUrl('question',array('id'=>$li['question_id']))}">
                <div class="question-content">
                    {php $question = M('question')->getInfo($li['question_id'])}
                    <p>{$question['title']}</p>
                </div>
                <div>
                <span class="question-respondent">
                    {$to_member['nickname']}｜{$to_member['desc']}
                </span>
                    {if $question['status'] == 2}
                    <div class="question-answer">
                        <div class="avatar" style="position:relative;width:1.85rem;height:1.85rem;border-radius:50%;display:inline-block;vertical-align:middle;margin-right:.675rem;">
                            <img style="position:relative;width:1.85rem;height:1.85rem;border-radius:50%;display:inline-block;"
                                 class="avatarImg" src="{php echo tomedia($to_member['avatar'])}">
                            <span></span>
                        </div>
                        <div style="display:inline-block;">
                        <span class="bubble" style="float:none;">
                            <span class="bubble-tail"></span>
                            <span class="wave3"></span>
                            <span>立即播放</span>
                        </span>
                        </div>
                        <div class="question-visitor">
                            <span>听过</span>
                            <span >{php echo M('listen_log')->gettotal($li['id'])}</span>
                        </div>
                    </div>
                    {/if}
                </div>
            </a>
        </li>
        {/loop}
    </ul>
    <div class="weui-infinite-scroll" style="padding-bottom: 54px;">
        <div class="infinite-preloader"></div>
        正在加载...
    </div>
    {else}
    <div style="text-align:center;padding:3.6rem 2.875rem;">
        <div data-reactid=".1andidxn8jk.0">
            <img src="http://hangjia.qiniudn.com/FugCrgkvyNW-neCLtifXyyKnS-07" style="display:inline-block;width:4,5rem;height:4.5rem;margin-bottom:1rem;"/>
        </div>
        <p style="font-size:.8rem;color:#999;line-height:1.1rem;margin-bottom:1.65rem;" data-reactid=".1andidxn8jk.1">你还没有提问呦~</p>
        <a style="display:inline-block;line-height:2.2rem;width:8.675rem;background:#F85F48;border:1px solid #F85F48;font-size:.75rem;color:#fff;text-decoration:none;text-align:center;border-radius:.3rem;" href="{php echo $this->createMobileUrl('members')}">去问一个</a>
    </div>
    {/if}
</div>
<script type="text/javascript" src="{$_W['siteroot']}app/resource/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}public/libs/jquery_weui/jquery-weui.js"></script>
<script type="text/javascript" src="{MODULE_URL}public/libs/velocity.min.js"></script>
<script src="{MODULE_URL}public/js/loadmore.js"></script>
<script>
    $(function(){
        function callback(html){
            $('#QuestionList .questions').append(html);
        }
        initload("",callback);
        loadmore("",callback);
    })
</script>
{template 'common/footer'}