body{
    margin:0 auto;
    max-width: 640px;
    min-width: 320px;
    font-size: 0.7rem;
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
}
.color-bg{
	background: #01AAAF;!important;
}

.color-border{
	border: 1px solid #01AAAF;!important;
}
.width100{
	width: 100%;
}
.color-prize{
	color: #FE7467;
}
.color-text{
	color: #01AAAF;
}
.disableCss{ 
	pointer-events:none; !important;
	color:#8DCED2; !important;
	cursor:default;!important;
	background: #00ABAF; !important;
} 
.btn-sure{
	background: #01AAAF;
	color: #fff;
}
#content-box img{
	display: block;
	width: 35%;
	margin: 0 auto;
	margin-top: 2rem;
}
#content-box p{
	color: #999999;
	text-align: center;
	font-size: 0.8rem;
}
#content-box a{
	display: block;
    width: 35%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #01AAAF;
    color: #01AAAF;
    padding: 0.4rem 0;
    font-size: 0.8rem;
    border-radius: 4px;
}
a{ 
	bblr:expression(this.onFocus=this.blur());/*IE使用*/ 
	outline-style:none;/*FF使用*/ 
} 
.ui-cell:before,.ui-cell:after{
	border-color: #CCCCCC !important;
}
.ui-cells:before,.ui-cells:after{
	border-color: #CCCCCC !important;
}
/*底部消息气泡*/
#Bubble_box{
    display: block;
    position: absolute;
    top: 2px;
    right: 30%;
    background: red;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: #fff;
    z-index: 111;
    font-size: 10px !important;
    line-height: 16px;
}
