/*! superstar - v1.0.0 - 2016-01-07 */
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	list-style: none
}

html {
	height: 100%
}

body {
	font-family: 'Microsoft YaHei','Myriad Set Pro','Lucida Grande','Hiragino Sans GB',Helvetica,Arial,sans-serif;
	padding-bottom: 50px;
	line-height: 1.3em;
	font-size: 12px;
	color: #8191a9;
	background: #041530;
	background-size: 320px;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

article,section {
	display: block
}

img {
	vertical-align: middle;
	border: none
}

button,input,select,textarea {
	outline: 0
}

textarea {
	resize: none
}

a {
	color: #422c56;
	text-decoration: none
}

a:active,a:focus,a:hover,a:visited {
	color: #422c56
}

.gold {
	color: #facc49
}

.red {
	color: #d22d3b
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0
}

.clearfix {
	zoom: 1
}

.header {
	position: relative;
	padding-bottom: 34px;
	overflow: hidden
}

.header li {
	position: relative;
	width: 100%;
	z-index: -1;
	overflow: hidden
}

.header li img {
	width: 100%;
	height: auto
}

.rank-header {
	padding-bottom: 50%;
	background: url(header.png) no-repeat;
	background-size: cover
}

.rank-header .rules,.rules {
	position: absolute;
	top: 0;
	right: 13px;
	z-index: 49;
	padding-top: 3px;
	display: block;
	width: 32px;
	height: 32px;
	color: #fff;
	text-align: center;
	background: #d22d3b
}

.rank-header .rules:before,.rules:before {
	position: absolute;
	top: 35px;
	left: 0;
	display: block;
	content: '';
	width: 32px;
	height: 5px;
	background: url(index.png) no-repeat 0 -187px;
	background-size: 103px auto
}

.start-banner {
	position: relative;
	padding-bottom: 50%;
	overflow: hidden
}

.start-banner li {
	position: absolute;
	top: 0;
	left: 0
}

.dot-carouser {
	position: absolute;
	bottom: 46px;
	right: 10px;
	z-index: 59
}

.dot-carouser li {
	display: inline-block;
	margin-left: 2px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(255,255,255,.3)
}

.dot-carouser .act-dot {
	background: rgba(255,255,255,1)
}

.index-wrap {
	position: relative
}

.week-rank {
	position: relative;
	margin: -25px auto 0;
	padding: 0;
	height: 76px;
	text-align: center
}

.week-rank ul {
	margin: 0;
	padding: 0
}

.week-rank:before {
	position: absolute;
	top: 33px;
	left: 50%;
	margin: 0 0 0 -20px;
	display: block;
	content: '';
	width: 40px;
	height: 35px;
	background: url(index.png) no-repeat 0 -145px;
	background-size: 103px auto
}

.week-odd {
	position: absolute;
	top: 0;
	left: 25%;
	margin: 0 0 0 -70px;
	width: 140px
}

.week-even {
	position: absolute;
	top: 0;
	left: 75%;
	margin: 0 0 0 -70px;
	width: 140px
}

.week-pic {
	width: 40px;
	height: 40px
}

.week-pic img {
	width: 100%;
	height: 100%;
	border-radius: 100%
}

.week-pic:before {
	position: absolute;
	top: -12px;
	left: 14px;
	width: 14px;
	height: 10px;
	background: url(index.png);
	background-repeat: no-repeat;
	background-size: 103px auto;
	content: ''
}

.week-odd .week-pic:before {
	background-position: 0 -129px
}

.week-even .week-pic:before {
	background-position: 0 -114px
}

.week-name {
	margin: 0 auto;
	font-size: 12px;
	width: 86px;
	height: 26px;
	line-height: 26px;
	border-radius: 5px;
	border: 2px solid #fff8d3;
	box-shadow: inset 0 0 3px 0 #f6b566,0 0 3px 0 #f6b566;
	overflow: hidden;
	color: #fdf4cd;
	background: #2c150b
}

.week-title {
	position: relative;
	font-size: 19px;
	line-height: 38px;
	height: 32px;
	color: #facc49;
	font-weight: 700
}

.week-title span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 22px;
	background: url(index.png) no-repeat 52px -530px;
	background-size: 103px auto;
	content: '';
	z-index: 10;
	opacity: .1;
	-webkit-animation: week-title .5s ease 8
}

@-webkit-keyframes week-title {
	0% {
		opacity: 1;
		-webkit-transform: translateY(35px)
	}

	50% {
		opacity: 1;
		-webkit-transform: translateY(30px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(35px)
	}
}

.rank-history {
	position: absolute;
	top: 2px;
	left: 50%;
	margin: 0 0 0 -17px;
	width: 34px;
	height: 34px;
	line-height: 16px;
	color: #fff;
	border-radius: 34px;
	background: #d22d3b
}

.history-first {
	position: absolute;
	left: 50%;
	top: -50px;
	margin: 0 0 0 -118px;
	width: 236px;
	height: 54px;
	display: none;
	background: url(history_first.png);
	background-size: 236px auto
}

.week-first {
	background: url(week_first.png);
	background-size: 236px auto
}

.history-first-name {
	margin: 0 23px 0 120px;
	font-size: 15px;
	font-weight: 700;
	line-height: 53px;
	text-align: center;
	color: #facc49
}

.history-flash,.history-skin {
	position: absolute;
	top: -3px;
	right: -18px;
	padding: 5px;
	width: 32px;
	height: 32px;
	background: #d22d3b;
	border-radius: 37px;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	color: #fff
}

.history-flash:before,.history-skin:before {
	position: absolute;
	top: -8px;
	left: 15px;
	display: block;
	content: '';
	width: 14px;
	height: 14px;
	background: url(index.png) no-repeat 0 -113px;
	background-size: 103px auto
}

.history-skin:after {
	position: absolute;
	top: 36px;
	left: 2px;
	display: block;
	content: '';
	width: 14px;
	height: 14px;
	background: url(index.png) no-repeat 0 -673px;
	background-size: 103px auto
}

.read-bar {
	padding: 7px 15px;
	color: #facc49
}

.read-bar span {
	float: right
}

.read-bar-info {
	font-weight: 400
}

.search {
	position: relative;
	padding: 4px 91px 10px 11px;
	margin: 0 auto;
	height: 28px;
	line-height: 28px
}

.search-input {
	-webkit-box-sizing: border-box;
	width: 100%;
	padding: 0 11px;
	border-radius: 14px;
	height: 28px;
	border: 0
}

.search-input::-webkit-input-placeholder {
	color: #b1b7c1
}

.search-btn {
	position: absolute;
	top: 4px;
	right: 9px;
	padding: 0 28px 0 12px;
	border-radius: 14px;
	width: 30px;
	height: 28px;
	color: #fff;
	text-align: center;
	background: #d22d3b url(index.png) no-repeat 45px -65px;
	background-size: 103px auto
}

.advance {
	padding: 0 10px 0 36px;
	margin: 0 0 3px;
	line-height: 20px;
	height: 20px;
	background: url(index.png) no-repeat 16px -29px;
	background-size: 103px auto;
	overflow: hidden
}

.today-vote {
	float: right;
	color: #facc49
}

.advance p {
	color: #8191a9;
	display: none;
	-webkit-animation: advance-p 3s ease
}

@-webkit-keyframes advance-p {
	0% {
		-webkit-transform: translate3d(0,20px,0)
	}

	10%,90% {
		-webkit-transform: translate3d(0,0,0)
	}

	100% {
		-webkit-transform: translate3d(0,-20px,0)
	}
}

.star-ul {
	position: relative;
	margin: 10px auto 0
}

.star-ul li {
	position: relative;
	margin: 5px 6px;
	padding: 9px 0 9px 9px;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	color: #fff;
	clear: both;
	background: #102039;
	border-radius: 2px
}

.star-ul li p {
	float: left;
	overflow: hidden
}

.star-ranking {
	width: 10%
}

.star-face {
	width: 13%
}

.star-face img {
	vertical-align: top;
	width: 32px;
	height: 32px
}

.star-face>span {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	overflow: hidden
}

.star-name {
	width: 21%;
	font-size: 14px;
	height: 34px;
	line-height: 1.2;
	font-weight: 700;
	-webkit-box-align: center;
	display: -webkit-box
}

.star-num {
	width: 21%;
	text-align: right
}

.star-lastweek {
	position: absolute;
	top: 34px;
	left: 65%;
	padding-left: 14px;
	height: 16px;
	line-height: 16px;
	width: 30%;
	color: #6bcf7c;
	background: url(index.png) no-repeat 0 -113px;
	background-size: 103px auto
}

.star-zoom {
	-webkit-animation: star-zoom 1s linear
}

@-webkit-keyframes star-zoom {
	50%,80% {
		-webkit-transform: scale(1.3)
	}
}

.star-vote {
	margin: 6px 0;
	width: 17%;
	height: 20px;
	line-height: 20px;
	color: #d22d3b;
	text-align: center;
	border-right: 1px solid #273854
}

.star-share {
	margin: 6px 0;
	width: 17%;
	height: 20px;
	color: #6bcf7c;
	line-height: 20px;
	text-align: center
}

.star-skin {
	display: none
}

.star-index li.star-1,.star-index li.star-10,.star-index li.star-2,.star-index li.star-3,.star-index li.star-4,.star-index li.star-5,.star-index li.star-6,.star-index li.star-7,.star-index li.star-8,.star-index li.star-9 {
	height: 82px
}

.star-index li.star-1 p,.star-index li.star-10 p,.star-index li.star-2 p,.star-index li.star-3 p,.star-index li.star-4 p,.star-index li.star-5 p,.star-index li.star-6 p,.star-index li.star-7 p,.star-index li.star-8 p,.star-index li.star-9 p {
	float: none
}

li.star-1 .star-ranking,li.star-10 .star-ranking,li.star-2 .star-ranking,li.star-3 .star-ranking,li.star-4 .star-ranking,li.star-5 .star-ranking,li.star-6 .star-ranking,li.star-7 .star-ranking,li.star-8 .star-ranking,li.star-9 .star-ranking {
	position: absolute;
	top: 0;
	left: -1px;
	width: 30px;
	height: 30px;
	line-height: 16px;
	text-indent: 4px;
	font-style: italic;
	background: url(index.png) no-repeat 0 -306px;
	background-size: 103px auto
}

li.star-2 .star-ranking {
	background-position: 0 -337px;
	color: #d22d3b
}

li.star-3 .star-ranking {
	background-position: 0 -367px
}

li.star-10 .star-ranking,li.star-4 .star-ranking,li.star-5 .star-ranking,li.star-6 .star-ranking,li.star-7 .star-ranking,li.star-8 .star-ranking,li.star-9 .star-ranking {
	background-position: 0 -397px
}

.star-index li.star-1 .star-face,.star-index li.star-10 .star-face,.star-index li.star-2 .star-face,.star-index li.star-3 .star-face,.star-index li.star-4 .star-face,.star-index li.star-5 .star-face,.star-index li.star-6 .star-face,.star-index li.star-7 .star-face,.star-index li.star-8 .star-face,.star-index li.star-9 .star-face {
	position: absolute;
	top: 12px;
	left: 19%;
	margin: 0 0 0 -37px;
	width: 75px;
	height: 75px
}

.star-index li.star-1 .star-face>span,.star-index li.star-10 .star-face>span,.star-index li.star-2 .star-face>span,.star-index li.star-3 .star-face>span,.star-index li.star-4 .star-face>span,.star-index li.star-5 .star-face>span,.star-index li.star-6 .star-face>span,.star-index li.star-7 .star-face>span,.star-index li.star-8 .star-face>span,.star-index li.star-9 .star-face>span {
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 64px;
	overflow: hidden
}

.star-index li.star-1 .star-face img,.star-index li.star-10 .star-face img,.star-index li.star-2 .star-face img,.star-index li.star-3 .star-face img,.star-index li.star-4 .star-face img,.star-index li.star-5 .star-face img,.star-index li.star-6 .star-face img,.star-index li.star-7 .star-face img,.star-index li.star-8 .star-face img,.star-index li.star-9 .star-face img {
	width: 100%;
	height: 100%
}

.star-index li.star-1 .star-name,.star-index li.star-10 .star-name,.star-index li.star-2 .star-name,.star-index li.star-3 .star-name,.star-index li.star-4 .star-name,.star-index li.star-5 .star-name,.star-index li.star-6 .star-name,.star-index li.star-7 .star-name,.star-index li.star-8 .star-name,.star-index li.star-9 .star-name {
	position: absolute;
	top: 3px;
	left: 37%;
	width: 200px;
	font-size: 20px;
	color: #facc49
}

.star-index li.star-1 .star-num,.star-index li.star-10 .star-num,.star-index li.star-2 .star-num,.star-index li.star-3 .star-num,.star-index li.star-4 .star-num,.star-index li.star-5 .star-num,.star-index li.star-6 .star-num,.star-index li.star-7 .star-num,.star-index li.star-8 .star-num,.star-index li.star-9 .star-num {
	position: absolute;
	top: 26px;
	left: 37%;
	width: 90px;
	text-align: left
}

.star-index li.star-1 .star-vote,.star-index li.star-10 .star-vote,.star-index li.star-2 .star-vote,.star-index li.star-3 .star-vote,.star-index li.star-4 .star-vote,.star-index li.star-5 .star-vote,.star-index li.star-6 .star-vote,.star-index li.star-7 .star-vote,.star-index li.star-8 .star-vote,.star-index li.star-9 .star-vote {
	position: absolute;
	top: 55px;
	left: 37%;
	margin: 0;
	border: 0;
	width: 77px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #d22d3b;
	border-radius: 28px;
	color: #fff
}

.star-index li.star-1 .star-share,.star-index li.star-10 .star-share,.star-index li.star-2 .star-share,.star-index li.star-3 .star-share,.star-index li.star-4 .star-share,.star-index li.star-5 .star-share,.star-index li.star-6 .star-share,.star-index li.star-7 .star-share,.star-index li.star-8 .star-share,.star-index li.star-9 .star-share {
	position: absolute;
	top: 55px;
	left: 67%;
	margin: 0;
	width: 77px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #6bcf7c;
	border-radius: 28px;
	color: #fff
}

.star-index li.star-1 .star-skin,.star-index li.star-10 .star-skin,.star-index li.star-2 .star-skin,.star-index li.star-3 .star-skin,.star-index li.star-4 .star-skin,.star-index li.star-5 .star-skin,.star-index li.star-6 .star-skin,.star-index li.star-7 .star-skin,.star-index li.star-8 .star-skin,.star-index li.star-9 .star-skin {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	border-radius: 17px;
	background: #2c4160 url(index.png) no-repeat 1px -91px;
	background-size: 103px auto
}

.star-hide {
	display: none
}

.more {
	margin: 0 6px;
	height: 24px;
	line-height: 24px;
	color: #6bcf7c;
	text-align: center;
	background: #263750
}

.star-nothing {
	display: none;
	padding: 10px 27px;
	line-height: 22px
}

.star-nothing-btn {
	margin: 10px auto;
	width: 112px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	border-radius: 28px;
	background: #6bcf7c;
	text-align: center
}

.dld-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 40px;
	background: url(index.png) no-repeat 22px 8px,-webkit-linear-gradient(left top,#132748,#3a1c55);
	background-size: 103px auto,100%;
	z-index: 100
}

.dld-bar p {
	margin: 5px 0 5px 60px;
	color: #fff
}

.dld-bar span {
	position: absolute;
	top: 7px;
	right: 30px;
	padding: 0 10px 0 0;
	width: 64px;
	font-size: 13px;
	height: 26px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	background: #d22d3b url(index.png) no-repeat 46px -45px;
	background-size: 103px auto;
	border-radius: 5px
}

.rank-ul {
	display: block;
	margin: 0 6px;
	height: 305px;
	color: #fff;
	overflow: hidden
}

.rank-ul li {
	position: relative;
	margin: 0 0 7px;
	height: 95px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 30%
}

.rank-ul li:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	z-index: 1
}

.rank-ul .star-rank p {
	float: none
}

.rank-ul .star-ranking {
	position: absolute;
	top: 0;
	left: -1px;
	width: 30px;
	height: 30px;
	line-height: 16px;
	text-indent: 4px;
	font-style: italic;
	background: url(index.png) no-repeat 0 -306px;
	background-size: 103px auto
}

.rank-ul .star-name {
	position: absolute;
	top: 17px;
	left: 75%;
	margin: 0 0 0 -50px;
	width: 100px;
	font-size: 16px;
	text-align: center;
	-webkit-box-pack: center
}

.rank-ul .star-num {
	position: absolute;
	top: 34px;
	left: 75%;
	display: none;
	margin: 0 0 0 -50px;
	width: 100px;
	color: #6bcf7c;
	text-align: center
}

.rank-ul .star-wall {
	position: absolute;
	top: 54px;
	left: 75%;
	margin: 0 0 0 -35px;
	width: 70px;
	line-height: 20px;
	height: 20px;
	border: 1px solid rgba(255,255,255,.15);
	border-radius: 20px;
	text-align: center
}

.rank-ul li.star-2 .star-ranking {
	background-position: 0 -337px;
	color: #d22d3b
}

.rank-ul li.star-3 .star-ranking {
	background-position: 0 -367px
}

.rank-ul li:nth-child(n+4) .star-ranking {
	background-position: 0 -397px
}

.rank-rule {
	padding: 20px 10px;
	line-height: 23px
}

.rank-rule p {
	margin: 2px 0
}

.rank-rule strong {
	color: #d22d3b;
	font-weight: 400
}

.r-header {
	z-index: -1;
	width: 100%
}

.r-header img {
	width: 100%
}

.rule-cont {
	margin: 20px 15px;
	color: #8191a9;
	line-height: 22px
}

.rule-cont h3 {
	margin: 10px 0 0;
	font-size: 16px
}

.rule-cont .rule-index {
	color: #6bcf7c;
	word-wrap: break-word;
	word-break: normal
}

.rule-cont p {
	margin: 5px 0
}

.star-title {
	margin: 0 auto;
	width: 204px;
	line-height: 24px;
	height: 24px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #182a45
}

.star-cont {
	position: relative;
	margin: 0 auto 8px;
	padding-bottom: 20px;
	width: 204px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background-color: #10223e
}

.star-cont:before {
	position: absolute;
	bottom: -18px;
	left: 50%;
	margin: 0 0 0 -14px;
	width: 14px;
	height: 14px;
	content: '';
	border: 14px solid #041530;
	border-width: 0 14px 14px 0;
	-webkit-transform: rotate(45deg);
	z-index: 10
}

.star-cont:after {
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin: 0 0 0 -14px;
	width: 14px;
	height: 14px;
	content: '';
	border: 14px solid #10223e;
	border-width: 0 14px 14px 0;
	-webkit-transform: rotate(45deg);
	z-index: 10
}

.star-cont img {
	margin: 10px 0;
	width: 75px;
	height: 75px;
	border-radius: 75px;
	box-shadow: 0 0 0 4px #081933
}

.star-cont h3 {
	line-height: 34px;
	font-size: 18px;
	color: #facc49
}

.star-cont span {
	color: #d22d3b
}

.star-friend {
	margin-top: 9px
}

.star-friend-name {
	margin: 111px auto 0;
	width: 214px;
	text-align: left
}

.lastweek-btn span,.star-friend span {
	display: inline-block;
	margin: 25px 7px 15px;
	padding: 0 26px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	color: #fff;
	border-radius: 32px;
	background: #6bcf7c;
	text-align: center
}

.lastweek-btn span {
	margin: 5px auto;
	width: 82px
}

.star-tips {
	position: relative;
	padding: 17px 12px;
	height: 228px;
	line-height: 18px;
	text-align: center;
	background: #10223e url(star_tip.png) no-repeat 50% 59px;
	background-size: 260px auto
}

.star-tips:before {
	position: absolute;
	top: 0;
	left: 50%;
	margin: 15px 0 0 -77px;
	display: block;
	content: '';
	width: 18px;
	height: 18px;
	background: url(index.png) no-repeat 0 -436px;
	background-size: 103px auto
}

.mask .star-tips {
	top: 50%;
	margin: -131px auto 0;
	width: 268px
}

.my-star {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #6bcf7c;
	font-size: 14px
}

.star-ul-title {
	margin: 20px 6px 10px;
	background-color: #162946;
	line-height: 30px;
	font-size: 14px;
	font-weight: 700;
	color: #6bcf7c;
	text-align: center
}

.star-history {
	margin-top: -15px;
	display: none;
	background: url(star_history.png) no-repeat 0 0;
	background-size: 100% auto
}

.star-history-title {
	margin-top: 9px;
	height: 34px;
	line-height: 34px;
	font-size: 15px;
	color: #fff;
	text-align: center;
	background: -webkit-linear-gradient(left top,rgba(19,39,72,.8),rgba(58,28,85,.8))
}

.star-history-back {
	position: absolute;
	top: -1px;
	left: 0;
	width: 34px;
	height: 34px
}

.star-history-back:after {
	position: absolute;
	top: 10px;
	left: 14px;
	width: 14px;
	height: 14px;
	content: '';
	border: 2px solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(135deg)
}

.history-ul li.star-1 {
	padding: 20px 0 20px 9px
}

.history-ul li.star-1 .star-num {
	margin-top: 10px
}

.history-ul .star-share,.history-ul .star-skin,.history-ul .star-vote {
	display: none
}

.history-ul li.star-1 .star-face {
	position: absolute;
	top: 50%;
	left: 18%;
	margin: -22px 0 0 -22px;
	width: 45px;
	height: 48px;
	line-height: 45px
}

.history-ul li.star-1 .star-face img {
	width: 45px;
	height: 45px
}

.history-ul .star-face {
	position: absolute;
	top: 50%;
	left: 18%;
	margin: -16px 0 0 -16px
}

.history-ul .star-name {
	margin: 0 0 0 26%;
	width: 43%
}

.history-ul .star-lastweek {
	top: 17px
}

.history-ul .star-num {
	width: 26%
}

.history-ul .star-ranking {
	position: absolute;
	top: 10px;
	left: 10px
}

.mask {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 100
}

.popwin {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -111px;
	padding: 30px 23px 20px;
	width: 176px;
	font-size: 13px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	border: 2px solid #f8daa3;
	border-radius: 15px;
	box-shadow: inset 0 0 3px #f8810b,0 0 10px #ffabab;
	background: rgba(0,0,0,.3)
}

.popwin:before {
	position: absolute;
	top: -35px;
	left: 50%;
	margin: 0 0 0 -34px;
	display: block;
	content: '';
	width: 89px;
	height: 67px;
	background: url(index.png) no-repeat 0 -460px;
	background-size: 103px auto
}

.msg {
	display: none;
	position: fixed;
	top: 70%;
	left: 50%;
	margin: 0 0 0 -85px;
	padding: 10px;
	width: 150px;
	background: rgba(0,0,0,.8);
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	border: 2px solid #f8daa3;
	-webkit-animation: msg 1s linear
}

@-webkit-keyframes msg {
	0% {
		-webkit-transform: translate3d(0,20px,0)
	}

	20% {
		-webkit-transform: translate3d(0,0,0)
	}
}

.wx-mask {
	display: none;
	position: fixed;
	padding: 50px 40px 0 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 20px;
	color: #facc49;
	background: rgba(0,0,0,.8);
	text-align: center;
	z-index: 100;
	-webkit-box-sizing: border-box
}

.wx-mask:before {
	position: absolute;
	top: 0;
	right: 15px;
	display: block;
	content: '';
	width: 103px;
	height: 113px;
	background: url(index.png) no-repeat 0 -550px;
	background-size: 103px auto
}

.flash-panel,.last-panel,.new-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -162px 0 0 -147px;
	width: 295px;
	height: 320px;
	border: 1px solid #1f2732;
	background: #0f151e;
	border-radius: 10px;
	text-align: center;
	color: #fff
}

.new-panel {
	background: #0f151e url(new_mask.png) no-repeat 50% 100px;
	background-size: 250px auto
}

.flash-panel {
	background: #0f151e url(weekflash.png) no-repeat 50% 20px;
	background-size: 177px auto
}

.flash-panel:before {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	margin: 0 0 0 -7px;
	content: '';
	width: 14px;
	height: 14px;
	background: url(index.png) no-repeat 0 -113px;
	background-size: 103px auto
}

.flash-panel img {
	margin-left: 4px;
	width: 93px
}

.new-col {
	float: left;
	padding: 10px 0;
	width: 147px;
	height: 300px
}

.new-col-r {
	border-left: 1px dashed #262f3c
}

.new-col-r .week-name {
	color: #ff7e89;
	border-color: #fdd;
	box-shadow: inset 0 0 3px 0 #ffa5a5,0 0 3px 0 #ffa5a5
}

.new-col-r .week-title {
	color: #d22d3b
}

.process {
	position: absolute;
	top: 17px;
	left: 50%;
	margin: 0 0 0 -98px;
	width: 200px
}

.process span {
	display: inline-block;
	margin-right: 5px;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	overflow: hidden;
	background: #fdf4cd;
	box-shadow: inset 0 0 3px #efa655,0 0 3px #efa655;
	-webkit-animation: ani_process .8s linear infinite
}

.process .txt {
	margin-top: 5px;
	font-size: 14px;
	color: #ccc
}

@-webkit-keyframes ani_process {
	from {
		opacity: 1
	}

	to {
		opacity: .1
	}
}

.process .s1 {
	-webkit-animation-delay: 0s
}

.process .s2 {
	-webkit-animation-delay: .2s
}

.process .s3 {
	-webkit-animation-delay: .4s
}

.process .s4 {
	-webkit-animation-delay: .6s
}

.lastweek-title {
	padding: 10px;
	font-size: 19px;
	font-weight: 700;
	line-height: 22px;
	color: #facc49
}

.lastweek-img {
	margin: 5px auto;
	width: 226px
}

.lastweek-img img {
	width: 100%
}

.flash-name {
	line-height: 20px;
	font-size: 19px;
	font-weight: 700;
	color: #facc49;
	margin: 15px 0 5px
}

.flash-img {
	margin: 60px 0 0
}

.flash-tip {
	position: absolute;
	bottom: 12px;
	left: 0;
	width: 100%
}

.go-top {
	/*display: none;*/
	position: fixed;
	bottom: 45px;
	right: 6px;
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,.5);
	border-radius: 3px
}

.go-top:before {
	position: absolute;
	top: 10px;
	left: 11px;
	width: 6px;
	height: 6px;
	content: '';
	border: 2px solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(225deg)
}

.go-top:after {
	position: absolute;
	top: 10px;
	left: 14px;
	width: 0;
	height: 15px;
	content: '';
	border-left: 2px solid #fff
}

.menu-tab li {
	float: left;
	width: 33.33%;
	height: 36px;
	text-align: center
}

.menu-tab div {
	position: relative;
	margin: 0 5px;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	color: #8191a9;
	background: #101f37;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px
}

.menu-tab .tab-more-p {
	position: relative;
	display: inline-block;
	white-space: nowrap
}

.menu-tab li:first-child div {
	margin-right: 2.5px
}

.menu-tab li:nth-child(2) div {
	margin: 0 2.5px
}

.menu-tab li:last-child div {
	margin-left: 2.5px
}

.menu-tab .tab-cur {
	height: 36px;
	line-height: 30px;
	color: #1fbbff;
	background: #152640;
	border-top: 2px solid #1fbbff;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px
}

.main-cont {
	padding-top: 6px;
	width: 100%;
	background: #152640
}

.tab-more-p:after {
	content: '+';
	display: block;
	position: absolute;
	top: 0;
	right: 50%;
	font-size: 18px;
	font-weight: 700;
	-webkit-transform: translate3d(40px,-1px,0)
}

.second-list-pop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	display: none;
	background: url(sec_bg.jpg) no-repeat top center;
	background-size: cover
}

.cate-wrap {
	position: relative;
	margin: 37px 14px 0;
	padding-top: 19px;
	height: 309px;
	background: rgba(0,0,0,.4)
}

.cate-list-wrap {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll
}

.cate-close {
	position: absolute;
	top: -10px;
	right: -7px;
	width: 25px;
	height: 26px;
	background: url(close.jpg) no-repeat;
	background-size: 25px 26px;
	overflow: hidden;
	display: block
}

.cate-list li {
	position: relative;
	margin-bottom: 26px;
	float: left;
	width: 50%;
	color: #FFF;
	font-size: 14px;
	overflow: hidden
}

.cate-list p {
	margin-left: 21px
}

.cate-hot:before,.cate-new:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
	background: url(index.png) no-repeat -38px -685px;
	background-size: 103px auto
}

.cate-new:before {
	background: url(index.png) no-repeat -40px -700px;
	background-size: 103px auto
}

.rule-title {
	margin-top: 0
}

.star-header {
	position: relative;
	padding-bottom: 10px
}

.star-header img {
	position: relative;
	width: 100%;
	z-index: -1
}