{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="{php echo $this->createWebUrl('section');}">帖子列表</a></li>
        <li class="active"><a href="javascript:void(0);">编辑帖子</a></li>
    </ul>
</div>       
<style>
.table td span{display:inline-block;margin-top:4px;}
.table td input{margin-bottom:0;}
</style>
<div class="clearfix">
<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">帖子信息编辑</div>
        <div class="panel-body">
                <input type="hidden" name="sectionid" value="{$section['id']}">             
<!--                 <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">所属话题</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  readonly="readonly"  value="{$section['stitle']}">
                    	<span class="help-block">帖子所属话题</span>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">发帖人昵称</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  readonly="readonly"  value="{$section['nickname']}">
                    	<span class="help-block">昵称</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">微信头像</label>
                    <div class="col-sm-8 col-xs-12">
                        <img style="width: 150px;height: 150px;" src="{$section['headimg']}">
                    	<span class="help-block">微信头像</span>
                    </div>
                </div>                              
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">帖子内容</label>
					<div class="col-sm-9 col-xs-12">
						<textarea style="height:100px; width:90%;" id='rule' class="form-control span7 richtext" name="content" cols="70">{$section['content']}</textarea>
						<span class="help-block">帖子内容</span>
					</div>
				</div>  
               <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">帖子图片</label>
                    <div class="col-sm-8 col-xs-12">
                       {php echo tpl_form_field_multi_image('imgs',$imgs);}
                    </div>
                </div>				
				                                                                        
                <div class="form-group">
                	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">是否展示</label>
                	<div class="col-sm-8 col-xs-12">
                    <label class="checkbox">
					  <input type="checkbox" name="state" value="2" {if $section['state'] == 2}checked="checked"{/if}>勾选则表示展示，展示在前端
					</label>
					 </div>
                </div> 
                 <div class="form-group">
                	<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">帖子置顶</label>
                	<div class="col-sm-8 col-xs-12">
                    <label class="checkbox">
					  <input type="checkbox" name="settop" value="2" {if $section['settop'] == 2}checked="checked"{/if}>勾选则表示置顶，最新置顶的帖子优先展示
					</label>
					 </div>
                </div>                  

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </div>
</form>
</div>
{template 'common/footer'}