{template 'common/header'}

<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('cgc_read_secret_mps', array('op'=>'display'));}">公众号列表</a></li>
	<li {if empty($id)}class="active"{/if}><a href="{php echo $this->createWebUrl('cgc_read_secret_mps', array('op'=>'post'));}">添加公众号</a></li>
	{if !empty($id)}
	<li class="active"><a href="{php echo $this->createWebUrl('cgc_read_secret_mps', array('op'=>'post', 'id'=>$id));}">编辑公众号</a></li>
	{/if}
</ul>

<div class="main">
	<form action="" method="post" class="form-horizontal form" id="form">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">公众号名称</label>
					<div class="col-xs-12 col-sm-4">
						<input type="text" name="data[mp_name]" class="form-control" value="{$data['mp_name']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">地区</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" name="data[addr]" class="form-control" value="{$data['addr']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">生成主页的自定义链接</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" name="data[url1]" class="form-control" value="{$data['url1']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">分享跳转的自定义链接</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" name="data[url2]" class="form-control" value="{$data['url2']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">关注的跳转链接</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" name="data[url3]" class="form-control" value="{$data['url3']}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
						<input type="hidden" name="id" value="{$data['id']}" />
						<input name="submit" type="submit" value="提交" class="btn btn-primary" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


{template 'common/footer'}