<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="x5-orientation" content="portrait">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{STYLE_PATH}/css/reset.css">
<link rel="stylesheet" type="text/css" href="{STYLE_PATH}/css/midAutumn.css">
<script src="{STYLE_PATH}/css/jquery-1.7.1.min.js"></script>
<title>塞入我的秘密</title>
</head>
<body style="background-color: #fdf2cf;">
	<div class="bgColor">
		<div class="paddingTopBottom40 bg">
			<div class="headPortraitBlock">
				<img src="{php echo tomedia($userinfo['headimgurl'])}" alt="" height="110">
			</div>
		</div>
		<div class="setProblemBlock">
			<div class="setProblemBlockList">
				<div id="choose_price">
					<span class="choose_price">为你的秘密设置价格</span> <img src="{STYLE_PATH}/css/bottom.png" alt="" class="fr arrowBottom">
				</div>
				<div id="price_content" style="display: none">
					<div class="all_price">
						<ul class="price_ul">
							{loop $fees $fee}
								<li class="borderBottom">
									<p class="price_list price">{$fee['fee']}元</p>
								</li>
							{/loop}
						</ul>
					</div>
				</div>
			</div>

			<div class="setProblemBlockList">
				<div id="choose_problem">
					<span class="choose_problem">请选择一个秘密来回答</span> <img src="{STYLE_PATH}/css/bottom.png" alt="" class="fr arrowBottom">
				</div>
				<div id="problem_content" style="display: none">
					<div class="all_problem" style="display: none">
						<ul class="problem_ul">
							{php $i=0}
							{loop $settings['question_list'] $question_item}
							{php $i++}
								<li class="borderBottom">
									<p class="problem_list" question="q{$i}">{$question_item['question']}</p>
								</li>
							{/loop}
						</ul>
					</div>
					<div class="form_submit" style="display: none">
						<form action="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('secret',array('op'=>'add')), 2)}" method="post" onsubmit="return check()">
							<input type="text" name="question_custom" placeholder="自定义问题" class="custom"> 
							<input type="hidden" name="question"> 
							<input type="hidden" name="price">
							<textarea class="editProblem" name="answer" placeholder="请输入你的真实答案，撒谎的话系统会扣钱不给的！"></textarea>
							<div class="moonBtnBlock" style="height: 60px; background: none;">
								<input type="submit" name="submit" class="submit" value="提交你的答案">
								<input type="hidden" name="token" value="{$_W['token']}" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<p class="ps">当朋友圈有人偷看你的秘密，你可赚取相应的红包</p>
	</div>

	<script>
		//价格下拉框
		$("#choose_price").click(function()
		{
			//先判断 问题下拉框是否显示
			//如果显示则隐藏
			if ($(".form_submit").css("display") == "none")
			{
				$("#problem_content").fadeOut();
			}
			else
			{
				$(".all_problem").fadeOut();
			}
			//显示价格列表
			if ($("#price_content").css('display') == "none")
			{
				$("#price_content").fadeIn();
			}
			else
			{
				$("#price_content").fadeOut();
			}
		});

		//问题下拉框显示
		$("#choose_problem").click(function()
		{
			//先判断价格框是否正在显示
			//显示则隐藏
			if ($("#price_content").css("display") != "none")
			{
				$("#price_content").fadeOut();
			}
			//显示问题和答案提交的总div
			$("#problem_content").css(
			{
				"display" : "block"
			});

			//选择框和答案框根据场景显示
			if ($(".all_problem").css("display") == "none")
			{
				$(".all_problem").fadeIn();
			}
			else
			{
				$(".all_problem").fadeOut();
			}
			if ($(".form_submit").css("display") == "none")
			{
				$(".form_submit").fadeIn();
			}

		});

		//价格选择事件
		$(".all_price li").click(function()
		{
			var price = $(this).children('.price').html();
			//将价格赋值到选项上
			$(".choose_price").html(price);
			//将价格赋值到表单
			$("input[name='price']").val(price);
			//隐藏列表
			$("#price_content").fadeOut()
			if ($(".form_submit").css("display") == "none")
			{
				$("#problem_content").fadeOut();
			}
			else
			{
				$(".all_problem").fadeOut();
			}
		});

		//问题选择事件
		$(".all_problem li").click(function()
		{
			var pro = $(this).children('.problem_list').html();
			var pro_key = $(this).children('.problem_list').attr("question");
			//将问题赋值到选项上
			$(".choose_problem").html(pro);
			if (typeof (pro_key) == 'undefined')
			{
				//清空表单内容
				$("input[name='question']").val("");
			}
			else
			{
				//清空自定义答案,清楚表单选项
				$(".custom").val("");
				$(".problem_ul li:first").before('<li class="borderBottom"><p class="problem_list">请选择一个秘密来回答</p></li>');
				//将问题的key赋值到表单
				$("input[name='question']").val(pro);
			}
			//隐藏问题选项卡
			$(".all_problem").fadeOut();
		});
		$("input[name='question_custom']").focus(function()
		{
			if ($("input[name='question']").val() != "")
			{
				$("input[name='question_custom']").blur();
				alert('你已经选择了问题，就不能输入了');
				return;
			}
		});
		//表单提交验证
		function check()
		{
			var pro = $("input[name='question']").val();
			var price = $("input[name='price']").val();
			var answer = $(".editProblem").val().trim();
			var custom = $("input[name='question_custom']").val();
			var answerHeight = answer.length;
			var customLength = custom.length;
			if (pro == "" && custom == "")
			{
				alert("请选择一个问题!");
				return false;
			}
			if (pro != "" && custom != "")
			{
				alert("选择问题后就不能自定义问题了!");
				return false;
			}
			if (price == "")
			{
				alert("请选择一个价格!");
				return false;
			}
			if (answer == "")
			{
				alert("请输入答案!");
				return false;
			}
			if (answerHeight > 20)
			{
				alert("答案不能多余20个字!");
				return false;
			}
			if (customLength > 10)
			{
				alert("问题不能超过10个字!");
				return false;
			}
			return true;
		}
	</script>
</body>
</html>