<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>海报</title>
		{php echo register_jssdk();}
		<style>
			*{ margin: 0; padding: 0;}
			html,body{ width: 100%; height: 100%;}
		</style>
	</head>
	<body>
		<div style="width:100%;height: 100%; position: relative;">
		  <img src="{$filename3}"  style="width: 100%;display: block ">
		<div>
	</body>
	<script>
		wx.ready(function () {
			sharedata = {
				title: "{$sharetitle}",
				desc: "{$sharedesc}",
				link: "",
				imgUrl: "{$shareimg}"
			};
			wx.onMenuShareAppMessage(sharedata);
//        wx.hideMenuItems({
//            menuList: ['menuItem:share:timeline'] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
//        });
			wx.onMenuShareTimeline(sharedata);
		});
	</script>.
</html>
