<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
<title>{$reply['title']}</title>
<link type="text/css" rel="stylesheet" href="{UBER_RES}/default/css/frozen.css" />
{php echo register_jssdk(false);}
<script type="text/javascript" src="{UBER_RES}/default/js/jquery.min.js"></script>
<script type="text/javascript">
	function changeImgSrc(thisvalue) {
		//console.log(thisvalue);
		var path = "{UBER_RES}/default/images/front/"+thisvalue+".png";
		$("#qimgsrc").attr('src',path);
    }
</script>
<style>
.ui-header-positive, .ui-footer-positive {
background-color: #0da3e7;
color: #fff;
}
a {
color: #0da3e7;
}
</style>
</head>
<body ontouchstart="">
<header class="ui-header ui-header-positive ui-border-b">
	<h1>{$reply['title']}</h1>
</header>
<div class="wrapper"><br>
	<img id="qimgsrc" src="{media $reply['q1']}" width="50%" style="margin:30px 25%;"/>
	<div class="ui-form">
    	<form action="" id="form_main" method="post"  enctype="multipart/form-data" autocomplete = "off">
        	<div class="ui-form-item ui-border-b">
            	<label for="#">大声说</label>
            	<input type="text" name="sayname" placeholder="30字以内，＃可以用来强行分行"/>
        	</div>
			<div class="ui-form-item ui-border-b">
            	<label>选择风格</label>
            	<div class="ui-select">
                	<select id="selectstyle" name="selectstyle" onChange="changeImgSrc(this.options[this.options.selectedIndex].value)">
                    	<option value ="1">微信绿色</option>
                    	<option value ="2">苹果经典</option>
                    	<option value ="3">小猫气泡</option>    
                        <option value ="4">花岗红</option>
                        <option value ="5">小狗气泡</option>
                        <option value ="6">红色便签</option>
                        <option value ="7">黄色便签</option>
                        <option value ="8">红色圆便签</option>
                        <option value ="9">黄色圆便签</option>
                        <option value ="10">绿色小可</option>  	
                	</select>
            	</div>
        	</div>
			<div class="ui-btn-wrap">
            	<a href="javascript:$('#form_main').submit();" class="ui-btn-lg ui-btn-danger">确认</a>
                <input type="hidden" name="btnsubmit" value="btnsubmit"/>
                <input type="hidden" name="token" value="{$_W['token']}"/>
			</div>
    	</form>
	</div>

</div>		
</body>
{template 'footer'}
</html>