{template 'common/header'}
{template 'nav'}
<form action="" method="post" class="form-horizontal" role="form">
<input type="hidden" value="{$qd_config['id']}" class="form-control" name="qd_config_id">
<div class="panel panel-default">
	<div class="panel-heading">签到设置</div>	
	<div class="panel-body">
	<div class="tab-content">
	<div class="tab-pane  active" id="tab_basic">
		<div class="panel panel-default">
			<div class="panel-heading"></div>					
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">网页标题</label>
					<div class="col-sm-9">
						<input type="text" value="{$qd_config['title']}" class="form-control" name="title" >
						<span class="help-block">网页标题</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2  control-label">签到审核状态</label>
					<div class="col-sm-9 ">
						<label class="radio-inline">
							<input type="radio" name="status" value="1" id="isshow_1" {if $qd_config['status'] == '1'}checked="true"{/if}> 无需审核
						</label>
						<label class="radio-inline">
							<input type="radio" name="status" value="2" id="isshow_0"  {if $qd_config['status'] == '2'}checked="true"{/if}>必须审核
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>

	</div>
	</div>
	</div>
	</div>
	</form>
{template 'common/footer'}
