{template 'common/header'}
<style type="text/css">
	.control-label{text-align:right;}
	.table ul li {float:left;display:block;padding:0;width:100%;line-height:38px;}
	.table ul li span{float:left;display:block;width:260px;text-align:right;padding:0px 20px;line-height:38px;margin:0 10px 0 0;font-Weight:500;color:#FF6600;background-color:#fcfcfc;}
</style>
<script language="javascript">
function  a(){
        $("#ddd").jqprint();
    }
</script>
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('display')}">表单列表</a></li>
	<li><a href="{php echo $this->createWebUrl('post')}">新建表单</a></li>
	<li><a href="{php echo $this->createWebUrl('manage', array('id' => $row['reid']))}">表单记录</a></li>
	<li class="active"><a href="#">表单详情</a></li>
	<li><a onclick="a()"><i class="fa fa-print"></i> 打印</a></li>
</ul>
<div class="main">
        <div class="panel panel-default">
			<div class="panel-body table-responsive" id="ddd">
			<div class="panel panel-default table">
						<div class="panel-heading">
							<h4 class="panel-title">表单内容</h4>
						</div>
						<ul class="list-group collapse in">
							<li class="list-group-item"><span>姓名：</span>{$row['member']}</li>
							<li class="list-group-item"><span>手机：</span>{$row['mobile']}</li>
					{if $activity['isget']}
                        {if $activity['var1']}
						<li class="list-group-item"><span>{$activity['var1t']}：</span>{$row['var1']}</li>
						{/if}
                        {if $activity['var2']}
                        <li class="list-group-item"><span>{$activity['var2t']}：</span>{$row['var2']}</li>
						{/if}
                        {if $activity['var3']}
                        <li class="list-group-item"><span>{$activity['var3t']}：</span>{$row['var3']}</li>
						{/if}
					{/if}
					{if !empty($row['thumb'])}
							<li class="list-group-item"><span>{$activity['pluraltit']}：</span>
						    {loop $row['thumb'] $pic}
							<a target="_blank" href="{php echo tomedia($pic)}"><img src="{php echo tomedia($pic)}" height="100"></a>
						    {/loop}
							</li>
					{/if}
					{if $activity['isvoice']==1}
							<li class="list-group-item"><span>{$activity['voice']}：</span>
								{if !empty($row['voice'])}
								<audio controls="controls"><source src="{$row['voices']}" type="audio/mpeg"></audio>
								{/if}
							</li>
					{/if}
							<li class="list-group-item"><span>提交时间：</span>{php echo date('Y-m-d H:i:s', $row['createtime']);}</li>
              	{loop $ds $fid $ftitle}
                        <li class="list-group-item"><span>{$ftitle['fid']}：</span>
                            {if $ftitle['type'] == 'image'}
                            {if $row['fields'][$fid]}<a target="_blank" href="{php echo tomedia($row['fields'][$fid]);}"><img src="{php echo tomedia($row['fields'][$fid]);}" height="100"></a>{else}用户未上传{/if}
                            {else}
                            {$row['fields'][$fid]}
                            {/if}&nbsp;
						</li>
                {/loop}
                        <li class="list-group-item"><span>表单状态：</span><dd class="btn btn-default btn-danger">{if $row['status'] == '0'}{$activity['state1']}{elseif $row['status'] == '1'}{$activity['state2']}{elseif $row['status'] == '2'}{$activity['state4']}{elseif $row['status']=='3'}{$activity['state3']}{elseif $row['status']=='-1'}{$activity['state5']}{/if}</dd></li>
						</ul>
					</div>
            </div>
        </div>
		
	   <div class="panel panel-info">
	<div class="panel-heading">更新表单状态
		</div>
		<div class="panel-body">
							
		<form enctype="multipart/form-data"  method="post" name="upbookfrom" id="upbookfrom">
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
			<div class="col-xs-12 col-sm-9">
				<input type="button" id="uploadbookimg" onClick="$('#upload').click()" class="btn btn-success" value="点击上传文件" />
				<input type="file" name="upfile" size="30" id="upload" onChange="upfiles()" style="width:0;height:0;"/>
			</div>
		</div>
		</form>
		<form method="post" id="form" class="form-horizontal form" action="">
                <div class="form-group">
					<table class="table table-hover">
						<tbody id="listfile">
						{loop $row['file'] $f}
						<tr><td class="col-xs-12 col-sm-3 col-md-2 control-label"></td>
							<td class="col-xs-12 col-sm-9"><input name="file[]" type="text" class="form-control" value="{$f}"/></td>
							<td>
								<a href="javascript:;" onclick="deleteItem(this)" data-toggle="tooltip" data-placement="bottom" title="删除此文件" class="btn btn-default btn-sm"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						{/loop}
						</tbody>
					</table>
                    </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">表单状态：</label>
                    <div class="col-xs-12 col-sm-9">
        <select id="status" name="status" class="form-control">
             <option value="0" {if $row['status'] == 0}selected="selected"{/if}>{$activity['state1']}</option>
             <option value="1"  {if $row['status'] == 1}selected="selected"{/if}>{$activity['state2']}</option>
             <option value="2" {if $row['status'] == 2}selected="selected"{/if}>{$activity['state4']}</option>
             <option value="3" {if $row['status'] == 3}selected="selected"{/if}>{$activity['state3']}</option>
        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">受理时间：</label>
                    <div class="col-xs-12 col-sm-9">
							{php echo tpl_form_field_date('yuyuetime', $row['yuyuetime'], true)}
                    </div>
                </div>
					{if $activity['isrethumb']==1}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">回复图片：</label>
                    <div class="col-xs-12 col-sm-9">
                         {php echo tpl_form_field_image('rethumb',$row['rethumb']);}
                    </div>
                </div>
					{/if}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">快捷回复：</label>
                    <div class="col-xs-12 col-sm-9">
					{loop $custom $v}
						<input type="button" class="btn btn-small" value="{$v['raply']}" onclick="document.getElementById('kfinfo').value+='{$v['raply']}'" />
					{/loop}
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">客服备注：</label>
                    <div class="col-xs-12 col-sm-9">
                         <textarea style="height:80px;" class="form-control" id="kfinfo" name="kfinfo" cols="70">{$row['kfinfo']}</textarea>
                    </div>
                </div>
					{if $activity['isrevoice']==1 && !empty($row['revoice'])}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">语音答复：</label>
                    <div class="col-xs-12 col-sm-9">
					<div class="btn-group">
						<audio controls="controls"><source src="{$row['revoices']}" type="audio/mpeg"></audio>
					</div>
                    </div>
                </div>
					{/if}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-xs-12 col-sm-9">
					<input type="hidden" name="id" value="{$row['rerid']}" />
					<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
					<input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
				</div>
       </form>
	</div>
</div>

        <div class="panel panel-default" style="margin-top:20px;">
            <div class="panel-heading">
                表单信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">表单标题</label>
                    <div class="col-xs-12 col-sm-9">
                    	<p class="form-control-static">{$activity['title']}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">表单说明</label>
                    <div class="col-xs-12 col-sm-9">
						<p class="form-control-static">{$activity['description']}</p>
                    </div>
                </div>
                     <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">提交提示信息</label>
                    <div class="col-xs-12 col-sm-9">
						<p class="form-control-static">{$activity['information']}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图片介绍</label>
                    <div class="col-xs-12 col-sm-9">
						<p class="form-control-static"><img src="{php echo tomedia($activity['thumb']);}" style="height:150px;" /></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">创建时间</label>
                    <div class="col-xs-12 col-sm-9">
						<p class="form-control-static">{php echo date('Y-m-d H:i:s', $activity['createtime']);}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">开始时间~结束时间</label>
                    <div class="col-xs-12 col-sm-9">
						<p class="form-control-static">{php echo date('Y-m-d H:i:s', $activity['starttime']);} ~ {php echo date('Y-m-d H:i:s', $activity['endtime']);}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-xs-12 col-sm-9">
                    	<label>
							<p class="form-control-static">
							{if $activity['status'] == '1'}
								<i class="fa fa-check"> &nbsp; 当前表单生效中</i>
							{else}
								<i class="fa fa-check-empty"> &nbsp; 当前表单已失效</i>
							{/if}
							</p>
						</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">微站首页展示</label>
                    <div class="col-xs-12 col-sm-9">
                  		<label>
							<p class="form-control-static">
							{if $activity['inhome'] == '1'}
								<i class="fa fa-check"> &nbsp; 当前表单将展示在微站首页上</i>
							{else}
								<i class="fa fa-check-empty"> &nbsp; 当前表单不显示在微站首页</i>
							{/if}
							</p>
						</label>
                    </div>
                   </div>
            </div>
        </div>
	</div>
<!--<input type="submit" class="btn btn-primary span3" name="submit" onclick="history.go(-1)" value="返回" />-->

<script language="javascript">
	require(['util'],function(util){
		util.editor($('.richtext-clone')[0]);
	})
	$(function(){
		require(['jquery','jquery.ui'],function($,j){
			$('#listfile').sortable({handle: '.fa-move'});
		})
		});
				
	function upfiles(){
		var data = new FormData($('#upbookfrom')[0]);
		$.ajax({
			url: '{php echo $this->createWebUrl('upfile')}',
			type: 'POST',
			data: data,
			dataType: 'html',
			cache: false,
			processData: false,
			contentType: false,
			error: function(msg){ //失败 
				alert('上传失败，请联系管理员.')
			}, 
			success: function(msgurl){ //成功 
				alert('上传成功');								
				for(var i=0; i<1; i++){
					html = '<tr><td class="col-xs-12 col-sm-3 col-md-2 control-label"></td>' +
						'<td class="col-xs-12 col-sm-9"><input type="text" value="'+msgurl+'" name="file[]" class="form-control"></td>' +
						'<td><a href="javascript:;" onclick="deleteItem(this)" data-toggle="tooltip" data-placement="bottom" title="删除此文件" class="btn btn-default btn-sm"><i class="fa fa-times"></i></a></td>' +
						'</tr>';
					$('#listfile').append(html);
				}
			}
		},"json")
	}
					
	function deleteItem(o) {
		$(o).parent().parent().remove();
	}
					
</script>
{template 'common/footer'}