<!DOCTYPE HTML>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>出现错误了！</title>
	<link href="../addons/yukiho_zvoice/assets/styles/menus.css" rel="stylesheet" type="text/css">
	<link href="../addons/yukiho_zvoice/assets/styles/framework.css" rel="stylesheet" type="text/css">
	<style type="text/css">*{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";}</style>
</head>
<body class="dual-sidebar">
	<div class="gallery-fix"></div>
	<div class="all-elements">
		<div id="content" class="snap-content">
			<div class="content" style="margin-bottom:41;">
				<div class="portfolio-filter">
					<div class="content" style="margin-top:150px;">
						<div class="show-no-detection device-detected">
							<h5>{$msg}</h5>
							<a class="button-small button-orange button-center" style="margin-top:20px;">啊呀，出错了</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>