.chatPanel .media {
    position: relative;
    overflow: inherit;
}

.chatPanel .media .noradius{
    border-radius: 0 !important;
}

.chatPanel .media {
    border: 1px solid #c9c9c9;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
    width: 500px;
    background-color: #FFFFFF;
    margin-left: 20px;
}

.chatPanel .media .mediaPanel {
    padding: 0;
    margin: 0;
}

.chatPanel .media .mediaImg {
    margin: 25px 15px 15px;
    position: relative;
}

.chatPanel .media .mediaImg img { /* width:100%;height:164px;position:absolute;left:0px;*/
    max-width: 468px;
}

.chatPanel .media .mediaImg .mediaImgFooter a:hover p {
    color: #B8B3B3;
}

.chatPanel .media .mediaVideo{
    width: 92%;
    padding: 0;
    margin: 15px auto;
}

.chatPanel .media .mediaVideo video{
    width: 100%;
}

.chatPanel .media .mediaContent .mediaMesg .mediaMesgTitle:hover p {
    color: #1A1717;
}

.chatPanel .media .mediaContent .mediaMesg .mediaMesgTitle a {
    color: #707577;
}

.chatPanel .media .mediaContent .mediaMesg .mediaMesgTitle a:hover p {
    color: #444440;
}

.chatPanel .media .mediaContent .mediaMesg .mediaMesgTitle p {
    line-height: 1.5em;
    max-height: 45px;
    max-width: 220px;
    min-width: 176px;
    margin-top: 2px;
    color: #5D6265;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

.chatPanel .media .mediaContent .mediaMesg .mediaMesgIcon img {
    height: 45px;
    width: 45px;
}

.chatPanel .media .mediaHead {
    padding: 0px 15px 4px;
    border-bottom: 0px solid #D3D8DC;
    color: #000000;
    font-size: 16px;
}

.chatPanel .media .mediaHead .title {
    line-height: 1.6em;
    margin-top: 22px;
    display: block;
    text-align: left;
}

.chatPanel .media .mediaHead .title .nickname{
    font-size: 14px;
    color: #aaaaaa;
}

.chatPanel .mediaFullText .mediaImg {
    width: 440px;
    padding: 0;
    margin: 15px;
}

.chatPanel .mediaFullText .mediaImg img{
    padding: 5px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    margin-bottom: 5px;
}

.chatPanel .media .time {
    margin: 10px 0;
    color: #8C8C8C;
    width: 100%;
    text-align: center;
}

.chatPanel .media .mediaFooter a {
    color: #222222;
    font-size: 16px;
    padding: 0;
}

.chatPanel .media a:hover {
    cursor: pointer;
}

.mediaContent a:hover {
    background-color: #F6F6F6;
}

.chatItem a {
    text-decoration: none;
}

.chatItem a:hover {
    text-decoration: none;
}

.message_list {
    padding-bottom: 20px;
}

.chatPanel .media .set{
    padding: 10px;
    text-align: right;
}

.chatPanel .media .set a{
    color: #ffffff;
}

#list .comment,
#list .zan {
    border: 1px solid #c9c9c9;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
    width: 500px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 520px;
    padding: 10px;
    max-height: 750px;
    display: none;
}

#list .comment:after,
#list .comment:before,
#list .zan:after,
#list .zan:before{
    border: solid transparent;
    content: ' ';
    height: 0;
    left: -20px;
    position: absolute;
    width: 0;
}

#list .comment:after,
#list .zan:after{
    border-width: 9px;
    border-right-color: #fff;
    top: 31px;
    left: -18px;
}

#list .comment:before,
#list .zan:before{
    border-width: 10px;
    border-right-color: #c9c9c9;
    top: 30px;
}

#list .comment .comment_con,
#list .zan .zan_con{
    width: 460px;
}

#list .comment .comment_con .comm_list,
#list .zan .zan_con .zan_list{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
}

#list .comment .comment_con .comm_list .empty,
#list .zan .zan_con .zan_list .empty{
    color: #888;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}

#list .comment .comment_con .comm_list .c_user,
#list .comment .comment_con .comm_list .c_con,
#list .zan .zan_con .zan_list .c_user,
#list .zan .zan_con .zan_list .c_con{
    margin: 0;
}

#list .comment .comment_con .comm_list .date,
#list .zan .zan_con .zan_list .date{
    color: #A4A5A9;
}

#list .comment .comment_con .comm_list dl,
#list .zan .zan_con .zan_list dl{
    border-bottom: 1px solid #e3e3e3;
    padding: 12px 5px;
    margin-bottom: 0;
}

#list .comment .comment_con .comm_list dt,
#list .zan .zan_con .zan_list dt{
    width: 50px;
    float: left;
}

#list .comment .comment_con .comm_list dt img,
#list .zan .zan_con .zan_list dt img{
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

#list .comment .comment_con .comm_list dd,
#list .zan .zan_con .zan_list dd {
    width: 380px;
    float: left;
    position: relative;
}

#list .comment .comment_con .comm_list dd .ban{
    display: none;
}

#list .comment .comment_con .comm_list dd .operating{
    width: 80px;
    height: 20px;
    position: absolute;
    right:0;
    top:10px;
    display: none;
    text-align: center;
}

#list .comment .comment_con .comm_list dd .operating a{
    color: #DDDDDD;
}

#list .comment .comment_con .comm_list dd .ban a{
    color: #D9534F;
}

#list .comment .comment_con .comm_page,
#list .zan .zan_con .zan_page{
    text-align: center;
}

#list .comment .comment_con .comm_page ul,
#list .zan .zan_con .zan_page ul{
    margin-top: 15px;
}

#list .comment .comment_con .comm_page .pager-nav,
#list .comment .comment_con .comm_page .pager-nav,
#list .zan .zan_con .zan_page .pager-nav,
#list .zan .zan_con .zan_page .pager-nav
{
    border-radius: inherit;
}

#list .comment .comment_con .comm_form{
    margin-top: 15px;
}

#list .comment_item{
    display: block;
    position: inherit;
    margin-bottom: 10px;
}

/***********************zan**********************/
#list .zan {
    border: 1px solid #c9c9c9;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
    width: 500px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 520px;
    padding: 10px;
    max-height: 750px;
    display: none;
}

#list .zan:after, .chatPanel .media .zan:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: -20px;
    position: absolute;
    width: 0;
}

#list .zan:after {
    border-width: 9px;
    border-right-color: #fff;
    top: 31px;
    left: -18px;
}

#list .zan:before{
    border-width: 10px;
    border-right-color: #c9c9c9;
    top: 30px;
}

#list .zan .zan_con {
    width: 460px;
}

#list .zan .zan_con .zan_list{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
}

#list .zan .zan_con .zan_list .empty {
    color: #888;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}

.chatPanel .page{
    text-align: center;
    padding: 20px 0;
}

.nopass{
    background-color: #fcf8e7 !important;
}

.video_player{
    width: 70%;
    margin: 20px 0;
}
/***********************live_post**********************/
#user_list{
    line-height: 40px;
}

#user_list .btn{
    margin-top: 10px;
    margin-right: 10px;
}

#nicknamelist{
    max-height: 300px;
    overflow-y: auto;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.useravatar{
    width: 40px;
}